<template>
    <modal v-if="show" @close="$emit('close')">
        <div slot="header">

        </div>
        <div slot="body">
            <div class="content">
                <div class="has-text-centered has-text-weight-bold">
                    <img src="/svg/icons/notification/ic_thankyou.svg" alt="">
                </div>
                <div class="has-text-centered has-text-weight-bold is-size-4">Заказ принят</div>
                <div class="is-size-875 has-text-centered has-text-basic">Наш менеджер свяжется с Вами
                </div>
            </div>
        </div>
        <div slot="footer">

        </div>
    </modal>
</template>

<script>
    import Modal from '../../modals/Modal'

    export default {
        components: {
            Modal
        },
        props: {
            show: {default: false}
        },
        data: () => ({

        })
    }
</script>
