<template>
    <div>
        <heading class="mb-6">Отправка</heading>

        <card class="bg-90 flex flex-col items-center justify-center" style="min-height: 300px">
            <template v-for="type in task_types">
                <g-g-assign-input
                    :id="id"
                    :name="type.name"
                    :val="type.val"
                    :target_type="target_type"
                    :target_id="target_id"
                    :task_id="id"
                ></g-g-assign-input>
            </template>
        </card>
        <portal-target name="modals"></portal-target>
    </div>
</template>

<script>


    import GGAssignInput from "./Form/GGAssignInput";

    export default {
        props: {target_type: Number, target_id: Number, id: Number},
        components: {GGAssignInput},
        created() {
            axios.get('/marketplace/tasks/get-task-types').then(res => {
                this.task_types = res.data;
            });
            axios.get('/marketplace/tasks/get/' + this.target_type + '/' + this.target_id).then(res => {
                this.tasks = res.data;
            });
            axios.get('/marketplace/tasks/get-techs')
                .then(responce => {
                    this.techs = responce.data;
                })
        },
        methods: {},
        data() {
            return {
                tasks: null,
                techs: [],
                task_types: [],
            }
        }
    }
</script>

<style>

</style>
