<template>
    <div>
        <heading class="mb-6">Tasks</heading>

        <card class="bg-90 flex flex-col items-center justify-center" style="min-height: 300px">
            <datatable :columns="columns" class="table"></datatable>
        </card>
        <portal-target name="modals"></portal-target>
    </div>
</template>

<script>
    import datatable from './Tables/TasksTable';
    import Buttons from "./Buttons/Buttons";

    export default {
        components: {
            datatable
        },
        mounted() {
            //
        },
        data() {
            return {
                columns: [
                    {data: 'target_name', title: 'Наименование', className: 'text-left', searchable: false},
                    {data: 'target_type_name', title: 'Тип обЪекта', className: 'text-left', searchable: false},
                    {data: 'task_type', title: 'Тип задачи', searchable: true, className: 'text-left'},
                    {data: 'status', title: 'Статус', searchable: true, className: 'text-left'},
                    {data: 'priority', title: 'Приоритет', searchable: true, className: 'text-left'},
                    {data: 'planed_at', title: 'Закончить до', searchable: true, className: 'text-left'},
                    {data: 'target_type', title: 'Тип', visible: false},
                    {data: 'target_id', title: 'Id', visible: false},
                    {
                        data: 'actions',
                        orderable: false,
                        searchable: false,
                        className: 'text-left',
                        title: 'Действия',
                        createdCell(cell, cellData, rowData) {
                            let Component = Nova.Vue.extend(Buttons);
                            let instance = new Component({
                                propsData: {
                                    router: Nova.$router,
                                    store: Nova.$store,
                                    rowData:rowData
                                }
                            });
                            instance.$mount();
                            $(cell).empty().append(instance.$el);
                        }
                    },
                ]
            }
        }
    }
</script>

<style>
    .paginate_button:before {
        background: none !important;
    }
</style>
