<template>
    <modal v-if="show" @close="$emit('close')">
        <div slot="header">
            <p class="modal-card-title mb-0">{{label}}</p>
        </div>

        <div slot="body">
            <div class="content">
                <div class="columns is-multiline">
                    <g-g-translatable-input
                        :label="trans('franchises.add_object.name.label')"
                        :placeholder="trans('franchises.add_object.name.placeholder')"
                        :size="'is-12'"
                        v-model="form.title"/>
                    <g-g-input :size="'is-6'" v-model="form.phone"
                               :label="trans('franchises.add_object.phone.label')"
                               :placeholder="trans('franchises.add_object.phone.placeholder')"></g-g-input>
                    <g-g-input :size="'is-6'" v-model="form.email"
                               :label="trans('franchises.add_object.email.label')"
                               :placeholder="trans('franchises.add_object.email.placeholder')"></g-g-input>
                    <div class="column is-12">
                        <div class="is-flex has-flex-column has-justify-content-end h-full">
                            <label class="label"><span>{{trans('franchises.add_object.address.label')}}</span></label>
                            <div class="field">
                                <div class="control">
                                    <gmap-autocomplete
                                        :value="form.address"
                                        @place_changed="updatePlace"
                                        :placeholder="trans('franchises.add_object.address.placeholder')"
                                        class="input is-size-875"
                                        @change="checkAddress"
                                    >
                                    </gmap-autocomplete>
                                </div>
                            </div>
                        </div>
                    </div>
                    <g-g-translatable-input :type="'textarea'" :size="'is-12'" v-model="form.description"
                                            :label="trans('franchises.add_object.comment.label')"
                                            :placeholder="trans('franchises.add_object.comment.placeholder')"></g-g-translatable-input>
                    <div class="column is-12">
                        <files-upload ref="photoObject" :remove-url="''"
                                      v-model="images"
                                      :label="trans('franchises.add_object.photo_object')"
                                      :classZonePreviews="'dropzone-previews-photoObject'"></files-upload>
                    </div>
                </div>
            </div>
        </div>
        <div class="content w-full" slot="footer">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <button @click="submit" class="button is-info is-fullwidth has-text-weight-bold h-3 is-size-875">
                        {{trans('franchises.add_object.btn_submit')}}
                    </button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import Modal from '../../../modals/Modal';
    import GGInput from '../../../form/GGInput';
    import GGTextarea from '../../../form/GGTextarea';

    import UploadPhoto from '../../../franchises/UploadPhoto';
    import FilesUpload from "../../../FilesUpload";
    import GGTranslatableInput from "../../../form/GGTranslatableInput";

    export default {
        name: "ModalAddObjectFranchise",
        components: {
            GGTranslatableInput,
            FilesUpload,
            Modal, GGInput, GGTextarea, UploadPhoto
        },
        props: {
            id: {default: null},
            show: {default: false},
            label: {default: trans('franchises.add_object.title')},
            form: {
                type: Object,
                default: function () {
                    return {
                        id: null,
                        title: null,
                        phone: null,
                        email: null,
                        address: null,
                        description: null,
                        lng: null,
                        lat: null
                    }
                },
            },
        },
        data: () => ({
            images: [],

        }),
        methods: {
            updatePlace(place) {
                this.form.address = place.formatted_address;
                this.form.lng = place.geometry.location.lng();
                this.form.lat = place.geometry.location.lat();
            },
            checkAddress(e) {
                e.target.value = this.form.address;
            },
            submit() {
                let vm = this;
                let formData = new FormData();
                let object = JSON.stringify(this.form);
                let files = vm.$refs['photoObject'].getAllFiles();
                files.forEach(file => {
                    formData.append("files[]", file);
                });
                formData.append("object", object);
                if (vm.id) {
                    let postUrl = '/profile/franchise/add-object/' + vm.id;
                    if(this.form.id) {
                        postUrl += '/' + this.form.id;
                    }
                    axios.post(postUrl, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(responce => {
                        this.$emit('close');
                        window.location.reload(); // @TODO reload data
                    }).catch(e => {
                        this.$swal({type: 'error', title: 'Ошибка!', text: 'Не все поля были заполнены'});
                    });
                }
            },
        }
    }
</script>

<style scoped>

</style>
