<template>
    <modal v-if="show" @close="$emit('close')">
        <div slot="header">
            <p class="modal-card-title mb-0">{{label}}</p>
        </div>

        <div slot="body">
            <div class="content">
                <div class="columns is-multiline">
                    <g-g-translatable-input
                        :size="'is-6'"
                        v-model="form.name"
                        :label="trans('franchises.add_review.name.label')"
                        :placeholder="trans('franchises.add_review.name.placeholder')"/>
                    <g-g-input
                        :size="'is-6'"
                        v-model="form.company"
                        :label="trans('franchises.add_review.company.label')"
                        :placeholder="trans('franchises.add_review.company.placeholder')"/>
                    <g-g-input
                        :size="'is-6'" v-model="form.email"
                        :label="trans('franchises.add_review.email.label')"
                        :placeholder="trans('franchises.add_review.email.placeholder')"/>
                    <g-g-input
                        :size="'is-6'"
                        v-model="form.position"
                        :label="trans('franchises.add_review.position.label')"
                        :placeholder="trans('franchises.add_review.position.placeholder')"/>
                    <g-g-input
                        :size="'is-12'"
                        v-model="form.video_url"
                        :label="trans('franchises.add_review.video.label')"
                        :placeholder="trans('franchises.add_review.video.placeholder')"
                        :type="'url'"/>
                    <g-g-translatable-input
                        :type="'textarea'"
                        :size="'is-12'"
                        v-model="form.description"
                        :label="trans('franchises.add_review.comment.label')"
                        :placeholder="trans('franchises.add_review.comment.placeholder')"/>
                    <div class="column is-12">
                        <files-upload
                            ref="photos"
                            :classZonePreviews="'dropzone-previews-photoReview'"
                        />
                    </div>
                    <div class="column is-12">
                        <files-upload
                            ref="materials"
                            :label="'Матриалы'"
                            :classZonePreviews="'dropzone-previews-materialsReview'"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="content w-full" slot="footer">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <button @click="submit"
                        class="button is-info is-fullwidth has-text-weight-bold h-3 is-size-875">
                        {{trans('franchises.add_review.btn_submit')}}
                    </button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import Modal from '../../../modals/Modal';
    import GGInput from '../../../form/GGInput';
    import GGTextarea from '../../../form/GGTextarea';
    import GGTranslatableInput from "../../../form/GGTranslatableInput";

    import UploadPhoto from '../../../franchises/UploadPhoto';
    import UploadMaterials from '../../../franchises/UploadMaterials';
    import FilesUpload from "../../../FilesUpload";

    export default {
        name: "ModalAddReviewFranchise",
        components: {
            Modal,
            GGInput, GGTextarea,
            GGTranslatableInput,
            FilesUpload,
            UploadPhoto,
            UploadMaterials
        },
        props: {
            id: {default: null},
            show: {default: false},
            label: {default: trans('franchises.add_review.title')},
            form: {
                type: Object,
                default: function () {
                    return {
                        id: null,
                        name: null,
                        company: null,
                        email: null,
                        position: null,
                        description: null,
                        video_url: null,
                    }
                },
            },
        },

        methods: {
            submit() {
                let vm = this;
                let formData = new FormData();
                let review = JSON.stringify(this.form);
                let materials = vm.$refs['materials'].getAllFiles();
                let photos = vm.$refs['photos'].getAllFiles();
                materials.forEach(file => {
                    formData.append("materials[]", file);
                });
                photos.forEach(file => {
                    formData.append("photos[]", file);
                });
                formData.append("review", review);
                if (vm.id) {
                    let postUrl = '/profile/franchise/add-review/' + vm.id;
                    if(this.form.id) {
                        postUrl += '/' + this.form.id;
                    }
                    axios.post(postUrl, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(responce => {
                        this.$emit('close');
                        window.location.reload(); // @TODO reload data
                    }).catch(e => {
                        this.$swal({
                            type: 'error',
                            title: 'Ошибка!',
                            text: 'Не все поля были заполнены'
                        });
                    });
                }
            },
        }
    }
</script>

<style scoped>

</style>
