<template>
    <modal
        v-if="show"
        @close="$emit('close')"
        class="modal-info"
    >
        <div class="modal-card-title mb-0" slot="header">
            {{ trans('profile.info_modal.' + data.header) }}
        </div>

        <template slot="body">
            <div class="modal-info__headline is-hidden-mobile">
                <div class="columns">
                    <div v-for="(column, index) in data.columns" :class="'column ' + data.columnClasses[index]">
                        <span class="is-size-875">{{ trans('profile.info_modal.' + column)}}</span>
                    </div>
                </div>
            </div>

            <div class="modal-info__body">
                <div v-for="(item, itemIndex) in data.items" class="modal-info__body-section">
                    <div class="columns">
                        <div :class="'column ' + data.columnClasses[0]">
                            <div class="modal-info__body-item is-flex">
                                <span class="is-size-875">{{item.date}}</span>
                            </div>
                        </div>

                        <div :class="'column ' + data.columnClasses[1]">
                            <div class="modal-info__body-item is-flex">
                                <span class="is-size-75">{{item.title}}</span>
                            </div>
                        </div>

                        <div :class="'column ' + data.columnClasses[2]">
                            <div :class="'modal-info__body-item is-flex ' + statusClasses[item.statusCode]">
                                <span class="is-size-875">{{item.status}}</span>
                            </div>
                        </div>

                        <div :class="'column ' + data.columnClasses[3]">
                            <div class="modal-info__body-item is-flex">
                                <svg-icon
                                    :icon="'ic_edit.svg'"
                                    @click.native="editItem(type, item.id, franchiseId)"
                                />
                                <svg-icon
                                    :icon="'ic_close.svg'"
                                    @click.native="deleteItem(item.id, itemIndex)"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </modal>
</template>

<script>
    import Modal from '@/components/modals/Modal';

    export default {
        name: "ModalInfo",
        components: {
            Modal
        },
        props: {
            editItem: {
                default: null
            },
            franchiseId: {
                default: null
            },
            data: {
                default: []
            },
            show: {
                default: false
            },
            type: {
                default: 'news'
            },
        },
        data: () => ({
            statusClasses: ['_primary', '_warning', '_success', '_danger'],
        }),
        methods: {
            deleteItem(id, itemIndex) {
                if (confirm(trans('profile.info_modal.delete_confirm'))) {
                    axios
                        .delete(`/profile/delete-${this.type}-item/${id}`)
                        .then(res => {
                            Vue.delete(this.data.items, itemIndex);
                        })
                }
            },
        }
    }
</script>

<style lang="scss">
    .modal-info {
        .modal-card-foot {
            display: none;
        }

        .modal-card {
            width: 100%;
            max-width: 1150px;
        }

        .modal-card-body {
            overflow: auto;
        }

        &__headline {
            margin-bottom: 10px;
        }

        &__body {
            padding-bottom: 2rem;

            &-section {
                padding: 7px 0;
                min-height: 55px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -24px;
                    height: 1px;
                    width: calc(100% + 3rem);
                    background-color: rgba(207, 218, 230, 0.5);
                }

                &:last-child {
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: -24px;
                        height: 1px;
                        width: calc(100% + 3rem);
                        background-color: rgba(207, 218, 230, 0.5);
                    }
                }
            }

            &-item {
                height: 100%;
                align-items: center;
                flex-wrap: wrap;

                .error-message {
                    font-size: 0.75rem;
                    line-height: 1.5;
                    flex-basis: 100%;
                    color: #596c80;
                    margin-top: -22px;

                    a {
                        color: #0070d9;
                    }
                }

                .is-size-75 {
                    line-height: 1.75;
                    font-size: 0.75rem;
                }

                .simple-svg-wrapper {
                    width: 15px;
                    margin-right: 14px;
                    cursor: pointer;
                    svg path {
                        fill: #0070d9;
                    }
                }

                &._success {
                    color: #36a236;
                }

                &._moderation {
                    color: #fc501e;
                }

                &._error {
                    color: #e62e2e;
                }
            }
        }

        @media screen and (max-width: 767px) {
            &__body {
                &-section {
                    padding: 0.9rem;

                    .column {
                        padding: 0.45rem;
                    }
                }

                &-item {
                    .error-message {
                        margin-top: 0;
                    }
                }
            }
        }
    }
</style>
