<template>
    <modal :width="'60%'" @close="$emit('close')" v-if="show">
        <div slot="header">
            <p class="modal-card-title mb-0">{{trans('profile.object_requests.reqs_doc')}}</p>
        </div>

        <div slot="body">
            <div class="content">
                <section class="section pt-1 px-0">
                    <table class="table is-fullwidth is-size-875">
                        <thead class="is-hidden-mobile">
                        <tr>
                            <th>{{trans('profile.object_requests.table.date')}}</th>
                            <th>{{trans('profile.object_requests.table.buyer_name')}}</th>
                            <th>{{trans('profile.object_requests.table.comments')}}</th>
                            <th>{{trans('profile.object_requests.table.status_actions')}}</th>
                        </tr>
                        </thead>

                        <tbody class="box is-paddingless is-block-mobile">
                        <tr class="is-block-mobile is-size-0" v-for="request in requests">
                            <td class="has-text-basic no-wrap has-vertical-align-middle is-size-875 is-block-mobile">
                                <div>
                                    {{$getDateTime(request.created_at)}}
                                </div>
                            </td>
                            <td class="is-size-875 is-block-mobile">
                                <div><b>{{request.user.full_name}}</b></div>

                            </td>
                            <td class="has-text-basic has-vertical-align-middle is-size-875 is-block-mobile">
                                <p v-if="request.buyer_comment">{{request.buyer_comment}}</p>
                                <p v-if="request.reject_reason">
                                    <b style="color: red">{{trans('profile.object_requests.reason_for_rejection')}}</b>
                                <div>{{request.reject_reason}}</div>
                                </p>

                                <i class="has-text-grey-light no-wrap"
                                   v-if="!request.buyer_comment && !request.reject_reason">
                                    {{trans('profile.object_requests.no_comments')}}
                                </i>
                            </td>
                            <td class="has-text-warning has-vertical-align-middle is-size-875 is-block-mobile">
                                <div :class="getStatusСlass(request.status)" class="has-vertical-align-middle"
                                     v-if="request.status != 1">
                                    {{getStatusText(request.status)}}
                                </div>
                                <div class="buttons">
                                    <template v-if="request.status == 1">
                                        <button @click="setStatus(request.id, 'accepted')"
                                                class="button is-outlined is-success is-size-875 has-text-weight-bold">
                                            {{trans('profile.object_requests.btn_approve')}}
                                        </button>
                                        <button class="button is-clear is-clear_close is-size-875"><span
                                            class="icon-close">×</span><span
                                            @click="ui.rejectReasonModal = true;form.id = request.id"
                                            class="has-text-decoration-underline">
                                {{trans('profile.object_requests.btn_reject')}}
                            </span>
                                        </button>
                                    </template>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <modal @close="ui.rejectReasonModal = false" v-if="ui.rejectReasonModal">
                        <div slot="header">
                            <p class="modal-card-title mb-0">{{trans('profile.object_requests.reason_reject')}}</p>
                        </div>
                        <div slot="body">
                            <div class="content">
                                <form-errors :errors="form.errors.errors"></form-errors>
                                <div class="columns is-multiline">
                                    <g-g-textarea :label="trans('profile.object_requests.reason_reject')"
                                                  :required="true"
                                                  :size="'is-12'"
                                                  placeholder=""
                                                  v-model="form.reject_reason"></g-g-textarea>
                                </div>
                            </div>
                        </div>
                        <div class="content w-full" slot="footer">
                            <div class="columns is-multiline">
                                <div class="column is-12">
                                    <button @click="submitReject"
                                            class="button is-info is-fullwidth has-text-weight-bold h-3 is-size-875">
                                        {{trans('profile.object_requests.btn_send_req_to_doc')}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </modal>
                </section>
            </div>
        </div>
        <div slot="footer">

        </div>
    </modal>
</template>

<script>
    import {Form} from '../../../../form'
    import Modal from '../../../modals/Modal';
    import GGTextarea from '../../../form/GGTextarea';
    import FormErrors from '../../../form-errors'
    import SellerObjectConsultations from '../../../profile/views/SellerObjectConsultations'

    export default {
        name: "ModalRequestObject",
        components: {
            Modal,
            GGTextarea,
            FormErrors,
            SellerObjectConsultations
        },
        data: () => ({
            docs_count: {default: null},
            requests: [],
            form: new Form({
                reject_reason: '',
                id: null,
            }),
            ui: {
                rejectReasonModal: false
            },
            firstLoad: true
        }),
        props: {
            show: {default: false},
            franchiseId: {default: null},

        },
        watch: {
            show: function () {
                if (this.show) {
                    this.getData(this.franchiseId);
                }
            }
        },
        methods: {
            getData(id) {

                let requestType = 'doc';
                axios
                    .get(`/profile/franchise-requests/${requestType}/${id}`)
                    .then(res => {
                        this.requests = res.data.items;
                        this.docs_count = res.data.docs_count;
                    })
                    .catch(e => {
                        this.$swal({
                            type: 'error',
                            title: e.response.status,
                            text: e.response.data.message
                        });
                    })
            },
            setStatus(id, status) {
                if (this.docs_count) {
                    axios.patch('/profile/request/' + id + '/status/' + status)
                        .then(res => {
                            this.$swal({type: 'success', text: res.data.message});
                            this.getData(this.franchiseId);
                        }).catch(e => {
                        this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                    })
                } else {
                    this.$swal({
                        type: 'error',
                        title: trans('profile.object_requests.upload_documents_error_title'),
                        text: trans('profile.object_requests.upload_documents_error_text')
                    });
                }


            },
            submitReject() {
                axios.post('/profile/request/' + this.form.id + '/reject', {
                    reject_reason: this.form.reject_reason,
                    _method: 'patch'
                })
                    .then(res => {
                        this.$swal({type: 'success', text: res.data.message});
                        this.ui.rejectReasonModal = false;
                        this.getData(this.franchiseId);
                    }).catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })
            },
            getStatusText(status_id) {
                switch (status_id) {
                    case 1:
                        return trans('profile.object_requests.statuses.new')
                        break;
                    case 2:
                        return trans('profile.object_requests.statuses.approve')
                        break;
                    case 3:
                        return trans('profile.object_requests.statuses.reject')
                        break;
                }
            },
            getStatusСlass(status_id) {
                switch (status_id) {
                    case 1:
                        return 'has-text-info'
                        break;
                    case 2:
                        return 'has-text-success'
                        break;
                    case 3:
                        return 'has-text-danger'
                        break;
                }
            }
        }
    }
</script>
<style scoped>

</style>
