<template>
    <modal v-if="show" @close="$emit('close', null)" >
        <div slot="header">
            <p class="modal-card-title mb-0">{{trans('franchises.modal_upload_document.title')}} </p>
        </div>

        <div slot="body">
            <div class="content">
                <div class="columns is-multiline" v-show="!showPreloader">
                    <div align="center">
                        <g-g-input
                            :label="trans('franchises.modal_upload_document.name.label')"
                            :placeholder="trans('franchises.modal_upload_document.name.placeholder')"
                            :size="'is-12'"
                            v-model="form.name"/>

                        <vue-dropzone
                            :options="dropzoneOptions"
                            :useCustomSlot=true
                            id="franchise_doc_dropzone"
                            ref="franchise_doc_dropzone"
                            v-on:vdropzone-error="onError"
                            v-on:vdropzone-error-multiple="onError"
                            v-on:vdropzone-file-added="attachListener2"
                            v-on:vdropzone-file-added-manually="attachListener2"
                            v-on:vdropzone-files-added="attachListener1"
                            v-on:vdropzone-removed-file="removeFile"
                            v-on:vdropzone-sending="sendingEvent"
                            v-on:vdropzone-success="onSucces"
                            v-on:vdropzone-upload-progress="uploadProgress"
                        >
                            <div class="dropzone-custom-content">
                                <figure>
                                    <svg-icon :icon="'ic_add_files.svg'"/>
                                </figure>
                                <div>
                                    <div class="dropzone-custom-content__title">Перетащите сюда файл или же кликните для выбора файла</div>
                                </div>
                            </div>
                        </vue-dropzone>
                        <div class="dropzone-previews dropzone-previews-zone1">
                        </div>
                        <div
                            aligin="center"
                            style="color: red"
                            v-if="error_message.length > 0"
                        >
                            <br/>
                            {{error_message}}
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
                <preloader v-show="showPreloader"/>
            </div>
        </div>
        <div class="content w-full" slot="footer">
            <div class="columns is-multiline">
                <div class="column ">
                    <button @click="sendForm()" id="send_form"
                        class="button is-link is-fullwidth has-text-weight-bold h-3" :disabled="!send_button_disabled">
                        {{trans('franchises.modal_upload_document.btn_upload')}}
                    </button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import Modal from '../../../modals/Modal';
    import GGInput from '../../../form/GGInput';
    import GGTextarea from '../../../form/GGTextarea';
    import FilesUpload from '../../../FilesUpload';
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    import Preloader from '../../../preloader'

    export default {
        components: {
            Modal,
            GGInput,
            GGTextarea,
            FilesUpload,
            vueDropzone: vue2Dropzone,
            Preloader
        },
        props: {
            show: {default: false},
            objectId : {default: null},
        },
        data: function () {
            return {
                showPreloader : false,
                form: {
                    franchise_id : null,
                    name: '',
                },
                selected_files_count : 0,
                error_message : '',
                dropzoneOptions: {
                    url: '/franchise/save/docs',
                    thumbnailWidth: 40,
                    maxFilesize: 1,
                    acceptedFiles: 'application/pdf,image/jpg,image/png,image/jpeg',
                    headers: {
                        'X-CSRF-TOKEN': document.head.querySelector('meta[name="csrf-token"]').content
                    },
                    previewTemplate: this.template(),
                    previewsContainer: '.dropzone-previews-zone1',
                    addRemoveLinks: false,
                    autoProcessQueue: false,
                    dictCancelUploadConfirmation: trans('business.upload_photo.dictCancelUploadConfirmation'),
                    uploadMultiple : false,
                    maxFiles : 1,
                    parallelUploads : 1,
                    dictInvalidFileType : trans('franchises.modal_upload_document.message_error_type'),
                    dictMaxFilesExceeded : trans('franchises.modal_upload_document.message_error_files_count')
                },
            }
        },
        methods:{
            onSucces : function(file, response){
                ////console.log( file, response );
                this.$emit('close', response.doc);
                this.showPreloader = false;
                this.$swal({
                    type: 'success',
                    text: response.data.message
                });
            },
            onError : function(file, message, xhr){
                ////console.log('error', file, message, xhr);
                this.error_message = message;
                this.$refs.franchise_doc_dropzone.removeFile(file);
                this.hideMessage();
                this.showPreloader = false;
            },
            sendingEvent : function(file, xhr, formData){
                formData.append('franchise_id', this.objectId);
                formData.append('name', this.form.name);
            },
            sendForm : function(){
                this.$refs.franchise_doc_dropzone.processQueue()
                this.showPreloader = true;
            },
            attachListener1: function (file, response) {
                //this.error_message = '';
                this.selected_files_count = this.getAllFiles().length;
                ////console.log( 'attachListener1', this.selected_files_count , this.form.name, this.getAllFiles() );
            },
            attachListener2: function (file, response) {
                //this.error_message = '';
                this.selected_files_count = this.getAllFiles().length;
                ////console.log( 'attachListener2', this.selected_files_count , this.form.name, this.getAllFiles() );
            },

            removeFile: function (file,error, xhr) {
                this.selected_files_count = this.getAllFiles().length;
                ////console.log('remove', file, error, xhr);
            },
            uploadProgress: function (file, progress, bytesSent) {
            },
            getAllFiles() {
                return this.$refs.franchise_doc_dropzone.getQueuedFiles();
            },
            hideMessage: function () {
                let that = this;
                setTimeout(function () {
                    that.error_message = '';
                }, 3000);
            },
            template: function () {
                return this.selected_files_count ? '' : `
                <div class="dropzone-previews-item dz-preview dz-file-preview">
                    <figure class="dz-image">
                            <img data-dz-thumbnail />
                            <div class="tooltip vue-tooltip-theme">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">` + trans('business.upload_photo.make_cover') + `</div>
                            </div>
                    </figure>
                    <div class="dz-preview__info">
                        <div class="dz-filename"><span data-dz-name></span></div>

                          <div class="dz-details">
                            <div class="dz-progress-wrap">
                                <span class="dz-progress-text"></span>
                                <div class="dz-progress">
                                    <span class="dz-upload" data-dz-uploadprogress></span>
                                </div>
                            </div>
                            <div class="dz-size"><span data-dz-size=""></span></div>
                            <div class="dz-error-message"><span class="has-text-danger" data-dz-errormessage=""></span></div>
                        </div>

                    </div>
                    <div class="dz-buttons">
                        <button class="button is-clear is-clear_close is-size-875 dz-delete-file" data-dz-remove><span
                            class="icon-close">×</span><span class="has-text-decoration-underline">` + trans('business.upload_photo.delete') + `</span>
                        </button>
                    </div>
                </div>`;
            }
        },
        computed :{
            send_button_disabled : function (){
                return  ( (this.form.name.trim().length > 0 ) && ( this.selected_files_count > 0 ) )
            }
        }
    }
</script>
