@import 'variables';

.dropdown {
    .dropdown-menu {
        display: block;
        visibility: hidden;
    }

    &.is-hoverable:hover,
    &.is-active {
        .dropdown-menu {
            visibility: hidden;
        }

        > .dropdown-menu {
            visibility: visible;
        }
    }
}

/* Typography */

h1, h2, h3, h4, h5, h6,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: $title-color;
}

h1,
.content h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 900;
    @media screen and (min-width: $tablet) {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

h2,
.content h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
}

h3,
.content h3 {
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-weight: bold;
}

h4,
.content h4 {
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: bold;
}

h5,
.content h5 {
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: bold;
}

h6,
.content h6 {
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: bold;
}

p,
.content p,
.content {
    //color: $very-dark-blue-2;
    line-height: 1.75em;
}

.content {
    ul {
        list-style: none;
        margin-left: 3rem;

        li {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                background-color: $cyan;
                width: 0.3125rem;
                height: 0.3125rem;
                top: .55em;
                //margin-top: -0.15625;
                border-radius: 50%;
                left: -1.875rem;
            }
        }
    }
}

.has-text-basic {
    color: $very-dark-blue-2;
}

/* Buttons */

.button {
    white-space: normal;
    @media screen and (min-width: $tablet) {
        white-space: nowrap;
    }

    .icon {
        svg {
            width: 1em;
            height: 1em;
        }
    }

    &.is-light-cyan {
        background-color: rgba($cyan, 0.1);
        color: $very-dark-blue-2;
        border: none;
    }

    &.is-clear {
        border-color: transparent;
        background-color: transparent;
        color: $label-color;

        &:hover {
            border-color: $button-border-color;
        }

        &_close {
            &.is-size-875 {
                .icon-close {
                    line-height: .875rem;
                    font-size: 1.5rem;
                    margin-right: .25rem;
                    color: lighten($label-color, 15);
                }
            }
        }
    }

    &[disabled] {
        &.is-primary,
        &.is-link,
        &.is-info,
        &.is-success,
        &.is-warning,
        &.is-danger,
        &.is-light-cyan {
            background-color: #dae4f2 !important;
            color: #748399 !important;
            border: none !important;

            .icon {
                svg {
                    path {
                        fill: #748399;
                    }
                }
            }
        }
    }

    &.is-outlined {
        &.is-primary {
            border: 1px solid rgba($primary, 0.3);
        }

        &.is-link {
            border: 1px solid rgba($blue, 0.3);
        }

        &.is-info {
            border: 1px solid rgba($cyan, 0.3);

            .icon {
                svg {
                    path {
                        fill: $cyan;
                    }
                }
            }
        }

        &.is-success {
            border: 1px solid rgba($green, 0.3);
        }

        &.is-warning {
            border: 1px solid rgba($yellow, 0.3);
        }

        &.is-danger {
            border: 1px solid rgba($red, 0.3);
        }

        &.is-light-cyan {
            border: 1px solid rgba($cyan, 0.07);
        }

        &.is-inverted {
            &.is-primary,
            &.is-link,
            &.is-info,
            &.is-warning,
            &.is-success,
            &.is-danger,
            &.is-light-cyan {
                border-color: rgba($white, 0.3);
            }
        }
    }

    &:hover {
        background-color: lighten($button-background-color, 3);

        &.is-primary {
            background-color: lighten($primary, 3);
        }

        &.is-link {
            background-color: lighten($blue, 3);
        }

        &.is-info {
            background-color: lighten($cyan, 3);

            .icon {
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }

        &.is-success {
            background-color: lighten($green, 3);

            .icon {
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }

        &.is-warning {
            background-color: lighten($yellow, 3);
        }

        &.is-danger {
            background-color: lighten($red, 3);

            .icon {
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }

        &.is-light-cyan {
            background-color: lighten(rgba($cyan, 0.1), 5);
        }
    }

    &:focus,
    &:active,
    &.is-active {
        background-color: darken($button-background-color, 3);
        border-color: $button-border-color;
        color: $button-color;

        &.is-primary,
        &.is-primary.is-outlined {
            background-color: darken($primary, 3);
            color: $white;
        }

        &.is-link,
        &.is-link.is-outlined {
            background-color: darken($blue, 3);
            color: $white;
        }

        &.is-info,
        &.is-info.is-outlined {
            background-color: darken($cyan, 3);
            color: $white;

            .icon {
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }

        &.is-success,
        &.is-success.is-outlined {
            background-color: darken($green, 3);
            color: $white;

            .icon {
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }

        &.is-warning,
        &.is-warning.is-outlined {
            background-color: darken($yellow, 3);
            color: $white;
        }

        &.is-danger,
        &.is-danger.is-outlined {
            background-color: darken($red, 3);
            color: $white;

            .icon {
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }

        &.is-light-cyan,
        &.is-light-cyan.is-outlined {
            background-color: darken(rgba($cyan, 0.1), 3);
            color: $very-dark-blue-2;
        }
    }

    &.is-fb {
        background-color: $color-fb;
        border-color: $color-fb;
        color: $white;

        &:hover {
            background-color: lighten($color-fb, 3);
            color: $white;
            border-color: lighten($color-fb, 3);
        }

        &:focus,
        &:active,
        &.is-active {
            background-color: darken($color-fb, 3);
            color: $white;
            border-color: darken($color-fb, 3);
        }
    }

    &.is-ok {
        background-color: $color-ok;
        border-color: $color-ok;
        color: $white;

        &:hover {
            background-color: lighten($color-ok, 3);
            color: $white;
            border-color: lighten($color-ok, 3);
        }

        &:focus,
        &:active,
        &.is-active {
            background-color: darken($color-ok, 3);
            color: $white;
            border-color: darken($color-ok, 3);
        }
    }

    &.is-vk {
        background-color: $color-vk;
        border-color: $color-vk;
        color: $white;

        &:hover {
            background-color: lighten($color-vk, 3);
            color: $white;
            border-color: lighten($color-vk, 3);
        }

        &:focus,
        &:active,
        &.is-active {
            background-color: darken($color-vk, 3);
            color: $white;
            border-color: darken($color-vk, 3);
        }
    }
}

.field {
    &.has-addons {
        &.has-addons-fullwidth {
            .control {
                margin-bottom: 0px;
                &:not(:last-child) {
                    margin-right: 1px;
                }

                &:not(:first-child) {
                    margin-left: 1px;
                }


            }
        }
    }
}

/* Notification */
.notification {
    position: relative;

    &-list {
        margin-bottom: 1.5rem;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
    }

    &__content {
        &-wrap {
            padding-left: 3rem;
            & > .is-flex {

            }
        }
    }

    &__title {

    }

    time {
        opacity: 0.5;
    }

    > .delete {
        border-radius: 0;
        background: none;
        width: .75rem;
        height: .75rem;
        min-height: .75rem;
        min-width: .75rem;
        max-height: .75rem;
        max-width: .75rem;
        right: 1rem;
        top: 1rem;

        &:before,
        &:after {
            border-radius: $radius;
        }

        &:before {
            width: 100%;
        }

        &:after {
            height: 100%;
        }
    }

    &.is-primary {

    }

    &.is-link {

    }

    &.is-info {

    }

    &.is-success {
        border: 1px solid #8ABD8A;
        background-color: rgba(#36A236, 0.07);

        .notification__title,
        time {
            color: #257025;
        }

        .notification__content {
            color: #598059;
        }

        .delete {
            &:before,
            &:after {
                background-color: lighten(#8ABD8A, 5);
            }

            &:hover {
                &:before,
                &:after {
                    background-color: darken(#8ABD8A, 5);
                }
            }
        }
    }

    &.is-warning {
        border: 1px solid $yellow;
        background-color: rgba($yellow, 0.07);

        .notification__title,
        time {
            color: $yellow;
        }

        .notification__content {
            color: $yellow;
        }

        .delete {
            &:before,
            &:after {
                background-color: lighten($yellow, 5);
            }

            &:hover {
                &:before,
                &:after {
                    background-color: darken($yellow, 5);
                }
            }
        }
    }

    &.is-danger {
        border: 1px solid $red;
        background-color: rgba($red, 0.07);

        .notification__title,
        time {
            color: $red;
        }

        .notification__content {
            color: $red;
        }

        .delete {
            &:before,
            &:after {
                background-color: lighten($red, 5);
            }

            &:hover {
                &:before,
                &:after {
                    background-color: darken($red, 5);
                }
            }
        }
    }

    &_v2 {
        border-right: 0 !important;
        border-top: 0 !important;
        border-bottom: 0 !important;

        &.is-success {
            border-left: .1875rem solid #8ABD8A;
        }

        &.is-warning {
            border-left: .1875rem solid $yellow;
        }

        &.is-danger {
            border-left: .1875rem solid $red;
        }
    }
}

/* Tag */
.tag,
.tag:not(body) {
    padding: 0 .75rem;
}

.tag {
    &_big {
        min-height: 2rem;
    }
}



/* Progress */
.progress {
    border-radius: $radius;

    &[value] {
        border-radius: $radius;

        &::-webkit-progress-value {
            border-radius: $radius;
        }
    }

    &.is-small {
        height: .375rem;
    }
}


/* Tabs */
.tabs {
    li {
        a {
            background-color: #EBF1F9;
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
        }

        &.is-active {
            a {
                background-color: $white;
            }
        }
    }
}

/* Radio */
.radio {
    & + .radio {
        margin-left: 0;
    }
}
