<template>
    <div class="chat-container">
        <div class="chat-links" v-if="!isWidget">
            <a
                class="chat-links__link"
                @click.prevent="openDialogModal(translations.dialog.to_support, 'support')"
            >
                <simple-svg
                    class="chat-links__link__icon icon-1"
                    :filepath="'/svg/icons/chat/ic_support.svg'"
                    height=16
                    width=16
                />
                <span>{{ translations.dialog.to_support }}</span>
            </a>
            <a
                v-if="userCanWriteToBroker()"
                class="chat-links__link"
                @click.prevent="openDialogModal(translations.dialog_broker, 'broker')"
            >
                <simple-svg
                    class="chat-links__link__icon icon-1"
                    :filepath="'/svg/icons/chat/ic_person.svg'"
                    height=16
                    width=16
                />
                <span>{{ translations.dialog_broker }}</span>
            </a>
        </div>
        <div
            :class="[size]"
            class="chat"
        >
            <transition name="isCompact ? 'slide-left' : ''">
                <chat-dialogs
                    v-show="ui.showDialogs"
                    :dialogs="dialogs"
                    :user="getUser()"
                    :selected="dialog_id"
                    @search="onDialogsSearch"
                    @new-message="onNewMessage($event)"
                    @dialog-select="getDialog($event)"
                />
            </transition>
            <transition name="fade" mode="out-in">
                <chat-dialog
                    :show="isChatExpanded"
                    :dialog="dialog"
                    @show-menu="ui.showDialogs = true"
                    @fresh="getDialog(dialog_id)"
                    @search="getDialog(dialog_id, $event)"
                    @dialog-close="isChatExpanded = false"
                    :user="user"
                    :is-widget="isWidget"
                    :key="dialog_id"
                />
                <!--<div v-else class="chat__no-dialog">
                    <simple-svg
                        class="chat__no-dialog__icon"
                        :filepath="'/svg/icons/chat/ic_messages.svg'"
                        height=64
                        width=64
                    />
                    <div>
                        <a @click.prevent="openDialogModal(translations.dialog.to_broker, 'broker')" href="">{{ trans('profile.chat.write_to_broker') }}</a>
                        {{ trans('profile.chat.or_write') }}
                        <a @click.prevent="openDialogModal(translations.dialog.to_support, 'support')" href="">{{ trans('profile.chat.in_support') }}</a>
                    </div>
                </div>-->
            </transition>
        </div>

        <modal
            v-if="ui.modal.show"
            @close="ui.modal.show = false"
        >
            <div slot="header">
                <h3>{{ ui.modal.header }}</h3>
            </div>
            <div slot="body">
                <form action="#" @submit.prevent="newDialog">
                    <div class="field">
                        <label for="new_dialog_theme" class="label label_req">
                            {{ translations.dialog.theme }}
                        </label>
                        <input
                            v-model="formData.theme"
                            id="new_dialog_theme"
                            class="input"
                            name="new_dialog_theme"
                            :placeholder="translations.dialog.theme"
                            required
                        />
                    </div>
                    <div class="field">
                        <label for="new_dialog_message" class="label label_req">{{ translations.dialog.message }}</label>
                        <textarea
                            v-model="formData.text"
                            id="new_dialog_message"
                            class="textarea"
                            name="new_dialog_message"
                            :placeholder="translations.dialog.message"
                            required
                        ></textarea>
                    </div>
                    <div class="field">
                        <button type="submit" class="button is-link is-fullwidth has-text-weight-bold">
                            {{ translations.dialog.btn_send }}
                        </button>
                    </div>
                </form>
            </div>
        </modal>
    </div>
</template>

<script>
    import _ from 'lodash'
    import { SimpleSVG } from 'vue-simple-svg'
    import Modal from '../modals/Modal'
    import ChatDialogs from './chat-dialogs';
    import ChatDialog from './chat-dialog';

    export default {
        name: 'chat',
        components: {
            ChatDialogs,
            ChatDialog,
            'simple-svg': SimpleSVG,
            Modal,
        },
        props: {
            user,
            size: {default: ''},
            isWidget: {
                default: false
            }
        },
        data: () => ({
            translations: {
                dialog: {
                    theme: trans('profile.chat.dialog.theme'),
                    message: trans('profile.chat.dialog.message_text'),
                    btn_send: trans('profile.chat.dialog.btn_send'),
                    to_broker: trans('profile.chat.dialog_broker'),
                    to_support: trans('profile.chat.dialog_support'),
                }
            },
            dialog_id: null,
            dialog: null,
            /*{
                id: '',
                theme: '',
                messages: [],
            },*/
            dialogs: [],
            search: {
                dialogs: '',
                messages: '',
            },
            timeout: null,
            users: [],
            sound: new Audio('/chat.mp3'),
            formData: {
                theme: '',
                text: '',
                type: ''
            },
            ui: {
                modal: {
                    show: false,
                    header: '',
                },
                showDialogs: true
            },
            // chatExpanded: false,
        }),
        computed: {
            isCompact: function () {
                return this.isWidget || this.$mq === 'mobile';
            },

            isChatExpanded: {
                get: function () {
                    return this.$store.state.chat.expanded || !!this.dialog;
                },
                set: function (value) {
                    this.$store.state.chat.expanded = false;
                    this.dialog = null;
                    this.stopUpdateDialog();
                }
            },

            dialogOpen(){
                return this.$store.state.dialogs.id;
            },
        },
        mounted() {
            this.getDialogs();
        },

        watch: {
            dialogOpen: function() {
                this.getDialog(this.$store.state.dialogs.id)
            }
        },

        methods: {
            stopUpdateDialog() {
                clearTimeout(this.timeout)
                this.timeout = null;
            },

            getDialogs(search = null) {
                axios
                    .get('/chat/dialogs', {
                        params: {search: search}
                    })
                    .then(res => {
                        this.dialogs = res.data
                    })
            },
            getDialog(id, search = null) {
                /*// Если мобильный вид, или виджет, закрываем диалоги
                if (this.isCompact) {
                    this.ui.showDialogs = false;
                }*/
                this.dialog_id = id;
                axios
                    .get(`/chat/dialog/${id}`, {
                        params: {search: search}
                    })
                    .then(res => {
                        this.dialog = res.data;
                        this.dialog.messages = this.dialog.messages.slice();
                        this.stopUpdateDialog()
                         this.timeout = setTimeout(() => {
                            this.getDialog(this.dialog_id)
                         }, 5000)
                    })
            },
            newDialog() {
                axios
                    .post('/chat/dialog/add', this.formData)
                    .then(res => {
                        this.dialog = res.data;
                        this.dialogs.push(this.dialog);
                        this.dialog_id = this.dialog.id;
                        this.dialog.messages = this.dialog.messages.slice()
                        // this.ui.modal.show = false;
                    })
                    .catch(e => {
                        alert(e.response.data.message);
                    })
            },
            openDialogModal(header, type) {
                this.ui.modal.header = header;
                this.ui.modal.show = true;
                this.formData.type = type
            },
            onNewMessage(e) {
                // почему то эта фигня не работает, если не выбран диалог
                new Audio('/chat_message_sent.mp3').play();

                if (e.message.dialog_id === this.dialog_id) {
                    this.dialog.messages.push(e.message);
                    // this.dialog.messages = this.dialog.messages.slice()
                } else {
                    let dialog = _.find(this.dialogs, (item) => {
                        return item.id === e.message.dialog_id
                    });
                    if (dialog) {
                        dialog.notifications++;
                    }
                }
            },
            onDialogsSearch: _.debounce(function (search) {
                this.getDialogs(search);
            }, 1000),
            userCanWriteToBroker() {
                return this.user.roles.find(v => (v === this.$store.state.ROLE_SELLER || v === this.$store.state.ROLE_BUYER))
            },
            getUser() {
                return this.user;
            },
        }
    }
</script>

<style>
    .slide-left-leave-active,
    .slide-left-enter-active {
        transition: 0.3s;
    }
    .slide-left-enter {
        transform: translate(-100%, 0);
    }
    .slide-left-leave-to {
        transform: translate(-100%, 0);
    }
    .chat__no-dialog__icon svg {
        width: 64px;
        height: 64px;
    }
</style>
