<template>
    <div class="chat__dialogs">
        <div class="chat__list">
            <div class="chat__list__search">
                <img src="/svg/icons/chat/chat_search.svg" alt="search" />
                <input
                    v-model="search"
                    @input="$emit('search', search)"
                    type="text"
                    :placeholder="translations.searchChats"
                />
                <!--<button @click.prevent="openMessageModal" class="button is-info add-msg">+</button>-->
            </div>
            <div class="chat__list__scroll" v-bar v-if="dialogsMapped.length > 0">
                <transition-group
                    tag="div"
                    class="chat__list__items"
                    name="fade">
                    <div
                        v-for="dialog in dialogsMapped"
                        @click="$emit('dialog-select', dialog.id)"
                        :class="[
                            'chat-type--' + dialog.type, { 'active' : dialog.id === selected  },
                            {'new-message': dialog.notifications > 0}
                        ]"
                        class="chat__list__item"
                        :key="dialog.id"
                    >
                        <div class="chat__list__item__theme">{{ dialog.theme | stripTags }}</div>
                        <div class="chat__list__item__from">
                            <!--<img v-if="dialog.user.avatar" :src="dialog.user.avatar" class="chat__list__item__from__avatar"> -->
                            {{trans('profile.chat_dialogs.from')}}
                            {{dialog.user.full_name}}
                        </div>
                    </div>
                </transition-group>
            </div>
            <div v-else-if="search" class="chat__list__no-dialogs">{{trans('profile.chat_dialogs.not_find')}}</div>
            <div v-else-if="!firstLoad" class="chat__list__no-dialogs">{{trans('profile.chat_dialogs.no_result')}}</div>


            <!--<div class="flex-push"></div>
            <div class="chat__list__settings" ref="chat_list_settings">
                <a href="" @click.prevent="ui.showSettings = !ui.showSettings" :class="{active: ui.showSettings}">
                    <img src="/svg/icons/chat/ic_settings.svg" :alt="translations.chatSettings">{{translations.chatSettings}}
                </a>
                <transition name="fade">
                    <div class="chat__list__settings__menu" v-if="ui.showSettings">
                        <label>
                            <input type="checkbox" v-model="filter" value="seller" />
                            <span class="color-seller">{{trans('profile.chat_dialogs.settings.seller')}}</span>
                        </label>
                        <label>
                            <input type="checkbox" v-model="filter" value="buyer" />
                            <span class="color-buyer">{{trans('profile.chat_dialogs.settings.buyer')}}</span>
                        </label>
                        <label>
                            <input type="checkbox" v-model="filter" value="support" />
                            <span class="color-support">{{trans('profile.chat_dialogs.settings.support')}}</span>
                        </label>
                    </div>
                </transition>
            </div>-->
        </div>
        <modal v-if="ui.showModal" @close="ui.showModal = false">
            <div slot="header">
                <h3>Написать сообщение</h3>
            </div>
            <div slot="body">
                <form action="#" @submit.prevent="newMessage">
                    <div class="field">
                        <label class="label label_req">{{ translations.dialog.addressee }}</label>
                        <select v-model="form.to" @change="getDialog">
                            <option v-for="addressee in addressees" v-bind:value="addressee.id">{{ addressee.first_name }} {{ addressee.last_name }}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label class="label label_req">{{translations.dialog.theme}}</label>
                        <input
                            v-model="form.theme"
                            class="input"
                            :placeholder="translations.dialog.theme"
                            required />
                    </div>
                    <div class="field">
                        <label class="label label_req">
                            {{translations.dialog.message}}
                        </label>
                        <textarea
                            v-model="form.text"
                            class="textarea"
                            :placeholder="translations.dialog.message"
                            required>
                        </textarea>
                    </div>
                    <div class="field">
                        <button type="submit" class="button is-link is-fullwidth has-text-weight-bold">
                            {{ translations.dialog.send }}
                        </button>
                    </div>
                </form>
            </div>
        </modal>
    </div>
</template>
<script>
    import stripTags from '../../stripTags'
    import Modal from '../modals/Modal'

    export default {
        name: 'chat-dialogs',
        filters: { stripTags },
        props: ['dialogs', 'selected'],
        components: { Modal },
        data: () => ({
            translations: {
                dialog: {
                    theme: trans('profile.chat.dialog.theme'),
                    message: trans('profile.chat.dialog.message_text'),
                    send: trans('profile.chat.dialog.btn_send'),
                    addressee: trans('profile.chat.dialog.addressee'),
                },
                searchChats: trans('profile.chat_dialogs.search_chats'),
                chatSettings: trans('profile.chat_dialogs.settings_chat'),
            },
            firstLoad: true,
            ui: {
                showSettings: false,
                showModal: false,
                showDialogs: true
            },
            form: {
                to: null,
                dialog_id: null,
                theme: '',
                text: '',
                type: 'broker',
            },
            addressees: [],
            dialogList: [],
            search: '',
            filter: ['seller', 'buyer', 'support'],
        }),
        beforeCreate() {
            axios.get(`/account-get-addressees`).then(response => {
                this.addressees = response.data;
            });
        },
        computed: {
            dialogsMapped: function () {
                return this.dialogs.map(dialog => {
                    return dialog;
                }).filter(dialog => {
                    return this.filter.includes(dialog.type)
                })
            }
        },
        /*mounted() {
            this.$refs.chat_list_settings.addEventListener('mouseleave', () => {
                setTimeout(() => {
                    this.ui.showSettings = false;
                }, 1000)
            });
        },*/
        watch: {
            dialogs: function () {
                this.socketConnect();
            }
        },
        methods: {
            socketConnect() {
                console.log(window.Echo)
                if (window.Echo === undefined) {
                    return;
                }
                for (let dialog of this.dialogs) {
                    window.Echo
                        .private('Chat.Dialog.' + dialog.id)
                            .listen('NewMessage', (e) => {
                            console.log(e)
                            this.$emit('new-message', e)
                        })
                }
            },
            /*openMessageModal() {
                this.ui.showModal = true;
            },*/
            getDialog(search = null) {
                axios
                    .get(`/chat/user-dialog`, {params: {
                        userId: this.form.to
                    }})
                    .then(response => {
                        this.form.dialog_id = response.data.id;
                        this.form.theme = response.data.theme;
                    });
            },
            newMessage() {
                if (this.form.dialog_id === undefined) {
                    axios
                        .post('/chat/dialog/add', this.form)
                        .then(res => {
                            this.dialogList.push(res.data);
                            this.ui.showModal = false;
                        })
                        .catch(e => {
                            alert(e.response.data.message);
                        });
                } else {
                    axios
                        .post('/chat/message/add', this.form)
                        .then(res => {
                            this.ui.showModal = false;
                        })
                        .catch(e => {
                            alert(e.response.data.message);
                        });
                }
            },
        }
    }
</script>
<style>
    .add-msg {
        width: 40px;
        float: right;
        font-size: 18px;
        padding: 0;
    }
</style>
