<template>
    <transition name="slide-fade" appear>
        <div class="chat-widget" v-show="ui.show">
            <div class="chat-widget__header">
                <!--<svg-icon :icon="'ic_messages.svg'" />
                <span class="aside-nav__item__title has-text-weight-bold">
                    {{ trans('profile.chat.widget.messages') }}
                </span>
                <span
                    v-if="newMessagesCount"
                    class="chat-widget__header__count tag is-danger is-rounded tag__count is-flex"
                >{{ newMessagesCount }}</span>-->
            </div>
            <transition name="fade">
                <chat-form
                    :to="to"
                    :type="dialogType"
                />
            </transition>
        </div>
    </transition>
</template>

<script>
    import ChatForm from './form'

    export default {
        componenets: {
            ChatForm,
        },
        props: {
            to: null,
            dialogType: null,
        },
        data: () => ({
            ui: {
                show: false,
            },
        }),
        watch: {
            expanded: {
                handler(val) {
                    if (val) {
                        //console.log(this.$store.state.chat.to);
                        if (this.$store.state.chat.to) {
                            this.$refs.chat.writeTo(
                                this.$store.state.chat.to,
                                this.$store.state.chat.theme,
                                this.$store.state.chat.message
                            );
                        }
                    }
                }
            }
        }
    }
</script>

<style>
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateY(100%);
    }
</style>
