<template>
    <div class="chat__dialog" :class="{'is-widget': isWidget}" >
        <div class="chat__dialog__top" ref="dialogTop">
            <transition
                name="slide-fade"
                tag="div"
                v-on:after-enter="afterDialogSearchTransition"
            >
                <div v-if="ui.showDialogSearch">
                    <input
                        type="text"
                        :placeholder="trans('profile.chat_dialog.search_by_history')"
                        v-model="search"
                        @input="onMessagesSearch"
                    />
                </div>
            </transition>
            <div class="flex flex-center">
                <!--<div @click="$emit('show-menu')">
                    <simple-svg
                        class="chat__dialog__menu-icon"
                        :filepath="'/svg/icons/ic_menu.svg'"
                        height=16 width=16
                    />
                </div>-->
                    <simple-svg
                        class="chat__dialog__menu-icon"
                        @click.native="dialogClose"
                        :filepath="'/svg/icons/ic_close.svg'"
                        height=16 width=16

                    />

                <div
                    v-if="dialog"
                    class="chat__dialog__top__theme"
                    v-html="dialog.theme"
                />
            </div>

            <div class="chat__dialog__search-btn" @click="(ui.showDialogSearch = !ui.showDialogSearch)">
                <img src="/svg/icons/chat/chat_search.svg" />
            </div>
        </div>
        <div
            class="chat-messages"
            v-show="messagesMapped.length > 0"
            v-bar
        >
            <div class="chat-messages__scroll" ref="message_list">
                <div
                    class="chat-messages__stack"
                    v-for="(stack, i) in messagesMapped"
                    :class="{yours: user.id == stack.user.id}"
                    :key="i"
                >
                    <div
                         class="chat-messages__user"
                         v-if="stack.user.avatarUrl"
                    >
                        <img :src="stack.user.avatarUrl" />
                    </div>

                    <div class="chat-messages__list">
                        <div
                            class="chat-messages__message"
                            v-for="message in stack.messages"
                            :class="{'status-moderating': message.status == 0 && $userCan('Chat_message-moderate')}"
                            :key="message.id"
                        >
                            <div class="chat-messages__message__wrap">
                                <span class="chat-messages__message__user">
                                    {{user.id == stack.user.id ? 'Вы' : stack.user.full_name}}
                                </span>

                                <span class="chat-messages__message__time">
                                    {{getTime(message.created_at)}}
                                </span>

                                <br />

                                <div
                                    v-for="video in getYouTubeVideos(message.text)"
                                    v-html="video"
                                />

                                <div class="chat-messages__message__files">
                                    <a :href="file.url.origin"
                                       v-for="file in message.media_links"
                                       target="_blank"
                                    >
                                        <img
                                            v-if="file.mime_type.indexOf('image') >= 0"
                                            :src="file.url.thumb" alt=""
                                        >
                                        <span v-else>{{file.file_name}}</span>
                                    </a>
                                </div>

                                <div class="chat-messages__message__text">
                                    {{message.text}}
                                </div>
                            </div>

                            <chat-message-status
                                :message="message"
                                v-if="user.id === stack.user.id"
                            />

                            <div
                                class="chat-messages__message__mode-btns"
                                v-if="$userCan('Chat_message-moderate') && message.status === 0"
                            >
                                <a
                                    href=""
                                    class="chat-messages__message__accept"
                                    @click.prevent="acceptMessage(message.id)"
                                >

                                    <img src="/svg/icons/chat/chat_message_ok.svg" alt="" />

                                    {{ trans('profile.chat_dialog.btn_approve') }}
                                </a>
                                <a
                                    href=""
                                    class="chat-messages__message__decline"
                                    @click.prevent="ui.showDeleteReasonModal = true; deleteMessage.id = message.id"
                                >
                                    <img src="/svg/icons/chat/chat_message_del.svg" alt="" />

                                    {{ trans('profile.chat_dialog.btn_delete') }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <chat-preloader v-if="isSendingMessage" />
            </div>
        </div>
        <div
            v-show="messagesMapped.length === 0 && search"
            class="chat__dialog__no-messages"
        >
                {{trans('profile.chat_dialog.msg_not_find')}}
        </div>
        <div
            v-show="messagesMapped.length === 0 && !search"
            class="chat__dialog__no-messages"
        >
                {{trans('profile.chat_dialog.no_result')}}
        </div>
        <div class="chat__dialog__new-message">
            <div
                v-if="attachment.isLoaded"
                class="chat__dialog__new-message__files"
            >
                <div
                    class="chat__dialog__new-message__file"
                    :class="{'is-image': ifFileIsImage(attachment.mime)}"
                >
                    <div v-if="ifFileIsImage(attachment.mime)">
                        <img :src="attachment.base64">

                        <div
                            class="chat__dialog__new-message__file__delete"
                            @click="clearFile"
                        >
                            <simple-svg
                                class="icon-close"
                                :filepath="'/svg/icons/chat/ic_close.svg'"
                                height="10"
                                width="10"
                            />
                        </div>
                    </div>
                    <div
                        v-else
                        class="is-document">
                        <simple-svg
                            class="icon-doc"
                            :filepath="'/svg/icons/chat/ic_document.svg'"
                            height="20"
                            width="20"
                        />
                        <div>
                            <div>
                                {{uploadedFileName}}
                            </div>

                            <div class="chat__dialog__new-message__file__size">
                                {{(attachment.size / 1024 / 1024).toFixed(2)}}Мб
                            </div>
                        </div>
                        <div class="chat__dialog__new-message__file__delete" @click="clearFile">
                            <simple-svg
                                class="icon-close"
                                :filepath="'/svg/icons/chat/ic_close.svg'"
                                height="10"
                                width="10"
                            />
                        </div>
                    </div>                  
                </div>
            </div>
            <form @submit.prevent="sendMessage">
                <label
                    for="chat_file_attachment"
                    class="chat__dialog__new-message__attach"
                >
                    <img src="/svg/icons/chat/chat_attach.svg" alt="">

                    <input
                        id="chat_file_attachment"
                        type="file"
                        ref="file"
                        @change="handleFileUpload"
                    />
                </label>

                <input
                    v-model="message"
                    type="text"
                    :placeholder="trans('profile.chat_dialog.start_typing_msg')"
                />
                <button type="submit">
                    <simple-svg
                        class="icon-send"
                        :filepath="'/svg/icons/chat/chat_send.svg'"
                        height="24" width="24"/>
                </button>
            </form>
        </div>

        <modal
            v-if="ui.showDeleteReasonModal"
            @close="ui.showDeleteReasonModal = false"
        >
            <div slot="header">
                <h3>{{trans('profile.chat_dialog.reason_del_msg')}}</h3>
            </div>
            <div slot="body">
                <form action="" @submit.prevent="deleteMessage">
                    <div class="field">
                        <label for="delete_reason" class="label label_req">
                            {{trans('profile.chat_dialog.enter_reason')}}
                        </label>

                        <textarea
                            v-model="messageToDelete.reason"
                            id="delete_reason"
                            class="textarea"
                            name="delete_reason"
                            :placeholder="trans('profile.chat_dialog.rejection_reason_text')"
                            required
                        />
                    </div>
                    <div class="field">
                        <button type="submit" class="button is-link is-fullwidth has-text-weight-bold">
                            {{trans('profile.chat_dialog.btn_confirm')}}
                        </button>
                    </div>
                </form>
            </div>
        </modal>
    </div>
</template>

<script>
    import {SimpleSVG} from 'vue-simple-svg'
    import Modal from '../modals/Modal';
    import ChatMessageStatus from './chat-message-status'
    import ChatPreloader from './chat-preloader'

    export default {
        name: "chat-dialog",
        components: {
            'simple-svg': SimpleSVG,
            Modal,
            ChatMessageStatus,
            ChatPreloader
        },
        props: [
            'dialog',
            'user',
            'isWidget',
        ],
        data: () => ({
            ui: {
                showDialogSearch: false,
                showDeleteReasonModal: false
            },
            search: '',
            message: '',
            messageToDelete: {
                id: null,
                reason: ''
            },
            isSendingMessage: false,
            attachment: {
                file: null,
                status: null,
                base64: null,
                size: null,
                isLoaded: false
            }
        }),
        mounted() {
            this.scrollToEnd(true);
        },
        computed: {
            messagesMapped: function () {
                if (this.dialog === null || this.dialog.messages.length === 0) {
                    return [];
                }
                let stack = [];
                let stackEl = {
                    user: this.dialog.messages[0].from,
                    messages: []
                };
                for (let message of this.dialog.messages) {
                    this.getYouTubeVideos(message.text);
                    if (message.from.id === stackEl.user.id) {
                        stackEl.messages.push(message)
                    } else {
                        stack.push(stackEl);
                        stackEl = {
                            user: message.from,
                            messages: []
                        };
                        stackEl.messages.push(message);
                    }
                }
                stack.push(stackEl);
                return stack
            },
            uploadedFileName() {
                return this.attachment.file ? this.$refs.file.value.split(/(\\|\/)/g).pop() : false
            }
        },
        methods: {
            scrollToEnd(initial = false) {
                if (this.$refs.message_list === undefined) {
                    return;
                }
                this.$nextTick(() => {
                    let message_list = this.$refs.message_list;
                    if (message_list !== undefined) {
                        // Ждем загрузки всех картинок, если диалог только открылся
                        if (initial) {
                            let images = message_list.querySelectorAll('img');
                            let counter = 0;
                            images.forEach((image) => {
                                image.addEventListener('load', () => {
                                    counter++;
                                    if (images.length === counter)
                                        message_list.scrollTop = message_list.scrollHeight;
                                })
                            })
                        } else {
                            message_list.scrollTop = message_list.scrollHeight;
                        }
                    }
                })
            },

            dialogClose() {
                this.$emit('dialog-close')
            },

            sendMessage() {
                if (this.message === '' && !this.attachment.file) {
                    return;
                }
                this.isSendingMessage = true;
                this.scrollToEnd();

                let formData = new FormData();
                formData.append('text', this.message);
                formData.append('dialogId', this.dialog.id);
                if (this.attachment.file)
                    formData.append('file', this.attachment.file);

                this.message = '';
                this.clearFile();

                axios
                    .post('/chat/message/add', formData, {
                        headers: {'Content-Type': 'multipart/form-data'}
                    })
                    .then(res => {
                        this.message = '';
                        this.isSendingMessage = false;

                        // TODO Добавить сообщение через JS или обновить диалог из базы?
                        this.$emit('fresh');
                        this.clearFile();

                        setTimeout(() => {
                           this.scrollToEnd()
                        }, 700);
                        //TODO похоже на костыль
                        new Audio('/chat_message_sent.mp3').play()
                        //this.messages.push(res.data)
                    }).catch(e => {
                        this.isSendingMessage = false;
                        this.$swal({ type: 'error', title: e.response.status, text: e.response.data.message });
                    })
            },
            acceptMessage(id) {
                axios.patch(`/chat/message/add/${id}/accept`)
                    .then(res => {
                        this.$emit('fresh');
                    })
                    .catch(err => {
                        //console.log(err.data)
                    })
            },
            deleteMessage() {
                axios.delete(`/chat/message/add/${this.messageToDelete.id}`, {
                        params: { delete_reason: this.messageToDelete.reason }
                    })
                    .then(res => {
                        this.ui.showDeleteReasonModal = false;
                        this.messageToDelete.reason = '';
                        this.$emit('fresh');
                    })
                    .catch(err => {
                        //console.log(err.data)
                    })
            },
            afterDialogSearchTransition(el) {
                if (el.querySelector('input'))
                    el.querySelector('input').focus();
            },
            getTime(mySQLDate) {
                let monthNames = [
                    'Январь',
                    'Февраль',
                    'Март',
                    'Апрель',
                    'Май',
                    'Июнь',
                    'Июль',
                    'Август',
                    'Сентябрь',
                    'Ноябрь',
                    'Декабрь',
                ];
                let date =  new Date(Date.parse(mySQLDate.replace('-','/','g')));
                return date.getHours() + ':' + date.getMinutes()
            },
            handleFileUpload() {
                this.attachment.file = this.$refs.file.files[0]
                this.attachment.size = this.$refs.file.files[0].size;
                this.getFile(this.attachment.file)
            },
            getFile(file) {
                this.attachment.isLoaded = false;
                return new Promise((resolve, reject) => {
                    const fReader = new FileReader();
                    const img = document.createElement('img');
                    fReader.onload = () => {
                        file = fReader.result;
                        this.attachment.mime = this.getFileMimeType(fReader.result)
                         this.attachment.isLoaded = true;
                        if(this.ifFileIsImage(this.attachment.mime))
                            this.attachment.base64 = fReader.result
                        resolve();
                    };
                    fReader.readAsDataURL(file);
                })
            },
            getFileMimeType(base64) {
                return base64.substring("data:".length, base64.indexOf(";base64"))
            },

            canAcceptFile() {},

            ifFileIsImage(mime) {
                return mime.indexOf('image') >= 0;
            },

            clearFile() {
                this.attachment.base64 = null;
                this.attachment.file = null;
                this.$refs.file.value = '';
                this.attachment.size = null;
                this.attachment.isLoaded = false;
            },
            getYouTubeVideos(message) {
                let parsedVideos = [];
                let links = message.match(/(www)?\.youtube\.com(\S+)\s?/gi) //TODO доработать парсинг для разных случаев как тут? https://gist.github.com/takien/4077195
                if (links) {
                    for (let link of links) {
                        parsedVideos.push(`<iframe width="100%" height="200" src="https://www.youtube.com/embed/${this.getYouTubeID(link)}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`)
                    }
                }
                return parsedVideos;
            },

            getYouTubeID(url) {
                let ID = '';
                url = url.replace(/(>|<)/gi,'').split(/(vi\/|v=|\/v\/|youtu\.be\/|\/embed\/)/);
                if (url[2] !== undefined) {
                    ID = url[2].split(/[^0-9a-z_\-]/i);
                    ID = ID[0];
                }
                else {
                    ID = url;
                }
                return ID;
            },

            onMessagesSearch: _.debounce( function() {
                this.$emit('search', this.search)
            }, 1000)
        }
    }
</script>

<style lang="scss" scoped>
    .is-widget .chat-messages__stack {
        margin-bottom: 12px;
    }

    .chat__dialog[show="true"].is-widget {
        display: block;
    }

    .is-widget .chat-messages__scroll
    {
        display: block !important;
        height: 310px !important;
        min-height: 310px !important;
    }

    .is-widget {
        position: absolute;
        background: #FFF;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .chat-messages__message__wrap {
            max-width: 200px;
        }

        .chat__dialog__no-messages {
            height: 328px;
        }

        .chat-messages {
            max-height: 310px !important;
            min-height: 310px !important;
        }

        .chat-messages__scroll {
            max-height: 310px;
            overflow: auto !important;
            width: calc(100% + 17px) !important;
        }
    }
</style>
