<template>
    <transition name="slide-fade" appear>
        <div class="chat-widget" v-show="ui.show">
            <div
                class="chat-widget__header"
                @click="$store.state.dialogs.expanded = !$store.state.dialogs.expanded"
                :class="{'is-expanded': expanded}"
            >
                <svg-icon :icon="'ic_messages.svg'" />
                <span class="aside-nav__item__title has-text-weight-bold">
                    {{ trans('profile.chat.widget.messages') }}
                </span>
                <span
                    v-if="newMessagesCount"
                    class="chat-widget__header__count tag is-danger is-rounded tag__count is-flex"
                >{{ newMessagesCount }}</span>
            </div>
            <transition name="fade">
                <chat
                    ref="chat"
                    v-show="expanded"
                    :user="$store.state.user"
                    :is-widget="true"
                />
            </transition>
        </div>
    </transition>
</template>

<script>
    import chat from './chat'

    export default {
        componenets: {
            chat,
        },
        data: () => ({
            ui: {
                show: false,
            },
        }),
        computed: {
            newMessagesCount() {
                return this.$store.state.notifications.filter(item => {
                    return item.type === 'App\\Notifications\\NewMessage';
                }).length
            },
            expanded() {
                return this.$store.state.dialogs.expanded;
            }
        },
        mounted() {
            setTimeout(() => {
                this.ui.show = true;
            }, 1000)
        },
        watch: {
            expanded: {
                handler(val) {
                    if (val) {
                        if (this.$store.state.chat.to) {
                            ////console.log(this.$store.state.chat.to);
                            this.$refs.chat.writeTo(
                                this.$store.state.chat.to,
                                this.$store.state.chat.theme,
                                this.$store.state.chat.message
                            );
                        }
                    }
                }
            }
        }
    }
</script>

<style scoped>
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateY(100%);
    }
</style>
