<template>
    <form @submit.prevent="newDialog">
        <div class="field">
            <label for="new_dialog_theme" class="label label_req">
                {{ trans('profile.chat.dialog.theme') }}
            </label>
            <input
                v-model="formData.theme"
                class="input"
                id="new_dialog_theme"
                :placeholder="trans('profile.chat.dialog.dialog_theme')" required
            />
        </div>
        <div class="field">
            <label for="new_dialog_message" class="label label_req">
                {{ trans('profile.chat.dialog.message') }}
            </label>
            <textarea
                v-model="formData.message"
                class="textarea"
                id="new_dialog_message"
                :placeholder="trans('profile.chat.dialog.message_text')"
                required>
            </textarea>
        </div>
        <div class="field">
            <button type="submit" class="button is-link is-fullwidth has-text-weight-bold">
                {{ trans('profile.chat.dialog.btn_send') }}
            </button>
        </div>
    </form>
</template>

<script>
    export default {
        props: {
            to: {default: null},
            type: {default: null},
        },
        data() {
            return {
                formData: {
                    theme: '',
                    message: '',
                },
            }
        },
        methods: {
            newDialog() {
                this.$writeTo(this.to, this.formData.message, this.formData.theme, this.type)
            },
        }
    }
</script>
