<template>
    <a class="link-with-icon mr-1" @click.prevent="openNewDialogModal('Сообщение', 'message')">
        <img src="/svg/icons/ic_messages.svg">
        <span class="has-text-decoration-underline">{{ title }}</span>
        <portal to="modals">
            <modal v-if="ui.modal.show" @close="ui.modal.show = false">
                <div slot="header">
                    <h3>{{ui.modal.header}}</h3>
                </div>
                <div slot="body">
                    <chat-form
                        :to="to"
                        :type="dialogType"
                    />
                </div>
            </modal>
        </portal>
    </a>
</template>

<script>
    import Modal from '../modals/Modal'
    import ChatForm from './form'

    export default {
        components: {
            Modal,
            ChatForm,
        },
        props: {
            to: {
                default: null
            },
            title: {
                default: trans('account.message')
            }
        },
        data() {
            return {
                ui: {
                    modal: {
                        show: false,
                        header: ''
                    }
                },
                dialogType: null,
            }
        },
        methods: {
            openNewDialogModal(header, type) {
                this.ui.modal.header = header;
                this.ui.modal.show = true;
                this.dialogType = type
            },
        }
    }
</script>
