<template>
    <button class="btn btn-default btn-icon bg-indigo" @click="assign">
        <fa icon="share-square"></fa>
    </button>
</template>

<script>
    export default {
        name: "AssignButton",
        props: ['id', 'router', "target_type", "target_id"],
        methods: {
            assign() {
                this.router.push({
                    name: 'task-assign',
                    params: {
                        id: Number(this.id),
                        target_type: Number(this.target_type),
                        target_id: Number(this.target_id)
                    }
                })
            }
        },
    }
</script>
<style>
    button.bg-indigo {
        background: #9C27B0;
    }
</style>
