<template>
    <div class="action-buttons">
        <edit-button
            v-bind="data"
        ></edit-button>
        <reject-button
            v-if="reject"
            v-bind="data"
        ></reject-button>
        <take-button
            v-if="take"
            v-bind="data"
        ></take-button>
        <assign-button
            v-if="assign"
            v-bind="data"
        >
        </assign-button>
    </div>
</template>

<script>
    import EditButton from "./EditButton";
    import RejectButton from "./RejectButton";
    import TakeButton from "./TakeButton";
    import AssignButton from "./AssignButton";

    export default {
        components: {AssignButton, TakeButton, RejectButton, EditButton},
        props: ['router', 'store', 'rowData'],
        data() {
            return {
                modalCategoryShow: false
            }
        },
        methods: {},
        computed: {
            data() {
                return {
                    router: this.router,
                    ...this.rowData
                }
            },
            status() {
                return this.rowData.status;
            },
            reject() {
                return (this.status != 'В ожидании' && this.status != 'Одобрено' && this.status != 'Отклонено' && this.rowData.from_id != this.store.state.user.id);
            },
            take() {
                console.log(this.rowData.from_id);
                console.log(this.store.state.user);
                return (this.status == 'В ожидании' && this.rowData.from_id != this.store.state.user.id);
            },
            approve() {
                return (this.status != 'В ожидании' || this.status == 'Отклонено');
            },
            assign() {
                return ($userCan('assign-tasks') && this.status != 'В ожидании' && this.status != 'Отклонено' && this.rowData.from_id != this.store.state.user.id);
            }
        }
    }
</script>
<style>
    .action-buttons button {
        display: inline-flex;
        color: #fff;
    }
</style>
