<template>
    <button class="btn btn-default btn-icon bg-primary" @click="editObject">
        <fa icon="edit"></fa>
    </button>
</template>

<script>
    export default {
        name: "EditButton",
        props: ['id', 'router'],
        methods: {
            editObject() {
                this.router.push({name: 'business-edit', params: {id: this.id}})
            }
        },
    }
</script>
