<template>
    <button class="btn btn-default btn-icon bg-danger" @click="modalCategoryShow = !modalCategoryShow">
        <fa icon="calendar-times"></fa>
        <portal to="modals" v-if="modalCategoryActive">
            <div class="modal modal-lg modal-select-category" :class="modalCategoryActive"
                 id="modal-select-categories">
                <div class="modal-background"></div>
                <div class="modal-card modal-card_big">
                    <header class="modal-card-head modal-card-head_bb">
                        <p class="modal-card-title">Опишите причину отказа</p>
                        <button class="delete close-modal"
                                aria-label="close"
                                @click="modalCategoryShow = !modalCategoryShow"></button>
                    </header>
                    <section id="task-assign" class="modal-card-body is-paddingless">
                        <g-g-textarea :size="'is-full'" v-model="message"></g-g-textarea>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-info save is-size-875 has-text-weight-bold"
                                @click="send">
                            Отправить
                        </button>
                        <button class="button clear is-size-875"
                                @click="modalCategoryShow = !modalCategoryShow"
                        ><img
                            src="/svg/icons/ic_close.svg" alt=""
                            class="svg"><span>Отменить</span>
                        </button>
                    </footer>
                </div>
            </div>
        </portal>
    </button>
</template>

<script>

    import GGTextarea from "../Form/GGTextarea";

    export default {
        name: "RejectButton",
        components: {GGTextarea},
        props: ['id'],
        data() {
            return {
                message: '',
                modalCategoryShow: false,
            }
        },
        methods: {
            send(type) {
                axios.post('/marketplace/tasks/reject/' + this.id, {
                    message: this.message
                }).then(
                    responce => {
                        window.$('#objects-table').DataTable().ajax.reload(null, false);
                        this.modalCategoryShow = false;
                    }
                )
            }
        },
        created() {

        },
        computed: {
            modalCategoryActive: function () {
                if (this.modalCategoryShow) {
                    return 'is-active';
                } else {
                    return '';
                }
            }
        },
    }
</script>

<style scoped>
</style>
