<template>
    <button class="btn btn-default btn-icon bg-gg-task" @click="takeTask">
        <fa icon="handshake"></fa>
    </button>
</template>

<script>
    export default {
        name: "TakeButton",
        props: ['id'],
        methods: {
            takeTask() {
                axios.get('/marketplace/tasks/take/' + this.id,).then(
                    responce => {
                        window.$('#objects-table').DataTable().ajax.reload(null, false);
                    }
                )
            }
        },
    }
</script>

<style>
    .bg-gg-task{
        background: #FFA000;
    }
</style>
