<template>
    <article class="box card-object-pa is-paddingless">
        <div
            class="tag is-danger is-rounded card-object-pa__count-notifications"
            v-if="object.docs_count > 0"
        >
            edit{{ object.docs_count }}
        </div>
        <div class="card-object-pa__body p-1-5">
            <div class="columns is-multiline">
                <div class="column is-4">
                    <figure class="card-object-pa__thumb">
                        <img :src="object.card">
                    </figure>
                </div>
                <div class="column is-8">
                    <div class="card-object-pa__header">
                        <h3 class="card-object-pa__title">{{ $t(object.name) }}</h3>
                    </div>
                    <address class="is-size-875 is-flex">
                        <svg-icon :icon="'ic_location.svg'"></svg-icon>
                        <span>{{ object.city.country.translation }}, г. {{ object.city.translation }}</span>
                    </address>
                    <div class="card-object-pa__price is-flex">
                        <div class="price-info">
                            <span class="tag is-danger price-sale" style="margin-top:4px">-{{ object.discount }}%</span>
                            <div :ref="'price' + object.id" class="price">
                                {{ object.price }}
                            </div>
                        </div>
                        <div
                            class="card-object-pa__price__links is-flex"
                            v-if="filter==='active'">
                            <a
                                @click="showModalChangePrice(object)"
                                class="has-text-decoration-underline is-size-875"
                            >{{ trans('profile.objects.manage_price.btn_manage') }}</a>
                            <span class="px-1-5 has-text-basic">|</span>
                            <a
                                @click="setStatusSoldModal('franchise', object.id)"
                                class="has-text-decoration-underline is-size-875"
                            >{{ trans('profile.objects.sold') }}</a>
                        </div>
                    </div>
                    <div class="card-object-pa__progress">
                        <div class="card-object-pa__progress__title is-size-875">Опубликовано {{ object.published_at }} дней назад,
                            <span>{{ $parent.getStatusLabel(object.status) }}</span>
                            <!--<span v-if="object.status===$store.state.status.franchise.NEW">{{ trans('profile.franchises.status_new') }}</span>
                            <span v-if="object.status===$store.state.status.franchise.AWAIT">{{ trans('profile.franchises.status_await') }}</span>
                            <span v-if="object.status===$store.state.status.franchise.MODERATED">{{ trans('profile.franchises.status_moderated') }}</span>
                            <span v-if="object.status===$store.state.status.franchise.DECLINED">{{ trans('profile.franchises.status_declined') }}</span>
                            <span v-if="object.status===$store.state.status.franchise.SOLD">{{ trans('profile.franchises.status_sold') }}</span>-->
                        </div>
                        <div class="card-object-pa__progress__bar" v-if="filter === 'active'">
                            <progress class="progress is-success is-small" max="100" value="60">
                                60%
                            </progress>
                        </div>
                    </div>
                    <div class="card-object-pa__statistics is-flex is-size-875">
                        <div class="card-object-pa__statistics__item is-flex">
                            <svg-icon :icon="'ic_eye.svg'"/>
                            <span>{{ object.show_count }} {{ trans('profile.views') }}</span>
                        </div>
                        <div class="card-object-pa__statistics__item is-flex">
                            <svg-icon :icon="'ic_favorites-2.svg'"/>
                            <span>{{ object.favorites_count }} {{ trans('profile.objects.in_favorites') }}</span>
                        </div>
                        <div class="card-object-pa__statistics__item is-flex">
                            <svg-icon :icon="'ic_document.svg'"/>
                            <span>{{ object.docs_count }} {{ trans('profile.objects.docs') }}</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <button
                            @click="getDocRequest(object.id, object.docs_count)"
                            class="button is-outlined is-danger h-3 has-text-weight-bold is-size-875"
                            v-if="object.doc_request_count">
                            {{object.doc_request_count + ' ' + trans('profile.objects.doc_reqs') }}
                        </button>
                        <button
                            @click="showDocsSection(object.id)"
                            class="button is-outlined is-info h-3 has-text-weight-bold is-size-875"
                        >
                            {{ trans('profile.objects.btn_upload_docs') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-1-5 pb-1 card-object-pa__controls">
            <div class="columns is-multiline is-flex">
                <div class="column is-narrow">
                    <a :href="`/${route}/edit/${object.id}`"
                       class="card-object-pa__link-edit is-size-875 is-flex link-with-icon">
                        <svg-icon :icon="'ic_edit.svg'"/>
                        <span class="has-text-decoration-underline">{{trans('profile.objects.link_edit')}}</span>
                    </a>
                </div>
                <div class="column is-narrow">
                    <a
                        :href="`/${route}/${object.id}`"
                        class="is-flex has-align-items-center link-with-icon"
                        target="_blank">
                        <span class="icon icon-1">
                            <svg-icon :icon="'ic_details.svg'"/>
                        </span>
                        <span class="is-size-875 has-text-decoration-underline">{{trans('profile.objects.stats_table.actions.link_view')}}</span>
                    </a>
                </div>
                <div class="column is-narrow">
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                            <a
                                aria-controls="dropdown-menu4"
                                aria-haspopup="true"
                                class="is-flex has-align-items-center link-with-icon">
                                <span class="icon icon-1 has-text-basic">+</span>
                                <span class="is-size-875 has-text-decoration-underline">{{ trans('profile.objects.stats_table.actions.add') }}</span>
                            </a>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content is-paddingless">
                                <a @click.prevent="showModalAddObject(object.id)"
                                   class="dropdown-item">{{trans('profile.objects.stats_table.actions.new_object')}}</a>
                                <hr class="dropdown-divider is-marginless">
                                <a @click.prevent="showModalAddReview(object.id)"
                                   class="dropdown-item">{{trans('profile.objects.stats_table.actions.review')}}</a>
                                <hr class="dropdown-divider is-marginless">
                                <a @click.prevent="showModalAddNews(object.id)"
                                   class="dropdown-item">{{trans('profile.objects.stats_table.actions.new')}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-object-pa__statistics-full p-1-5">
            <div class="columns is-multiline is-mobile">
                <statistics
                    :count="object.call_count"
                    :head="trans('profile.objects.stats_table.head.calls')"
                    :icon="'ic_phone.svg'"
                />
                <statistics
                    :head="trans('profile.objects.stats_table.head.requests')"
                    :icon="'ic_document.svg'"
                    :count="object.doc_request_count - object.doc_new_request_count"
                    :countTop="object.doc_new_request_count"
                    @click.native="getDocRequest(object.id, object.docs_count)"
                />
                <statistics
                    :count="object.approved_reviews_count"
                    :countTop="object.reviews_count - object.approved_reviews_count"
                    :head="trans('profile.objects.stats_table.head.reviews')"
                    @click.native="getModalData(object.id, 'reviews')"
                />
                <statistics
                    :count="object.approved_objects_count"
                    :countTop="object.objects_count - object.approved_objects_count"
                    :head="trans('profile.objects.stats_table.head.objects')"
                    @click.native="getModalData(object.id, 'objects')"
                />
                <statistics
                    :count="object.approved_news_count"
                    :countTop="object.news_count - object.approved_news_count"
                    :head="trans('profile.objects.stats_table.head.news')"
                    @click.native="getModalData(object.id, 'news')"
                />
            </div>
        </div>
        <div class="card-object-pa__footer p-1-5">
            <div class="card-object-pa__services is-flex">
                <a
                    class="card-object-pa__services__item"
                    href="#"
                    v-tooltip="trans('profile.user_service.docs_translate')">
                    <img src="/svg/icons/services/ic_translate.svg" />
                </a>
                <a
                    href="#"
                    class="card-object-pa__services__item"
                    v-tooltip="'VIP'">
                    <img src="/svg/icons/services/ic_vip.svg" />
                </a>
                <a
                    href="#"
                    class="card-object-pa__services__item"
                    v-tooltip="'Быстрая продажа'">
                    <img src="/svg/icons/services/ic_law.svg" />
                </a>
            </div>
            <div class="buttons mt-1">
                <a
                    @click="this.modals.addService.show = true"
                    class="button is-size-875 is-warning h-3 has-text-weight-bold">
                    <span class="icon">+</span>
                    <span>{{ trans('profile.user_services.add') }}</span>
                </a>
                <a
                    @click.prevent="showDialogModal(object.broker ? trans('profile.chat.dialog_broker') : trans('profile.chat.dialog_support'), 'broker', object.broker, object.id)"
                    class="button is-size-875 is-info h-3 has-text-weight-bold"
                    v-if="object.sell_with_broker"
                >
                    {{ object.broker ? trans('profile.chat.dialog_broker') : trans('profile.chat.dialog_support') }}
                </a>
                <a
                    @click="showModalSellWithBroker(object.id)"
                    class="button is-size-875 is-info h-3 has-text-weight-bold"
                    v-if="!object.sell_with_broker"
                >
                    {{ trans('profile.objects.btn_sell_with_broker') }}
                </a>
            </div>
        </div>

        <div :class="{'hidden': ui.selectedDoc!==object.id}" :id="`docs-section-${object.id}`">
            <section class="is-paddingless">
                <div class="notification is-borderless is-warning">
                    <div class="notification__icon">
                        <svg-icon :icon="'notification/ic_warning_warning.svg'"/>
                    </div>
                    <div class="notification__content-wrap">
                        <div class="is-flex-tablet has-align-items-center">
                            <h5 class="notification__title has-text-weight-bold is-marginless">
                                Внимание
                            </h5>
                        </div>
                        <div class="notification__content content is-size-875">Загруженные документы сначала проходят
                            проверку. Только после одобрения нашими модераторами вы можете применить к ним услугу
                            "Перевод документов"
                        </div>
                    </div>
                </div>
            </section>
            <section class="is-paddingless">
                <div class="p-1-5">
                    <h3 class="mb-1">Список необходимых документов</h3>
                    <ol class="trips-list-required-documents ml-1 is-size-875 mb-1">
                        <li>
                            <span>Чек об оплате услуг вашим предприятием</span>
                            <span class="has-text-success has-text-weight-bold">Загружено</span>
                        </li>
                        <li>
                            <span>Уникальный договор на обслуживание</span>
                            <span class="has-text-success has-text-weight-bold">Загружено</span>
                        </li>
                        <li>
                            <span>Регистрация предприятия</span>
                            <span class="has-text-success has-text-weight-bold">Загружено</span>
                        </li>
                        <li><span>Договор купли и продажи</span></li>
                    </ol>
                </div>
                <div class="px-0 pb-0">
                    <div align="center">
                        <button
                            @click="setFranchiseId(object.id, object)"
                            class="button is-outlined is-info h-3 has-text-weight-bold is-size-875"
                        >
                            {{ trans('profile.objects.btn_upload_doc') }}
                        </button>
                        <br/>
                        <br/>
                    </div>
                    <table class="table is-fullwidth is-size-875" v-if="object.docs.length > 0">
                        <thead class="is-hidden-mobile">
                        <tr>
                            <th>№</th>
                            <th>{{trans('profile.franchises.documents.document_name')}}</th>
                            <th>{{trans('profile.franchises.documents.document_created_at')}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="is-block-mobile">
                        <tr class="is-block-mobile" v-for="(doc, docIndex) in object.docs">
                            <td class="has-text-basic is-hidden-mobile">{{ docIndex + 1 }}</td>
                            <td class="has-text-weight-bold is-block-mobile">
                                {{ doc.name }}
                            </td>
                            <td class="has-text-basic is-block-mobile py-0-mobile">{{$getDateTime(doc.created_at,
                                true)}}
                            </td>
                            <td class="is-block-mobile">
                                <a class="link-with-icon">
                                    <img src="/svg/icons/ic_close.svg">
                                    <span
                                        @click.stop="modals.removeDocument.data = {object, docIndex}; modals.removeDocument.show=true;"
                                        class="has-text-decoration-underline">{{ trans('profile.franchises.documents.remove') }}</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

        <!-- Modals -->

        <modal-change-price
            :discount="modals.changePrice.discount"
            :id="modals.changePrice.id"
            :price="modals.changePrice.price"
            :route="route"
            :show="modals.changePrice.show"
            @close="changePrice"
        />
        <modal-upload-document
            :objectId="franchise.id"
            :show="ui.showModalUploadDocument"
            @close="addNewDoc"
        />
        <modal
            @close="modals.removeDocument.show = false"
            class="prompt-modal"
            v-if="modals.removeDocument.show">
            <div slot="header">
                <p class="modal-card-title mb-0">{{ trans('profile.franchises.documents.are_you_sure_to_remove') }}</p>
            </div>
            <div slot="body">
                <div class="columns is-multiline" v-if="!modals.removeDocument.loading">
                    <div class="column is-6">
                        <div @click="removeDoc"
                             class="button h-3 is-size-875 is-info has-text-weight-bold is-fullwidth">
                            {{ trans('profile.franchises.documents.yes') }}
                        </div>
                    </div>
                    <div class="column is-6">
                        <div @click="modals.removeDocument.show = false"
                             class="button h-3 is-size-875 is-danger is-outlined has-text-weight-bold is-fullwidth">{{
                            trans('profile.franchises.documents.no') }}
                        </div>
                    </div>
                </div>
                <preloader v-if="modals.removeDocument.loading"/>
            </div>
        </modal>
        <modal-info
            :data="modals.reviewInfo.data"
            :editItem="editElement"
            :franchiseId="modals.reviewInfo.franchiseId"
            :show="modals.reviewInfo.show"
            :type="modals.reviewInfo.type"
            @close="modals.reviewInfo.show = false"
        />
        <modal-dialog
            :captions="modals.dialog.captions"
            :id="modals.dialog.id"
            :show="modals.dialog.show"
            :title="modals.dialog.title"
            :to="modals.dialog.to"
            :type="modals.dialog.type"
            @close="modals.dialog.show = false"
        />
        <modal-add-service
            :show="modals.addService.show"
            @close="modals.addService.show = false"
            @showZoneDocs="modals.zoneDocs.show = true"
        />
        <modal-add-news
            :form="modal.form"
            :id="modal.id"
            :label="modal.label"
            :show="ui.showModalAddNews"
            @close="ui.showModalAddNews = false"
        />
        <modal-add-review
            :form="modal.form"
            :id="modal.id"
            :label="modal.label"
            :show="ui.showModalAddReview"
            @close="ui.showModalAddReview = false"
        />
        <modal-add-object
            :form="modal.form"
            :id="modal.id"
            :label="modal.label"
            :show="ui.showModalAddObject"
            @close="ui.showModalAddObject = false"
        />
        <modal-sell-with-broker
            :franchiseId="modals.sellWithBroker.franchiseId"
            :show="modals.sellWithBroker.show"
            @close="modals.sellWithBroker.show = false"
        />
        <modal-request-object
            :data="modals.requestObject.data"
            :franchiseId="modals.requestObject.franchiseId"
            :show="modals.requestObject.show"
            :type="modals.requestObject.type"
            @close="modals.requestObject.show = false"
        />

    </article>
</template>

<script>
    import Modal from '../../modals/Modal';
    import ModalChangePrice from '../../modals/ModalChangePrice';
    import ModalDialog from '../../modals/ModalDialog';
    import ModalSellWithBroker from '../../modals/ModalSellWithBroker';
    import ModalUploadDocument from './modals/UploadDocument';
    import ModalInfo from './modals/Info'
    import ModalAddService from '../../modals/AddService'
    import ModalAddNews from './modals/AddNews'
    import ModalAddObject from './modals/AddObject'
    import ModalAddReview from './modals/AddReview'
    import ModalControlReviews from './modals/ControlReviews'
    import ModalRequestObject from './modals/RequestObject';
    import statistics from '../views/statistics';

    export default {
        components: {
            Modal,
            ModalUploadDocument,
            ModalChangePrice,
            ModalInfo,
            ModalDialog,
            ModalAddService,
            ModalAddNews,
            ModalAddObject,
            ModalAddReview,
            ModalControlReviews,
            ModalSellWithBroker,
            statistics,
            ModalRequestObject
        },
        props: {
            object: {default: null},
            filter: {default: 'active'},
            route: {default: 'franchise'},
        },
        data: () => ({
            ui: {
                showModalUploadDocument: false,
                selectedDoc: null,
                showRequestDocs: false,
                showModalAddNews: false,
                showModalAddReview: false,
                showModalAddObject: false,
            },
            modal: {
                id: null,
            },
            modals: {
                dialog: {
                    show: false,
                    type: null,
                    title: null,
                    objectId: null,
                    captions: {
                        theme: trans('profile.chat.dialog.theme'),
                        message: trans('profile.chat.dialog.message_text'),
                        send: trans('profile.chat.dialog.btn_send'),
                    }
                },
                removeDocument: {
                    show: false,
                    loading: false,
                    data: null,
                },
                changePrice: {
                    show: false,
                    id: null,
                    price: null,
                    discount: null,
                },
                reviewInfo: {
                    show: false,
                    data: []
                },
                sellWithBroker: {
                    show: false,
                    franchiseId: null,
                },
                addService: {
                    show: false,
                },
                zoneDocs: {
                    show: false,
                },
                requestObject: {
                    show: false,
                    data: []
                },
            },
            franchise: {
                id: null,
                object: null,
            },
        }),
        methods: {
            setFranchiseId(id, object) {
                this.franchise.id = id;
                this.franchise.object = object;
                this.ui.showModalUploadDocument = true;
            },
            addNewDoc(doc) {
                if (doc !== null) {
                    this.franchise.object.docs.push(doc);
                }
                this.ui.showModalUploadDocument = false
            },
            changePrice() {
                this.modals.changePrice.show = false;
                this.$parent.getData();
            },
            removeDoc() {
                this.modals.removeDocument.loading = true;
                let doc_id = this.modals.removeDocument.data.object.docs[this.modals.removeDocument.data.docIndex].id;
                let franchise_id = this.modals.removeDocument.data.object.id;
                axios
                    .post('/profile/api/remove-franchise-document/' + franchise_id, {
                        id: doc_id
                    })
                    .then(res => {
                        this.modals.removeDocument.loading = false;
                        this.modals.removeDocument.show = false;
                        this.$swal({
                            type: 'success',
                            text: res.data.message
                        });
                        this.modals.removeDocument.data.object.docs.splice(this.modals.removeDocument.data.docIndex, 1);
                    })
                    .catch(e => {
                        this.$swal({
                            type: 'error',
                            title: e.response.status,
                            text: e.response.data.message
                        });
                    })
            },
            editElement(type, id, franchiseId) {
                axios
                    .get(`/profile/${type}-item-details/${id}`)
                    .then(res => {
                        this.modals.reviewInfo.show = false;
                        this.modal.form = res.data.formData;
                        this.modal.label = trans(res.data.label);
                        //console.log(franchiseId);
                        this[res.data.methodName](franchiseId);
                    })
            },
            // TODO Пока плюсую только запросы на просмотр и документацию.
            getObjectNotificationCount(object) {
                return this.getDocRequestCount(object) + this.getViewRequestCount(object)
            },
            getDocRequestCount(object) {
                if (object.docRequest !== undefined) {
                    return object.docRequest.length;
                }
            },
            getViewRequestCount(object) {
                if (object.viewRequest !== undefined) {
                    return object.viewRequest.length;
                }
            },
            getObjectProgessBarClass(status) {
                if (status === this.$store.state.status.franchise.AWAIT)
                    return 'is-warning';
                else if (status === this.$store.state.status.franchise.SOLD)
                    return 'is-danger';
                else
                    return 'is-success';
            },
            /*updateObjects() {
                this.objects = this.objects.slice();
            },*/

            // Modals
            getModalData(id, type) {
                axios
                    .get(`/profile/get-franchise-${type}/${id}`)
                    .then(res => {
                        if (res.data.items.length) {
                            this.modals.reviewInfo.data = res.data;
                            this.modals.reviewInfo.show = true;
                            this.modals.reviewInfo.type = type;
                            this.modals.reviewInfo.franchiseId = id;
                        }
                    })
                    .catch(e => {
                        this.$swal({
                            type: 'error',
                            title: e.response.status,
                            text: e.response.data.message
                        });
                    })
            },
            showDocsSection(id) {
                this.ui.selectedDoc = id;
                // скроллинг к блоку документов объекта
                setTimeout(function () {
                    VueScrollTo.scrollTo('#docs-section-' + id, 1000, {
                        easing: 'ease',
                    });
                }, 500);
            },
            showModalChangePrice(object) {
                this.modals.changePrice.id = object.id;
                this.modals.changePrice.price = object.rawPrice;
                this.modals.changePrice.discount = object.discount;
                this.modals.changePrice.show = true;
            },
            showDialogModal(title, type, broker, franchiseId) {
                this.modals.dialog.show = true;
                this.modals.dialog.type = type;
                this.modals.dialog.title = title;
                this.modals.dialog.objectId = franchiseId;
                if (broker !== null) {
                    this.modals.dialog.to = broker.id;
                }
            },
            showRequestDocsModal() {
                this.ui.showRequestDocs = true;
            },
            showModalAddNews(id) {
                this.modal.id = id;
                this.ui.showModalAddNews = true;
            },
            showModalAddReview(id) {
                this.modal.id = id;
                this.ui.showModalAddReview = true;
            },
            showModalAddObject(id) {
                this.modal.id = id;
                this.ui.showModalAddObject = true;
            },
            showModalSellWithBroker(id) {
                this.modals.sellWithBroker.franchiseId = id;
                this.modals.sellWithBroker.show = true;
            },
            setStatusSoldModal(type, id) {
                this.modals.requestSold.show = true;
                this.modals.requestSold.objectType = type;
                this.modals.requestSold.objectId = id;
            },
            getDocRequest(id, docs_count) {
                let requestType = 'doc';
                this.modals.requestObject.show = true;
                this.modals.requestObject.type = requestType;
                this.modals.requestObject.franchiseId = id;
                this.modals.requestObject.docs_count = docs_count;

            },
        },
    }
</script>
