<template>
    <div>
        <section class="section pt-1 pb-0 px-0">
            <h1 class="section-title mb-1-75">{{ trans('profile.franchises.title') }}</h1>
            <div class="buttons has-addons">
                <label
                    :class="{'is-active': filter === 'active'}"
                    class="button is-outlined is-info is-size-875 has-text-weight-bold h-3"
                >
                    {{ trans('profile.active') }}
                    <input style="display: none" type="radio" v-model="filter" value="active">
                </label>
                <label
                    :class="{'is-active': filter === 'moderate'}"
                    class="button is-outlined is-info is-size-875 has-text-weight-bold h-3">
                    {{ trans('profile.moderate')}}
                    <input style="display: none" type="radio" v-model="filter" value="moderate">
                </label>
                <label
                    :class="{'is-active': filter === 'sold'}"
                    class="button is-outlined is-info is-size-875 has-text-weight-bold h-3">
                    {{trans('profile.sold')}}
                    <input style="display: none" type="radio" v-model="filter" value="sold">
                </label>
            </div>

            <div class="columns is-multiline mb-2">
                <div class="column is-12">
                    <card
                        :filter="filter"
                        :key="object.id"
                        :object="object"
                        v-for="object in objectsMapped"
                    />
                </div>
            </div>
        </section>

        <!-- Modals -->

        <modal
            @close="modals.requestSold.show = false"
            class="prompt-modal"
            v-if="modals.requestSold.show">
            <div slot="header">
                <p class="modal-card-title mb-0">Подтвердите действие: "Объект продан"</p>
            </div>
            <div slot="body">
                <div class="columns is-multiline" v-if="!modals.requestSold.loading">
                    <div class="column is-6">
                        <div @click="setStatusSold(modals.requestSold.objectType, modals.requestSold.objectId)"
                             class="button h-3 is-size-875 is-info has-text-weight-bold is-fullwidth">
                            Да
                        </div>
                    </div>
                    <div class="column is-6">
                        <div @click="modals.requestSold.show = false"
                             class="button h-3 is-size-875 is-danger is-outlined has-text-weight-bold is-fullwidth">
                            Отмена
                        </div>
                    </div>
                </div>
                <preloader v-if="modals.requestSold.loading"/>
            </div>
        </modal>
        <modal
            @close="ui.showRequestDocs = false"
            v-if="ui.showRequestDocs"
            width="55rem">
            <div slot="header">
                <p class="modal-card-title mb-0">
                    {{ trans('profile.objects.request_docs') }}
                </p>
            </div>
            <div slot="body">
                <object-requests-table
                    :request_list="doc_requests"
                    :type="'doc'"
                    @close="ui.showDocumentsModal=false"
                />
            </div>
        </modal>
        <modal
            @close="modals.applicationAccepted.show = false"
            v-if="modals.applicationAccepted.show">
            <div slot="header">
                <p class="modal-card-title mb-0">{{ trans('profile.chat.application_accepted.title') }}</p>
            </div>
            <div slot="body">
                <p class="modal-card-body">{{ trans('profile.chat.application_accepted.text') }}</p>
            </div>
        </modal>
    </div>
</template>

<script>
    import Card from './Card';
    import FilesUpload from '../../FilesUpload';
    import ObjectRequestsTable from '../objects/object-requests-table';
    import preloader from '../../preloader'

    import Modal from '../../modals/Modal';

    import Vue from 'vue';
    import VueScrollTo from 'vue-scrollto';

    Vue.use(VueScrollTo);

    export default {
        components: {
            Card,
            Modal,
            FilesUpload,
            ObjectRequestsTable,
            preloader,
        },
        data: () => ({
            filter: 'active',
            ui: {
                showModalControlReviews: false,
            },
            priceRef: null,
            objects: [],
            firstLoad: true,
            modals: {
                applicationAccepted: {
                    show: false,
                },
                requestSold: {
                    objectId: null,
                    objectType: null,
                    show: false,
                    loading: false,
                },
            },
            statusLabels: {},
        }),
        mounted() {
            this.getData();
            this.statusLabels[this.$store.state.status.franchise.NEW] = trans('profile.statuses.new');
            this.statusLabels[this.$store.state.status.franchise.AWAIT] = trans('profile.statuses.await');
            this.statusLabels[this.$store.state.status.franchise.MODERATED] = trans('profile.statuses.moderated');
            this.statusLabels[this.$store.state.status.franchise.DECLINED] = trans('profile.statuses.declined');
            this.statusLabels[this.$store.state.status.franchise.SOLD] = trans('profile.statuses.sold');
            /*this.$on('dialog-modal-close', function () {
                if (!this.modals.dialog.to) {
                    this.modals.applicationAccepted.show = true;
                }
            });*/
        },
        computed: {
            objectsMapped() {
                return this.objects.filter(item => {
                    if (this.filter === 'new') {
                        return item.status === this.$store.state.status.franchise.NEW;
                    } else if (this.filter === 'moderate') {
                        return item.status === this.$store.state.status.franchise.AWAIT;
                    } else if (this.filter === 'active') {
                        return item.status === this.$store.state.status.franchise.MODERATED;
                    } else if (this.filter === 'sold') {
                        return item.status === this.$store.state.status.franchise.SOLD;
                    } else {
                        return false;
                    }
                }).map(item => {
                    if (item.ui === undefined) {
                        item.ui = {
                            showStat: true,
                            showServices: false
                        };
                    }
                    item.rawPrice = item.discountPrice;
                    item.price = this.$formatPrice(item.discountPrice);
                    if (
                        !!item.city !== false
                        && !!item.city.translation !== false
                    ) {
                        item.city.translation = this.$t(item.city.translation);
                    }
                    if (
                        !!item.city !== false
                        && !!item.city.country !== false
                        && !!item.city.country.translation !== false
                    ) {
                        item.city.country.translation = this.$t(item.city.country.translation);
                    }
                    return item;
                });
            },
        },
        methods: {
            getData() {
                axios
                    .get('/profile/get-franchises')
                    .then(res => {
                        this.firstLoad = false;
                        this.objects = res.data;
                    })
                    .catch(e => {
                        this.$swal({
                            type: 'error',
                            title: e.response.status,
                            text: e.response.data.message
                        });
                    })
            },
            getStatusLabel(status) {
                return this.statusLabels[status];
            },
            /*setStatus(id, status) {
                axios
                    .patch(`/profile/view-request/${id}/${status}`)
                    .then(res => {
                        this.$swal({type: 'success', text: res.data.message});
                        this.getData();
                    }).catch(e => {
                    this.$swal({
                        type: 'error',
                        title: e.response.status,
                        text: e.response.data.message
                    });
                })
            },*/
            setStatusSold(type, id, status = this.$store.state.status.franchise.SOLD) {
                this.modals.requestSold.loading = true;
                axios
                    .patch(`/profile/api/object/${type}/${id}/status/${status}`)
                    .then(res => {
                        this.modals.requestSold.loading = false;
                        this.modals.requestSold.show = false;
                        this.$swal({
                            type: 'success',
                            text: res.data.message
                        });
                        this.getData()
                    }).catch(e => {
                    this.$swal({
                        type: 'error',
                        title: e.response.status,
                        text: e.response.data.message
                    });
                });
            },
        }
    }
</script>
