<template>
    <div>
        <section class="section pt-1 pb-0 px-0">
            <h1 class="section-title mb-1-75">{{trans('profile.franchises.title')}} (Продавец)</h1>
            <div class="buttons has-addons">
                <label :class="{'is-active': filter === 'active'}"
                       class="button is-outlined is-info is-size-875 has-text-weight-bold h-3">
                    {{trans('profile.active')}}
                    <input type="radio" v-model="filter" value="active" style="display: none">
                </label>
                <label :class="{'is-active': filter === 'sold'}"
                       class="button is-outlined is-info is-size-875 has-text-weight-bold h-3">
                    {{trans('profile.sold')}}
                    <input type="radio" v-model="filter" value="sold" style="display: none">
                </label>
            </div>
            <div class="columns is-multiline mb-2">
                <div class="column is-12">
                    <!-- Example Layout card service -->
                    <article class="box card-object-pa is-paddingless" v-for="object in objectsMapped" :key="object.id">
                        <div class="tag is-danger is-rounded card-object-pa__count-notifications">10</div>
                        <div class="card-object-pa__body p-1-5">
                            <div class="columns is-multiline">
                                <div class="column is-4">
                                    <figure class="card-object-pa__thumb">
                                        <img
                                            src="http://laudator.ru/wp-content/uploads/2013/08/magazin-odezhdyi.jpg"
                                            alt="">
                                    </figure>
                                </div>
                                <div class="column is-8">
                                    <div class="card-object-pa__header">
                                        <h3 class="card-object-pa__title">{{$t(object.name)}}</h3>
                                    </div>
                                    <address class="is-size-875 is-flex">
                                        <svg-icon :icon="'ic_location.svg'"></svg-icon>
                                        <span>{{$t(object.city.country.translation)}}, г. {{$t(object.city.translation)}}</span>
                                    </address>
                                    <div class="card-object-pa__price is-flex">
                                        <div class="price-info">
                                            <div class="price">{{$formatPrice(object.price)}}</div>
                                        </div>
                                        <div class="card-object-pa__price__links is-flex">
                                            <a href="#" class="has-text-decoration-underline is-size-875">
                                                {{trans('profile.objects.manage_price.btn_lower_price')}}
                                            </a>
                                            <span class="px-1-5 has-text-basic">|</span>
                                            <a @click="setStatusSoldModal()"
                                               class="has-text-decoration-underline is-size-875">{{trans('profile.objects.sold')}}</a>
                                            <!-- В setStatusSoldModal передать type и id объекта -->
                                        </div>
                                    </div>
                                    <div class="card-object-pa__progress">
                                        <div class="card-object-pa__progress__title is-size-875">Опубликовано 5
                                            дней назад
                                        </div>
                                        <div class="card-object-pa__progress__bar">
                                            <progress class="progress is-success is-small" value="60" max="100">
                                                60%
                                            </progress>
                                        </div>
                                    </div>
                                    <div class="card-object-pa__statistics is-flex is-size-875">
                                        <div class="card-object-pa__statistics__item is-flex">
                                            <svg-icon :icon="'ic_eye.svg'"></svg-icon>
                                            <span>{{object.show_count}} {{trans('profile.views')}}</span>
                                        </div>
                                        <div class="card-object-pa__statistics__item is-flex">
                                            <svg-icon :icon="'ic_favorites-2.svg'"></svg-icon>
                                            <span>15 {{trans('profile.objects.in_favorites')}}</span>
                                        </div>
                                        <div class="card-object-pa__statistics__item is-flex">
                                            <svg-icon :icon="'ic_document.svg'"></svg-icon>
                                            <span>3 {{trans('profile.objects.docs')}}</span>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <button
                                            class="button is-outlined is-danger h-3 has-text-weight-bold is-size-875"
                                            @click="showRequestDocsModal()">
                                            {{object.doc_request_count}} {{trans('profile.objects.doc_reqs')}}
                                        </button>
                                        <button class="button is-outlined is-info h-3 has-text-weight-bold is-size-875"
                                                @click="ui.showSectionDocs = !ui.showSectionDocs">
                                            <!--ToDo: сделать открытие блока документов текущего объекта -->
                                            {{trans('profile.objects.btn_upload_docs')}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-1-5 pb-1 card-object-pa__controls">
                            <div class="columns is-multiline is-flex">
                                <div class="column is-narrow">
                                    <a href="#"
                                       class="card-object-pa__link-edit is-size-875 is-flex link-with-icon">
                                        <svg-icon :icon="'ic_edit.svg'"></svg-icon>
                                        <span class="has-text-decoration-underline">{{trans('profile.objects.link_edit')}}</span>
                                    </a>
                                </div>
                                <div class="column is-narrow">
                                    <a href="#" class="is-flex has-align-items-center link-with-icon">
                                                <span class="icon icon-1">
                                                    <svg-icon :icon="'ic_details.svg'"></svg-icon>
                                                </span>
                                        <span
                                            class="is-size-875 has-text-decoration-underline">{{trans('profile.objects.stats_table.actions.link_view')}}</span>
                                    </a>
                                </div>
                                <div class="column is-narrow">

                                    <div class="dropdown is-hoverable">
                                        <div class="dropdown-trigger">
                                            <a class="is-flex has-align-items-center link-with-icon"
                                               aria-haspopup="true"
                                               aria-controls="dropdown-menu4">

                                                            <span class="icon icon-1 has-text-basic">
                                                                 +
                                                            </span>
                                                <span
                                                    class="is-size-875 has-text-decoration-underline">{{trans('profile.objects.stats_table.actions.add')}}</span>
                                            </a>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                            <div class="dropdown-content is-paddingless">
                                                <a class="dropdown-item"
                                                   @click="showModalAddObject()">{{trans('profile.objects.stats_table.actions.new_object')}}</a>
                                                <hr class="dropdown-divider is-marginless">
                                                <a class="dropdown-item"
                                                   @click="showModalAddReview()">{{trans('profile.objects.stats_table.actions.review')}}</a>
                                                <hr class="dropdown-divider is-marginless">
                                                <a class="dropdown-item"
                                                   @click="showModalAddNews()">{{trans('profile.objects.stats_table.actions.new')}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-object-pa__statistics-full p-1-5">
                            <div class="columns is-multiline is-mobile">
                                <div class="column is-2-tablet is-6-mobile">
                                    <div class="is-size-875 has-text-basic">
                                        <div>{{trans('profile.objects.stats_table.head.calls')}}</div>
                                        <div class="is-flex has-align-items-center">
                                                    <span class="icon icon-1 mr-0-5">
                                                         <svg-icon :icon="'ic_phone.svg'"></svg-icon>
                                                    </span>
                                            <span class="has-text-weight-bold">{{object.call_count}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-2-tablet is-6-mobile">
                                    <div class="is-size-875 has-text-basic">
                                        <div>{{trans('profile.objects.stats_table.head.requests')}}</div>
                                        <div class="is-flex has-align-items-center">
                                                    <span class="icon icon-1 mr-0-5">
                                                         <svg-icon :icon="'ic_document.svg'"></svg-icon>
                                                    </span>
                                            <span class="has-text-weight-bold">{{object.view_request_count}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-2-tablet is-6-mobile">
                                    <div class="is-size-875 has-text-basic">
                                        <div>{{trans('profile.objects.stats_table.head.messages')}}</div>
                                        <div class="is-flex has-align-items-center">
                                                    <span class="icon icon-1 mr-0-5">
                                                         <svg-icon :icon="'ic_messages.svg'"></svg-icon>
                                                    </span>
                                            <span class="has-text-weight-bold">290</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-2-tablet is-6-mobile">
                                    <a @click="ui.showModalControlReviews = true"
                                       class="is-size-875 has-text-basic">
                                        <div>{{trans('profile.objects.stats_table.head.reviews')}}<span
                                            class="tag is-light is-rounded has-text-weight-bold">3</span>
                                        </div>
                                        <div class="is-flex has-align-items-center">
                                            <span class="has-text-weight-bold">10</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="column is-2-tablet is-6-mobile">
                                    <div class="is-size-875 has-text-basic">
                                        <div>{{trans('profile.objects.stats_table.head.objects')}}</div>
                                        <div class="is-flex has-align-items-center">
                                            <span class="has-text-weight-bold">10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-2-tablet is-6-mobile">
                                    <div class="is-size-875 has-text-basic">
                                        <div>{{trans('profile.objects.stats_table.head.news')}}</div>
                                        <div class="is-flex has-align-items-center">
                                            <span class="has-text-weight-bold">10</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-object-pa__footer p-1-5">
                            <div class="card-object-pa__services is-flex">
                                <a
                                    class="card-object-pa__services__item"
                                    href="#"
                                    v-tooltip="trans('profile.user_service.docs_translate')">
                                    <img src="/svg/icons/services/ic_translate.svg">
                                </a>
                                <a href="#" class="card-object-pa__services__item" v-tooltip="'VIP'">
                                    <img src="/svg/icons/services/ic_vip.svg" alt="">
                                </a>
                                <a href="#" class="card-object-pa__services__item"
                                   v-tooltip="'Быстрая продажа'">
                                    <img src="/svg/icons/services/ic_law.svg" alt="">
                                </a>
                            </div>
                            <div class="buttons mt-1">
                                <a class="button is-size-875 is-warning h-3 has-text-weight-bold"
                                   @click="showModalAddService()">
                                    <span class="icon">+</span>
                                    <span>{{trans('profile.user_services.add')}}</span>
                                </a>
                                <a class="button is-size-875 is-info h-3 has-text-weight-bold">
                                    {{trans('profile.objects.btn_sell_with_broker')}}
                                </a>
                            </div>
                        </div>
                        <div v-show="ui.showSectionDocs">
                            <section class="is-paddingless">
                                <div class="notification is-borderless is-warning">
                                    <div class="notification__icon">
                                        <svg-icon :icon="'notification/ic_warning_warning.svg'"></svg-icon>
                                    </div>
                                    <div class="notification__content-wrap">
                                        <div class="is-flex-tablet has-align-items-center">
                                            <h5 class="notification__title has-text-weight-bold is-marginless">
                                                Внимание
                                            </h5>
                                        </div>
                                        <div class="notification__content content is-size-875">
                                            Загруженные документы сначала проходят проверку. Только после одобрения
                                            нашими
                                            модераторами вы можете применить к ним услугу "Перевод документов"
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="is-paddingless">
                                <div class="p-1-5">
                                    <h3 class="mb-1">Список необходимых документов</h3>
                                    <ol class="trips-list-required-documents ml-1 is-size-875 mb-1">
                                        <li><span>Чек об оплате услуг вашим предприятием</span><span
                                            class="has-text-success has-text-weight-bold">Загружено</span></li>
                                        <li><span>Уникальный договор на обслуживание</span><span
                                            class="has-text-success has-text-weight-bold">Загружено</span>
                                        </li>
                                        <li><span>Регистрация предприятия</span><span
                                            class="has-text-success has-text-weight-bold">Загружено</span></li>
                                        <li><span>Договор купли и продажи</span></li>
                                    </ol>
                                </div>
                                <div class="px-0 pb-0">
                                    <FilesUpload class="px-1-5"></FilesUpload>
                                    <table class="table is-fullwidth is-size-875">
                                        <thead class="is-hidden-mobile">
                                        <tr>
                                            <th>№</th>
                                            <th>Название документа</th>
                                            <th>Дата</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody class="is-block-mobile">
                                        <tr class="is-block-mobile">
                                            <td class="has-text-basic is-hidden-mobile">1</td>
                                            <td class="has-text-weight-bold is-block-mobile">
                                                Чек об оплате услугу нашим предприятием.jpg
                                            </td>
                                            <td class="has-text-basic is-block-mobile py-0-mobile">12 марта 2019</td>
                                            <td class="is-block-mobile">
                                                <a href="#" class="link-with-icon">
                                                    <img src="/svg/icons/ic_close.svg">
                                                    <span class="has-text-decoration-underline">Удалить</span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </section>
                        </div>
                    </article>

                </div>
            </div>
        </section>

        <section class="section pt-1 pb-0 px-0">
            <h1 class="section-title mb-1-75">{{trans('profile.franchises.title')}} (покупатель)</h1>
            <div class="buttons has-addons">
                <label :class="{'is-active': filter === 'active'}"
                       class="button is-outlined is-info is-size-875 has-text-weight-bold h-3">
                    {{trans('profile.active')}}
                    <input type="radio" v-model="filter" value="active" style="display: none">
                </label>
                <label :class="{'is-active': filter === 'sold'}"
                       class="button is-outlined is-info is-size-875 has-text-weight-bold h-3">
                    {{trans('profile.sold')}}
                    <input type="radio" v-model="filter" value="sold" style="display: none">
                </label>
            </div>
            <div class="columns is-multiline mb-2">
                <div class="column is-12">
                    <!-- Example Layout card service -->
                    <article class="box card-object-pa is-paddingless">
                        <div class="card-object-pa__body p-1-5">
                            <div class="columns is-multiline">
                                <div class="column is-4">
                                    <figure class="card-object-pa__thumb">
                                        <img
                                            src="http://laudator.ru/wp-content/uploads/2013/08/magazin-odezhdyi.jpg"
                                            alt="">
                                    </figure>
                                </div>
                                <div class="column is-8">
                                    <div class="card-object-pa__header">
                                        <h3 class="card-object-pa__title">
                                            Мини-отель в собственность с видом
                                            на Невский проспект</h3>
                                    </div>
                                    <address class="is-size-875 is-flex">
                                        <svg-icon :icon="'ic_location.svg'"></svg-icon>
                                        <span>Россия, г. Ростов-на-Дону</span>
                                    </address>
                                    <div class="card-object-pa__price is-flex">
                                        <div class="price-info">
                                            <div class="price">$2 000 560</div>
                                        </div>
                                    </div>
                                    <div class="card-object-pa__progress">
                                        <div class="card-object-pa__progress__title is-size-875">Опубликовано 5
                                            дней назад
                                        </div>
                                        <div class="card-object-pa__progress__bar">
                                            <progress class="progress is-success is-small" value="60" max="100">
                                                60%
                                            </progress>
                                        </div>
                                    </div>
                                    <div class="card-object-pa__statistics is-flex is-size-875">
                                        <div class="card-object-pa__statistics__item is-flex">
                                            <svg-icon :icon="'ic_eye.svg'"></svg-icon>
                                            <span>289 {{trans('profile.views')}}</span>
                                        </div>
                                        <div class="card-object-pa__statistics__item is-flex">
                                            <svg-icon :icon="'ic_favorites-2.svg'"></svg-icon>
                                            <span>15 {{trans('profile.objects.in_favorites')}}</span>
                                        </div>
                                        <div class="card-object-pa__statistics__item is-flex is-ok">
                                            <svg-icon :icon="'ic_document.svg'"></svg-icon>
                                            <span>3 {{trans('profile.objects.docs')}}</span>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <button
                                            class="button is-outlined is-success h-3 has-text-weight-bold is-size-875 px-1">
                                            {{trans('profile.objects.stats_table.actions.answerRequestDocumentation')}}
                                        </button>
                                        <a href="#" class="button is-success h-3 has-text-weight-bold is-size-875 px-1">
                                            <span class="icon">
                                                 <svg-icon :icon="'ic_ask_question.svg'"></svg-icon>
                                            </span>
                                            <span> {{trans('profile.objects.stats_table.actions.writeToChat')}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-1-5 pb-1 card-object-pa__controls">
                            <div class="columns is-multiline is-flex">
                                <div class="column is-narrow">
                                    <a href="#" class="is-flex has-align-items-center link-with-icon">
                                                <span class="icon icon-1">
                                                    <svg-icon :icon="'ic_details.svg'"></svg-icon>
                                                </span>
                                        <span
                                            class="is-size-875 has-text-decoration-underline">{{trans('profile.objects.stats_table.actions.link_view')}}</span>
                                    </a>
                                </div>
                                <div class="column is-narrow">
                                    <a href="#"
                                       class="card-object-pa__link-edit is-size-875 is-flex link-with-icon">
                                        <svg-icon :icon="'ic_document.svg'"></svg-icon>
                                        <span class="has-text-decoration-underline">{{trans('profile.objects.stats_table.head.documents')}}</span>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="card-object-pa__footer p-1-5">
                            <div class="card-object-pa__services is-flex">
                                <a href="#" class="card-object-pa__services__item"
                                   v-tooltip="trans('profile.user_service.docs_translate')">
                                    <img src="/svg/icons/services/ic_translate.svg" alt="">
                                </a>
                                <a href="#" class="card-object-pa__services__item" v-tooltip="'VIP'">
                                    <img src="/svg/icons/services/ic_vip.svg" alt="">
                                </a>
                                <a href="#" class="card-object-pa__services__item"
                                   v-tooltip="'Быстрая продажа'">
                                    <img src="/svg/icons/services/ic_law.svg" alt="">
                                </a>
                            </div>
                            <div class="buttons mt-1">
                                <a class="button is-size-875 is-warning h-3 has-text-weight-bold"
                                   @click="showModalAddService()">
                                    <span class="icon">+</span>
                                    <span>{{trans('profile.user_services.add')}}</span>
                                </a>
                                <a class="button is-size-875 is-info h-3 has-text-weight-bold">
                                    {{trans('profile.objects.btn_sell_with_broker')}}
                                </a>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
        </section>

        <!-- Modal -->
        <modal-add-review-franchise :show="ui.showModalAddReview"
                                    @close="ui.showModalAddReview = false"
        >
        </modal-add-review-franchise>
        <!-- Modal -->
        <modal-add-object-franchise :show="ui.showModalAddObject"
                                    @close="ui.showModalAddObject = false"
        ></modal-add-object-franchise>
        <!-- Modal -->
        <modal-add-news-franchise :show="ui.showModalAddNews"
                                  @close="ui.showModalAddNews = false"
        ></modal-add-news-franchise>
        <!-- Modal -->
        <modal-control-reviews-franchise :show="ui.showModalControlReviews"
                                         @close="ui.showModalControlReviews = false"
        ></modal-control-reviews-franchise>

        <modal v-if="ui.showRequestSoldModal" @close="ui.showRequestSoldModal = false">
            <div slot="header">
                <p class="modal-card-title mb-0">Подтвердите действие: "Объект продан"</p>
            </div>
            <div slot="body">
                <div class="columns is-multiline" v-if="!ui.showRequestSoldModalLoading">
                    <div class="column is-6">
                        <div class="button h-3 is-size-875 is-info has-text-weight-bold is-fullwidth"
                             @click="setStatusSold(ui.showRequestSoldModalObjectType, ui.showRequestSoldModalObjectID)">
                            Да
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="button h-3 is-size-875 is-danger is-outlined has-text-weight-bold is-fullwidth"
                             @click="ui.showRequestSoldModal = false">Отмена
                        </div>
                    </div>
                </div>
                <preloader v-if="ui.showRequestSoldModalLoading"></preloader>
            </div>
        </modal>

        <modal v-if="ui.showRequestDocs" @close="ui.showRequestDocs = false" :width="'800px'">
            <div slot="header">
                <p class="modal-card-title mb-0">Запросы документации</p>
            </div>
            <div slot="body">
                <table class="table is-fullwidth is-size-875">
                    <thead class="bb">
                    <tr>
                        <th>Дата</th>
                        <th>Имя покупателя</th>
                        <th>Страна</th>
                        <th>Бюджет</th>
                        <th>Действия с запросом</th>
                    </tr>
                    </thead>
                    <tbody class="is-paddingless">
                    <tr>
                        <td class="has-text-basic has-vertical-align-middle">12.03.2019</td>
                        <td class="has-text-weight-bold has-vertical-align-middle">Евгений</td>
                        <td class="has-text-basic has-vertical-align-middle">Россия</td>
                        <td class="has-text-weight-bold has-vertical-align-middle">€ 18 000 000</td>
                        <td class="has-text-warning has-vertical-align-middle">
                            <div class="buttons">
                                <button class="button is-outlined is-success is-size-875 has-text-weight-bold"
                                        v-tooltip="'Требуется перевод документов'">Одобрить
                                </button>
                                <button class="button is-clear is-clear_close is-size-875"><span
                                    class="icon-close">×</span><span
                                    class="has-text-decoration-underline">Отклонить</span></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="has-text-basic has-vertical-align-middle">06.03.2019</td>
                        <td class="has-text-weight-bold has-vertical-align-middle">Дмитрий</td>
                        <td class="has-text-basic has-vertical-align-middle">Польша</td>
                        <td class="has-text-weight-bold has-vertical-align-middle">€ 18 000 000</td>
                        <td class="has-text-warning has-vertical-align-middle">
                            <div class="buttons">
                                <button class="button is-outlined is-success is-size-875 has-text-weight-bold"
                                        v-tooltip="'Требуется перевод документов'">Одобрить
                                </button>
                                <button class="button is-clear is-clear_close is-size-875"><span
                                    class="icon-close">×</span><span
                                    class="has-text-decoration-underline">Отклонить</span></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="has-text-basic has-vertical-align-middle">02.03.2019</td>
                        <td class="has-text-weight-bold has-vertical-align-middle">Олег</td>
                        <td class="has-text-basic has-vertical-align-middle">Украина</td>
                        <td class="has-text-weight-bold has-vertical-align-middle">€ 18 000 000</td>
                        <td class="has-text-warning has-vertical-align-middle">
                            <div class="buttons">
                                <button class="button is-outlined is-success is-size-875 has-text-weight-bold"
                                        v-tooltip="'Требуется перевод документов'">Одобрить
                                </button>
                                <button class="button is-clear is-clear_close is-size-875"><span
                                    class="icon-close">×</span><span
                                    class="has-text-decoration-underline">Отклонить</span></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </modal>

        <modal-add-service-franchise :show="ui.showModalAddService"
                                     @close="ui.showModalAddService = false"
                                     @showZoneDocs="showZoneDocs()"></modal-add-service-franchise>

    </div>
</template>

<script>
    import Modal from '../../modals/Modal';
    import Preloader from '../../preloader'
    import ModalAddObjectFranchise from './modals/AddObject'
    import ModalAddNewsFranchise from './modals/AddNews'
    import ModalControlReviewsFranchise from './modals/ControlReviews'
    import ModalAddServiceFranchise from '../../modals/AddService'
    import FilesUpload from "../../FilesUpload";


    let trans_prefix = 'profile.objects.';
    export default {
        components: {
            FilesUpload,
            Modal,
            Preloader,
            ModalAddObjectFranchise,
            ModalAddNewsFranchise,
            ModalControlReviewsFranchise,
            ModalAddServiceFranchise
        },
        data: () => ({
            data_trans: {
                trans_docs: trans(trans_prefix + 'trans_docs'),
                fast_sale: trans(trans_prefix + 'fast_sale'),
                link_edit: trans(trans_prefix + 'link_edit'),
                location: trans(trans_prefix + 'location'),
            },
            filter: 'active',
            ui: {
                showRequestSoldModal: false,
                showRequestSoldModalLoading: false,
                showRequestSoldModalObjectType: null,
                showRequestSoldModalObjectID: null,
                //--
                showModalAddObject: false,
                showModalAddReview: false,
                showModalAddNews: false,
                showModalAddService: false,
                showModalControlReviews: false,
                showRequestDocs: false,
                showSectionDocs: false,
            },
            objects: [],
            firstLoad: true,

        }),
        mounted() {
            this.getData()
        },
        computed: {
            objectsMapped() {
                return this.objects.filter(item => {
                    if (this.filter === 'sold')
                        return item.status === 3;
                    else
                        return item.status !== 3;
                }).map(item => {
                    if (typeof item.ui === 'undefined')
                        item.ui = {
                            showStat: true,
                            showServices: false
                        };
                    return item
                });
            },
        },
        methods: {
            getData() {
                axios.get('/profile/api/objects').then(res => {
                    this.firstLoad = false;
                    this.objects = res.data;
                }).catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })
            },
            setStatus(id, status) {
                axios.patch('/profile/view-request/' + id + '/' + status)
                    .then(res => {
                        this.$swal({type: 'success', text: res.data.message});
                        this.getData();
                    }).catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })
            },
            //TODO Пока плюсую только запросы на просмотр и документацию.
            getObjectNotificationCount(object) {
                return object.docRequest.length + object.viewRequest.length
            },
            updateObjects() {
                this.objects = this.objects.slice()
            },
            getObjectProgessBarClass(status) {
                switch (status) {
                    case 0:
                        return 'is-warning'
                    case 1:
                        return 'is-success'
                    case 2:
                        return 'is-success'
                    case 3:
                        return 'is-success'
                    case 4:
                        return 'is-danger'
                }
            },
            setStatusSoldModal(type, id) {
                this.ui.showRequestSoldModal = true;
                this.ui.showRequestSoldModalObjectType = type;
                this.ui.showRequestSoldModalObjectID = id;
                // axios.patch(`/profile/api/object/${type}/${id}/status/${status}`)
                //     .then(res => {
                //         this.$swal({type: 'success', text: res.data.message});
                //         this.getData()
                //     }).catch(e => {
                //     this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                // })
            },
            setStatusSold(type, id, status = 3) {
                this.ui.showRequestSoldModalLoading = true;
                axios.patch(`/profile/api/object/${type}/${id}/status/${status}`)
                    .then(res => {

                        this.ui.showRequestSoldModalLoading = false;
                        this.ui.showRequestSoldModal = false;

                        this.$swal({type: 'success', text: res.data.message});
                        this.getData()
                    }).catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })
            },
            //
            showRequestDocsModal(id) {
                this.ui.showRequestDocs = true;
            },
            showModalAddObject(id) {
                this.ui.showModalAddObject = true;
            },
            showModalAddReview(id) {
                this.ui.showModalAddReview = true;
            },
            showModalAddNews(id) {
                this.ui.showModalAddNews = true;
            },
            showModalAddService(id) {
                this.ui.showModalAddService = true;
            },
            showZoneDocs(id) {
                this.ui.showSectionDocs = true;
                // Добавить скроллинг к блоку документов объекта
            },

        }
    }
</script>

<style>

</style>
