<template>

</template>

<script>
    import VueSelect from 'vue-select'

    export default {
        name: "IconSelect",
        components: {VueSelect},
        props: {
            id: {default: null},
            classes: {default: ''},
            placeholder: {default: 'Выберите иконку'},
            value: {default: null},
            options: {
                default: () => []
            }
        },
        computed: {
            selected: {
                get: function () {
                    return this.value;
                },
                set: function (v) {
                    this.value = v;
                },
            }
        },
    }
</script>

<style scoped>

</style>
