@import '../variables';

.card-news {
    &__thumb {
        width: 100%;
        height: 11.25rem;
        margin-bottom: 1rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }


    &__title {
        &.title {
            font-size: 1.125rem;
            margin-top: .75rem;
            margin-bottom: 0.625rem;
        }
    }

    &__excerpt {
        font-size: .875rem;
        color: $mostly-dark-blue-2;
    }
}

.news-tag-cat {
    border: 1px solid rgba($pure-blue, 0.3);
    color: $pure-blue;
    font-size: .875rem;
    border-radius: .1875rem;
    padding: .375rem .75rem;
    display: inline-block;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;

    svg, span {
        display: inline-block;
        vertical-align: middle;
    }
    svg {
        width: 1rem;
        height: 1rem;
        margin-right: 0.25rem;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        border-color: $pure-blue;
        background-color: $pure-blue;
        color: $white;
        span {
            color: $white;
        }
        svg {
            path {
                fill: $white;
            }
        }
    }

    &.is-danger {
        border: 1px solid rgba($red, 0.3);
        color: $red;

        &:hover {
            border-color: $red;
            background-color: $red;
        }
    }

    &.is-success {
        border: 1px solid rgba($green, 0.3);
        color: $green;

        &:hover {
            border-color: $green;
            background-color: $green;
        }
    }
}

.swiper-news-home {
    &-wrap {
        padding: 0;
        @media screen and (min-width: $tablet) {
            padding: 0 2.5rem;
        }
        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev,
        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            width: .625rem;
            height: .625rem;
            border: 0.125rem solid $mostly-dark-blue-2;
            background: none;
            border-left: 0;
            border-top: 0;

            &:focus {
                outline: none;
            }

            display: none;
            @media screen and (min-width: $tablet) {
                display: block;
            }
        }

        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev {
            transform: rotate(-45deg);
        }

        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            transform: rotate(135deg);
        }

        .swiper-pagination {
            margin: 1rem auto 0 auto;
            left: 0;
            right: 0;
            display: block;
            @media screen and (min-width: $tablet) {
                display: none;
            }
            &-bullet {
                margin: 0 .125rem;
                background: rgba($navbar-dropdown-arrow, 0.5);
                &-active {
                    background: $navbar-dropdown-arrow;
                }
            }
        }
    }
}


