<template>
    <div class="column is-6">
        <article class="card-news">
            <figure class="card-news__thumb" v-if="news.media[0]">
                <img :src="'/storage/'+news.media[0].id+'/'+news.media[0].file_name" alt="">
            </figure>
            <div class="card-news__tags" v-if="news.category">
                <a :href="'/news/' + $t( news.category.url)" class="news-tag-cat">
                    <svg-icon :icon="news.category.icon"></svg-icon>
                    <span>{{$t(news.category.title)}}</span>
                </a>
            </div>
            <h3 class="card-news__title title">{{$t(news.title)}}</h3>
            <div v-html="desc" class="card-news__excerpt">

            </div>
            <div class="mt-1">
                <a :href="'/news/' + $t(news.category.url) + '/' + $t(news.url)"
                   class="button is-info is-size-875">{{trans('news.learn_more')}}</a>
            </div>
        </article>
    </div>
</template>

<script>
    export default {
        name: "NewsCard",
        props: {
            news: {default: null}
        },
        components: {},
        data() {
            return {}
        },
        computed:{
          desc(){
              let maxLength = 80;
              let trimmedString = this.$t(this.news.description).substr(0, maxLength);
              trimmedString = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" ")));
              return trimmedString+'...';
          }
        },
        methods: {

        }
    }
</script>
