<template>
    <section class="section section-list-objects pt-1">
        <div class="container">
            <div class="columns">
                <div class="column is-4">
                    <aside>
                        <news-filter @category="changeCategory"></news-filter>
                    </aside>
                </div>
                <news-list :news-category="slug"/>
            </div>
        </div>
    </section>
</template>

<script>
    import NewsFiler from './NewsFilter';
    import List from './List';

    export default {
        props: ['newsCategory'],
        components: {
            'news-list': List,
            'news-filter': NewsFiler,
        },
        data() {
            //console.log(this.newsCategory)
            return {
                slug: this.newsCategory
            }
        },
        name: "News",
        methods: {
            changeCategory(slug) {
                this.slug = slug;
            }
        },
        created() {

        }
    }
</script>

<style scoped>

</style>
