<template>
    <div class="column is-8">
        <main>
            <h1 class="section-title">{{trans('news.title')}}</h1>

            <div class="card-news-list columns is-multiline">
                <news-card v-for="item in news.data" v-bind:key="item.id" :news="item"></news-card>
            </div>
        </main>
        <!-- Pagination -->
        <pagination :data="news" :show-disabled="true" @pagination-change-page="fetchNews">
            <a :disabled="prevDisabled" slot="prev-nav" class="pagination-previous pagination-nav button is-link">
                 <span class="pagination-nav__icon">
                     <svg-icon :icon="'ic_arrow_right.svg'"></svg-icon>
                 </span>
                <span class="pagination-nav__title">
                    {{trans('pagination.prev_page')}}
                </span>
            </a>
            <a :disabled="nextDisabled" slot="next-nav" class="pagination-next pagination-nav button is-link">
                <span class="pagination-nav__title">
                    {{trans('pagination.next_page')}}
                </span>
                <span class="pagination-nav__icon">
                   <svg-icon :icon="'ic_arrow_right.svg'"></svg-icon>
                </span>
            </a>
        </pagination>
    </div>
</template>

<script>
    import NewsCard from './Card';
    import Pagination from 'laravel-vue-pagination';

    export default {
        components: {
            'news-card': NewsCard,
            'pagination': Pagination
        },
        props: ['newsCategory'],
        data() {
            return {
                news: {},
                form: {
                    newsCategory: this.newsCategory
                },
                loaderNews: false,
                prevDisabled: false,
                nextDisabled: false
            }
        },

        name: "NewsList",
        methods: {
            changeFilter( data ) {
                this.form = data;
                this.fetchNews();
            },
            fetchNews( page = 1 ) {
                let vm = this;
                vm.loaderNews = true;
                //console.log(vm.form);
                axios.get('/news-get?page=' + page, {params: vm.form}).then(responce => {
                    if ( page === 1 ) {
                        vm.prevDisabled = true;
                    } else {
                        vm.prevDisabled = false;
                    }
                    if ( page === responce.data.last_page ) {
                        vm.nextDisabled = true;
                    } else {
                        vm.nextDisabled = false;
                    }

                    vm.loaderNews = false;
                    vm.news = responce.data;
                    vm.changeHisory(page, vm.form.newsCategory);
                })
            },
            changeHisory(page, newsCategory) {
                const params = new URLSearchParams(location.search);

                if ( page > 1 ) {
                    params.set('page', page);
                } else {
                    params.delete('page');
                }

                for ( const [key, value] of Object.entries(this.form) ) {
                    if (value !== null && key != 'newsCategory') {
                        params.set(key, value);
                    }
                }

                let url = '';
                if ( [...params.entries()].length > 0 ) {
                    url += '?' + params.toString();
                }


                //console.log(newsCategory, 'lhazma')
                history.pushState(null, null, '/news' + (newsCategory ? ('/' + newsCategory) : '') + url);
            }
        },
        watch: {
            newsCategory: {
                immediate: false,
                handler(category) {
                    if (category) {
                        this.form.newsCategory = category;
                        this.fetchNews()
                    }
                }
            },
        },
        created() {
            const params = new URLSearchParams(location.search);
            let page = 1;
            if ( params.has('page') ) {
                page = params.get('page');
            }

            for ( const [key, value] of Object.entries(this.form) ) {
                if ( params.has(key) ) {
                    this.form[key] = value;
                }
            }
            this.fetchNews(page, this.form.newsCategory);
        }
    }
</script>

<style scoped>

</style>
