<template>
    <li class="aside-nav__item" >
      <span @click="changeCategory($t(children.url))" @click.stop="$root.toggleSubMenu">
           <svg-icon :icon="children.icon"></svg-icon>
           <span class="aside-nav__item__title">{{$t(children.title)}}</span>
           <span class="aside-nav__item__count">{{children.approved_news_count}}</span>
           <span class="sub-menu-toggle" v-if="children.children" />
       </span>

        <ul class="sub-menu">
            <NewsFilterItem v-for="(children, index) in children.children" :children="children" :key="index" />
        </ul>
    </li>
</template>

<script>
    export default {
        name: "NewsFilterItem",
        props: {
            children: {
                type: Object

            }
        },

        methods: {
            changeCategory(slug) {
                this.$emit('changeCategory', slug);
            }
        }
    }
</script>

<style scoped>

</style>
