<template>
    <nav class="aside-nav">
        <h3 class="aside-nav__title">{{trans('news.categories')}}</h3>
        <ul class="menu-level-menu">
            <li class="aside-nav__item" v-for="category in categories">
                <span @click="changeCategory(category.url)" @click.stop="$root.toggleSubMenu">
                    <svg-icon :icon="category.icon"></svg-icon>
                    <span class="aside-nav__item__title">{{category.title}}</span>
                    <span class="aside-nav__item__count">{{category.count}}</span>
                    <span class="sub-menu-toggle" v-if="category.children.length"></span>
                </span>

                <ul v-if="category.children.length && category.children" class="sub-menu">
                    <NewsFilterItem v-for="(children, index) in category.children" :children="children" :key="index" @changeCategory="changeCategory" />
                </ul>
            </li>
        </ul>
    </nav>
</template>

<script>
    import NewsFilterItem from './NewsFilterItem'
    export default {
        name: "NewsFilter",
        components: {
            NewsFilterItem
        },
        data() {
            return {
                categories: null,
                category: null
            }
        },
        created() {
            this.fetchCategories();
        },
        methods: {
            fetchCategories() {
                let vm = this;
                axios.get('/news-get-categories').then(responce => {
                    vm.categories = responce.data;
                })
            },
            changeCategory(slug) {
                this.$emit('category', slug);
            },
            clearFilter() {
                this.category = null;
            }
        },
    }
</script>

<style scoped>

</style>
