<template>
    <div class="header_notifications dropdown-menu" id="dropdown-user-menu" role="menu" v-if="notifications.length">
        <div class="dropdown-content is-paddingless">
            <div v-for="notification in notifications" :key="notification.id">
               <notification :notification="notification"></notification>
                <div class="remove-notification" @click.prevent="removeNotification(notification)" />
            </div>
        </div>
        <div class="header_notifications__make-readed">
            <a href="" @click.prevent="markAsReaded">{{trans('notifications.mark_as_read')}}</a>
        </div>
    </div>
</template>
<script>

import Notification from './header-notification'

export default {
    components:{
        Notification
    },
    data: function(){
        return {
            notifications: this.$store.state.notifications
        }
    },
    mounted(){
        this.$store.watch(
            (state, getters) => state.notifications,
            (newValue, oldValue) => {
                this.notifications = newValue;
                this.notifications = this.notifications.slice(0)
            },
        );
    },
    methods: {
        markAsReaded(){
            axios.get('/notification/markAsRead')
                .then(res => {
                    this.$store.dispatch('getNotifications')
                    this.$swal({type: 'success', text: res.data.message});
                })
                .catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })
        },

        removeNotification(notification) {
            this.$store.dispatch('removeNotification', notification)
        }
    }
}
</script>
