<template>
    <div class="dropdown-item flex">
        <div>
            <!--
            <div class="header_notifications__thumb" v-if="notificationMapped.data.thumb">
                <img :src="notificationMapped.data.thumb" alt="">
            </div>
            -->
        </div>
        <span v-html="notificationMapped.data.text"></span>
    </div>
</template>

<script>
export default {
    name: 'notification',
    props: ['notification'],
    computed: {
        notificationMapped(){
            if(this.notification.notifiable_id){
                return Object.assign(this.notification, this.notification.data)
            }else{
                return this.notification
            }
        }
    }
}
</script>

<style>

</style>
