<template>
    <section class="section pt-1 px-0">
        <h1 class="section-title mb-1-75">Забронированные бизнесы</h1>
        <div class="columns is-multiline mb-2">
            <div class="column is-12">
                <!-- Example Layout card service -->
                <article v-for="object in businesses" class="box card-object-pa is-paddingless">
                    <div class="card-object-pa__body p-1-5">
                        <div class="columns is-multiline">
                            <div class="column is-4">
                                <figure class="card-object-pa__thumb">
                                    <img
                                        :src="object.image"
                                        alt="">
                                </figure>
                            </div>
                            <div class="column is-8">
                                <div class="card-object-pa__header">
                                    <h3 class="card-object-pa__title">{{$t(object.name)}}</h3>
                                </div>
                                <address class="is-size-875 is-flex">
                                    <svg-icon :icon="'ic_location.svg'"></svg-icon>
                                    <span>{{$t(object.city.country.translation)}}, г. {{$t(object.city.translation)}}</span>
                                </address>
                                <div class="card-object-pa__price is-flex">
                                    <div class="price-info">
                                        <div class="price">{{$formatPrice(object.price)}}</div>
                                    </div>

                                </div>
                                <div class="card-object-pa__progress">
                                    <div class="card-object-pa__progress__title is-size-875">Опубликовано
                                        {{object.published_at}}
                                        дней назад
                                    </div>
                                </div>
                                <div class="card-object-pa__statistics is-flex is-size-875">
                                    <div class="card-object-pa__statistics__item is-flex">
                                        <svg-icon :icon="'ic_eye.svg'"></svg-icon>
                                        <span>{{object.show_count}} {{trans('profile.views')}}</span>
                                    </div>
                                    <div class="card-object-pa__statistics__item is-flex">
                                        <svg-icon :icon="'ic_favorites-2.svg'"></svg-icon>
                                        <span>15 {{trans('profile.objects.in_favorites')}}</span>
                                    </div>
                                    <div class="card-object-pa__statistics__item is-flex">
                                        <svg-icon :icon="'ic_document.svg'"></svg-icon>
                                        <span>{{object.docs_count}} {{trans('profile.objects.docs')}}</span>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <a href="#" class="button is-success h-3 has-text-weight-bold is-size-875 px-1">
                                            <span class="icon">
                                                 <svg-icon :icon="'ic_ask_question.svg'"></svg-icon>
                                            </span>
                                        <span> {{trans('profile.objects.stats_table.actions.writeToChat')}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-1-5 pb-1 card-object-pa__controls">
                        <div class="columns is-multiline is-flex">
                            <div class="column is-narrow">
                                <a :href="'/business/'+object.id" class="is-flex has-align-items-center link-with-icon">
                                                <span class="icon icon-1">
                                                    <svg-icon :icon="'ic_details.svg'"></svg-icon>
                                                </span>
                                    <span
                                        class="is-size-875 has-text-decoration-underline">{{trans('profile.objects.stats_table.actions.link_view')}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <div v-if="firstLoad">...</div>
                <div v-if="!firstLoad && businesses.length == 0">Резервов нет</div>
            </div>
        </div>

    </section>
</template>

<script>
    let trans_prefix = 'profile.favorites.';
    import Card from '../../business/Card'

    export default {
        components: {Card},
        data: () => ({
            businesses: [],
            firstLoad: true
        }),
        created() {
            this.getData()
        },
        methods: {
            getData() {
                axios.get('/profile/reserved-business/')
                    .then(res => {
                        this.businesses = res.data
                        this.firstLoad = false;
                    })
                    .catch(e => alert(e.response.data.message))
            },
        }
    }
</script>
