<template>
    <div :class="size" class="column">
        <div class="card card-object"
             v-bind:class="[(business.weight>0 && business.status == 2)?'card-object_promo':'']">
            <div class="card-image">
                <figure class="image is-16by9">
                    <img :src="business.card" alt="Placeholder image">
                </figure>
                <span class="tag tag-payback">
                    <span class="name">{{data_trans.payback}}</span>
                    <span class="term">{{ business.payback }} {{trans('business.v_list.months')}}</span>
                </span>

                <div class="info-icons-wrap info-icons-wrap_left">
                    <span v-if="(business.weight > 0 && business.status !== 3)" class="info-icon object-promo">
                        <img src="/svg/icons/ic_recommended.svg" :alt="data_trans.recommended">
                    </span>
                    <span v-if="(business.discount && business.status !== 3)" class="info-icon object-sale">
                        <img src="/svg/icons/ic_sale.svg" :alt="data_trans.sale">
                    </span>
                </div>
                <div class="info-icons-wrap info-icons-wrap_right">
                    <a v-if="(business.status === 2 && favoriteShow && userLogin)" href="#" class="info-icon object-favorite"
                       @click.prevent="toggleFavorite(business.id, 'business')"
                       v-tooltip="data_trans.add_to_favorites"
                       :class="{'active': isFavorite}">
                        <img src="/svg/icons/ic_favorites_white.svg" :alt="data_trans.favorites">
                    </a>
                </div>
                <span v-if="(business.status == 3)" class="tag is-warning tag-object-sold">{{data_trans.sold}}</span>

            </div>
            <div class="card-content">
                <div class="card-object__header">
                    <h3 class="title">{{business.name[$store.state.lang]}}</h3>
                    <p class="location">
                        <img src="/svg/icons/ic_location.svg" :alt="data_trans.location">
                        <span v-if="business.country">{{business.country.translation.ru}}, г. {{business.city.translation.ru}}</span>
                    </p> 
                </div>

                <div class="content card-object__content">
                    <div class="list-properties">
                        <div class="list-properties__item">
                            <span>{{trans('business.v_list.category')}}</span>
                            <span>{{business.category.translation.ru}}</span>
                        </div>
                        <div class="list-properties__item">
                            <span>{{trans('business.v_list.profit')}}</span>
                            <span><b>{{ $formatPrice(business.revenue) }}</b></span>
                        </div>
                        <div class="list-properties__item">
                            <span>{{trans('business.v_list.net_profit')}}</span>
                            <span><b>{{$formatPrice(business.profit)}}</b></span>
                        </div>
                        <div class="list-properties__item">
                            <span>{{trans('business.v_list.perc_profit')}}</span>
                            <span><b>{{business.profitability}}%</b></span>
                        </div>
                    </div>
                </div>
                <div class="card-object__footer">
                    <div class="price-info">
                        <span v-if="(business.discount && business.status != 3)" class="tag is-danger price-sale">-{{business.discount}}%</span>
                        <div class="price">{{
                            (business.discount)?$formatPrice(business.price-business.price*(business.discount/100)):$formatPrice(business.price)
                            }}
                        </div>
                        <span v-if="(business.discount && business.status != 3)" class="price-old">{{$formatPrice(business.price)}}</span>
                    </div>
                    <a :href="'/business/'+business.id" v-if="(business.status == 2)"
                       class="button is-link is-outlined is-fullwidth has-text-weight-bold"
                       v-bind:class="[(business.weight>0)?'is-success':'is-link']">
                        {{trans('business.v_list.business_details_link')}}
                    </a>
                    <a :href="'/business/'+business.id" v-if="(business.status == 3)"
                       class="button is-warning is-outlined is-fullwidth has-text-weight-bold">
                        {{trans('business.v_list.deal_details_link')}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BusinessCard",
        props: {
            business: {default: null},
            size:{default: 'is-4'}
        },
        components: {},
        data() {
            return {
                data_trans:{
                    add_to_favorites: trans('business.v_list.add_to_favorites'),
                    favorites: trans('business.v_list.favorites'),
                    sold: trans('business.v_list.sold'),
                    location: trans('business.v_list.location'),
                    recommended: trans('business.v_list.recommended')
                },
                favoriteShow: true,
                //discount: false,
            }
        },
        methods: {
            /**
             * @param {integer} id
             * @param {string} type - business или franchise
             */
            toggleFavorite(id, type) {
                axios.post('/profile/favorites/' + type + '/' + id)
                    .then(res => {
                        this.$swal({type: 'success', text: res.data.message});
                        if (this.business.favorites.length == 0) {
                            this.business.favorites = ['favorite'];
                        } else {
                            this.business.favorites = [];
                        }
                        this.$emit('fetch-data');
                    }).catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })
            }
        },
        computed: {
            isFavorite() {
                if (this.business.favorites) {
                    return this.business.favorites.length > 0;
                } else {
                    this.favoriteShow = false
                    return false;
                }
            },
            userLogin() {
                if (this.$store.state.user) {
                    return true;
                } else {
                    return false;
                }
            }
        }
    }
</script>

