<template>
    <div>
        <form @submit.prevent="submit" class="form form-filter-objects">
            <div class="columns is-multiline">
                <g-g-location-select-input
                    v-model="form.country"
                    :type="'country'"
                    :size="'is-3-desktop is-6-tablet'"/>
                <g-g-location-select-input
                    :disabled="regionDisabled"
                    :country="form.country"
                    v-model="form.region"
                    :type="'region'"
                    :size="'is-3-desktop is-6-tablet'"/>
                <g-g-location-select-input
                    :disabled="cityDisabled"
                    :region="form.region"
                    v-model="form.city"
                    :type="'city'"
                    :size="'is-3-desktop is-6-tablet'"/>
                <category-button
                    :object="form"
                    :entityName="entityName"
                    :errors="errors"
                />
                <g-g-range-slider
                    v-model="form.price"
                    :adds="priceAdds"
                    :placeholder="translations.enter_price"
                    :label="translations.price"/>
                <g-g-range-slider
                    v-model="form.profit"
                    :adds="profitAdds"
                    :placeholder="translations.enter_profit"
                    :label="translations.net_profit_per_month"/>
                <g-g-range-slider
                    v-model="form.payback"
                    :adds="paybackAdds"
                    :placeholder="translations.number_of_months"
                    :label="translations.payback_in_months"
                    :max="36"/>
                <g-g-input
                    :size="'is-3-desktop is-6-tablet'"
                    :label="translations.name_or_id"
                    v-model="form.query"/>
                <div class="column is-12-desktop is-12-tablet">
                    <div class="columns has-justify-content-end form-controls">
                        <g-g-check-box-input
                            :size="'is-2-desktop is-6-tablet'"
                            v-model="form.saled"
                            :label="translations.saled"/>
                        <div class="column is-narrow">
                            <button @click="clearFilter" class="button is-fullwidth is-size-875" type="reset">
                                <span>&times;</span>
                                {{translations.btn_reset_search}}
                            </button>
                        </div>
                        <div class="column is-4">
                            <button class="button is-link has-text-weight-bold is-fullwidth" type="submit">
                                {{translations.btn_find}}
                            </button>
                        </div>
                    </div>
                </div>
                <portal-target name="modals"/>
            </div>
        </form>
    </div>
</template>

<script>
    import GGLocationSelectInput from '../form/GGLocationSelectInput'
    import GGSelectInput from '../form/GGSelectInput'
    import GGCheckBoxInput from '../form/GGCheckBoxInput'
    import GGInput from '../form/GGInput'
    import GGRangeSlider from '../form/GGRangeSlider'
    import CategoryButton from '../form/CategoryButton'

    export default {
        components: {
            GGRangeSlider,
            GGInput,
            GGSelectInput,
            GGLocationSelectInput,
            GGCheckBoxInput,
            CategoryButton,
        },
        data() {
            let trans_prefix = 'business.v_filter.';
            let trans_to = trans(trans_prefix + 'to'); //  до
            return {
                entityName: 'business',
                translations: {
                    saled: trans('business.saled'),
                    type_invest: trans(trans_prefix + 'type_invest'),
                    select_type: trans(trans_prefix + 'select_type'),
                    enter_price: trans(trans_prefix + 'enter_price'),
                    price: trans(trans_prefix + 'price'),
                    enter_profit: trans(trans_prefix + 'enter_profit'),
                    net_profit_per_month: trans(trans_prefix + 'net_profit_per_month'),
                    number_of_months: trans(trans_prefix + 'number_of_months'),
                    payback_in_months: trans(trans_prefix + 'payback_in_months'),
                    name_or_id: trans(trans_prefix + 'name_or_id'),
                    btn_reset_search: trans(trans_prefix + 'btn_reset_search'),
                    btn_find: trans(trans_prefix + 'btn_find'),
                },
                typeOptions: [
                    {id: 'type_1', name: trans(trans_prefix + 'typeOptions.type_1')},
                    {id: 'type_2', name: trans(trans_prefix + 'typeOptions.type_2')},
                ],
                maxPrice:0,
                maxProfit:0,
                maxPayback:0,
                profitAdds: {
                    add1: {
                        text: trans_to + ' €500 тыс.',
                        value: [
                            0,
                            500000
                        ]
                    },
                    add2: {
                        text: trans_to + ' €1 млн.',
                        value: [
                            0,
                            1000000
                        ]
                    },
                    add3: {
                        text: trans_to + ' €2 млн.',
                        value: [
                            0,
                            2000000
                        ]
                    }
                },
                priceAdds: {
                    add1: {
                        text: trans_to + ' €500 тыс.',
                        value: [
                            0,
                            500000
                        ]
                    },
                    add2: {
                        text: trans_to + ' €1 млн.',
                        value: [
                            0,
                            1000000
                        ]
                    },
                    add3: {
                        text: trans_to + ' €2 млн.',
                        value: [
                            0,
                            2000000
                        ]
                    }
                },
                paybackAdds: {
                    add1: {
                        text: trans_to + ' 12',
                        value: [
                            0,
                            12
                        ]
                    },
                    add2: {
                        text: trans_to + ' 24',
                        value: [
                            0,
                            24
                        ]
                    },
                    add3: {
                        text: trans_to + ' 36',
                        value: [
                            0,
                            36
                        ]
                    }
                },
                regionDisabled:true,
                cityDisabled:true,
                form: {
                    saled: true,
                    type: null,
                    country: null,
                    category: null,
                    region: null,
                    city: null,
                    price: null,
                    profit: null,
                    payback: null,
                    query: null
                },
                errors: [],
            }
        },
        created() {
            axios.get('/business-get-ranges').then(resp =>{
                this.maxPrice = resp.data.maxPrice;
                this.maxProfit =  resp.data.maxProfit;
                this.maxPayback = resp.data.maxPayback;
            });
        },
        methods: {
            submit() {
                this.$emit('change-filter', this.form);
            },
            clearFilter() {
                this.form.type = null;
                this.form.country = null;
                this.form.region = null;
                this.form.city = null;
                this.form.price = null;
                this.form.profit = null;
                this.form.payback = null;
                this.form.query = null;
            },
            toggleModalCategory() {
                this.showModalCategory = true;
                return true;
            }
        },
        computed:{
            country(){
                return this.form.country;
            },
            region(){
                return this.form.region;
            }
        },
        watch:{
            country(val){
                if(val){
                    this.regionDisabled = false;
                }else{
                    this.regionDisabled = true;
                }
            },
            region(val){
                if(val){
                    this.cityDisabled = false;
                }else{
                    this.cityDisabled = true;
                }
            }
        }
    }
</script>

<style scoped>

</style>
