<template>
    <div>
        <template v-if="loaderBusinesses">
            <div class="loader"></div>
        </template>
        <div class="container">
            <!-- Cards objects -->
            <div class="columns is-multiline">
                <business-card v-for="business in businesses.data"
                               :business="business"
                               v-bind:key="business.id"
                ></business-card>
            </div>
        </div>
    </div>
</template>

<script>
    import BusinessCard from './Card';

    export default {
        name: "MainList",
        components: {
            BusinessCard,
        },
        data() {
            return {
                businesses: {},
                loaderBusinesses: false,
            }
        },
        mounted() {
            this.fetchBusinesses();
        },
        methods: {
            fetchBusinesses() {
                let vm = this;
                vm.loaderBusinesses = true;
                axios.get('/business/get').then(responce => {
                    vm.loaderBusinesses = false;
                    vm.businesses = responce.data
                })
            },
        },
    }
</script>

<style scoped>

</style>
