<template>
    <modal v-if="show" @close="$emit('close')">
        <div slot="header">
            <p class="modal-card-title mb-0">{{trans('franchises.add_object.title')}}</p>
        </div>

        <div slot="body">
            <div class="content">
                <div class="columns is-multiline">
                    <g-g-translatable-input :size="'is-12'" v-model="form.title"
                               :label="trans('franchises.add_object.name.label')"
                               :placeholder="trans('franchises.add_object.name.placeholder')"></g-g-translatable-input>
                    <g-g-input :size="'is-6'" v-model="form.phone"
                               :label="trans('franchises.add_object.phone.label')"
                               :placeholder="trans('franchises.add_object.phone.placeholder')"></g-g-input>
                    <g-g-input :size="'is-6'" v-model="form.email"
                               :label="trans('franchises.add_object.email.label')"
                               :placeholder="trans('franchises.add_object.email.placeholder')"></g-g-input>

                    <g-g-input :size="'is-12'" v-model="form.address"
                               :label="trans('franchises.add_object.address.label')"
                               :placeholder="trans('franchises.add_object.address.placeholder')"></g-g-input>
                    <g-g-translatable-input :type="'textarea'" :size="'is-12'" v-model="form.description"
                                  :label="trans('franchises.add_object.comment.label')"
                                  :placeholder="trans('franchises.add_object.comment.placeholder')"></g-g-translatable-input>
                    <div class="column is-12">
                        <files-upload ref="photoObject" :remove-url="''"
                                      v-model="images"
                                      :label="trans('franchises.add_object.photo_object')"
                                      :classZonePreviews="'dropzone-previews-photoObject'"></files-upload>
                    </div>
                </div>
            </div>
        </div>
        <div class="content w-full" slot="footer">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <button @click="submit" class="button is-info is-fullwidth has-text-weight-bold h-3 is-size-875">
                        {{trans('franchises.add_object.btn_submit')}}
                    </button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import Modal from '../modals/Modal';
    import GGInput from '../form/GGInput';
    import GGTextarea from '../form/GGTextarea';

    import UploadPhoto from './UploadPhoto';
    import FilesUpload from "../FilesUpload";
    import GGTranslatableInput from "../form/GGTranslatableInput";

    export default {
        name: "ModalAddObjectFranchise",
        components: {
            GGTranslatableInput,
            FilesUpload,
            Modal, GGInput, GGTextarea, UploadPhoto
        },
        props: {
            id: {default: null},
            show: {default: false},
        },
        data: () => ({
            images: [],
            form: {
                title: null,
                phone: null,
                email: null,
                address: null,
                description: null,
            },
        }),
        methods: {
            submit() {
                let vm = this;
                let formData = new FormData();
                let object = JSON.stringify(this.form);
                let files = vm.$refs['photoObject'].getAllFiles();
                files.forEach(file => {
                    formData.append("files[]", file);
                });
                formData.append("object", object);
                if (vm.id) {
                    axios.post('/profile/franchise/add-object/' + vm.id, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(responce => {
                        this.$emit('close');
                    }).catch(e => {
                        this.$swal({type: 'error', title: 'Ошибка!', text: 'Не все поля были заполнены'});
                    });
                }
            },
        }
    }
</script>

<style scoped>

</style>
