<template>
    <modal v-if="show" @close="$emit('close')" :width="'95%'">
        <div slot="header">
            <p class="modal-card-title mb-0">{{label}}</p>
        </div>

        <div slot="body">
            <div class="content">
                <table class="table is-fullwidth is-size-875">
                    <thead class="bb">
                    <tr>
                        <th>Дата</th>
                        <th>Автор</th>
                        <th>Должность</th>
                        <th>Отзыв</th>
                        <th>Видео</th>
                        <th>Документы</th>
                        <th>Статус</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="has-text-basic has-vertical-align-middle">04.05.2019</td>
                        <td class="has-vertical-align-middle">
                            <div class="author-basic is-flex is-size-875 has-align-items-center">
                                <figure>
                                    <img
                                        src="https://image.freepik.com/free-photo/no-translate-detected_23-2147650966.jpg"
                                        alt="">
                                </figure>
                                <span>
                                    <b class="has-text-dark-blue">Евгений</b>
                                    <div><a href="mailto:testmail@mail.com" class="has-text-basic">testmail@mail.com</a></div>
                                </span>
                            </div>
                        </td>
                        <td class="has-text-basic has-vertical-align-middle">CEO, руководитель</td>
                        <td class="has-text-basic is-size-7 has-vertical-align-middle has-line-height-normal">
                            Франшиза "Персональное решение" оправдала мои ожидания ,
                            бизнес развивается быстро.
                        </td>
                        <td class="has-vertical-align-middle">
                            <a href="https://www.youtube.com/">https://www.youtube.com/</a>
                        </td>
                        <td class="has-vertical-align-middle">
                            <a href="#">filename.pdf</a>
                        </td>
                        <td class="has-vertical-align-middle">
                            <span class="has-text-success">Одобренные</span>
                        </td>
                        <td class="has-vertical-align-middle">
                            <div class="buttons">
                                <button class="button is-success is-outlined has-text-weight-bold is-size-875" disabled>
                                <span class="icon">
                                     <svg-icon :icon="'ic_success.svg'"></svg-icon>
                                </span>
                                    <span>Одобрить</span>
                                </button>

                                <button class="button is-danger is-outlined has-text-weight-bold is-size-875" disabled>
                                <span class="icon">
                                     <svg-icon :icon="'ic_danger.svg'"></svg-icon>
                                </span>
                                    <span>Отклонить</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="has-text-basic has-vertical-align-middle">04.05.2019</td>
                        <td class="has-vertical-align-middle">
                            <div class="author-basic is-flex is-size-875 has-align-items-center">
                                <figure>
                                    <img
                                        src="https://image.freepik.com/free-photo/no-translate-detected_23-2147650966.jpg"
                                        alt="">
                                </figure>
                                <span>
                                    <b class="has-text-dark-blue">Евгений</b>
                                    <div><a href="mailto:testmail@mail.com" class="has-text-basic">testmail@mail.com</a></div>
                                </span>
                            </div>
                        </td>
                        <td class="has-text-basic has-vertical-align-middle">CEO, руководитель</td>
                        <td class="has-text-basic is-size-7 has-vertical-align-middle has-line-height-normal">
                            Франшиза "Персональное решение" оправдала мои ожидания ,
                            бизнес развивается быстро.
                        </td>
                        <td class="has-vertical-align-middle">
                            <span class="has-text-basic">Без видео</span>
                        </td>
                        <td class="has-vertical-align-middle">
                            <a href="#">filename.pdf</a>
                        </td>
                        <td class="has-vertical-align-middle">
                            <span class="has-text-warning">Ожидающие</span>
                        </td>
                        <td class="has-vertical-align-middle">
                            <div class="buttons">
                                <button class="button is-success is-outlined has-text-weight-bold is-size-875">
                                <span class="icon">
                                    <svg-icon :icon="'ic_success.svg'"></svg-icon>
                                </span>
                                    <span>Одобрить</span>
                                </button>

                                <button class="button is-danger is-outlined has-text-weight-bold is-size-875">
                                <span class="icon">
                                      <svg-icon :icon="'ic_danger.svg'"></svg-icon>
                                </span>
                                    <span>Отклонить</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div slot="footer">

        </div>
    </modal>
</template>

<script>
    import Modal from '../modals/Modal';
    import GGInput from '../form/GGInput';
    import GGTextarea from '../form/GGTextarea';

    import UploadPhoto from './UploadPhoto';
    import UploadMaterials from './UploadMaterials';

    export default {
        name: "ModalControlReviewsFranchise",
        components: {
            Modal
        },
        props: {
            show: {default: false},
            label: {default: 'Отзывы'},
        },
        data: () => ({})
    }
</script>

<style scoped>

</style>
