<template>
    <modal v-if="show" @close="$emit('close')">
        <div slot="header">
            <p class="modal-card-title mb-0">{{trans('franchises.add_news.title')}}</p>
        </div>

        <div slot="body">
            <div class="content">
                <div class="columns is-multiline">
                    <g-g-translatable-input :size="'is-12'" v-model="form.title"
                               :label="trans('franchises.add_news.name.label')"
                               :placeholder="trans('franchises.add_news.name.placeholder')"></g-g-translatable-input>
<!--                    <g-g-date-input :size="'is-6'" v-model="form.date"-->
<!--                               :label="trans('franchises.add_news.date.label')">-->

<!--                    </g-g-date-input>-->
<!--                    <g-g-input :size="'is-6'" v-model="form.author"-->
<!--                               :label="trans('franchises.add_news.author.label')"-->
<!--                               :placeholder="trans('franchises.add_news.author.placeholder')"></g-g-input>-->


                    <g-g-translatable-input :type="'textarea'" :size="'is-12'" v-model="form.description"
                                  :label="trans('franchises.add_news.content.label')"
                                  :placeholder="trans('franchises.add_news.content.placeholder')"></g-g-translatable-input>
                    <div class="column is-12">
                        <files-upload :ref="'newsPhotos'"
                                      :classZonePreviews="'dropzone-previews-photoNews'"
                                      :label="trans('franchises.add_news.upload_photo')"></files-upload>
                    </div>
                </div>
            </div>
        </div>
        <div class="content w-full" slot="footer">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <button @click="submit"
                        class="button is-info is-fullwidth has-text-weight-bold h-3 is-size-875">
                        {{trans('franchises.add_news.btn_submit')}}
                    </button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import Modal from '../modals/Modal';
    import GGInput from '../form/GGInput';
    import GGTextarea from '../form/GGTextarea';
    import GGDateInput from '../form/GGDateInput';

    import UploadPhoto from './UploadPhoto';
    import FilesUpload from "../FilesUpload";
    import GGTranslatableInput from "../form/GGTranslatableInput";

    export default {
        name: "ModalAddObjectFranchise",
        components: {
            GGTranslatableInput,
            FilesUpload,
            Modal, GGInput, GGTextarea, UploadPhoto, GGDateInput
        },
        props: {
            id:{default:null},
            show: {default: false},
        },
        data: () => ({
            form: {
                title: null,
                //date: null,
                //author: null,
                description: null,
            },
        }),
        methods: {
            submit() {
                let vm = this;
                let formData = new FormData();
                let news = JSON.stringify(this.form);
                let photos = vm.$refs['newsPhotos'].getAllFiles();

                photos.forEach(file => {
                    formData.append("photos[]", file);
                });
                formData.append("news", news);
                if (vm.id) {
                    axios.post('/profile/franchise/add-news/' + vm.id, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(responce => {
                        this.$emit('close');
                    }).catch(e => {
                        this.$swal({type: 'error', title: 'Ошибка!', text: 'Не все поля были заполнены'});
                    });
                }
            },
        }
    }
</script>

<style scoped>

</style>
