<template>

    <div class="field">
        <label class="label"><span>{{label}}</span></label>
        <div class="dropzone-previews dropzone-previews-photo">

        </div>

        <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" :useCustomSlot=true
                      v-on:vdropzone-upload-progress="uploadProgress"
        >
            <div class="dropzone-custom-content">
                <figure>
                    <svg-icon :icon="'ic_add_files.svg'"></svg-icon>
                </figure>
                <div>
                    <div class="dropzone-custom-content__title">{{trans('franchises.upload_photo.title')}}</div>
                    <div class="dropzone-custom-content__subtitle">{{trans('franchises.upload_photo.subtitle')}}</div>
                </div>
            </div>
        </vue-dropzone>

    </div>

</template>


<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    export default {
        components: {
            vueDropzone: vue2Dropzone
        },
        props: {
            label: {
                default: () => {
                    return trans('franchises.upload_photo.label')
                }
            },
        },
        data: function () {
            return {
                dropzoneOptions: {
                    url: 'https://httpbin.org/post',
                    thumbnailWidth: 40,
                    maxFilesize: 8,
                    headers: {"My-Awesome-Header": "header value"},
                    previewTemplate: this.template(),
                    previewsContainer: ".dropzone-previews-photo",
                    addRemoveLinks: false,
                    dictCancelUploadConfirmation: trans('franchises.upload_photo.dictCancelUploadConfirmation')
                },
            }
        },
        methods: {
            template: function () {
                return `
                <div class="dropzone-previews-item dz-preview dz-file-preview">
                    <figure class="dz-image not-hover">
                            <img data-dz-thumbnail />
                    </figure>
                    <div class="dz-preview__info">
                        <div class="dz-filename"><span data-dz-name></span></div>

                          <div class="dz-details">
                            <div class="dz-progress-wrap">
                                <span class="dz-progress-text"></span>
                                <div class="dz-progress">
                                    <span class="dz-upload" data-dz-uploadprogress></span>
                                </div>
                            </div>
                            <div class="dz-size"><span data-dz-size=""></span></div>
                            <div class="dz-error-message"><span class="has-text-danger" data-dz-errormessage=""></span></div>
                        </div>

                    </div>
                    <div class="dz-buttons">
                        <button class="button is-clear is-clear_close is-size-875 dz-delete-file" data-dz-remove><span
                            class="icon-close">×</span><span class="has-text-decoration-underline">` + trans('franchises.upload_photo.delete') + `</span>
                        </button>
                    </div>
                </div>`;
            },
            uploadProgress: function (file, progress, bytesSent) {
                var progressElement = file.previewElement.querySelector("[data-dz-uploadprogress]");
                progressElement.closest(".dz-progress-wrap").querySelector(".dz-progress-text").textContent = Math.round(progress) + "%";
            }
        }
    }
</script>


<style>

</style>
