<template>
    <div class="column is-narrow">
        <div class="buttons">
            <button
                class="button is-info is-outlined button-add h-3 has-text-weight-bold"
                @click="$emit('add')">
                <span class="icon is-marginless">+</span>
                <span class="is-size-875">Добавить {{ label }}</span>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            label: {default: ''},
        },
    }
</script>
