<template>
    <g-g-select-input
        v-model="object.category_id"
        :size="size"
        :label="trans('object.create.category.title')"
        :placeholder="trans('object.create.category.placeholder')"
        :options="categories"
        :errors="errors.categories"
        :required="true"
    />
</template>

<script>
    import GGSelectInput from '../form/GGSelectInput';

    export default {
        components: {
            GGSelectInput,
        },
        props: {
            object: {
                type: Object
            },
            entityName: {
                type: String
            },
            errors: {
                type: Object,
                default: () => ({
                    categories: []
                })
            },
            size: {
                type: [Number, String],
                default: 'is-6'
            },
            url: {
                type: String,
                default: null,
            },
        },
        data() {
            return {
                categories: [],
            }
        },
        mounted() {
            axios.get(this.url ? this.url : `/${this.entityName}/get-categories`).then(response => {
                this.categories = response.data;
            });
        },
    }
</script>
