<template>
    <div :class="'is-' + size" class="column">
        <div class="is-flex has-flex-column has-justify-content-end h-full">
            <!--<img src="">-->
            <label class="label" :class="{'label_req': required}">
                <span>{{ label }}</span>
            </label>
            <div class="field">
                <input
                    type="file"
                    class="input is-size-875"
                    @change="fileChange"
                    :required="!!required"
                    :placeholder="placeholder"
                    v-bind="bindMultiple"
                />
            </div>
        </div>
        <form-error v-if="errors" :margin="2">
            {{ errors[0] }}
        </form-error>
    </div>
</template>

<script>
    import FormError from "./FormError.vue";

    export default {
        name: 'FileInput',
        components: { FormError },
        props: {
            value: {default: ''},
            size: {default: 3},
            label: {default: ''},
            placeholder: {default: ''},
            required: {default: false},
            multiple: {default: false},
            errors: {default: () => []},
            index: null,
        },
        data() {
            return {
                inputValue: null,
            }
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    this.inputValue = value;
                }
            }
        },
        methods: {
            fileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length) {
                    return;
                } else if (!this.multiple) {
                    files = files[0];
                }
                this.$emit('change', files, this.index);
            },
        },
        computed: {
            bindMultiple() {
                if (this.multiple) {
                    return {
                        multiple: true,
                    }
                }
                return {}
            }
        }
    }
</script>
