<template>
    <div v-tooltip="tooltip" class="scrolltothis" :id="tooltipId">
        <div class="clearfix"></div>
    </div>
</template>

<script>
    export default {
        name: 'FormError',
        props: {
            error: {
                default:function (){
                    return {
                        show: false,
                        message: '',
                        type: 'info',
                        placement: 'left-bottom',
                        scroll: false
                    }
                }
            },
        },
        data() {
            return {
                tooltipId : 0,
                scrollto : {
                    easing: 'ease-in',
                    offset: -200,
                    force: true,
                    onStart: function(element) {
                        // scrolling started
                        //console.log('Scroll started');
                    },
                    onDone: function(element) {
                        // scrolling is done
                        //console.log('Scroll done');
                    },
                    onCancel: function() {
                        // scrolling has been interrupted
                    },
                    x: false,
                    y: true
                }
            }
        },
        created(){
            this.tooltipId = this.getId();
        },
        computed: {
            tooltip() {
                let content = this.error && this.error.message && (this.error.message.length > 0) ? this.error.message : '';
                let show = this.error && (this.error.show != undefined) ? this.error.show : false;
                let classes = this.error && (this.error.type != undefined) ? this.error.type : 'info';
                let placement = this.error && (this.error.placement != undefined) ? this.error.placement : 'left-bottom';
                let scroll = this.error && (this.error.scroll != undefined) ? this.error.scroll : false;

                if (scroll) {
                    this.$scrollTo( '#' + this.tooltipId, 500, this.scrollto );
                }

                return {
                    content: content,
                    placement: placement,
                    classes: [classes],
                    offset: 0,
                    show: show,
                    trigger: 'manual'
                }
            }
        },
        methods: {
            getRandomInt: function (min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min + 1)) + min;
            },
            getId: function () {
                return 'scrollTo_' + this.getRandomInt(100,10000);
            }
        }
    }
</script>

<style>
    .info .tooltip-inner {
        background: #004499 !important;
        color: white !important;
        padding: 24px !important;
        border-radius: 5px !important;
        box-shadow: 0 1px 10px #000000 !important;
        max-width: 250px !important;
    }
    .info .tooltip-arrow {
        border-color: #004499 !important;
    }

    .danger .tooltip-inner {
        background: #ed4444 !important;
        color: white !important;
        padding: 24px !important;
        border-radius: 5px !important;
        box-shadow: 0 1px 10px #000000 !important;
        max-width: 250px !important;
    }
    .danger .tooltip-arrow {
        border-color: #ed4444 !important;
    }
</style>
