<template>
    <div>
        <div class="add-business__objects-list">
            <div class="add-business__objects-item px-1-5 mb-2 list-wrap"
                 v-for="(object, index) in businessObjects">
                <h3 class="mb-1">Объект №{{index + 1}}</h3>
                <div class="columns is-multiline ">
                    <g-g-select-input v-model="object.propertyCategories.val" :size="'is-6'"
                                      :placeholder="trans('business.create.propertyCategories.placeholder')"
                                      :label="trans('business.create.propertyCategories.title')"
                                      :options="trans('business.create.propertyCategories.options')">
                    </g-g-select-input>
                    <g-g-select-input v-model="object.type_property.val" :size="'is-6'"
                                      :placeholder="trans('business.create.type_property.placeholder')"
                                      :label="trans('business.create.type_property.title')" :searchable="true"
                                      :options="trans('business.create.type_property.options')"/>

                    <g-g-input :type="'number'"
                               :prevText="trans('business.create.number_square_meters.prevText')"
                               :size="'is-6'"
                               v-model="object.number_square_meters.val"
                               :label="trans('business.create.number_square_meters.title')"
                               :placeholder="trans('business.create.number_square_meters.placeholder')">
                    </g-g-input>
                    <g-g-input :type="'number'" :prevText="$store.state.currency.sign"
                               :size="'is-6-tablet is-3-desktop'"
                               v-model="object.price_square_meters.val"
                               :label="trans('business.create.price_square_meters.title')"
                               :placeholder="trans('business.create.price_square_meters.placeholder')">
                    </g-g-input>

                    <g-g-check-box-input :size="'is-6-tablet is-3-desktop'" v-model="object.price_including_vat_bool.val"
                                         :label="trans('business.create.price_including_vat_bool.title')">
                    </g-g-check-box-input>
                    <template v-if="object.propertyCategories.val == 1">
                        <g-g-select-input v-model="object.title_documents.val"
                                          :size="'is-6-tablet is-3-desktop'"
                                          :label="trans('business.create.title_documents.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"/>
                        <g-g-select-input v-model="object.restrictions_operation.val"
                                          :size="'is-6-tablet is-3-desktop'"
                                          :label="trans('business.create.restrictions_operation.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"/>

                        <g-g-select-input v-if="object.restrictions_operation.val == 1" :size="'is-6'"
                                          v-model="object.list_restrictions_operation.val"
                                          :multiple="true"
                                          :placeholder="trans('business.create.list_restrictions_operation.placeholder')"
                                          :label="trans('business.create.list_restrictions_operation.title')"
                                          :options="trans('business.create.list_restrictions_operation.options')"/>

                        <g-g-select-input v-model="object.ref_register_estate.val"
                                          :size="'is-6-tablet is-3-desktop'"
                                          :label="trans('business.create.ref_register_estate.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"/>
                        <g-g-select-input v-model="object.technical_property_plan.val"
                                          :size="'is-6-tablet is-3-desktop'"
                                          :label="trans('business.create.technical_property_plan.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"/>
                        <g-g-select-input :size="'is-6'" v-model="object.coordination_redevelopment.val"
                                          :label="trans('business.create.coordination_redevelopment.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"/>

                        <g-g-select-input :size="'is-6'" v-model="object.availabilityMortgage.val"
                                          :label="trans('business.create.availabilityMortgage.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"/>
                        <template v-if="object.availabilityMortgage.val == 1">
                            <g-g-input :type="'number'" :prevText="$store.state.currency.sign"
                                       v-model="object.totalAmountMortgage.val"
                                       :label="trans('business.create.totalAmountMortgage.title')"
                                       :placeholder="trans('business.create.totalAmountMortgage.placeholder')">
                            </g-g-input>
                            <g-g-input :type="'number'" :prevText="$store.state.currency.sign"
                                       v-model="object.repaidAmountMortgage.val"
                                       :label="trans('business.create.repaidAmountMortgage.title')"
                                       :placeholder="trans('business.create.repaidAmountMortgage.placeholder')">
                            </g-g-input>


                            <g-g-input :type="'number'" :prevText="$store.state.currency.sign"
                                       v-model="object.balanceMortgage.val"
                                       :label="trans('business.create.balanceMortgage.title')"
                                       :placeholder="trans('business.create.balanceMortgage.placeholder')">
                            </g-g-input>
                            <g-g-input :type="'number'" :prevText="$store.state.currency.sign"
                                       v-model="object.monthlyPaymentMortgage.val"
                                       :label="trans('business.create.monthlyPaymentMortgage.title')"
                                       :placeholder="trans('business.create.monthlyPaymentMortgage.placeholder')">
                            </g-g-input>
                            <g-g-date-input v-model="object.finalPaymentMortgageDate.val"
                                            :label="trans('business.create.finalPaymentMortgageDate.title')"
                                            :placeholder="trans('business.create.finalPaymentMortgageDate.placeholder')">
                            </g-g-date-input>
                        </template>
                        <g-g-select-input :size="'is-6'" v-model="object.availabilityLoanSecuredObject.val"
                                          :label="trans('business.create.availabilityLoanSecuredObject.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"/>
                        <template v-if="object.availabilityLoanSecuredObject.val == 1">
                            <g-g-input :type="'number'" :prevText="$store.state.currency.sign"
                                       v-model="object.totalAmountCredit.val"
                                       :label="trans('business.create.totalAmountCredit.title')"
                                       :placeholder="trans('business.create.totalAmountCredit.placeholder')">
                            </g-g-input>
                            <g-g-input :type="'number'" :prevText="$store.state.currency.sign"
                                       v-model="object.repaidAmountCredit.val"
                                       :label="trans('business.create.repaidAmountCredit.title')"
                                       :placeholder="trans('business.create.repaidAmountCredit.placeholder')">
                            </g-g-input>

                            <g-g-input :type="'number'" :prevText="$store.state.currency.sign"
                                       v-model="object.balanceCredit.val"
                                       :label="trans('business.create.balanceCredit.title')"
                                       :placeholder="trans('business.create.balanceCredit.placeholder')">
                            </g-g-input>
                            <g-g-input :type="'number'" :prevText="$store.state.currency.sign"
                                       v-model="object.monthlyPaymentCredit.val"
                                       :label="trans('business.create.monthlyPaymentCredit.title')"
                                       :placeholder="trans('business.create.monthlyPaymentCredit.placeholder')">
                            </g-g-input>

                            <g-g-date-input :size="'is-3'" v-model="object.finalPaymentCreditDate.val"
                                            :label="trans('business.create.finalPaymentCreditDate.title')"
                                            :placeholder="trans('business.create.finalPaymentCreditDate.placeholder')">
                            </g-g-date-input>
                            <g-g-select-input :size="'is-3'" v-model="object.purposeCredit.val"
                                              :placeholder="trans('business.create.purposeCredit.placeholder')"
                                              :label="trans('business.create.purposeCredit.title')"
                                              :options="trans('business.create.purposeCredit.options')"/>

                        </template>
                        <g-g-select-input :size="'is-6'" v-model="object.jointPropertyEstate.val"
                                          :label="trans('business.create.jointPropertyEstate.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"/>
                        <g-g-select-input v-if="object.jointPropertyEstate.val == 1" :size="'is-6'"
                                          v-model="object.typeRelationshipCoowners.val"
                                          :label="trans('business.create.typeRelationshipCoowners.title')"
                                          :placeholder="trans('business.create.typeRelationshipCoowners.placeholder')"
                                          :options="trans('business.create.typeRelationshipCoowners.options')"/>
                        <g-g-input :size="'is-6'" :type="'number'" :prevText="$store.state.currency.sign"
                                   v-model="object.monthlyUtilityCosts.val"
                                   :label="trans('business.create.monthlyUtilityCosts.title')"
                                   :placeholder="trans('business.create.monthlyUtilityCosts.placeholder')">
                        </g-g-input>

                    </template>
                    <template v-if="(object.propertyCategories.val == 2)">
                        <!--Если аренда-->
                        <g-g-select-input :size="'is-6'" v-model="object.presenceChanging.val"
                                          :label="trans('business.create.presenceChanging.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"/>

                        <g-g-input v-if="object.presenceChanging.val == 1" :size="'is-6'" :type="'number'"
                                   :prevText="$store.state.currency.sign"
                                   v-model="object.costChanging.val"
                                   :label="trans('business.create.costChanging.title')"
                                   :placeholder="trans('business.create.costChanging.placeholder')">
                        </g-g-input>
                        <g-g-date-input :size="'is-6'" v-model="object.leaseTermTo.val"
                                        :label="trans('business.create.leaseTermTo.title')"
                                        :placeholder="trans('business.create.leaseTermTo.placeholder')">
                        </g-g-date-input>

                    </template>
                    <template v-if="(object.propertyCategories.val == 1)">
                        <g-g-input :size="'is-6'" :type="'number'" :prevText="'№'"
                                   v-model="object.houseBookNumber.val"
                                   :label="trans('business.create.houseBookNumber.title')"
                                   :placeholder="trans('business.create.houseBookNumber.placeholder')">
                        </g-g-input>
                    </template>

                    <div class="column is-6">
                        <div class="buttons">
                            <button class="button is-warning is-outlined button-remove"
                                    @click="removeObject">
                                <span class="icon is-marginless">&times;</span>
                                <span class="is-size-875">{{trans('business.create.remove_object')}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-1-5 mb-1">
            <div class="columns is-multiline">
                <div class="column is-6">
                    <div class="buttons">
                        <button class=" button is-info is-outlined button-add h-3"
                                @click="addObject">
                            <span class="icon is-marginless">+</span>
                            <span v-if="value.length > 0"
                                  class="is-size-875">{{trans('business.create.add_object')}}</span>
                            <span v-if="value.length == 0"
                                  class="is-size-875">{{trans('business.create.add_new_object')}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GGSelectInput from './GGSelectInput';
    import GGCheckBoxInput from './GGCheckBoxInput';
    import GGDateInput from './GGDateInput';
    import GGInput from './GGInput';
    import GGTextarea from './GGTextarea';

    export default {
        name: "GGBusinessObject",
        components: {
            GGTextarea,
            GGInput,
            GGDateInput,
            GGCheckBoxInput,
            GGSelectInput
        },
        props: {
            value: {
                default: () => {
                    return []
                }
            },
        },
        data() {
            return {}
        },
        methods: {
            addObject() {
                this.businessObjects.push({
                    propertyCategories: {
                        type: 'select',
                        val: 1,
                    },
                    type_property: {
                        type: 'select',
                        val: null,
                    },
                    number_square_meters: {
                        type: 'number',
                        val: null,
                    },
                    price_square_meters: {
                        type: 'price',
                        val: null,
                    },
                    price_including_vat_bool: {
                        type: 'checkbox',
                        val: null,
                    },
                    title_documents: {
                        type: 'have',
                        val: null,
                    },
                    restrictions_operation: {
                        type: 'yn',
                        val: 2,
                    },
                    list_restrictions_operation: {
                        type: 'mselect',
                        val: null,
                    },
                    ref_register_estate: {
                        type: 'have',
                        val: 2,
                    },
                    technical_property_plan: {
                        type: 'have',
                        val: 2,
                    },
                    coordination_redevelopment: {
                        type: 'have',
                        val: 2,
                    },
                    availabilityMortgage: {
                        type: 'have',
                        val: 2,
                    },
                    totalAmountMortgage: {
                        type: 'price',
                        val: null,
                    },
                    repaidAmountMortgage: {
                        type: 'price',
                        val: null,
                    },
                    balanceMortgage: {
                        type: 'price',
                        val: null,
                    },
                    monthlyPaymentMortgage: {
                        type: 'price',
                        val: null,
                    },
                    finalPaymentMortgageDate: {
                        type: 'date',
                        val: null,
                    },
                    availabilityLoanSecuredObject: {
                        type: 'have',
                        val: 2,
                    },
                    totalAmountCredit: {
                        type: 'price',
                        val: null,
                    },
                    repaidAmountCredit: {
                        type: 'price',
                        val: null,
                    },
                    balanceCredit: {
                        type: 'price',
                        val: null,
                    },
                    monthlyPaymentCredit: {
                        type: 'price',
                        val: null,
                    },
                    finalPaymentCreditDate: {
                        type: 'date',
                        val: null,
                    },
                    purposeCredit: {
                        type: 'select',
                        val: null,
                    },
                    jointPropertyEstate: {
                        type: 'yn',
                        val: 2,
                    },
                    typeRelationshipCoowners: {
                        type: 'select',
                        val: null,
                    },
                    monthlyUtilityCosts: {
                        type: 'price',
                        val: null,
                    },
                    houseBookNumber: {
                        type: 'number',
                        val: null,
                    },

                    presenceChanging: {
                        type: 'yn',
                        val: 2,
                    },
                    costChanging: {
                        type: 'price',
                        val: null,
                    },
                    leaseTermTo: {
                        type: 'date',
                        val: null,
                    },
                });
            },
            removeObject(index) {
                this.businessObjects.splice(index, 1);
            },
        },
        computed: {
            businessObjects: {
                get: function () {
                    return this.value
                },
                set: function (value) {
                    this.$emit('input', value);
                },
            }
        },
    }
</script>

