<template>
    <div :class="size" class="column">
        <div class="field">
            <label class="label" :class="{ 'label_req': required }">{{label}}</label>
            <div class="control">
                <div :class="(selected === null)?'inputbox-val':''" class="input h-3 is-size-875"
                     @click.prevent="toggleModal">
                    <span v-if="!multi">{{selectedNameTitle}}</span>
                    <div v-if="multi" class="multiselect__tags-wrap" style="">
                        <span v-for="item in multiselected" class="multiselect__tag">
                            <span>{{item.name}}</span>
                        </span>
                    </div>
                </div>
                <form-error :error="errors"/>
                <!--Modal-->
                <portal :to="target">
                    <div class="modal modal-select-category" :class="modalCategoryActive">
                        <div class="modal-background" @click.prevent="toggleModal"></div>
                        <div class="modal-card modal-card_big">
                            <header class="modal-card-head modal-card-head_bb">
                                <p class="modal-card-title">{{label}}</p>
                                <button class="delete close-modal" @click.prevent="toggleModal" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body is-paddingless">
                                <ul class="category-list">
                                    <li :class="(parseInt(category.id) == selected)?'is-active':''"
                                        @click="setCategory(parseInt(category.id),$t(category.translation))"
                                        v-for="category in realCategories"
                                        class="category-list__item">
                                        <figure v-if="category.icon" class="category-list__item__icon">
                                            <svg-icon :icon="'category/'+category.icon"></svg-icon>
                                        </figure>
                                        <span>{{$t(category.translation)}}</span>
                                    </li>
                                </ul>
                                <div v-if="subShow" class="subcategory-wrap">
                                    <div class="subcategory-header">
                                        <h3>{{trans('strings.select_sub_category')}}</h3>
                                        <div v-if="multi" class="toggle-list">
                                            <span class="toggle-list__item">{{trans('strings.select_all')}}</span>
                                            <span class="toggle-list__item">{{trans('strings.drop')}}</span>
                                        </div>
                                    </div>
                                    <ul class="subcategory-list">
                                        <li :class="(category.id === selected)?'is-active':''"
                                            @click="setSubCategory(category.id,$t(category.translation))"
                                            v-for="category in subCategories"
                                            class="subcategory-list__item">
                                            <figure class="category-list__item__icon">
                                                <svg-icon :icon="'category/'+category.icon"></svg-icon>
                                            </figure>
                                            <span>{{$t(category.translation)}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <footer class="modal-card-foot">
                                <button @click.prevent="save" class="button is-info save is-size-875 has-text-weight-bold">
                                    {{trans('strings.select')}}
                                </button>
                                <button @click.prevent="reset" class="button clear is-size-875">
                                    <svg-icon :icon="'ic_close.svg'"></svg-icon>
                                    <span>{{trans('strings.drop')}}</span>
                                </button>
                            </footer>
                        </div>
                    </div>
                </portal>
            </div>
        </div>
    </div>
</template>

<script>
    import FormError from './FormError.vue';
    export default {
        name: "GGCategoryButton",
        components: { FormError },
        props: {
            size: {
                default: ' is-3'
            },
            value: null,
            multi: {
                default: false
            },
            type: {
                default: 'business'
            },
            label: {
                default: trans('business.category')
            },
            defaultTitle:{
                default: trans('business.index.category')
            },
            categories:{
                default: []
            },
            isSubCat : {
                default: false
            },
            parentId : {
                default: null
            },
            target: {
                default: 'modals'
            },
            messageOnEmptyCategory: {
                default: trans('object.create.subcategory.error.on_empty_category')
            },
            errors: {
                default: null
            },
            required: {
                default: false
            },
        },
        data() {
            return {
                selected: null,
                parentSelected: false,
                multiselected: [],
                selectedName: trans('business.index.category'),
                modalCategoryShow: false,
                subCategories: [],
                subShow: false
            }
        },
        computed: {
            modalCategoryActive: function () {
                if (this.modalCategoryShow) {
                    return 'is-active';
                } else {
                    return '';
                }
            },
            selectedNameTitle: function () {
                let found = false;
                if (this.realCategories && this.realCategories.length > 0 ) {
                    this.realCategories.forEach(val => {
                        if (this.selected && (val.id === this.selected)) {
                            this.selectedName = this.$t(val.translation);
                            found = true;
                        }
                    });
                }
                if (!found && this.isSubCat && this.realCategories.length > 0) {
                    ////console.log( 'selectedNameTitle',this.isSubCat,this.parentId, this.selected, this.categories, this.value);
                    this.selectedName = this.defaultTitle;
                    this.selected = null;
                    this.$emit('input', this.selected);
                }
                return this.selectedName;
            },
            realCategories : function () {
                ////console.log( 'realCategories',this.isSubCat,this.parentId, this.selected, this.categories, this.value)
                if (this.isSubCat) {
                    if (this.parentId) {
                        return this.categories.filter(item => {
                            return item.category_id == this.parentId;
                        }).map(item => {
                            //item.icon = null
                            return item;
                        });
                    } else
                        return [];
                } else
                    return this.categories;
            }
        },
        mounted() {
            console.log(this.realCategories)
            let vm = this;
            let url = ''
            if (this.type === 'business') {
                url = '/business-get-categories';
            } else if (this.type === 'franchise') {
                url = '/franchise-get-categories'
            }
            ////console.log( 'mounted',this.isSubCat,this.parentId, this.categories)
            /*
            axios.get(url).then(responce => {
                vm.categories = responce.data;
                if (vm.value) {
                    vm.$nextTick(() => {
                        vm.selected = vm.value;
                        vm.selectedName = vm.categories[vm.selected].translation[locales.indexLocale];
                    });
                }
            })
            */
        },

        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value) {
                        this.selected = value;
                        this.realCategories.forEach(val => {
                            if (val.id === value) {
                                this.selected = value;
                                this.selectedName = this.$t(val.translation);
                            }
                        });
                    }
                }
            },
            parentId: {
                immediate: true,
                handler(value) {
                    if (this.isSubCat) {
                        if (value == null) {
                            this.selectedName = this.defaultTitle;
                            this.selected = null;
                            this.$emit('input', this.selected);
                        }
                    }
                }
            }
        },

        methods: {
            toggleModal() {
                if (this.isSubCat) {
                    if (this.parentId == null) {
                        /*
                        this.$swal({
                            type: 'error',
                            text: this.messageOnEmptyCategory
                        });
                        */
                        this.modalCategoryShow = false;
                        return false;
                    }
                }
                this.modalCategoryShow = !this.modalCategoryShow
                ////console.log( this.modalCategoryShow );
            },
            setCategory(id, name) {
                let hasChildren = false;
                this.multiselected = [];
                this.parentSelected = true;
                /*
                this.realCategories.forEach(category => {
                    if (category.id == id && category.children && category.children.length > 0) {
                        hasChildren = true;
                        this.subCategories = category.children;
                        this.subShow = true;
                        return;
                    }
                });
                */

                if (hasChildren === false) {
                    this.subShow = false;
                }
                if (this.multi) {
                    this.multiselected.push({
                        'id': id,
                        'name': name
                    })
                } else {
                    this.selected = parseInt(id);
                    this.selectedName = name;
                }
            },
            setSubCategory(id, name) {
                if (this.multi) {
                    if(this.parentSelected){
                        this.multiselected = [];
                        this.parentSelected = false;
                    }
                    let add = true;
                    this.multiselected.forEach(el => {
                        if (el.id == id) {
                            add = false;
                        }
                    })
                    if (add) {
                        this.multiselected.push({
                            'id': id,
                            'name': name
                        })
                    }
                } else {
                    this.selected = id;
                    this.selectedName = name;
                }
            },
            save() {
                this.modalCategoryShow = !this.modalCategoryShow;
                this.$emit('input', this.selected);
            },
            reset() {
                this.selected = null;
                this.selectedName = this.defaultTitle;
                this.save();
            }
        }
    }
</script>

<style scoped>

</style>
