<template>
            <div class="column is-12">
                <div class="columns is-multiline list-wrap" v-for="(item, index) in certificates">
                    <div class="column is-12">
                        <div class="columns is-multiline">
                            <div class="column">
                                <div class="columns is-multiline">
                                    <g-g-select-input
                                        @input="inputChange('type',item)"
                                        :size="'is-2-desktop is-6-tablet'"
                                        v-model="item.certificate_type_id"
                                        :allowempty="false"
                                        :placeholder="trans('object.create.certificates.type.placeholder')"
                                        :label="trans('object.create.certificates.type.title')"
                                        :options="translatedCertificateTypes(item)"
                                        :required="true"
                                        :errors="$parent.errors.certificates[index].certificate_type_id"
                                        @mouseover.native="$parent.fireTip($parent.errors.certificates[index].certificate_type_id)"
                                        @mouseleave.native="$parent.fireTip($parent.errors.certificates[index].certificate_type_id,false)"
                                    />
                                    <g-g-select-input
                                        @input="inputChange('doc',item)"
                                        :size="'is-6-desktop is-6-tablet'"
                                        v-model="item.certificate_document_id"
                                        :allowempty="false"
                                        :placeholder="trans('object.create.certificates.document.placeholder')"
                                        :label="trans('object.create.certificates.document.title')"
                                        :options="translatedCertificateDocuments(item)"
                                        :required="true"
                                        :errors="$parent.errors.certificates[index].certificate_document_id"
                                        @mouseover.native="$parent.fireTip($parent.errors.certificates[index].certificate_document_id)"
                                        @mouseleave.native="$parent.fireTip($parent.errors.certificates[index].certificate_document_id,false)"
                                    />
                                    <g-g-date-input
                                        @input="inputChange('date',item)"
                                        :size="'is-3-desktop is-12-tablet is-flex has-align-items-end'"
                                        v-model="item.license_period"
                                        :label="trans('object.create.certificates.licensePeriod.title')"
                                        :placeholder="trans('object.create.certificates.licensePeriod.placeholder')"
                                        :required="true"
                                        :errors="$parent.errors.certificates[index].license_period"
                                        @mouseover.native="$parent.fireTip($parent.errors.certificates[index].license_period)"
                                        @mouseleave.native="$parent.fireTip($parent.errors.certificates[index].license_period,false)"
                                    />
                                </div>
                            </div>
                            <div class="column is-narrow">
                                <div class="buttons has-justify-content-center h-full">
                                    <button v-if="certificates.length > 1"
                                        class="button is-warning is-outlined button-remove"
                                        v-tooltip="trans('object.create.certificates.remove')"
                                        @click="removeCertificates(index)">
                                        <span class="icon is-marginless">&times;</span>
                                        <span class="is-size-875 is-hidden-tablet">{{trans('object.create.certificates.remove')}}</span>
                                    </button>
                                    <button v-if="certificates.length < 10"
                                        class="button is-info is-outlined button-add"
                                        v-tooltip="trans('object.create.certificates.add')"
                                        @click="addCertificates">
                                        <span class="icon is-marginless">+</span>
                                        <span class="is-size-875 is-hidden-tablet">{{trans('object.create.certificates.add')}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</template>

<script>
    import GGDateInput from './GGDateInput'
    import GGSelectInput from './GGSelectInput'

    export default {
        name: "GGCertificatesInput",
        components: {
            GGDateInput,
            GGSelectInput
        },
        props: {
            value: {
                default: null
            },
            label: '',
            placeholder: {
                default: 'Поиск'
            },
            certificateTypes: {
                default: []
            },
            certificateDocuments: {
                default: []
            }
        },
        data() {
            return {
                certificates: []
            }
        },
        methods: {
            inputChange(type, item) {
                if (type == 'type')
                {
                    let exists = false;
                    this.certificateDocuments.forEach((doc, index) => {
                        if ((doc.id == item.certificate_document_id) && (doc.certificate_type_id == item.certificate_type_id))
                            exists = true;
                    });
                    if (!exists)
                        item.certificate_document_id = 0;
                }

                this.$emit('input', this.certificates);
            },
            addCertificates() {
                this.certificates.push({
                    certificate_type_id: 0,
                    certificate_document_id: 0,
                    license_period: null
                });
                if (this.$parent)
                    this.$parent.registerErrors('certificates');
            },
            removeCertificates(index) {
                this.certificates.splice(index, 1);
                if (this.$parent)
                    this.$parent.registerErrors('certificates');
            },
            translatedCertificateTypes : function (item) {
                return this.certificateTypes.map((val, index) => {
                    return {id:val.id, name: this.$t(val.translation)}
                });
            },
            translatedCertificateDocuments : function (item) {
                let arr = this.certificateDocuments.filter((val, index) => {
                    return val.certificate_type_id == item.certificate_type_id;
                });
                if ( arr.length > 0 ) {
                    arr = arr.map((val, index) => {
                        return {id:val.id, name: this.$t(val.translation)}
                    });
                    return arr;
                }
                else {
                    return [];
                }
            }
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value.length > 0) {
                        this.certificates = value;
                    } else {
                        this.certificates = [];
                        this.addCertificates();
                    }
                }
            }
        }
    }
</script>

