<template>
    <div class="column is-12">
        <div v-for="(item, index) in contracts" class="columns is-multiline list-wrap">
            <g-g-input
                @input="inputChange"
                :size="'is-6'"
                v-model="item.name"
                :label="trans('object.create.contracts.title.title') + ' ' + (index + 1)"
                :placeholder="trans('object.create.contracts.title.title')"
                :required="true"
                :errors="$parent.errors.b2b.contracts[index].name"
                @mouseover.native="$parent.fireTip($parent.errors.b2b.contracts[index].name)"
                @mouseleave.native="$parent.fireTip($parent.errors.b2b.contracts[index].name,false)"
            />

            <div class="column is-6">
                <div class="columns is-multiline">
                    <g-g-date-input
                        @input="inputChange" :size="'is-6'"
                        v-model="item.date"
                        :label="trans('object.create.contracts.finalDate.title') + ' ' + (index + 1)"
                        :placeholder="trans('object.create.contracts.finalDate.title')"
                        :required="true"
                        :errors="$parent.errors.b2b.contracts[index].date"
                        @mouseover.native="$parent.fireTip($parent.errors.b2b.contracts[index].date)"
                        @mouseleave.native="$parent.fireTip($parent.errors.b2b.contracts[index].date,false)"
                    />
                    <div class="column is-narrow">
                        <button v-if="contracts.length > 1"
                            class="button is-warning is-outlined button-remove"
                            v-tooltip="trans('object.create.contracts.remove_contract')"
                            @click="removeContract(index)">
                            &times;<span class="is-size-875 is-hidden-tablet">{{trans('object.create.contracts.remove_contract')}}</span>
                        </button>
                        <button v-if="contracts.length < 11"
                            class="button is-info is-outlined button-add"
                            v-tooltip="trans('object.create.contracts.add_contract')"
                            @click="addContract">
                            +<span class="is-size-875 is-hidden-tablet">{{trans('object.create.contracts.add_contract')}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GGInput from './GGInput'
    import GGDateInput from './GGDateInput'

    export default {
        name: "GGContractsInput",
        components: {GGInput, GGDateInput},
        props: {
            value: {
                default: () => {
                    return [];
                }
            }
        },
        methods: {
            inputChange() {
                //this.$emit('input', this.contracts);
            },
            addContract() {
                this.contracts.push({
                    name: null,
                    date: null,
                });
                if (this.$parent)
                    this.$parent.registerErrors('contracts');
            },
            removeContract(index) {
                this.contracts.splice(index, 1);
                if (this.$parent)
                    this.$parent.registerErrors('contracts');
            },
        },
        computed: {
            contracts: {
                get: function () {
                    return this.value
                },
                set: function (value) {
                    this.$emit('input', value);
                }
            }
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value.length == 0)
                        this.addContract();
                }
            }
        }
    }
</script>
