<template>
    <div class="column is-12">
        <div class="columns is-multiline">
            <div class="column is-12 pb-0">
                <h3>{{label}}</h3>
            </div>
            <div class="column is-12">
                <div class="columns is-multiline list-wrap"
                     v-for="(item, index) in list">
                    <g-g-select-input @input="inputChange" :size="'is-3-desktop is-6-tablet'"
                                      v-model="item.direction.val"
                                      :placeholder="trans('business.create.contractors.direction.placeholder')"
                                      :label="trans('business.create.contractors.direction.title')"
                                      :options="trans('business.create.contractors.direction.options')"/>

                    <g-g-input @input="inputChange" v-model="item.name.val"
                               :size="'is-3-desktop is-6-tablet'"
                               :label="trans('business.create.contractors.name.title')"
                               :placeholder="trans('business.create.contractors.name.placeholder')">
                    </g-g-input>
                    <div class="column is-6-desktop is-12-tablet">
                        <div class="columns is-multiline">
                            <div class="column">
                                <div class="columns is-multiline">
                                    <g-g-input @input="inputChange" :size="'is-6'"
                                               v-model="item.phone.val"
                                               :label="trans('business.create.contractors.phone.title')"
                                               :placeholder="trans('business.create.contractors.phone.placeholder')">
                                    </g-g-input>
                                    <g-g-input @input="inputChange" :size="'is-6'"
                                               v-model="item.mail.val"
                                               :label="trans('business.create.contractors.mail.title')"
                                               :placeholder="trans('business.create.contractors.mail.placeholder')">
                                    </g-g-input>
                                </div>
                            </div>
                            <div class="column is-narrow">
                                <div class="buttons has-justify-content-center">
                                    <button class="button is-warning is-outlined button-remove"
                                            v-tooltip="trans('business.create.contractors.remove')"
                                            @click="removeContractors(index)">
                                        <span class="icon is-marginless">
                                            &times;
                                        </span>
                                        <span class="is-size-875 is-hidden-tablet">{{trans('business.create.contractors.remove')}}</span>
                                    </button>
                                    <button class="button is-info is-outlined button-add"
                                            v-tooltip="trans('business.create.contractors.add')"
                                            @click="addContractors">
                                        <span class="icon is-marginless">
                                            +
                                        </span>
                                        <span class="is-size-875 is-hidden-tablet">{{trans('business.create.contractors.add')}}</span>
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import GGInput from './GGInput'
    import GGSelectInput from './GGSelectInput'

    export default {
        name: "GGContragentsInput",
        components: {GGInput, GGSelectInput},
        props: {
            value: {default: null},
            label: '',
            placeholder: {default: 'Поиск'}
        },
        data() {
            return {
                list: [
                    {
                        direction: {
                            type: 'select',
                            val: null
                        },
                        name: {
                            type: 'string',
                            val: null
                        },
                        phone: {
                            type: 'number',
                            val: null
                        },
                        mail: {
                            type: 'string',
                            val: null
                        }
                    }
                ],
                options: trans('business.create.theme.options'),
            }
        },
        methods: {
            inputChange() {
                this.$emit('input', this.list);
            },
            addContractors() {
                this.list.push({
                    direction: {
                        type: 'select',
                        val: null
                    },
                    name: {
                        type: 'select',
                        val: null
                    },
                    phone: {
                        type: 'number',
                        val: null
                    },
                    mail: {
                        type: 'string',
                        val: null
                    }
                });
            },
            removeContractors(index) {
                this.list.splice(index, 1);
            },
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value) {
                        this.list = value;
                    } else {
                        this.list = [{
                            direction: {
                                type: 'select',
                                val: null
                            },
                            name: {
                                type: 'select',
                                val: null
                            },
                            phone: {
                                type: 'number',
                                val: null
                            },
                            mail: {
                                type: 'string',
                                val: null
                            }
                        }]
                    }
                }
            }
        }
    }
</script>
