<template>
    <div :class="size" class="column">
        <div class="field">
            <label class="label label_req">
                <span>{{ label }}</span>
            </label>
            <div class="field has-addons ">
                <p :class="{'is-expanded': size === 'is-6'}" class="control control-text-left control-text-left_3em">
                    <input
                        @input="inputChange" type="number"
                        class="input is-size-875"
                        v-model="inputValue.from"
                    />
                    <span class="text is-left is-size-875">{{ textFrom }}&nbsp;</span>
                </p>
                <p :class="{'is-expanded': size === 'is-6'}" class="control control-text-left control-text-left_3em">
                    <input
                        @input="inputChange"
                        type="number"
                        class="input is-size-875"
                        v-model="inputValue.to"
                    />
                    <span class="text is-left is-size-875">{{ textTo }} </span>
                </p>
            </div>
        </div>
        <form-error :error="errors"/>
    </div>
</template>

<script>
    import FormError from './FormError.vue';
    export default {
        name: "GGFromToInput",
        components: {
            FormError
        },
        props: {
            textFrom: {
                default: 'от'
            },
            textTo: {
                default: 'до'
            },
            size: {
                default: 'is-3'
            },
            tooltip: {
                default: null
            },
            value: {
                default: null
            },
            label: '',
            errors: {
                default: null
            }
        },
        data() {
            return {
                inputValue: {
                    from: null,
                    to: null,
                }
            }
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    this.inputValue = value ? value : {
                        from: null,
                        to: null,
                    }
                }
            }
        },
        methods: {
            keyMonitor(event) {
                if (event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 188 || event.keyCode == 190 || event.keyCode == 187)
                    event.preventDefault();
            },

            inputChange() {
                this.$emit('input', this.inputValue);
            }
        }
    }
</script>
