<template>
    <div :class="size" class="column">
        <div class="is-flex has-flex-column has-justify-content-end h-full">
            <label class="label" :class="{ 'label_req': required }">
                <span>{{ label }}</span>
            </label>
            <div :class="{'has-addons':prevText}" class="field">
                <p v-if="prevText" class="control">
                    <span class="button is-static is-size-875">
                       {{ prevText }}
                    </span>
                </p>
                <div
                    :class="{
                        'is-expanded' : prevText,
                        'has-icons-right has-icons-right_1' : iconRight,
                        'has-icons-left has-icons-left_1' : iconLeft
                    }"
                    class="control">
                    <input
                        :type="type"
                        class="input is-size-875"
                        v-model="inputValue"
                        @input="inputChange"
                        v-on:keydown="keyMonitor"
                        :required="required"
                        :placeholder="placeholder"
                    />

                    <div v-if="iconLeft" class="icons is-left">
                        <span class="icon is-small">
                            <svg-icon :icon="iconLeft" />
                        </span>
                    </div>
                    <div v-if="iconRight" class="icons is-right">
                        <span class="icon is-small" v-tooltip="tooltip">
                            <svg-icon :icon="iconRight" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <form-error :error="errors"/>
    </div>
</template>

<script>
    import FormError from './FormError.vue';

    export default {
        name: "GGInput",
        components: { FormError },
        props: {
            type: {
                default: 'text'
            },
            iconLeft: {
                default: null
            },
            prevText: {
                default: null
            },
            iconRight: {
                default: null
            },
            tooltip: {
                default: null
            },
            size: {
                default: 'is-3'
            },
            value: null,
            label: '',
            placeholder: {
                default: 'Поиск'
            },
            required: {
                default: false
            },
            errors: {
                default: null
            },
            index: {
                default: null
            },
        },
        data() {
            return {
                inputValue: null,
                // errors: null,
            }
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    this.inputValue = value;
                }
            }
        },
        methods: {
            keyMonitor(event) {
                if (this.type === 'number') {
                    if (
                           event.keyCode === 69
                        || event.keyCode === 189
                        || event.keyCode === 188
                        || event.keyCode === 190
                        || event.keyCode === 187
                    ) {
                        event.preventDefault();
                    }
                }
            },
            inputChange() {
                this.$emit('input', this.inputValue, this.index);
            }
        }
    }
</script>
