<template>
    <div :class="size" class="column">
        <div class="field">
            <label class="label" :class="{ 'label_req': required }">
                <span>{{label}}</span>
            </label>
            <div class="control">
                <multiselect
                    v-model="selectedValue"
                    :deselect-label="deselectLabel"
                    track-by="id"
                    @input="selectChange"
                    label="name"
                    :disabled="disabled"
                    :placeholder="placeholder"
                    :options="options"
                    :searchable="searchable"
                    :allow-empty="allowempty"
                    :selectLabel="selectLabel"
                    :selectedLabel="selectedLabel"
                >
                    <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
                </multiselect>
            </div>
        </div>
        <form-error :error="errors"/>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import FormError from './FormError.vue';

    export default {
        name: "GGLocationSelectInput",
        components: {Multiselect, FormError},
        props: {
            value: null,
            disabled: {
                default: false
            },
            searchable: {
                default: true
            },
            allowempty: {
                default: true
            },
            country: {
                default: null
            },
            region: {
                default: null
            },
            size: {
                default: 'is-3'
            },
            type: {
                default: 'country'
            },
            placeholder: {
                default: trans('strings.select_placeholder')
            },
            errors: {
                default: null
            },
            required: {
                default: false
            }
        },
        data() {
            return {
                selectedValue: null,
                selectedLabel: trans('strings.selected_label'),
                selectLabel: '',
                deselectLabel: '',
                options: [],
                label: null,
                loaded:false
            }
        },
        methods: {
            selectChange() {
                if (this.selectedValue !== null)
                    this.$emit('input', this.selectedValue.id);
                else
                    this.$emit('input', null);
            }
        },
        mounted() {
            let vm = this;
            if (this.type === 'country' ) {
                axios.get('/location/get-countries').then(responce => {
                    vm.options = responce.data;
                    if (vm.value) {
                        for (const [key, val] of Object.entries(vm.options)) {
                            if (val.id === vm.value) {
                                vm.selectedValue = val;
                                vm.label = 'Страна';
                            }
                        }
                    }
                    vm.loaded = true;
                })
            }
        },
        watch: {
            country: {
                immediate: true,
                handler(value) {
                    if ( this.type != 'country') {
                        this.selectedValue = null;
                        this.options = [];
                        this.$emit('input', null);
                        //this.disabled = true;
                    }
                    if (value !== null) {
                        if ( this.type != 'country') {
                            //this.placeholder = trans('strings.list_loading');
                            this.$emit('loading', 'start', 'region');
                        }
                        let vm = this;
                        axios.get('/location/get-regions/' + vm.country).then(responce => {
                            this.$emit('loading', 'done', 'region');
                            //vm.placeholder = trans('strings.select_placeholder');
                            //vm.disabled = false;
                            vm.options = responce.data;
                            if (vm.value) {
                                for (const [key, val] of Object.entries(vm.options)) {
                                    if (val.id === vm.value) {
                                        vm.selectedValue = val;
                                        vm.label = 'Регион';
                                    }
                                }
                            }
                            vm.loaded = true;
                        })
                    }
                }
            },
            region: {
                immediate: true,
                handler(value) {
                    if ( this.type != 'country') {
                        this.selectedValue = null;
                        this.options = [];
                        //this.disabled = true;
                        this.$emit('input', null);
                    }
                    if (value !== null) {
                        if ( this.type != 'country') {
                            //this.placeholder = trans('strings.list_loading');
                            this.$emit('loading', 'start', 'city');
                        }
                        let vm = this;
                        axios.get('/location/get-cities/' + vm.region).then(responce => {
                            this.$emit('loading', 'done', 'city');
                            //vm.placeholder = trans('strings.select_placeholder');
                            //vm.disabled = false;
                            vm.options = responce.data;
                            if (vm.value) {
                                for (const [key, val] of Object.entries(vm.options)) {
                                    if (val.id === vm.value) {
                                        vm.selectedValue = val;
                                        vm.label = 'Город';
                                    }
                                }
                            }
                            vm.loaded = true;
                        })
                    }
                }
            },
            value: {
                immediate: true,
                handler(value) {
                    if (value !== null) {
                        for (const [key, val] of Object.entries(this.options)) {
                            if (val.id === this.value) {
                                this.selectedValue = val;
                            }
                        }
                    } else {
                        this.selectedValue = null;
                    }
                }
            },
            type: {
                immediate: true,
                handler(value) {
                    if (value === 'country') {
                        this.label = trans('strings.country');
                    } else if (value === 'city') {
                        this.label = trans('strings.city');
                    } else if (value === 'region') {
                        this.label = trans('strings.region');
                    }
                }
            }
        }
    }
</script>
