<template>
    <div class="column is-12">
        <div class="columns is-multiline">
            <div class="column is-12 pb-0">
                <h3>{{label}}</h3>
            </div>

            <div class="column is-12">
                <div class="columns is-multiline list-wrap"
                     v-for="(item, index) in form.list">
                    <g-g-translatable-input @input="inputChange" :size="'is-6-desktop is-12-tablet'" v-model="item.title"
                                    :label="trans('object.create.newsName.title')"
                                    :placeholder="trans('object.create.newsName.placeholder')"/>
                    <g-g-date-input @input="inputChange" :size="'is-6-desktop is-12-tablet'" v-model="item.date"
                                    :label="trans('object.create.newsDate.title')"
                                    :placeholder="trans('object.create.newsDate.placeholder')"/>
                    <div class="column is-12">
                        <files-upload ref="filesUpload" :remove-url="''"
                                      v-model="item.photos"
                                      :label="trans('object.create.newsPhotos.title')"></files-upload>
                    </div>
                    <g-g-translatable-input :type="'textarea'" :size="'is-12'" v-model="item.desc"
                                            :label="trans('object.create.newsText.title')"
                                            :placeholder="trans('object.create.newsText.placeholder')"/>



                    <div class="column is-12">
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <div class="buttons">
                                    <button class="button is-warning is-outlined button-remove"
                                            @click="removeNews(index)">
                                        <span class="icon is-marginless">&times;</span>
                                        <span class="is-size-875">{{trans('object.create.remove_news')}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column is-12">
                <div class="columns is-multiline">
                    <div class="column is-narrow">
                        <div class="buttons has-justify-content-center h-full">
                            <button class=" button is-info is-outlined button-add h-3"
                                    @click="addNews">
                                <span class="icon is-marginless">+</span>
                                <span class="is-size-875">{{trans('object.create.add_news')}}</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import GGDateInput from './GGDateInput'
    import FilesUpload from '../FilesUpload';
    import GGTranslatableInput from './GGTranslatableInput';

    export default {
        name: "GGNewsFranchisesInput",
        components: {GGDateInput, FilesUpload, GGTranslatableInput},
        props: {
            value: {default: null},
            label: {default: trans('franchises.create.news.title')},
        },
        data() {
            return {
                form: {
                    list: [{
                        title: null,
                        date: null,
                        photos: null,
                        desc: null
                    }],
                }
            }
        },
        methods: {
            inputChange() {
                this.$emit('input', this.form);
            },
            addNews() {
                this.form.list.push({
                    title: null,
                    date: null,
                    photos: null,
                    desc: null
                });
            },
            removeNews(index) {
                this.form.list.splice(index, 1);
            },
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value) {
                        this.form = value;
                    } else {
                        this.form = {
                            list: [{
                                title: null,
                                date: null,
                                photos: null,
                                desc: null
                            }],
                        }
                    }
                }
            }
        }
    }
</script>
