<template>
    <div>
        <div class="add-franchise__objects-list">
            <div
                class="add-franchise__objects-item px-1-5 mb-2 list-wrap"
                v-for="(item, index) in packages"
            >
                <h3 class="mb-1">
                    {{ trans('object.create.package.package') }} №{{index + 1}}
                </h3>
                <div class="columns is-multiline">
                    <g-g-translatable-input
                        :size="'is-6'"
                        v-model="item.name"
                        :label="trans('object.create.packages.name.title')"
                        :placeholder="trans('object.create.packages.name.placeholder')"
                        :required="true"
                        :errors="$parent.errors.packages[index].name"
                        @mouseover.native="$parent.fireTip($parent.errors.packages[index].name)"
                        @mouseleave.native="$parent.fireTip($parent.errors.packages[index].name,false)"
                    />
                    <g-g-input
                        :size="'is-3'" :type="'number'"
                        :prevText="$store.state.currency.sign"
                        v-model="item.price"
                        :label="trans('object.create.packages.cost.title')"
                        :placeholder="trans('object.create.packages.cost.placeholder')"
                        :required="true"
                        :errors="$parent.errors.packages[index].price"
                        @mouseover.native="$parent.fireTip($parent.errors.packages[index].price)"
                        @mouseleave.native="$parent.fireTip($parent.errors.packages[index].price,false)"
                    />
                    <g-g-check-box-input
                        :size="'is-3'"
                        v-model="item.vat"
                        :label="trans('object.create.price_including_vat_bool.title')"
                    />
                    <div class="column is-12">
                        <div class="columns is-multiline">
                            <g-g-radio-input
                                v-model="item.terms"
                                :label="trans('object.create.packages.purchaseTerms.title')"
                                :list="trans('object.create.packages.purchaseTerms.list')"
                            />
                            <template v-if="item.terms === $store.state.CONDITION_ROYALTY">
                                <div class="column is-6">
                                    <div class="columns is-multiline">
                                        <g-g-input
                                            :size="'is-5'"
                                            v-model="item.royalty_rate"
                                            :prevText="'%'"
                                            :label="trans('object.create.royalty_rate.title')"
                                            :placeholder="trans('object.create.royalty_rate.placeholder')"
                                            :type="'number'"
                                            :required="true"
                                            :errors="$parent.errors.packages[index].royalty_rate"
                                            @mouseover.native="$parent.fireTip($parent.errors.packages[index].royalty_rate)"
                                            @mouseleave.native="$parent.fireTip($parent.errors.packages[index].royalty_rate,false)"
                                        />
                                        <g-g-radio-input
                                            v-model="item.royalty_rate_period"
                                            :label="trans('object.create.royalty_rate_period.title')"
                                            :list="trans('object.create.royalty_rate_period.list')"
                                            :size="'is-7'"
                                        />
                                    </div>
                                </div>
                            </template>
                            <template v-if="item.terms === $store.state.CONDITION_LUMP_SUM">
                                <div class="column is-6">
                                    <div class="columns is-multiline">
                                        <g-g-input
                                            :size="'is-5'"
                                            v-model="item.lump_sum"
                                            :label="trans('object.create.lump_sum.title')"
                                            :placeholder="trans('object.create.lump_sum.placeholder')"
                                            :type="'number'"
                                            :required="true"
                                            :errors="$parent.errors.packages[index].lump_sum"
                                            @mouseover.native="$parent.fireTip($parent.errors.packages[index].lump_sum)"
                                            @mouseleave.native="$parent.fireTip($parent.errors.packages[index].lump_sum,false)"
                                        />
                                    </div>
                                </div>
                            </template>

                        </div>
                    </div>
                    <!--
                    <g-g-translatable-input
                            :type="'textarea'"
                            :size="'is-12'"
                            v-model="item.include"
                            :label="trans('object.create.packages.packageInclude.title')"
                            :placeholder="trans('object.create.packages.packageInclude.placeholder')"
                    />
                    -->
                    <g-g-textarea
                        :size="'is-12'"
                        v-model="item.include"
                        :label="trans('object.create.packages.packageInclude.title')"
                        :placeholder="trans('object.create.packages.packageInclude.placeholder')"
                        :required="true"
                        :errors="$parent.errors.packages[index].include"
                        @mouseover.native="$parent.fireTip($parent.errors.packages[index].include)"
                        @mouseleave.native="$parent.fireTip($parent.errors.packages[index].include,false)"
                    />
                    <g-g-translatable-input
                        :type="'textarea'"
                        :size="'is-12'"
                        v-model="item.benefits"
                        :label="trans('object.create.packages.packageBenefits.title')"
                        :placeholder="trans('object.create.packages.packageBenefits.placeholder')"
                        :required="true"
                        :errors="$parent.errors.packages[index].benefits"
                        @mouseover.native="$parent.fireTip($parent.errors.packages[index].benefits)"
                        @mouseleave.native="$parent.fireTip($parent.errors.packages[index].benefits,false)"

                    />
                    <div class="column is-6">
                        <div class="buttons" v-if="packages.length > 1">
                            <button
                                class="button is-warning is-outlined button-remove"
                                @click="removePackage(index)">
                                <span class="icon is-marginless">&times;</span>
                                <span class="is-size-875">{{trans('object.create.remove_package')}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-1-5 mb-1">
            <div class="columns is-multiline">
                <div class="column is-6">
                    <div class="buttons" v-if="packages.length < 3">
                        <button
                            class="button is-info is-outlined button-add h-3"
                            @click="addPackage">
                            <span class="icon is-marginless">+</span>
                            <span class="is-size-875">{{trans('object.create.add_package')}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import GGTranslatableInput from './GGTranslatableInput';
    import GGRadioInput from './GGRadioInput';
    import GGSelectInput from './GGSelectInput';
    import GGCheckBoxInput from './GGCheckBoxInput';
    import GGDateInput from './GGDateInput';
    import GGInput from './GGInput';
    import GGTextarea from './GGTextarea';

    export default {
        name: "GGObjectPackageInput",
        components: {
            GGTranslatableInput,
            GGRadioInput,
            GGSelectInput,
            GGTextarea,
            GGInput,
            GGDateInput,
            GGCheckBoxInput,
        },
        props: {
            value: {
                default: () => {
                    return [];
                }
            },
        },
        methods: {
            addPackage() {
                let id = this.packages.length + 1;
                this.packages.push({
                    idx: id,
                    name: '',
                    price: null,
                    vat: false,
                    terms: 0,
                    lump_sum: 0,
                    royalty_rate: 0,
                    royalty_rate_period: 1,
                    include: '',
                    benefits: '',
                });
                if (this.$parent)
                    this.$parent.registerErrors('packages');
            },
            removePackage(index) {
                this.packages.splice(index, 1);
                if (this.$parent)
                    this.$parent.registerErrors('packages');
            },
        },
        computed: {
            packages: {
                get: function () {
                    return this.value
                },
                set: function (value) {
                    this.$emit('input', value);
                },
            }
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value.length == 0)
                        this.addPackage();
                }
            }
        }
    }
</script>
