<template>
    <div :class="size" class="column is-flex has-align-items-end">
        <div class="field">
            <label class="label" :class="{ 'label_req': required }"><span>{{label}}</span></label>
            <div class="control is-size-875">
                <label class="radio h3" v-for="(item, index) in list">
                    <input type="radio"
                           :name="name"
                           :value="item.value"
                           v-model="inputValue">
                    <span>{{item.title}}</span>
                </label>
            </div>
        </div>
        <form-error :error="errors"/>
    </div>
</template>

<script>
    import FormError from './FormError.vue';

    export default {
        name: "GGRadioInput",
        components: { FormError },
        props: {
            list: null,
            name: '',
            size: {default: 'is-6'},
            value: {default: null},
            label: '',
            placeholder: {default: 'Поиск'},
            required: {default: false},
            errors: {default: null},
        },
        computed: {
            inputValue: {
                get: function () {
                    return this.value
                },
                set: function (value) {
                    this.$emit('input', value);
                },
            }
        },
    }
</script>
