<template>
    <div class="column is-12">
        <div class="columns is-multiline">
            <div class="column is-12 pb-0">
                <h3>{{ label }}</h3>
            </div>
            <div class="column is-12">
                <div
                    class="columns is-multiline list-wrap"
                    v-for="(item, index) in workers">
                    <g-g-select-input
                        :size="'is-6-desktop is-6-tablet'"
                        v-model="item.post_id"
                        :allowempty="false"
                        :placeholder="trans('object.create.staff.post.placeholder')"
                        :label="trans('object.create.staff.post.title')"
                        :options="postTypes"
                        :required="true"
                        :errors="$parent.errors.staff[index].post_id"
                        @mouseover.native="$parent.fireTip($parent.errors.staff[index].post_id)"
                        @mouseleave.native="$parent.fireTip($parent.errors.staff[index].post_id,false)"
                    />
                    <div class="column is-6-desktop is-12-tablet">
                        <div class="columns is-multiline">
                            <div class="column">
                                <div class="columns is-multiline">
                                    <g-g-input
                                        :type="'number'"
                                        :prevText="$store.state.currency.sign"
                                        :size="'is-6'"
                                        v-model="item.monthly_wages"
                                        :label="trans('object.create.staff.monthly_wages.title')"
                                        :placeholder="trans('object.create.staff.monthly_wages.placeholder')"
                                        :required="true"
                                        :errors="$parent.errors.staff[index].monthly_wages"
                                        @mouseover.native="$parent.fireTip($parent.errors.staff[index].monthly_wages)"
                                        @mouseleave.native="$parent.fireTip($parent.errors.staff[index].monthly_wages,false)"
                                    />

                                    <g-g-input
                                        :type="'number'"
                                        :prevText="$store.state.currency.sign"
                                        :size="'is-6'"
                                        v-model="item.tax_amount_per_month"
                                        :label="trans('object.create.staff.tax_amount_per_month.title')"
                                        :placeholder="trans('object.create.staff.tax_amount_per_month.placeholder')"
                                        :required="true"
                                        :errors="$parent.errors.staff[index].tax_amount_per_month"
                                        @mouseover.native="$parent.fireTip($parent.errors.staff[index].tax_amount_per_month)"
                                        @mouseleave.native="$parent.fireTip($parent.errors.staff[index].tax_amount_per_month,false)"
                                    />

                                </div>
                            </div>
                            <div class="column is-narrow">
                                <div class="buttons has-justify-content-center">
                                    <button v-if="workers.length > 1"
                                        class="button is-warning is-outlined button-remove"
                                        v-tooltip="trans('object.create.staff.remove')"
                                        @click="removeStaff(index)">
                                        <span class="icon is-marginless">
                                        &times;
                                        </span>
                                            <span class="is-size-875 is-hidden-tablet">{{trans('object.create.staff.remove')}}</span>
                                    </button>
                                    <button
                                        class="button is-info is-outlined button-add"
                                        v-tooltip="trans('object.create.staff.add')"
                                        @click="addStaff">
                                        <span class="icon is-marginless">
                                        +
                                        </span>
                                        <span class="is-size-875 is-hidden-tablet">{{trans('object.create.staff.add')}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GGInput from './GGInput'
    import GGSelectInput from './GGSelectInput'

    export default {
        name: "GGStaffFranchisesInput",
        components: {GGInput, GGSelectInput},
        props: {
            value: {
                default: () => {
                    return [];
                }
            },
            label: '',
            placeholder: {
                default: 'Поиск'
            },
            postTypes: {
                default: trans('object.create.staff.post.options')
            }
        },
        methods: {
            inputChange() {
                this.$emit('input', this.workers);
            },
            addStaff() {
                let id = this.workers.length + 1;
                this.workers.push({
                    idx: id,
                    post_id: null,
                    monthly_wages:  null,
                    tax_amount_per_month: null,
                });
                if (this.$parent)
                    this.$parent.registerErrors('staff');
            },
            removeStaff(index) {
                this.workers.splice(index, 1);
                if (this.$parent)
                    this.$parent.registerErrors('staff');
            },
        },
        computed: {
            workers: {
                get: function () {
                    return this.value
                },
                set: function (value) {
                    this.$emit('input', value);
                },
            }
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value.length == 0)
                        this.addStaff();
                }
            }
        }
    }
</script>
