<template>
    <div :class="size" class="column">
        <div class="field">
            <label class="label" :class="{ 'label_req': required }"><span>{{label}}</span></label>
            <div
                :class="{iconRight:'has-icons-right has-icons-right_1',iconLeft:'has-icons-left has-icons-left_1'}"
                class="control">
                <textarea
                    type="text"
                    class="textarea is-size-875"
                    v-model="inputValue"
                    @input="inputChange"
                    :placeholder="placeholder">
                </textarea>
                <div v-if="iconLeft" class="icons is-left">
                    <span class="icon is-small">
                        <svg-icon :icon="iconLeft"/>
                    </span>
                </div>
                <div v-if="iconRight" class="icons is-right">
                    <span class="icon is-small" v-tooltip="steps[1].form.name_legal_entity.tooltip">
                        <svg-icon :icon="iconRight"/>
                    </span>
                </div>
            </div>
        </div>
        <form-error :error="errors"/>
    </div>
</template>

<script>
    import FormError from './FormError.vue';

    export default {
        name: "GGTextarea",
        components: { FormError },
        props: {
            iconLeft: {default: null},
            iconRight: {default: null},
            size: {default: 'is-3'},
            value: '',
            label: '',
            placeholder: {default: 'Поиск'},
            required: {default: false},
            errors: {default: null}
        },
        data(){
          return{
              inputValue:null
          }
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    this.inputValue = value;
                }
            }
        },
        methods: {
            inputChange() {
                this.$emit('input', this.inputValue);
            }
        }
    }
</script>

