<template>
    <section :class="{'block': inline===false}">
        <g-g-select-input
            v-model="country"
            v-if="selects.includes('country')"
            :size="'is-' + size"
            :placeholder="translations.select"
            :label="trans('strings.country')"
            :searchable="true"
            :options="countries"
        />
        <g-g-select-input
            v-model="region"
            v-if="selects.includes('region')"
            :placeholder="translations.select"
            :label="trans('strings.region')"
            :searchable="true"
            :options="regions"
            :size="'is-' + size"
        />
        <g-g-select-input
            v-if="selects.includes('city')"
            v-model="city"
            :size="'is-' + size"
            :placeholder="translations.select"
            :label="trans('strings.city')"
            :searchable="true"
            :options="cities"
        />
    </section>
</template>

<script>
    import GGSelectInput from './GGSelectInput'

    export default {
        components: {
            GGSelectInput,
        },
        props: {
            selects: {default: () => ['country', 'region', 'city']},
            model: {
                type: Object,
                default: () => ({
                    country_id: null,
                    region_id: null,
                    city_id: null,
                }),
            },
            size: {default: 12},
            inline: {default: false},
        },
        data() {
            return {
                translations: {
                    select: trans('strings.select'),
                },
                countries: [],
                regions: [],
                cities: [],
                country: null,
                region: null,
                city: null,
            }
        },
        mounted() {
            this.country = this.model.country_id;
            this.region = this.model.region_id;
            this.city = this.model.city_id;
            axios.get(`/location/get-countries`).then(response => {
                this.countries = response.data;
            });
            if (this.country!==null) {
                this.getRegions(this.country);
            }
            if (this.region!==null) {
                this.getCities(this.region);
            }
        },
        methods: {
            getRegions(country) {
                axios.get(`/location/get-regions/${country}`).then(responce => {
                    this.regions = responce.data;
                });
            },
            getCities(region) {
                axios.get(`/location/get-cities/${region}`).then(responce => {
                    this.cities = responce.data;
                });
            },
        },
        watch: {
            country: {
                immediate: true,
                handler(country) {
                    if (country !== null) {
                        this.getRegions(country);
                        this.$emit('country-change', country);
                    }
                    // this.$parent.setCountry(country);
                }
            },
            region: {
                immediate: true,
                handler(region) {
                    if (region !== null) {
                        this.getCities(region);
                        this.$emit('region-change', region);
                    }
                    // this.$parent.setRegion(value);
                }
            },
            city: {
                handler(value) {
                    if (value !== null) {
                        this.$emit('city-change', value);
                    }
                    // this.$parent.setCity(value);
                }
            },
        },
    }
</script>

<style>
    .block {
        width: 100%
    }
</style>
