<template>
     <div :class="'is-' + size" class="column multilang-field">
        <label class="label" :class="{ 'label_req': required }">
            <span>{{ label }}</span>
            <div class="input__lang-switch">
                <a
                    href=""
                    v-for="item in this.inputValues"
                    :class="[
                        {'active': item.lang===currentLang},
                        {'is-empty': item.value===''}
                    ]"
                    @click.prevent="currentLang = item.lang"
                >{{ item.lang }}</a>
            </div>
        </label>
        <div :class="{'has-addons':prevText}" class="field">
            <p v-if="prevText" class="control">
                <span class="button is-static is-size-875">
                    {{ prevText }}
                </span>
            </p>
            <div
                :class="{
                    'is-expanded':prevText,
                    'has-icons-right has-icons-right_1':iconRight,
                    'has-icons-left has-icons-left_1':iconLeft
                }"
                class="control">

                <div v-for="item in inputValues">
                    <input
                        type="text"
                        class="input is-size-875"
                        v-if="type==='text' || type==='number'"
                        v-model="item.value"
                        v-show="item.lang === currentLang"
                        @input="change"
                        @keydown="keyMonitor"
                        :required="required"
                        :placeholder="placeholder"
                    />
                    <textarea
                        v-if="type==='textarea'"
                        class="textarea is-size-875"
                        v-model="item.value"
                        v-show="item.lang === currentLang"
                        @input="change"
                        :required="required"
                    ></textarea>
                    <quill-editor
                        v-if="type==='quill'"
                        v-model="item.value"
                        :lang="item.lang"
                        v-show="item.lang === currentLang"
                        @change="quillChange"
                        :required="required"
                    />
                </div>
               
                <div v-if="iconLeft" class="icons is-left">
                    <span class="icon is-small">
                        <svg-icon :icon="iconLeft"/>
                    </span>
                </div>

                <div v-if="iconRight" class="icons is-right">
                    <span class="icon is-small" v-tooltip="tooltip">
                        <svg-icon :icon="iconRight"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import QuillEditor from './QuillEditor';

export default {
    components: {
        QuillEditor,
    },
    props: {
        type: {default: 'text'},
        iconLeft: {default: null},
        iconRight: {default: null},
        prevText: {default: null},
        size: {default: 'is-3'},
        tooltip: {default: null},
        value: {default: null},
        label: {default: ''},
        placeholder: {default: ''},
        required: {default: false},
        fieldName: {default: ''},
    },
    data() {
        return {
            inputValues: [],
            currentLang: this.$store.state.languages[0],
            languages: this.$store.state.languages
        };
    },
    mounted() {
        for (let lang of this.languages) {
            if (
                   this.value!==null
                && this.value.hasOwnProperty(lang)
            ) {
                this.inputValues.push({
                    lang: lang,
                    value: this.value[lang],
                })
            } else {
                this.inputValues.push({
                    lang: lang,
                    value: '',
                })
            }
        }
    },
    methods: {
        quillChange(value, index, lang) {
            this.inputValues.map(function(item, key) {
                if (item.lang===lang) {
                    item.value = value;
                }
            });
            this.$emit('input', this.fieldName, this.getFormattedText(), index);        },
        change() {
            this.$emit('input', this.getFormattedText());
        },
        getFormattedText() {
            return this.inputValues.reduce(function(result, item) {
                result[item.lang] = item.value;
                return result;
            }, {});
        },
        keyMonitor(event) {
            if (this.type==='number') {
                if (
                       event.keyCode === 69
                    || event.keyCode === 189
                    || event.keyCode === 188
                    || event.keyCode === 190
                    || event.keyCode === 187
                ) {
                    event.preventDefault();
                }
            }
        },
    }
}   
</script>
