<template>
    <div class="control">
        <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
        <quill-editor
            v-model="text"
            :options="options"
            @input="change"
        />
    </div>
</template>

<script>
    import 'quill/dist/quill.core.css';
    import 'quill/dist/quill.snow.css';
    import 'quill/dist/quill.bubble.css';
    import {quillEditor} from 'vue-quill-editor'

    export default {
        components: {
            quillEditor,
        },
        props: {
            index: null,
            lang: null,
            value: {
                type: String,
                default: '',
            },
            options: {
                type: Object,
                default: () => ({
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{'header': 1}, {'header': 2}],
                            [{'list': 'ordered'}, {'list': 'bullet'}],
                            [{'script': 'sub'}, {'script': 'super'}],
                            [{'indent': '-1'}, {'indent': '+1'}],
                            [{'direction': 'rtl'}],
                            [{'size': ['small', false, 'large', 'huge']}],
                            [{'header': [1, 2, 3, 4, 5, 6, false]}],
                            [{'font': []}],
                            [{'color': []}, {'background': []}],
                            [{'align': []}],
                            ['clean'],
                            ['link', 'image', 'video']
                        ]
                    },
                }),
            },
        },
        data() {
            return {
                text: null,
            }
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    this.text = value;
                }
            }
        },
        methods: {
            change(text) {
                this.$emit('change', text, this.index, this.lang);
            },
        }
    }
</script>
