<template>
    <div class="column is-12">
        <div class="buttons">
            <button
                class="button is-warning is-outlined button-remove h-3 has-text-weight-bold"
                @click="remove">
                <span class="icon is-marginless">&times;</span>
                <span class="is-size-875">{{ trans('strings.delete') }} {{ label }}</span>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            label: {default: ''},
        },
        methods: {
            remove(index) {
                this.$emit('remove', index);
            },
        }
    }
</script>
