<template>
    <modal v-if="show" @close="$emit('close')">
        <div slot="header">
            <p class="modal-card-title mb-0">{{ trans('services.single.order') }} исполнителя</p>
        </div>
        <div slot="body">
            <div class="content">
                <form @submit.prevent="submit">
                    <div class="columns is-multiline">
                        <g-g-input
                            :type="'text'"
                            :size="'is-6'"
                            v-model="form.name"
                            :label="'Имя'"
                            :placeholder="'Введите Ваше имя'"
                            :required="true"
                        />
                        <g-g-input
                            :type="'phone'"
                            :size="'is-6'"
                            v-model="form.phone"
                            :label="'Телефон'"
                            :placeholder="'Введите Ваш телефон'"
                            :required="true"
                        />
                        <g-g-textarea
                            :size="'is-12'"
                            v-model="form.comment"
                            :label="'Комментарий'"
                            :placeholder="'Введите Ваши пожелания'"
                        />
                    </div>
                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <button
                                type="submit"
                                class="button is-link is-fullwidth has-text-weight-bold h-3 is-size-875">
                                Заказать
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="content w-full" slot="footer"></div>
    </modal>
</template>

<script>
    import Modal from '../../../modals/Modal';
    import GGInput from '../../../form/GGInput';
    import GGTextarea from '../../../form/GGTextarea';

    export default {
        name: "OrderUserServiceModal",
        components: {
            Modal,
            GGInput,
            GGTextarea
        },
        props: {
            show: {default: false}
        },
        data: () => ({
            form: {
                name: null,
                phone: null,
                comment: null,
            }
        }),
        methods: {
            submit() {
                this.$emit('success')
            },
        }
    }
</script>
