<template>
    <div>
        <h3 ref="nova-category" class="cursor-pointer flex items-center font-normal dim text-white mb-6 text-base no-underline" @click.prevent="toggle">
            <fa class="sidebar-icon" :icon="icon"></fa>
            {{ header }}
            <template v-if="expanded">&minus;</template>
            <template v-else>&plus;</template>
        </h3>

        <transition-group tag="ul" class="list-reset" :class="{'mb-6': last }">
            <slot v-if="expanded"></slot>
        </transition-group>
    </div>
</template>

<script>
    export default {
        props: {
            icon:String,
            header: String,
            last: Boolean,
        },
        data() {
            return {
                expanded: false,
            };
        },
        methods: {
            toggle() {
                this.expanded = !this.expanded
            }
        }
    }
</script>
