<template>
    <div class="container broker-pa">


        <div class="broker-pa__header">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <h1 class="section-title mb-0-5">Баланс и выплаты</h1>
                </div>
            </div>
        </div>

        <div class="columns is-multiline">
            <div class="column is-12-tablet is-8-desktop">
                <div class="broker-pa__balance-box-date is-flex">
                    <section>
                        <!-- Swiper -->
                        <div class="swiper-container swiper-broker-data-balance-month">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="broker-data-balance-month-indicator">
                                        <div class="broker-data-balance-month-indicator__value">
                                            Сентябрь, 18
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="broker-data-balance-month-indicator">
                                        <div class="broker-data-balance-month-indicator__value">
                                            Октябрь, 18
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="broker-data-balance-month-indicator">
                                        <div class="broker-data-balance-month-indicator__value">
                                            Ноябрь, 18
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide is-active">
                                    <div class="broker-data-balance-month-indicator">
                                        <div class="broker-data-balance-month-indicator__value">
                                            Декабрь, 18
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="broker-data-balance-month-indicator">
                                        <div class="broker-data-balance-month-indicator__value">
                                            Январь, 19
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="broker-data-balance-month-indicator">
                                        <div class="broker-data-balance-month-indicator__value">
                                            Февраль, 19
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="broker-data-balance-month-indicator">
                                        <div class="broker-data-balance-month-indicator__value">
                                            Март, 19
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next swiper-broker-data-indicators-next"></div>
                            <div class="swiper-button-prev swiper-broker-data-indicators-prev"></div>
                        </div>
                    </section>
                    <!--ToDo: при наличии данных выводить график в виде столбцов (инфа от Стаса)-->
                    <div class="no-date">
                        <span>
                            Данные недоступны, так как в этом месяце не было начислений
                        </span>
                    </div>
                </div>
            </div>
            <div class="column is-12-tablet is-4-desktop">
                <div class="box is-paddingless broker-pa__balance-box">
                    <div class="broker-pa__balance-box__header is-flex">
                        <figure>
                            <svg-icon :icon="'ic_balance.svg'"></svg-icon>
                        </figure>
                        <h4>Текущий баланс к выплат
                            составляет — €100</h4>
                    </div>
                    <hr class="my-0">
                    <div class="broker-pa__balance-box__info-list is-size-875">
                        <div class="broker-pa__balance-box__info-item">
                            <div>
                                <span>График выплат</span>
                                <span class="icon icon-1" v-tooltip="'tooltip text'">
                                <svg-icon :icon="'ic_help.svg'"></svg-icon>
                               </span>
                            </div>
                            <div class="has-text-right"><span>Ежемесячно, 1-го и 16-го</span></div>
                        </div>
                        <div class="broker-pa__balance-box__info-item">
                            <div>
                                <span>Холд</span>
                                <span class="icon icon-1" v-tooltip="'tooltip text'">
                                    <svg-icon :icon="'ic_help.svg'"></svg-icon>
                                </span>
                            </div>
                            <div class="has-text-right"><span>3 дня</span></div>
                        </div>
                    </div>
                    <hr class="my-0">
                    <div class="broker-pa__balance-box__info-list is-size-875">
                        <div class="broker-pa__balance-box__info-item">
                            <div>
                                <span>Основной баланс</span>
                                <span class="icon icon-1" v-tooltip="'tooltip text'">
                                     <svg-icon :icon="'ic_help.svg'"></svg-icon>
                                </span>
                            </div>
                            <div class="has-text-right"><span>€ 11 690.00</span></div>
                        </div>
                        <div class="broker-pa__balance-box__info-item">
                            <div>
                                <span>Комис. на оплате рекламодателя</span>
                                <span class="icon icon-1" v-tooltip="'tooltip text'">
                                 <svg-icon :icon="'ic_help.svg'"></svg-icon>
                            </span>
                            </div>
                            <div class="has-text-right"><span>€ 470.00</span></div>
                        </div>
                        <div class="broker-pa__balance-box__info-item">
                            <div><span>Комис. в холде</span><span class="icon icon-1"
                                                                  v-tooltip="'tooltip text'">
                                 <svg-icon :icon="'ic_help.svg'"></svg-icon>
                            </span></div>
                            <div class="has-text-right"><span>€ 70.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="section is-paddingless content">
            <h3>Все операции по счету</h3>
            <table class="table is-fullwidth is-size-875">
                <thead class="is-hidden-mobile">
                <tr>
                    <th>ID заявки</th>
                    <th>Дата создания</th>
                    <th>Статус</th>
                    <th>Сумма к списанию</th>
                    <th>Сумма к выплате</th>
                    <th>Внешний счет</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="box is-paddingless is-block-mobile">
                <tr class="is-block-mobile is-size-0">
                    <td class="is-block-mobile is-size-875">
                        <div class="has-text-basic is-hidden-tablet">ID заявки</div>
                        <div>2210</div>
                    </td>
                    <td class="has-text-basic is-block-mobile is-size-875">
                        <div class="has-text-basic is-hidden-tablet">Дата создания</div>
                        <div> 28.09.2018 <span style="color: #8B97A9;">в 12:44 (Польша)</span></div>
                    </td>
                    <td class="has-text-basic is-block-mobile is-size-875">
                        <div class="has-text-basic is-hidden-tablet">Статус</div>
                        <div>Выведено</div>
                    </td>
                    <td class="is-inline-block-mobile is-half-width-mobile is-size-875">
                        <div class="has-text-basic is-hidden-tablet has-line-height-normal">Сумма к списанию</div>
                        <div>€ 11 690.00</div>
                    </td>
                    <td class="has-text-basic has-text-weight-bold is-inline-block-mobile is-half-width-mobile is-size-875">
                        <div class="has-text-basic is-hidden-tablet has-line-height-normal">Сумма к выплате</div>
                        <div>€ 11 690.00</div>
                    </td>
                    <td class="has-text-basic is-block-mobile is-size-875">
                        <div class="has-text-basic is-hidden-tablet">Внешний счет</div>
                        <div>56763467734</div>
                    </td>
                    <td class="is-block-mobile is-size-875">
                        <span class="icon icon-1 has-action">
                             <svg-icon :icon="'ic_check.svg'"></svg-icon>
                        </span>
                        <span class="icon icon-1 has-action">
                             <svg-icon :icon="'ic_view-list.svg'"></svg-icon>
                        </span>
                    </td>
                </tr>

                </tbody>
            </table>
        </section>
    </div>
</template>

<script>
    // Import Swiper and modules
    import {Swiper, Navigation} from 'swiper/dist/js/swiper.esm.js';
    // Install modules
    Swiper.use([Navigation]);

    export default {
        name: "BrokerBalance",
        components: {},
        data() {
            return {}
        },
        mounted() {
            var swiperBrokerDataBalanceMonth = new Swiper('.swiper-broker-data-balance-month', {
                slidesPerView: 'auto',
                spaceBetween: 0,
                loop: false,
                navigation: {
                    nextEl: '.swiper-broker-data-indicators-next',
                    prevEl: '.swiper-broker-data-indicators-prev',
                },
            });
        },
    }
</script>

<style scoped>

</style>
