<template>
    <section class="section py-0">
        <div class="container broker-pa">


            <div class="broker-pa__header">
                <div class="columns is-multiline">
                    <div class="column is-8-desktop is-12-tablet">
                        <h1 class="section-title mb-0-5">Сводные показатели</h1>
                    </div>
                    <div class="column is-4-desktop is-12-tablet">
                        <div class="buttons">
                            <button class="button is-outlined is-info is-size-875 has-text-weight-bold h-3 px-1">
                            <span class="icon">
                                <svg-icon :icon="'ic_lifesaver-2.svg'"></svg-icon>
                            </span>
                                <span>Помощь</span>
                            </button>
                            <div
                                class="control has-icons-left has-icons-left_1">
                                <flat-pickr
                                    class="input is-size-875"
                                    @on-close="dateChanged"
                                    v-model="rangeDates.value"
                                    :placeholder="rangeDates.placeholder"
                                    :config="rangeDates.config"
                                >
                                </flat-pickr>
                                <div class="icons is-left">
                                  <span class="icon is-small">
                                     <svg-icon :icon="'ic_calendar.svg'"></svg-icon>
                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section>
                <!-- Swiper -->
                <div class="swiper-container swiper-broker-data-indicators">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="broker-data-indicator">
                                <div class="broker-data-indicator__title">
                                    <span class="is-size-875 has-text-basic">{{trans('account.views')}}</span>
                                    <span class="icon icon-1" v-tooltip="'tooltip text'">
                                    <svg-icon :icon="'ic_help.svg'"></svg-icon>
                                </span>
                                </div>
                                <div class="broker-data-indicator__value has-text-weight-bold">
                                    {{views}}
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="broker-data-indicator">
                                <div class="broker-data-indicator__title">
                                    <span class="is-size-875 has-text-basic">{{trans('account.hits')}}</span>
                                    <span class="icon icon-1" v-tooltip="'tooltip text'">
                                  <svg-icon :icon="'ic_help.svg'"></svg-icon>
                                </span>
                                </div>
                                <div class="broker-data-indicator__value has-text-weight-bold">
                                    {{hits}}
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="broker-data-indicator">
                                <div class="broker-data-indicator__title">
                                    <span class="is-size-875 has-text-basic">{{trans('account.open_leads')}}</span>
                                    <span class="icon icon-1" v-tooltip="'tooltip text'">
                                   <svg-icon :icon="'ic_help.svg'"></svg-icon>
                                </span>
                                </div>
                                <div class="broker-data-indicator__value has-text-weight-bold">
                                    {{open_leads}}
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="broker-data-indicator">
                                <div class="broker-data-indicator__title">
                                    <span class="is-size-875 has-text-basic">{{trans('account.approved_leads')}}</span>
                                    <span class="icon icon-1" v-tooltip="'tooltip text'">
                                   <svg-icon :icon="'ic_help.svg'"></svg-icon>
                                </span>
                                </div>
                                <div class="broker-data-indicator__value has-text-weight-bold">
                                    {{approved_leads}}
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="broker-data-indicator">
                                <div class="broker-data-indicator__title">
                                    <span class="is-size-875 has-text-basic">{{trans('account.payed_targets')}}</span>
                                    <span class="icon icon-1" v-tooltip="'tooltip text'">
                                   <svg-icon :icon="'ic_help.svg'"></svg-icon>
                                </span>
                                </div>
                                <div class="broker-data-indicator__value has-text-weight-bold">
                                    {{payed_targets}}
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="broker-data-indicator">
                                <div class="broker-data-indicator__title">
                                    <span class="is-size-875 has-text-basic">{{trans('account.open_commission')}}</span>
                                    <span class="icon icon-1" v-tooltip="'tooltip text'">
                                   <svg-icon :icon="'ic_help.svg'"></svg-icon>
                                </span>
                                </div>
                                <div class="broker-data-indicator__value has-text-weight-bold">
                                    {{open_commission}}
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="broker-data-indicator">
                                <div class="broker-data-indicator__title">
                                    <span
                                        class="is-size-875 has-text-basic">{{trans('account.approved_commission')}}</span>
                                    <span class="icon icon-1" v-tooltip="'tooltip text'">
                                   <svg-icon :icon="'ic_help.svg'"></svg-icon>
                                </span>
                                </div>
                                <div class="broker-data-indicator__value has-text-weight-bold">
                                    {{approved_commission}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-broker-data-indicators-next"></div>
                    <div class="swiper-button-prev swiper-broker-data-indicators-prev"></div>
                </div>
            </section>


            <div class="columns is-multiline">
                <div class="column">
                    <div class="columns is-multiline">
                        <g-g-select-input v-model="typeData" :size="'is-6'"
                                          @input=""
                                          :placeholder="trans('account.data_in_chart.placeholder')"
                                          :label="trans('account.data_in_chart.title')"
                                          :searchable="true"
                                          :options="trans('account.data_in_chart.options')"></g-g-select-input>
                        <g-g-select-input v-model="comparison" :size="'is-6'"
                                          :placeholder="trans('account.compare.placeholder')"
                                          :label="trans('account.compare.title')"
                                          :searchable="true"
                                          :options="trans('account.compare.options')"></g-g-select-input>
                    </div>
                </div>

                <div class="column is-narrow">
                    <div class="is-flex has-align-items-end h-full broker-pa__graphic-controls">
                        <div class="buttons mr-1">
                            <button @click="fetchChartData"
                                    class="button h-3 is-outlined is-info is-size-875 px-1 mb-0">
                            <span class="icon icon-1 is-small">
                                <svg-icon :icon="'ic_reload.svg'"></svg-icon>
                            </span>
                            </button>
                        </div>

                        <div class="buttons has-addons mr-1">
                            <button class="button h-3 is-outlined is-info is-size-875 mb-0"
                                    v-bind:class="{ 'is-active': dateType=='day'}"
                                    @click="switchDateType('day')"
                            >
                                <span>{{trans('account.day')}}</span>
                            </button>
                            <button class="button h-3 is-outlined is-size-875 mb-0 is-info"
                                    v-bind:class="{ 'is-active': dateType=='week'}"
                                    @click="switchDateType('week')"
                            >
                                <span>{{trans('account.week')}}</span>
                            </button>
                        </div>

                        <div class="buttons has-addons">
                            <button class="button h-3 is-outlined is-info is-size-875 is-medium mb-0"
                                    v-bind:class="{ 'is-active': typeChart=='line'}"
                                    @click="switchChart('line')">
                            <span class="icon is-medium">
                                <svg-icon :icon="'ic_line-chart.svg'"></svg-icon>
                            </span>
                            </button>
                            <button class="button h-3 is-outlined is-size-875 is-info is-medium mb-0"
                                    v-bind:class="{ 'is-active': typeChart=='bar'}"
                                    @click="switchChart('bar')">
                        <span class="icon is-medium">
                            <svg-icon :icon="'ic_analytics-2.svg'"></svg-icon>
                        </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart-time-zone is-size-875">
                (GMT+03:00) Москва
            </div>

            <div class="mb-2">
                <line-chart ref="lineChart" v-model="datacollection" :dataset="datacollection" :height="260"
                            v-show="typeChart=='line'"/>
                <bar-chart ref="barChart" v-model="datacollection" :dataset="datacollection" :height="260"
                           v-show="typeChart=='bar'"/>
            </div>

            <section class="section is-paddingless content">
                <div class="columns is-multiline">
                    <new-offers/>
                    <finance-card/>
                </div>
            </section>
            <recommended-offers/>
        </div>
        <portal-target name="modals"></portal-target>
    </section>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import BarChart from '../../charts/BarChart.js';
    import LineChart from '../../charts/LineChart.js';
    import GGSelectInput from '../../form/GGSelectInput';

    import flatPickr from 'vue-flatpickr-component';
    import {Russian} from "flatpickr/dist/l10n/ru.js"
    import 'flatpickr/dist/flatpickr.css';
    // Import Swiper and modules
    import {Navigation, Pagination, Swiper} from 'swiper/dist/js/swiper.esm.js';
    import NewOffers from "../offers/NewOffers";
    import FinanceCard from "../FinanceCard";
    import RecommendedOffers from "../offers/RecommendedOffers";

    flatpickr.localize(Russian);

    // Install modules
    Swiper.use([Navigation, Pagination]);


    export default {
        name: "BrokerSummaryIndicators",
        components: {
            RecommendedOffers,
            FinanceCard,
            NewOffers,
            Multiselect, BarChart, LineChart, GGSelectInput, flatPickr
        },
        data() {
            return {
                offers: [],
                views: 0,
                hits: 0,
                open_leads: 0,
                approved_leads: 0,
                payed_targets: 0,
                open_commission: 0,
                approved_commission: 0,

                partners: [],
                partnersIds: [],
                partnerId: this.$store.state.partner.id,
                partnerOptions: trans('account.partner.options'),
                chart: {
                    data: null
                },
                typeData: 1,
                comparison: 1,
                sorting: 1,
                rangeDates: {
                    placeholder: '25.02.2018 - 03.03.2018',
                    value: '',
                    config: {
                        mode: "range",
                        altFormat: 'd.m.Y',
                        altInput: true,
                        dateFormat: 'Y-m-d'
                    }
                },
                datacollection: {
                    labels: ['Январь', 'Февраль', 'Март', 'Апрель', 'Мая', 'Июнь', 'Июль'],
                    datasets: [
                        {
                            label: 'Все показы',
                            backgroundColor: '#0070D9',
                            borderColor: '#0070D9',
                            borderWidth: 2,
                            data: [40, 39, 10, 40, 39, 80, 40],
                            fill: false,
                            lineTension: 0,
                            pointBorderWidth: 4,
                            // cubicInterpolationMode: 'monotone'
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            gridLines: {
                                color: "#CFDAE6",
                                drawTicks: false,
                                // zeroLineColor: "#0070D9",
                            },
                            ticks: {
                                fontColor: "#B4C4DB",
                                fontSize: 14,
                                fontFamily: "'Roboto', sans-serif",
                                padding: 10,
                            },
                        }],
                        yAxes: [{
                            gridLines: {
                                color: "#CFDAE6",
                                drawTicks: false,
                                zeroLineColor: "#0070D9",
                            },
                            ticks: {
                                fontColor: "#B4C4DB",
                                fontSize: 14,
                                fontFamily: "'Roboto', sans-serif",
                                beginAtZero: true,
                                padding: 10,
                                suggestedMin: 0,
                                suggestedMax: 5
                            },

                        }]
                    },
                    tooltips: {
                        backgroundColor: '#1C2940',
                        titleFontFamily: "'Roboto', sans-serif",
                        bodyFontFamily: "'Roboto', sans-serif",
                        footerFontFamily: "'Roboto', sans-serif",
                        cornerRadius: 3,
                    },
                    legend: {
                        display: true,
                        textAlign: 'left',
                        labels: {
                            // boxWidth: 8,
                            usePointStyle: true,
                            fontColor: '#B4C4DB',
                            fontSize: 14,
                            fontFamily: "'Roboto', sans-serif",
                        }
                    },
                },
                typeChart: 'line',
                dateType: 'day',
                from: null,
                to: null
            }
        },

        mounted() {
            var swiperBrokerDataIndicators = new Swiper('.swiper-broker-data-indicators', {
                slidesPerView: 'auto',
                spaceBetween: 0,
                loop: false,
                navigation: {
                    nextEl: '.swiper-broker-data-indicators-next',
                    prevEl: '.swiper-broker-data-indicators-prev',
                },
            });
            var swiperSentenceCards = new Swiper('.swiper-sentence-cards', {
                slidesPerView: 1,
                spaceBetween: 0,
                loop: false,
                navigation: {
                    nextEl: '.swiper-sentence-cards-next',
                    prevEl: '.swiper-sentence-cards-prev',
                },
                pagination: {
                    el: '.swiper-sentence-cards-pagination',
                },
                // width: 230,
                breakpointsInverse: true,
                breakpoints: {
                    // // when window width is >= 450px
                    // 450: {
                    //     width: 400
                    // },
                    // // when window width is >= 768px
                    // 768: {
                    //     width: 700
                    // },
                    // // when window width is >= 1088px
                    // 1088: {
                    //     width: 1000
                    // },
                    // // when window width is >= 1200
                    // 1200: {
                    //     width: 1120
                    // }
                }
            });
        },

        methods: {
            changePartner() {
                this.fetchChartData();
            },
            dateChanged(val) {
                this.from = val[0];
                this.to = val[1];
                this.fetchChartData()
            },
            switchDateType(type = 'day') {
                this.dateType = type;
                this.fetchChartData()
            },
            switchChart(type = 'line') {
                if (type == 'bar') {
                    this.typeChart = 'bar';
                    this.$nextTick(() => {
                        this.$refs['barChart'].renderChart(this.datacollection, this.options)
                    })
                } else if (type == 'line') {
                    this.typeChart = 'line';
                    this.$nextTick(() => {
                        this.$refs['lineChart'].renderChart(this.datacollection, this.options)
                    })
                }
            },
            switchData(type) {
                this.datacollection.labels = [];
                this.datacollection.datasets[0].data = [];
                if (type == 'views') {
                    Object.keys(this.chart.data).forEach(el => {
                        this.datacollection.labels.push(this.chart.data[el].date);
                        this.datacollection.datasets[0].data.push(this.chart.data[el].views + 0);
                        this.datacollection.datasets[0].label = trans('account.views');
                    });
                } else if (type == 'clicks') {
                    Object.keys(this.chart.data).forEach(el => {
                        this.datacollection.labels.push(this.chart.data[el].date);
                        this.datacollection.datasets[0].data.push(this.chart.data[el].clicks + 0);
                        this.datacollection.datasets[0].label = trans('account.clicks');
                    });
                } else if (type = 'registered') {
                    Object.keys(this.chart.data).forEach(el => {
                        this.datacollection.labels.push(this.chart.data[el].date);
                        this.datacollection.datasets[0].data.push(this.chart.data[el].registered + 0);
                        this.datacollection.datasets[0].label = trans('account.registrations');
                    });
                }
                this.switchChart(this.typeChart);
            },
            switchComapre(type) {
                if (this.datacollection.datasets.length == 1) {
                    this.datacollection.datasets.push({
                        label: 'Все показы',
                        backgroundColor: '#9C27B0',
                        borderColor: '#9C27B0',
                        borderWidth: 2,
                        data: [40, 39, 10, 40, 39, 80, 40],
                        fill: false,
                        lineTension: 0,
                        pointBorderWidth: 4,
                        // cubicInterpolationMode: 'monotone'
                    });
                }
                this.datacollection.datasets[1].data = [];
                if (type == 'views') {
                    Object.keys(this.chart.data).forEach(el => {
                        this.datacollection.datasets[1].data.push(this.chart.data[el].views + 0);
                        this.datacollection.datasets[1].label = trans('account.views');
                    });
                } else if (type == 'clicks') {
                    Object.keys(this.chart.data).forEach(el => {
                        this.datacollection.datasets[1].data.push(this.chart.data[el].clicks + 0);
                        this.datacollection.datasets[1].label = trans('account.clicks');
                    });
                } else if (type = 'registered') {
                    Object.keys(this.chart.data).forEach(el => {
                        this.datacollection.datasets[1].data.push(this.chart.data[el].registered + 0);
                        this.datacollection.datasets[1].label = trans('account.registrations');
                    });
                }
                this.switchChart(this.typeChart);
            },
            fetchPartners() {
                let vm = this;
                axios.post('/account-get-partners', {
                    approved: true
                }).then(responce => {
                    vm.partners = responce.data;
                    responce.data.forEach(partner => {
                        vm.partnersIds.push(partner.id);
                        vm.partnerOptions.push({'id': partner.id, 'name': partner.user.full_name});
                    });
                    vm.fetchChartData();

                })
            },
            fetchChartData() {
                let vm = this;
                let data = {};
                if (vm.partnerId > 1) {
                    data.partners = [vm.partnerId];
                } else {
                    data.partners = vm.partnersIds;
                }
                data.dateType = vm.dateType;
                if (vm.from) {
                    data.from = vm.from;
                }
                if (vm.to) {
                    data.to = vm.to;
                }
                axios.post('/account-chart-data', {
                    data: data
                }).then(responce => {
                    vm.chart.data = responce.data.result;
                    vm.switchData('views');
                })
            }

        },
        created() {
            this.fetchPartners();
            let vm = this;
            axios.get('/broker-get-summary').then(responce => {
                let data = responce.data;
                vm.views = data.views;
                vm.hits = data.hits;
                vm.open_leads = data.open_leads;
                vm.approved_leads = data.approved_leads;
                vm.payed_targets = data.payed_targets;
                vm.open_commission = data.open_commission;
                vm.approved_commission = data.approved_commission;
            });
            axios.get('/broker-get-offers-summary').then(responce => {
                vm.offers = responce.data;
            });
        },
        watch: {
            typeData: {
                immediate: false,
                handler(value) {
                    if (value) {
                        if (value == 1) {
                            this.switchData('views');
                        } else if (value == 2) {
                            this.switchData('clicks');
                        } else if (value == 3) {
                            this.switchData('registered');
                        }
                    }
                }
            },
            comparison: {
                immediate: false,
                handler(value) {
                    if (value > 1) {
                        if (value == 2) {
                            this.switchComapre('views');
                        } else if (value == 3) {
                            this.switchComapre('clicks');
                        } else if (value == 4) {
                            this.switchComapre('registered');
                        }
                    } else {
                        this.datacollection.datasets = this.datacollection.datasets.slice(0, 1);
                        this.switchChart();
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
