<template>
    <div :class="size" class="column">
        <div class="field">
            <label class="label">{{label}}</label>
            <div class="control">
                <div :class="(selected === null)?'inputbox-val':''" class="input h-3 is-size-875"
                     @click.prevent="modalCategoryShow = !modalCategoryShow">
                    <span v-if="!multi">{{selectedName}}</span>
                    <div v-if="multi" class="multiselect__tags-wrap" style="">
                        <span v-for="item in multiselected" class="multiselect__tag">
                            <span>{{item.name}}</span>
                        </span>
                    </div>
                </div>
                <!--Modal-->
                <portal to="modals">
                    <div class="modal modal-select-category" :class="modalCategoryActive"
                         id="modal-select-categories">
                        <div class="modal-background" @click.prevent="modalCategoryShow = !modalCategoryShow"></div>
                        <div class="modal-card modal-card_big">
                            <header class="modal-card-head modal-card-head_bb">
                                <p class="modal-card-title">{{trans('strings.select_category')}}</p>
                                <button class="delete close-modal" @click.prevent="modalCategoryShow = !modalCategoryShow"
                                        aria-label="close"></button>
                            </header>
                            <section class="modal-card-body is-paddingless">
                                <ul class="category-list">
                                    <li :class="(category.id === selected)?'is-active':''"
                                        @click="setCategory(category.id,$t(category.translation))"
                                        v-for="category in categories"
                                        class="category-list__item">
                                        <figure class="category-list__item__icon">
                                            <img :src="'/svg/icons/category/'+category.icon" class="svg" alt="">
                                        </figure>
                                        <span>{{category.translation.ru}}</span>
                                    </li>
                                </ul>
                                <div v-if="subShow" class="subcategory-wrap">
                                    <div class="subcategory-header">
                                        <h3>{{trans('strings.select_sub_category')}}</h3>
                                        <div v-if="multi" class="toggle-list">
                                            <span class="toggle-list__item">{{trans('strings.select_all')}}</span>
                                            <span class="toggle-list__item">{{trans('strings.drop')}}</span>
                                        </div>
                                    </div>
                                    <ul class="subcategory-list">
                                        <li :class="(category.id === selected)?'is-active':''"
                                            @click="setSubCategory(category.id,$t(category.translation))"
                                            v-for="category in subCategories"
                                            class="subcategory-list__item">
                                            <figure class="category-list__item__icon">
                                                <img :src="'/svg/icons/category/'+category.icon" class="svg" alt="">
                                            </figure>
                                            <span>{{category.translation.ru}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <footer class="modal-card-foot">
                                <button @click.prevent="save" class="button is-info save is-size-875 has-text-weight-bold">
                                    {{trans('strings.select')}}
                                </button>
                                <button @click.prevent="reset" class="button clear is-size-875"><img
                                    src="/svg/icons/ic_close.svg" alt=""
                                    class="svg"><span>{{trans('strings.drop')}}</span>
                                </button>
                            </footer>
                        </div>
                    </div>
                </portal>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "GGCategoryButton",
        components: {},
        props: {
            size: {default: ' is-3'},
            value: null,
            multi: {default: false},
            type: {default: 'business'},
            label: {default: trans('business.category')},
        },
        data() {
            return {
                defaultName: trans('business.index.category'),
                selected: null,
                parentSelected: false,
                multiselected: [],
                selectedName: trans('business.index.category'),
                modalCategoryShow: false,
                categories: [],
                subCategories: [],
                subShow: false
            }
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (this.categories && value) {
                        this.selected = value;
                        this.categories.forEach(val => {
                            if (val.id === value) {
                                this.selectedName = val.translation[locales.indexLocale];
                            }
                        });
                    }
                }
            }
        },
        computed: {
            modalCategoryActive: function () {
                if (this.modalCategoryShow) {
                    return 'is-active';
                } else {
                    return '';
                }
            }
        },
        mounted() {
            let vm = this;
            let url = ''
            if (this.type === 'business') {
                url = '/business/get-categories';
            } else if (this.type === 'franchise') {
                url = '/franchise/get-categories'
            }
            axios.get(url).then(responce => {
                vm.categories = responce.data;
                if (vm.value) {
                    vm.$nextTick(() => {
                        vm.selected = vm.value;
                        vm.selectedName = vm.categories[vm.selected].translation[locales.indexLocale];
                    });
                }
            })
        },
        methods: {
            toggleModal() {
                modalCategoryShow = !modalCategoryShow
            },
            setCategory(id, name) {
                let hasChildren = false;
                this.multiselected = [];
                this.parentSelected = true;
                this.categories.forEach(category => {
                    if (category.id == id && category.children.length > 0) {
                        hasChildren = true;
                        this.subCategories = category.children;
                        this.subShow = true;
                        return;
                    }
                });

                if (hasChildren === false) {
                    this.subShow = false;
                }
                if (this.multi) {
                    this.multiselected.push({
                        'id': id,
                        'name': name
                    })
                } else {
                    this.selected = id;
                    this.selectedName = name;
                }
            },
            setSubCategory(id, name) {
                if (this.multi) {
                    if(this.parentSelected){
                        this.multiselected = [];
                        this.parentSelected = false;
                    }
                    let add = true;
                    this.multiselected.forEach(el => {
                        if (el.id == id) {
                            add = false;
                        }
                    })
                    if (add) {
                        this.multiselected.push({
                            'id': id,
                            'name': name
                        })
                    }
                } else {
                    this.selected = id;
                    this.selectedName = name;
                }
            },
            save() {
                this.modalCategoryShow = !this.modalCategoryShow;
                this.$emit('input', this.selected);
            },
            reset() {
                this.value = null;
                this.selected = null;
                this.selectedName = this.defaultName;
                this.save();
            }
        }
    }
</script>

<style scoped>

</style>
