<template>
    <div class="column is-12">
        <div class="columns is-multiline">
            <div class="column is-12 pb-0">
                <h3>{{label}}</h3>
            </div>

            <g-g-select-input @input="inputChange" :size="'is-6-desktop is-12-tablet'" v-model="form.neededLicenses.val"
                              :label="trans('business.create.neededLicenses.title')" :searchable="true"
                              :placeholder="trans('business.create.yn.placeholder')"
                              :options="trans('business.create.yn.options')"/>
            <div v-if="form.neededLicenses.val === 1" class="column is-12">
                <div class="columns is-multiline list-wrap"
                     v-for="(item, index) in form.list.val">
                    <div class="column is-12">
                        <div class="columns is-multiline">
                            <div class="column">
                                <div class="columns is-multiline">
                                    <g-g-select-input @input="inputChange" :size="'is-3-desktop is-6-tablet'"
                                                      v-model="item.document.val"
                                                      :placeholder="trans('business.create.certificates.document.placeholder')"
                                                      :label="trans('business.create.certificates.document.title')"
                                                      :options="trans('business.create.certificates.document.options')"/>
                                    <g-g-select-input @input="inputChange" :size="'is-3-desktop is-6-tablet'"
                                                      v-model="item.type.val"
                                                      :placeholder="trans('business.create.certificates.type.placeholder')"
                                                      :label="trans('business.create.certificates.type.title')"
                                                      :options="trans('business.create.certificates.type.options')"/>
                                    <g-g-date-input @input="inputChange" :size="'is-6-desktop is-12-tablet'"
                                                    v-model="item.licensePeriod.val"
                                                    :label="trans('business.create.certificates.licensePeriod.title')"
                                                    :placeholder="trans('business.create.certificates.licensePeriod.placeholder')"/>
                                </div>
                            </div>
                            <div class="column is-narrow">
                                <div class="buttons has-justify-content-center h-full">
                                    <button class="button is-warning is-outlined button-remove"
                                            v-tooltip="trans('business.create.certificates.remove')"
                                            @click="removeCertificates(index)">
                                     <span class="icon is-marginless">
                                    &times;
                                    </span>
                                        <span class="is-size-875 is-hidden-tablet">{{trans('business.create.certificates.remove')}}</span>
                                    </button>
                                    <button class="button is-info is-outlined button-add"
                                            v-tooltip="trans('business.create.certificates.add')"
                                            @click="addCertificates">
                                     <span class="icon is-marginless">
                                    +
                                    </span>
                                        <span class="is-size-875 is-hidden-tablet">{{trans('business.create.certificates.add')}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import GGDateInput from './GGDateInput'
    import GGSelectInput from './GGSelectInput'

    export default {
        name: "GGCertificatesInput",
        components: {GGDateInput, GGSelectInput},
        props: {
            value: {default: null},
            label: '',
            placeholder: {default: 'Поиск'}
        },
        data() {
            return {
                form: {
                    neededLicenses: {
                        type: 'yn',
                        val: 2
                    },
                    list: {
                        type: 'object',
                        val:
                            [{
                                document: {
                                    type: 'select',
                                    val: 2
                                },
                                type: {
                                    type: 'select',
                                    val: 2
                                },
                                licensePeriod: {
                                    type: 'date',
                                    val: null
                                }
                            }],
                    }
                }
            }
        },
        methods: {
            inputChange() {
                this.$emit('input', this.form);
            },
            addCertificates() {
                this.form.list.val.push({

                    document: {
                        type: 'select',
                        val: 2
                    },
                    type: {
                        type: 'select',
                        val: 2
                    },
                    licensePeriod: {
                        type: 'date',
                        val: null
                    }

                });
            },
            removeCertificates(index) {
                this.form.list.splice(index, 1);
            },
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value) {
                        this.form = value;
                    } else {
                        this.form = {
                            neededLicenses: {
                                type: 'yn',
                                val: 2
                            },
                            list: {
                                type: 'object',
                                val:
                                    [{
                                        document: {
                                            type: 'select',
                                            val: 2
                                        },
                                        type: {
                                            type: 'select',
                                            val: 2
                                        },
                                        licensePeriod: {
                                            type: 'date',
                                            val: null
                                        }
                                    }],
                            }
                        }
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
