<template>
    <div>
        <div class="add-business__objects-list">
            <div class="add-business__objects-item px-1-5 mb-2 list-wrap"
                 v-for="(packageItem, index) in franchisesPackages">
                <h3 class="mb-1">{{trans('franchises.create.package')}} №{{index + 1}}</h3>
                <div class="columns is-multiline ">
                    <g-g-translatable-input :size="'is-6'" v-model="packageItem.name"
                                            :label="trans('franchises.create.packages.name.title')"
                                            :placeholder="trans('franchises.create.packages.name.placeholder')"/>
                    <g-g-input
                        :size="'is-3'" :type="'number'" :prevText="$store.state.currency.sign"
                        v-model="packageItem.price"
                        :label="trans('franchises.create.packages.cost.title')"
                        :placeholder="trans('franchises.create.packages.cost.placeholder')">
                    </g-g-input>
                    <g-g-check-box-input :size="'is-3'"
                                         v-model="packageItem.vat"
                                         :label="trans('franchises.create.price_including_vat_bool.title')"></g-g-check-box-input>
                    <div class="column is-12">
                        <div class="columns is-multiline">
                            <g-g-radio-input v-model="packageItem.terms"
                                             :label="trans('franchises.create.packages.purchaseTerms.title')"
                                             :list="trans('franchises.create.packages.purchaseTerms.list')"/>
                            <template v-if="packageItem.terms === 2">
                                <div class="column is-6">
                                    <div class="columns is-multiline">
                                        <g-g-input :size="'is-5'" v-model="packageItem.royalty_rate"
                                                   :prevText="'%'"
                                                   :label="trans('franchises.create.royalty_rate.title')"
                                                   :placeholder="trans('franchises.create.royalty_rate.placeholder')"
                                                   :type="'number'"/>
                                        <g-g-radio-input v-model="packageItem.royalty_rate_period"
                                                         :label="trans('franchises.create.royalty_rate_period.title')"
                                                         :list="trans('franchises.create.royalty_rate_period.list')"
                                                         :size="'is-7'"/>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                    <g-g-select-input :size="'is-12'"
                                      v-model="packageItem.include"
                                      :multiple="true"
                                      :closeOnSelect="false"
                                      :placeholder="trans('franchises.create.packages.packageInclude.placeholder')"
                                      :label="trans('franchises.create.packages.packageInclude.title')"
                                      :options="trans('franchises.create.packages.packageInclude.options')"/>
                    <g-g-translatable-input :type="'textarea'" :size="'is-12'" v-model="packageItem.benefits"
                                            :label="trans('franchises.create.packages.packageBenefits.title')"
                                            :placeholder="trans('franchises.create.packages.packageBenefits.placeholder')"/>


                    <div class="column is-6">
                        <div class="buttons">
                            <button class="button is-warning is-outlined button-remove"
                                    @click="removePackage">
                                <span class="icon is-marginless">&times;</span>
                                <span class="is-size-875">{{trans('franchises.create.remove_package')}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-1-5 mb-1">
            <div class="columns is-multiline">
                <div class="column is-6">
                    <div class="buttons">
                        <button class=" button is-info is-outlined button-add h-3"
                                @click="addPackage">
                            <span class="icon is-marginless">+</span>
                            <span class="is-size-875">{{trans('franchises.create.add_package')}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import GGTranslatableInput from './GGTranslatableInput';
    import GGRadioInput from './GGRadioInput';

    import GGSelectInput from './GGSelectInput';
    import GGCheckBoxInput from './GGCheckBoxInput';
    import GGDateInput from './GGDateInput';
    import GGInput from './GGInput';
    import GGTextarea from './GGTextarea';

    export default {
        name: "GGFranchisesPackageInput",
        components: {
            GGTranslatableInput,
            GGRadioInput,
            GGSelectInput,
            GGTextarea,

            GGInput,
            GGDateInput,
            GGCheckBoxInput,

        },
        props: {
            //value: {default:null},
            value: {
                default: () => {
                    return [];
                }
            },
        },
        data() {
            return {}
        },
        methods: {
            addPackage() {
                let id = this.franchisesPackages.length;
                this.franchisesPackages.push({
                    idx: ++id,
                    name: null,
                    price: null,
                    vat: null,
                    terms: null,
                    royalty_rate: null,
                    royalty_rate_period: 1,
                    include: null,
                    benefits: null,

                });
            },
            removePackage(index) {
                this.franchisesPackages.splice(index, 1);
            },
        },
        computed: {
            franchisesPackages: {
                get: function () {
                    return this.value
                },
                set: function (value) {
                    this.$emit('input', value);
                },
            }
        },
    }
</script>

<style scoped>

</style>
