<template>
    <div class="column is-12">
        <div class="columns is-multiline">
            <div class="column is-12 pb-0">
                <h3>{{label}}</h3>
            </div>

            <div class="column is-12">
                <div class="columns is-multiline list-wrap"
                     v-for="(item, index) in list">
                    <g-g-translatable-input @input="inputChange" :size="'is-6-desktop is-12-tablet'"
                                            v-model="item.title"
                                            :label="trans('franchises.create.objectsTitle.title')"
                                            :placeholder="trans('franchises.create.objectsTitle.placeholder')"/>
                    <g-g-input @input="inputChange" :size="'is-6-desktop is-12-tablet'"
                               v-model="item.phone"
                               :label="trans('franchises.create.contactPhone.title')"
                               :placeholder="trans('franchises.create.contactPhone.placeholder')"/>
                    <g-g-input @input="inputChange" :size="'is-6-desktop is-12-tablet'"
                               v-model="item.email"
                               :label="trans('franchises.create.email.title')"
                               :placeholder="trans('franchises.create.email.placeholder')"/>
                    <g-g-input @input="inputChange" :size="'is-6-desktop is-12-tablet'"
                               v-model="item.address"
                               :label="trans('franchises.create.addressGoogleMaps.title')"
                               :placeholder="trans('franchises.create.addressGoogleMaps.placeholder')"/>
                    <g-g-translatable-input :type="'textarea'" :size="'is-12'" v-model="item.description"
                                            :label="trans('franchises.create.objectsDesc.title')"
                                            :placeholder="trans('franchises.create.objectsDesc.placeholder')"/>

                    <div class="column is-12">
                        <files-upload ref="filesUpload" :remove-url="''"
                                      v-model="item.media"
                                      :model="model"
                                      :label="trans('franchises.create.objectsPhotos.title')"
                                      :classZonePreviews="'dropzone-previews-object'+item.idx"></files-upload>
                    </div>
                    <div class="column is-12">
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <div class="buttons">
                                    <button class="button is-warning is-outlined button-remove"
                                            @click="removeReviews(index)">
                                        <span class="icon is-marginless">&times;</span>
                                        <span class="is-size-875">{{trans('franchises.create.remove_object')}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column is-12">
                <div class="columns is-multiline">
                    <div class="column is-narrow">
                        <div class="buttons has-justify-content-center h-full">
                            <button class=" button is-info is-outlined button-add h-3"
                                    @click="addReviews">
                                <span class="icon is-marginless">+</span>
                                <span class="is-size-875">{{trans('franchises.create.add_object')}}</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import FilesUpload from '../FilesUpload';
    import GGTranslatableInput from './GGTranslatableInput';
    import GGInput from "../../../../nova-components/Tasks/resources/js/components/Form/GGInput";

    export default {
        name: "GGObjectsFranchisesInput",
        components: {GGInput, FilesUpload, GGTranslatableInput},
        props: {
            model: {default: null},
            value: {
                default: () => {
                    return null
                }
            },
            label: {default: trans('franchises.create.objects.title')},
        },
        data() {
            return {
                list: [],
            }
        },
        methods: {
            inputChange() {
                this.$emit('input', this.list);
            },
            addReviews() {
                let id = this.list.length;

                this.list.push({
                    idx: ++id,
                    title: null,
                    phone: null,
                    email: null,
                    address: null,
                    description: null,
                    media: [],
                });
            },
            removeReviews(index) {
                this.list.splice(index, 1);
            },
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value) {
                        let id = this.list.length;
                        this.list = value;
                        this.list.forEach(el => {
                            el.idx = ++id;
                        })
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
