<template>
    <div class="column is-12">
        <div class="columns is-multiline">
            <div class="column is-12 pb-0">
                <h3>{{label}}</h3>
            </div>

            <div class="column is-12">
                <div class="columns is-multiline list-wrap"
                     v-for="(item, index) in form.list">
                    <g-g-translatable-input @input="inputChange" :size="'is-6-desktop is-12-tablet'" v-model="item.name"
                                            :label="trans('franchises.create.reviewsYourName.title')"
                                            :placeholder="trans('franchises.create.reviewsYourName.placeholder')"/>
                    <g-g-translatable-input @input="inputChange" :size="'is-6-desktop is-12-tablet'"
                                            v-model="item.company"
                                            :label="trans('franchises.create.reviewsYourCompany.title')"
                                            :placeholder="trans('franchises.create.reviewsYourCompany.placeholder')"/>
                    <g-g-translatable-input @input="inputChange" :size="'is-6-desktop is-12-tablet'"
                                            v-model="item.email"
                                            :label="trans('franchises.create.email.title')"
                                            :placeholder="trans('franchises.create.email.placeholder')"/>
                    <g-g-translatable-input @input="inputChange" :size="'is-6-desktop is-12-tablet'"
                                            v-model="item.position"
                                            :label="trans('franchises.create.position.title')"
                                            :placeholder="trans('franchises.create.position.placeholder')"/>
                   <g-g-translatable-input @input="inputChange" :size="'is-12'"
                                            v-model="item.linkVideoReview"
                                            :label="trans('franchises.create.linkVideoReview.title')"
                                            :placeholder="trans('franchises.create.linkVideoReview.placeholder')"/>
                    <div class="column is-12">
                        <files-upload ref="filesUpload" :remove-url="''"
                                      v-model="item.photoAuthor"
                                      :label="trans('franchises.create.yourPhoto.title')"></files-upload>
                    </div>
                    <g-g-translatable-input :type="'textarea'" :size="'is-12'" v-model="item.text"
                                            :label="trans('franchises.create.textReview.title')"
                                            :placeholder="trans('franchises.create.textReview.placeholder')"/>

                    <div class="column is-12">
                        <files-upload ref="filesUpload" :remove-url="''"
                                      v-model="item.photo"
                                      :label="trans('franchises.create.photoAndDocs.title')"></files-upload>
                    </div>
                    <div class="column is-12">
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <div class="buttons">
                                    <button class="button is-warning is-outlined button-remove"
                                            @click="removeReviews(index)">
                                        <span class="icon is-marginless">&times;</span>
                                        <span class="is-size-875">{{trans('franchises.create.remove_review')}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column is-12">
                <div class="columns is-multiline">
                    <div class="column is-narrow">
                        <div class="buttons has-justify-content-center h-full">
                            <button class=" button is-info is-outlined button-add h-3"
                                    @click="addReviews">
                                <span class="icon is-marginless">+</span>
                                <span class="is-size-875">{{trans('franchises.create.add_review')}}</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import FilesUpload from '../FilesUpload';
    import GGTranslatableInput from './GGTranslatableInput';

    export default {
        name: "GGReviewsFranchisesInput",
        components: {FilesUpload, GGTranslatableInput},
        props: {
            value: {default: null},
            label: {default: trans('franchises.create.reviews.title')},
        },
        data() {
            return {
                form: {
                    list: [{
                        name: null,
                        company: null,
                        email: null,
                        position: null,
                        linkVideoReview: null,
                        photoAuthor: null,
                        text: null,
                        photo: null,
                    }],
                }
            }
        },
        methods: {
            inputChange() {
                this.$emit('input', this.form);
            },
            addReviews() {
                this.form.list.push({
                    name: null,
                    company: null,
                    email: null,
                    position: null,
                    linkVideoReview: null,
                    photoAuthor: null,
                    text: null,
                    photo: null,
                });
            },
            removeReviews(index) {
                this.form.list.splice(index, 1);
            },
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value) {
                        this.form = value;
                    } else {
                        this.form = {
                            list: [{
                                name: null,
                                company: null,
                                email: null,
                                position: null,
                                linkVideoReview: null,
                                photoAuthor: null,
                                text: null,
                                photo: null,
                            }],
                        }
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
