<template>
    <div class="columns is-multiline">
        <div class="column is-12 pb-0">
            <h3>{{trans('business.create.socNetItems.title')}}</h3>
        </div>
        <g-g-select-input :size="'is-6'" v-model="form.saleGroupsSocNet.val"
                          :label="trans('business.create.saleGroupsSocNet.title')"
                          :placeholder="trans('business.create.saleGroupsSocNet.placeholder')"
                          :options="trans('business.create.yn.options')"/>
        <template v-if="form.saleGroupsSocNet.val == 1">
            <g-g-select-input :allowempty="true" :multiple="true" :size="'is-6'" :type="'number'"
                              v-model="form.socNetList.val"
                              @select="addSocials"
                              @remove="removeSocials"
                              :label="trans('business.create.socNetList.title')"
                              :placeholder="trans('business.create.socNetList.placeholder')"
                              :options="options"/>

            <template v-for="(item, index) in form.socNetItems.val">
                <div class="column is-12">
                    <div class="columns is-multiline">
                        <div class="column is-12 pb-0">
                            <h3>Группа в {{item.title.val}}</h3>
                        </div>
                        <g-g-input @input="inputChange" :size="'is-6'" v-model="item.link.val"
                                   :label="trans('business.create.socNetItems.link.title')"
                                   :placeholder="trans('business.create.socNetItems.link.placeholder')"/>
                        <g-g-input @input="inputChange" :size="'is-6'" :type="'number'" v-model="item.countUsers.val"
                                   :label="trans('business.create.socNetItems.countUsers.title')"
                                   :placeholder="trans('business.create.socNetItems.countUsers.placeholder')"/>
                        <g-g-select-input @input="inputChange" :size="'is-6'"
                                          v-model="item.haveIncome.val"
                                          :label="trans('business.create.socNetItems.haveIncome.title')"
                                          :placeholder="trans('business.create.socNetItems.haveIncome.placeholder')"
                                          :options="trans('business.create.yn.options')"/>
                        <template v-if="item.haveIncome.val == 1">
                            <g-g-input @input="inputChange" :prevText="$store.state.currency.sign" :type="'number'"
                                       v-model="item.incomeYear.val"
                                       :label="trans('business.create.socNetItems.incomeYear.title')"
                                       :placeholder="trans('business.create.socNetItems.incomeYear.placeholder')"/>
                            <g-g-input @input="inputChange" :prevText="$store.state.currency.sign" :type="'number'"
                                       v-model="item.incomeQuarter.val"
                                       :label="trans('business.create.socNetItems.incomeQuarter.title')"
                                       :placeholder="trans('business.create.socNetItems.incomeQuarter.placeholder')"/>
                            <g-g-input @input="inputChange" :prevText="$store.state.currency.sign" :type="'number'"
                                       v-model="item.turnover_year.val"
                                       :label="trans('business.create.socNetItems.turnover_year.title')"
                                       :placeholder="trans('business.create.socNetItems.turnover_year.placeholder')"/>
                            <g-g-input @input="inputChange" :prevText="$store.state.currency.sign" :type="'number'"
                                       v-model="item.turnoverQuarter.val"
                                       :label="trans('business.create.socNetItems.turnoverQuarter.title')"
                                       :placeholder="trans('business.create.socNetItems.turnoverQuarter.placeholder')"/>
                            <g-g-input @input="inputChange" :prevText="$store.state.currency.sign" :type="'number'"
                                       v-model="item.expensesYear.val"
                                       :label="trans('business.create.socNetItems.expensesYear.title')"
                                       :placeholder="trans('business.create.socNetItems.expensesYear.placeholder')"/>
                            <g-g-input @input="inputChange" :prevText="$store.state.currency.sign" :type="'number'"
                                       v-model="item.expensesQuarter.val"
                                       :label="trans('business.create.socNetItems.expensesQuarter.title')"
                                       :placeholder="trans('business.create.socNetItems.expensesQuarter.placeholder')"/>
                        </template>
                        <g-g-select-input @input="inputChange" :size="'is-6'" :type="'number'" v-model="item.themes.val"
                                          :multiple="true"
                                          :label="trans('business.create.socNetItems.themes.title')"
                                          :placeholder="trans('business.create.socNetItems.themes.placeholder')"
                                          :options="trans('business.create.socNetItems.themes.options')"/>
                        <g-g-select-input @input="inputChange" :size="'is-6'" :type="'number'" v-model="item.lang.val"
                                          :label="trans('business.create.socNetItems.lang.title')"
                                          :placeholder="trans('business.create.socNetItems.lang.placeholder')"
                                          :options="trans('business.create.socNetItems.lang.options')"/>
                        <g-g-select-input @input="inputChange" :size="'is-6'" :type="'number'"
                                          v-model="item.methodTransferGroup.val"
                                          :multiple="true"
                                          :label="trans('business.create.socNetItems.methodTransferGroup.title')"
                                          :placeholder="trans('business.create.socNetItems.methodTransferGroup.placeholder')"
                                          :options="trans('business.create.socNetItems.methodTransferGroup.options')"/>

                    </div>
                </div>
            </template>
        </template>
    </div>
</template>

<script>
    import GGInput from './GGInput'
    import GGSelectInput from './GGSelectInput'

    export default {
        name: "GGSocialInput",
        components: {GGInput, GGSelectInput},
        props: {
            value: {default: null},
            label: '',
            placeholder: {default: 'Поиск'}
        },
        data() {
            return {
                options: trans('business.create.socNetList.options'),
                form: {
                    saleGroupsSocNet: {
                        type: 'yn',
                        val: 2
                    },
                    socNetList: {
                        type: 'mselect',
                        val: null
                    },
                    socNetItems: {
                        type: 'object',
                        val: null
                    }
                },
            }
        },

        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value) {
                        this.form = value;
                    } else {
                        this.form = {
                            saleGroupsSocNet: {
                                type: 'yn',
                                val: 2
                            },
                            socNetList: {
                                type: 'mselect',
                                val: null
                            },
                            socNetItems: {
                                type: 'object',
                                val: null
                            }
                        }
                    }
                }
            }
        },
        methods: {
            addSocials(value) {
                this.addItem(value.name, value.id);
            },
            removeSocials(value) {
                this.removeItem(value.id)
            },
            inputChange() {
                this.$emit('input', this.form);
            },
            addItem(title, id) {
                this.form.socNetItems.val.push({
                    title: {
                        type: 'string',
                        val: title
                    },
                    link: {
                        type: 'string',
                        val: null
                    },
                    countUsers: {
                        type: 'number',
                        val: null
                    },
                    incomeYear: {
                        type: 'price',
                        val: null
                    },
                    haveIncome: {
                        type: 'yn',
                        val: 2
                    },
                    incomeQuarter: {
                        type: 'price',
                        val: null
                    },
                    turnover_year: {
                        type: 'price',
                        val: null
                    },
                    turnoverQuarter: {
                        type: 'price',
                        val: null
                    },
                    expensesYear: {
                        type: 'price',
                        val: null
                    },
                    expensesQuarter: {
                        type: 'price',
                        val: null
                    },
                    themes: {
                        type: 'mselect',
                        val: null
                    },
                    lang: {
                        type: 'select',
                        val: null
                    },
                    methodTransferGroup: {
                        type: 'mselect',
                        val: null
                    },

                });
            },
            removeItem(id) {
                delete this.form.socNetItems.val[id];
            },
        }
    }
</script>

<style scoped>

</style>
