<template>
    <modal v-if="show"
           @close="show = false">
        <div slot="header">
            <p class="modal-card-title mb-0">{{title}}</p>
        </div>

        <div slot="body">
            <div class="content">
                <form-errors :errors="form_errors"></form-errors>
                <div class="columns is-multiline">
                    <g-g-input :size="'is-6'" v-model="form.name.value"
                               :label="form.name.title"
                               :placeholder="form.name.placeholder"
                               :required="form.name.required"></g-g-input>
                    <g-g-input :size="'is-6'" v-model="form.phone.value"
                               :label="form.phone.title"
                               :placeholder="form.phone.placeholder"
                               :required="form.phone.required"></g-g-input>
                    <g-g-input :size="'is-6'" v-model="form.email.value"
                               :label="form.email.title"
                               :placeholder="form.email.placeholder"
                               :required="form.email.required"></g-g-input>
                    <g-g-input :size="'is-6'" v-model="form.cv_link.value"
                               :label="form.cv_link.title"
                               :placeholder="form.cv_link.placeholder"
                               :required="form.cv_link.required"></g-g-input>
                    <g-g-textarea :size="'is-12'" v-model="form.text.value"
                                  :label="form.text.title"
                                  :placeholder="form.text.placeholder"
                                  :required="form.text.required"></g-g-textarea>
                </div>
            </div>
        </div>
        <div class="content w-full" slot="footer">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <button @click="send"
                            class="button is-info is-fullwidth has-text-weight-bold h-3 is-size-875">
                        Откликнуться
                    </button>
                </div>
            </div>
        </div>


    </modal>
</template>

<script>
    import FormErrors from '../form-errors';
    import Modal from '../modals/Modal'
    import GGInput from '../form/GGInput'
    import GGTextarea from '../form/GGTextarea'

    export default {
        name: "modalResponceVacancy",
        components: {
            Modal,
            GGTextarea,
            GGInput,
            FormErrors
        },
        props: {
            vacancyId: { required: true }, 
            value: {default: null},
        },
        data: function(){
            return {
                form_errors: [],
                title: trans('vacancy.form_resp.title'),
                form: {
                    name: {
                        title: trans('vacancy.form_resp.name.title'),
                        placeholder: trans('vacancy.form_resp.name.placeholder'),
                        value: '',
                        required: true
                    },
                    phone: {
                        title: trans('vacancy.form_resp.phone.title'),
                        placeholder: trans('vacancy.form_resp.phone.placeholder'),
                        value: '',
                        required: true
                    },
                    email: {
                        title: trans('vacancy.form_resp.email.title'),
                        placeholder: trans('vacancy.form_resp.email.placeholder'),
                        value: '',
                        required: true
                    },
                    cv_link: {
                        title: trans('vacancy.form_resp.resume_link.title'),
                        placeholder: trans('vacancy.form_resp.resume_link.placeholder'),
                        value: '',
                        required: true
                    },
                    text: {
                        title: trans('vacancy.form_resp.comment.title'),
                        placeholder: trans('vacancy.form_resp.comment.placeholder'),
                        value: '',
                        required: true
                    },
                    vacancy_id: this.vacancyId
                }
            
        }},
        computed: {
            show: {
                get: function () {
                    return this.value
                },
                set: function (value) {
                    this.$emit('input', value);
                },
            }
        },
        methods: {
            send() {
                axios.post('/vacancy/' + this.form.vacancy_id + '/response', {
                    vacancy_id: this.form.vacancy_id,
                    name: this.form.name.value,
                    phone: this.form.phone.value,
                    email: this.form.email.value,
                    cv_link: this.form.cv_link.value,
                    text: this.form.text.value,
                }).then( res => {
                    this.$emit('close');
                    this.$swal({ type: 'success', text: res.data.message });
                }).catch(e => {
                    if(e.response.status == 422){
                        this.form_errors =e.response.data.errors
                    }else{
                        this.$swal({ type: 'error', title: e.response.status, text: e.response.data.message });
                    }
                   
                })
            },
        }
    }
</script>

<style scoped>

</style>
