@import '../variables';

.card {
    &-object {
        border-radius: $radius;
        //overflow: hidden;
        box-shadow: 0px 6px 10px 0px rgba(23, 44, 76, 0.1);
        transition: all 0.2s ease-in-out;
        height: 100%;
        display: flex;
        flex-direction: column;
        &:hover {
            transform: translateY(-1rem);
        }

        .card-image {
            img {
                border-top-right-radius: $radius;
                border-top-left-radius: $radius;
            }
        }

        &__header {

        }

        &__footer {
            border-top: 1px solid rgba(207, 218, 230, 0.5);
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: space-between;
        }

        .card-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            .title {
                color: $very-dark-blue-2;
                font-size: 1.125rem;
                line-height: 1.5em;
                font-weight: 700;
                margin-bottom: .5rem;
            }

            .location {
                font-size: .875rem;
                font-weight: 400;
                color: $dark-grayish-blue;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 1rem;

                img {
                    margin-right: .5rem;
                    margin-top: .125rem;
                }

                span {

                }
            }


            .list-properties {
                &__item {
                    display: flex;
                    justify-content: space-between;
                    color: $very-dark-blue-2;
                    padding: .125rem 0;
                    font-size: .875rem;
                    line-height: 1.25em;
                    @media screen and (min-width: $desktop) {
                        font-size: 1rem;
                        line-height: 1.75em;
                    }

                    span {
                        &:nth-child(2) {
                            min-width: 35%;
                            text-align: right;
                        }
                    }
                }
            }

            .button {
                font-size: .875rem;
                padding: 1.5rem 0;
            }
        }

        .tag {
            &-payback {
                position: absolute;
                bottom: 0;
                right: 0;
                border-top-left-radius: .375rem;
                background: rgba(0, 0, 0, 0.4);
                text-align: right;
                display: block;
                height: auto;
                padding: .5rem .75rem;

                span.name {
                    display: block;
                    font-size: .5rem;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 500;
                    opacity: 0.7;
                }

                span.term {
                    display: block;
                    font-size: 1rem;
                    color: $white;
                    font-weight: 700;
                    line-height: 1em;
                }
            }

            &-object-sold {
                position: absolute;
                top: 0.625rem;
                left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        .info-icons-wrap {
            position: absolute;
            top: 0.625rem;
            display: flex;
            &_left {
                left: 0.625rem;
            }
            &_right {
                right: 0.625rem;
            }
            .info-icon {
                margin-right: 0.25rem;
            }
        }

        .info-icon {
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
            //position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
            &.object {
                &-favorite {
                    background: rgba(255, 255, 255, 0.3);
                    &:hover,
                    &.active {
                        background-color: $yellow;
                    }
                }

                &-promo {
                    background-color: $green;
                }

                &-sale {
                    background-color: $red;
                }
            }
        }


        &_promo {
            border: 0.125rem solid $green;
        }
    }
}

.price {
    font-size: 1.375rem;
    font-weight: 900;
    color: $very-dark-blue-2;

    &-info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    &-sale {
        margin-right: .5rem;
        font-size: .875rem;
        height: 2.2em;
        align-self: baseline;
    }

    &-old {
        color: $dark-grayish-blue;
        text-decoration: line-through;
        margin-left: .5rem;
        align-self: flex-start;
    }
}
