@import '../variables';

.form {
    &-filter-objects {
        margin-bottom: 1rem;

        .form-controls {
            .button {
                height: 3rem;

                &[type="reset"] {
                    padding-left: 2.5rem;
                    padding-right: 1rem;

                    span {
                        color: $input-placeholder-color;
                        font-size: 2rem;
                        position: absolute;
                        left: 1rem;
                        top: 0;
                        line-height: 2.75rem;
                    }
                }

                &[type="submit"] {

                }
            }
        }
    }
}

.category-list,
.subcategory-list {
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
    //flex-flow: column wrap;
    //align-content: stretch;
    //height: 345px;

    &__item {
        display: flex;
        align-items: center;
        color: $very-dark-blue-2;
        font-size: .875rem;
        cursor: pointer;
        margin: 0.375rem 1.5rem 0.375rem 0;
        @media screen and (min-width: $tablet) {
            width: calc(50% - 1.5rem);
        }
        @media screen and (min-width: $desktop) {
            width: calc(33% - 1.5rem);
        }
        &.disabled {
            cursor: inherit;
            color: $navbar-dropdown-arrow;
        }

        figure {
            position: relative;
            width: 1rem;
            height: 1rem;
            line-height: 1em;
            margin-right: .375rem;
        }

        &:not(.disabled) {
            &:hover,
            &.is-active {
                color: $cyan;

                svg {
                    path {
                        fill: $cyan;
                    }
                }
            }

            &.is-active {
                font-weight: bold;

                figure {
                    &:before {
                        position: absolute;
                        content: "";
                        background-image: url(../../img/check_mark.svg);
                        background-size: 0.5rem .5rem;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 0.625rem;
                        height: 0.625rem;
                        background-color: $white;
                        border-radius: 50%;
                        right: -.125rem;
                        bottom: -.125rem;

                    }
                }
            }
        }

        svg {
            width: 1rem;
            height: 1rem;
        }

        span {

        }
    }
}

.modal-select-category {
    .category-list {
        &__item {
            &:not(.disabled) {
                &.is-active {
                    font-weight: bold;

                    figure {
                        &:before {
                            position: absolute;
                            content: "";
                            background-image: url(../../img/check_mark.svg);
                            background-size: 0.5rem .5rem;
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 0.625rem;
                            height: 0.625rem;
                            background-color: $white;
                            border-radius: 50%;
                            right: -.125rem;
                            bottom: -.125rem;

                        }
                    }
                }
            }
        }
    }

    .subcategory {
        &-wrap {
            border-top: 1px solid lighten($navbar-dropdown-arrow, 30);
        }

        &-header {
            padding: 1rem 1.5rem 0;
            display: flex;
            justify-content: space-between;

            .toggle-list {
                &__item {
                    font-size: .875rem;
                    margin-right: 1rem;
                    text-decoration: underline;
                    color: $label-color;
                    cursor: pointer;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        color: $cyan;
                    }
                }
            }
        }

        &-list {
            &__item {
                padding-left: 1.375rem;
                position: relative;

                &:not(.disabled) {
                    &.is-active {
                        &:before {
                            position: absolute;
                            content: "";
                            background-image: url(../../img/check_mark.svg);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 1rem;
                            height: 1rem;
                            left: 0;
                            top: 0;

                        }
                    }
                }
            }
        }
    }

    .modal-card-foot {
        padding-top: 0;
        display: flex;
        justify-content: center;
        .button {
            height: 3rem;
            &.save {
                padding-left: 2rem;
                padding-right: 2rem;
            }
            &.clear {
                border-color: transparent;
                background-color: transparent;
                color: rgba($label-color,0.3);
                svg {
                    width: .875rem;
                    margin-right: 0.25rem;
                }
                span {
                    color: $label-color;
                    text-decoration: underline;
                    text-decoration-color: rgba($label-color,0.3);
                }
                &:hover,
                &:focus,
                &:active {
                    border: 1px solid $button-border-color;
                }
            }
        }
    }
}
