@import '../variables';

.object {
    &__header {
        .section-title {
            margin-bottom: 1rem;
            word-break: break-word;
        }

        &__info {
            //margin-bottom: 1rem;
            margin-bottom: 1.75rem;

            ul {
                list-style: none;
                display: flex;
                flex-wrap: wrap;

                li {
                    position: relative;
                    color: $label-color;
                    font-size: .875rem;
                    margin-right: .5rem;
                    padding-left: .8125rem;

                    &:before {
                        position: absolute;
                        content: "";
                        width: .3125rem;
                        height: .3125rem;
                        background-color: $light-grayish-blue;
                        border-radius: 50%;
                        left: 0;
                        top: calc(50% - .15625rem);
                    }

                    &:first-child {
                        padding-left: 0;

                        &:before {
                            display: none;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &__slider {
        height: 23.75rem;
        position: relative;
        @media screen and (min-width: $tablet) {
            height: 34.25rem;
        }

        .swiper-container {
            //width: 100%;
            //height: 300px;
            margin-left: auto;
            margin-right: auto;
        }

        .swiper-slide {
            background-size: cover;
            background-position: center;
        }

        .gallery-top {
            height: 100%;
            width: 100%;

            .swiper-button-next,
            .swiper-button-prev {
                background-image: url(../../img/ic_slide_left.svg);
                width: 1rem;
                height: 1rem;
                margin-top: -0.5rem;
                background-size: contain;
                @media screen and (min-width: $tablet) {
                    width: 1.125rem;
                    height: 1.875rem;
                    margin-top: -0.9375rem;
                }
            }

            .swiper-button-prev {
                left: .75rem;
                @media screen and (min-width: $tablet) {
                    left: 1.75rem;
                }
            }

            .swiper-button-next {
                transform: scale(-1, 1);
                right: .75rem;
                @media screen and (min-width: $tablet) {
                    right: 1.75rem;
                }
            }
        }

        .gallery-thumbs {
            height: 3.75rem;
            box-sizing: border-box;

            .swiper-slide {
                height: 100%;
                opacity: 0.8;
                transition: 0.2s;
                cursor: pointer;
                border-radius: $radius;
                box-sizing: border-box;

                &:hover {
                    opacity: 1;
                }

                &-thumb-active {
                    opacity: 1;
                    border: .125rem solid $input-placeholder-color;
                }
            }
        }

        .swiper-object-main {
            .swiper-slide {
                cursor: pointer;
            }
        }

        .swiper-object-thumbs {
            position: absolute;
            width: 90%;
            bottom: 3.5rem;
            left: 5%;

            @media screen and (min-width: $tablet) {
                width: calc(100% - 28rem);
                left: 1.5rem;
                bottom: 1.5rem;
            }
        }

    }

    &__body {
        overflow: hidden;

        &_promo {
            border: 0.125rem solid $green;
        }

        &__top {
            position: relative;

            .info-icon {
                width: 1.875rem;
                height: 1.875rem;
                border-radius: 50%;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s;
                z-index: 2;

                &.object {
                    &-favorite {
                        background: rgba(255, 255, 255, 0.3);
                        top: 0.5rem;
                        right: 0.5rem;
                        @media screen and (min-width: $tablet) {
                            top: 1.5rem;
                            right: 1.5rem;
                        }

                        &:hover,
                        &.active {
                            background-color: $yellow;
                        }
                    }

                    &-promo {
                        background-color: $green;
                        top: 0.5rem;
                        left: 0.5rem;
                        @media screen and (min-width: $tablet) {
                            top: 1.5rem;
                            left: 1.5rem;
                        }
                    }

                    &-sale {
                        background-color: $red;
                        top: 0.5rem;
                        left: 0.5rem;
                        @media screen and (min-width: $tablet) {
                            top: 1.5rem;
                            left: 1.5rem;
                        }
                    }
                }
            }

            .tag {
                z-index: 2;

                &-payback {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border-top-left-radius: .375rem;
                    background: rgba(0, 0, 0, 0.4);
                    text-align: right;
                    display: block;
                    height: auto;
                    padding: .5rem .75rem;

                    span.name {
                        display: block;
                        font-size: .5rem;
                        color: $white;
                        text-transform: uppercase;
                        font-weight: 500;
                        opacity: 0.7;
                    }

                    span.term {
                        display: block;
                        font-size: 1rem;
                        color: $white;
                        font-weight: 700;
                        line-height: 1em;
                    }
                }

                &-object-sold {
                    position: absolute;
                    top: 1.5rem;
                    left: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        .slider-services {
            position: relative;
            padding: 0;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            @media screen and (min-width: $tablet) {
                padding: 1.5rem 3rem 0.25rem;
                margin-top: 0;
                margin-bottom: 0;
            }

            .swiper {
                &-container {
                    //padding: 1.5rem;
                }

                &-slide {
                    .card-service,
                    .card-service-2{
                        margin: 0.75rem;
                        box-shadow: none;
                        border: 1px solid #C5D2E6;

                        &:hover {
                            transform: none;
                        }
                    }
                }

                &-button {
                    &-next,
                    &-prev {
                        background-image: url(../../img/ic_arrow.svg);
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-top: -0.75rem;
                        background-size: contain;
                        display: none;
                        @media screen and (min-width: $tablet) {
                            display: block;
                        }

                        &:focus,
                        &:active {
                            border: none;
                            outline: none;
                        }
                    }

                    &-next {
                        right: .875rem;
                    }

                    &-prev {
                        transform: scale(-1, 1);
                        left: .875rem;
                    }

                }

                &-pagination {
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    display: block;
                    @media screen and (min-width: $tablet) {
                        display: none;
                    }

                    &-bullet {
                        margin: 0 .125rem;
                        background: rgba($navbar-dropdown-arrow, 0.5);

                        &-active {
                            background: $navbar-dropdown-arrow;
                        }
                    }
                }
            }
        }
    }

    &__broker {
        position: relative;
        margin: -2.5rem auto 0 auto;
        border-radius: $radius;
        z-index: 5;
        overflow: hidden;
        max-width: 90%;
        box-shadow: $box-shadow;
        @media screen and (min-width: $tablet) {
            position: absolute;
            right: 1.5rem;
            bottom: 1.5rem;
            min-width: 20.5rem;
            margin: 0;
            //box-shadow: none;
        }

        &__top {
            background-color: $white;
            padding: 1.25rem;
        }

        &__bottom {
            .button {
                display: flex;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                width: 100%;
                flex: 1;
                height: 3.5rem;

                img {
                    margin-right: .5rem;
                }
            }
        }

        &__avatar {
            width: 3rem;
            height: 3rem;
            margin: 0;
            margin-right: 1rem;

            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &__info {
            color: $label-color;
        }

        .price {
            font-size: 1.375rem;
            line-height: 1.75rem;
            color: $very-dark-blue-2;
            font-weight: 900;

            &-info {
                display: flex;
                align-items: center;
            }

            &-sale {
                margin-right: .5rem;
                font-size: .875rem;
                height: 2em;
                align-self: baseline;
            }

            &-old {
                color: $dark-grayish-blue;
                text-decoration: line-through;
                margin-left: .5rem;
                align-self: flex-start;
            }
        }
    }

    //.content {
    //    padding: 1.5rem;
    //}
    &__info {
        margin-top: 1.5rem;

        &__toggle {
            //padding: .5rem 2rem;
            //box-sizing: content-box;
            margin: 1rem 0;
        }

        &__group {
            border-bottom: 1px solid rgba(207, 218, 230, 0.5);
            margin-bottom: 1rem;

            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
            }
        }

        h3 {
            display: flex;
            align-items: center;
            margin-bottom: 0.125rem;

            img {
                width: 1rem;
                height: 1rem;
                object-fit: contain;
                object-position: center;
                margin-right: 0.5rem;
            }
        }

        &__list {
            &__item {
                display: flex;
                flex-wrap: wrap;
                padding: .5rem 0;
                border-bottom: 1px solid rgba(207, 218, 230, 0.5);
                @media screen and (min-width: $tablet) {
                    border-bottom: 0;
                }

                span {
                    width: 100%;
                    @media screen and (min-width: $tablet) {
                        width: 50%;
                    }

                    &:first-child {
                        color: $very-dark-blue-2;
                        @media screen and (min-width: $tablet) {
                            color: $text;
                        }
                    }
                }

                &__subgroup {
                    width: 100%;
                    padding: .5rem 0;

                    .object__info__list__item {
                        color: $label-color;

                        span {
                            &:first-child {
                                padding-left: 1.5rem;
                            }

                            &:last-child {
                                padding-left: 1.5rem;
                                @media screen and (min-width: $tablet) {
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__basic-short-info {
        background-color: rgba(#C5D2E6, .2);
        border-radius: $radius;
        padding: 1.5rem;
        margin-bottom: 1rem;

        .list-properties {
            display: flex;
            flex-wrap: wrap;

            &__item {
                display: flex;
                justify-content: space-between;
                font-size: .875rem;
                padding: 0.25rem 0;
                width: 100%;
                @media screen and (min-width: $tablet) {
                    width: 50%;
                    padding: 0.25rem .5rem;
                }
                @media screen and (min-width: $desktop) {
                    width: 100%;
                    padding: 0.25rem 0;
                }

                span {
                    &:nth-child(2) {
                        text-align: right;
                    }
                }
            }

            hr {
                margin: 0.5rem 0;
                background-color: rgba(#CFDAE6, .5);
                height: 1px;
            }
        }

        .button {
            width: 100%;
            margin-left: 0 !important;
            margin-right: 0 !important;
            @media screen and (min-width: $tablet) {
                width: calc(50% - 1rem);
                margin: 0.25rem .5rem !important;
            }
            @media screen and (min-width: $desktop) {
                width: 100%;
                margin-left: 0 !important;
                margin-right: 0 !important;
            }

            &:first-child {
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                @media screen and (min-width: $tablet) {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                @media screen and (min-width: $desktop) {
                    margin-top: 1rem;
                    margin-bottom: 0.5rem;
                }
            }


        }
    }

    &__how-purchase {
        a {
            color: $cyan;

            img {
                margin-right: .25rem;
            }

            span {
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px dotted rgba($cyan, 0.3);
                    left: 0;
                    bottom: 0;
                }
            }

            img, span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}


.franchise-info {
    .location {
        margin-top: 0.35rem;

        &__icon {
            margin-right: 0.35rem;
        }
    }

    &__company {
        border-left: 0.1875rem solid;
        border-color: $cyan;
        min-height: 110px;

        .is-4 {
            padding-right: 0.5rem;
        }

        h3 {
            line-height: 1.45rem;
            font-size: 1.05rem;
        }

        &-name {
            overflow: hidden;
        }

        &.box {
            padding: 1rem;
        }

        &__logo {
            height: 3.875rem;
            max-height: 3.875rem;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &__item {
        color: $very-dark-blue-2;
        line-height: normal;
        min-height: 3.875rem;
        align-items: center;
        font-size: 0.92rem;

        b {
            white-space: nowrap;
        }

        &__icon {
            margin: 0 0.75rem 0 0;
            display: flex;
            min-width: 23px;
            align-items: center;
        }

        &-list {
            .column {

                @media screen and (min-width: $tablet) {
                    &:not(:nth-child(2n)) {
                        .franchise-info__item {
                            position: relative;
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 1px;
                                height: 100%;
                                background-color: $light-grayish-blue;
                                opacity: 0.58;
                            }
                        }
                    }
                }
                @media screen and (min-width: $desktop) {
                    &:not(:last-child) {
                        .franchise-info__item {
                            position: relative;
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: -13px;
                                width: 1px;
                                height: 100%;
                                background-color: $light-grayish-blue;
                                opacity: 0.58;
                            }
                        }
                    }
                }
            }
        }
    }
}

.franchise-news {
    &:not(:first-child) {
        padding-top: 2rem;
    }

    &:not(:last-child) {
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(#CFDAE6, .5);;
    }


    &__thumb {
        height: 10.625rem;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__title {
        margin: 0.5rem 0 0 0 !important;
    }

    &__time {
        color: $light-grayish-blue;
    }
}

.card-franchise-package {
    border: 1px solid rgba($cyan, .19);
    border-radius: .3125rem;
    box-shadow: $box-shadow;
    min-height: 17.5rem;
    transition: $transition;
    position: relative;
    padding-bottom: 3.25rem !important;

    &__title {
        line-height: normal !important;
    }


    &__desc {
        position: relative;

        &__short,
        &__full {
            line-height: normal;
            transition: $transition;
        }

        &__short {
            position: absolute;
            top: 0;
            left: 0;
        }

        &__full {
            opacity: 0;
            transform: translate(0, 1rem);
            visibility: hidden;
        }
    }

    &__footer {
        transition: $transition;
        position: absolute;
        left: 1.5rem;
        bottom: 1rem;
        line-height: normal;
        width: calc(100% - 3rem);
        border-top: 1px solid rgba($cyan, .19);
        padding-top: .5rem;
    }


    &:hover {
        transform: translate(0, -.5rem);
        background-color: $body-background-color;
        box-shadow: none;

        .card-franchise-package__desc__short,
        .card-franchise-package__footer {
            opacity: 0;
            transform: translate(0, -1rem);
            visibility: hidden;
        }

        .card-franchise-package__desc__full {
            opacity: 1;
            transform: translate(0);
            visibility: visible;
        }
    }
}

.modal-franchise-review {
    &__author {
        line-height: normal;

        &__info {

        }

        &__thumb {
            width: 4rem;
            height: 4rem;
            margin: 0 1rem 0 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                border: 0.125rem solid $light-grayish-blue;
            }
        }
    }

    &__date {
        color: $light-grayish-blue;
    }

    &__thumb {
        height: 13rem;

        img, video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;

        }
    }
}

.swiper-franchise-reviews {
    .swiper-slide {
        .franchise-review {
            text-align: center;

            &__author-thumb {
                width: 7.5rem;
                height: 7.5rem;
                margin: 0 auto 1rem auto;
                transition: $transition;
                opacity: 0.42;
                transform: scale(.7);

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                    border: solid $cyan;
                    transition: $transition;
                    border-width: 0;
                }
            }

            &__info {
                transition: $transition;
                transform: scale(0);

                .blockquote {
                    font-size: .875rem;
                }
            }
        }

        &-active {
            .franchise-review {
                &__author-thumb {
                    opacity: 1;
                    transform: scale(1);

                    img {
                        border-width: 0.1875rem;
                    }
                }

                &__info {
                    transform: scale(1);
                }
            }
        }

    }

    .swiper-button-next,
    .swiper-button {
        &-next,
        &-prev {
            background-image: url(../../img/ic_arrow.svg);
            width: 1.5rem;
            height: 1.5rem;
            margin-top: -0.75rem;
            background-size: contain;
            top: 3.5rem;

            &:focus,
            &:active {
                border: none;
                outline: none;
            }
        }

        &-next {
            right: .875rem;
        }

        &-prev {
            transform: scale(-1, 1);
            left: .875rem;
        }
    }

}


.map-info-box-object {
    position: absolute;
    z-index: 100;
    width: 26.875rem;
    max-width: 90%;
    left: 0;
    right: 0;
    bottom: 1rem;
    margin: auto;
    background: $white;
    box-shadow: $box-shadow;
    border-radius: $radius;

    figure {
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            max-height: 4rem;
            object-fit: cover;
            object-position: center;
            border-radius: $radius;
            @media screen and (min-width: $tablet) {
                max-height: initial;
            }

        }
    }

    &__info {
        line-height: normal;
    }

    .location {
        margin-top: 0.5rem;
    }

    .delete {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
    }
}

.hidden {
    display: none;
}
.prompt-modal .modal-card {
    height: 180px
}

