<template>
    <panel-item :field="field">
        <template slot="value">
            <img class="option__image icon-preview" :src="field.path+field.value">
        </template>
    </panel-item>
</template>

<script>
    export default {
        props: ['resource', 'resourceName', 'resourceId', 'field'],
    }
</script>
