<template>
    <default-field :field="field" :errors="errors">
        <template slot="field">
            <multiselect v-model="value"
                         :options="icons"
                         label="title"
                         :class="errorClasses"
                         :close-on-select="true"
                         :multiple="false"
                         :placeholder="field.name"
                         class=""
            >
                <template slot="singleLabel" slot-scope="props">
                    <img class="option__image" :src="props.option.icon">
                    <span class="option__desc">
                        <span class="option__title">{{ props.option.title }}</span>
                    </span>
                </template>
                <template slot="option" slot-scope="props">
                    <img class="option__image" :src="props.option.icon">
                    <div class="option__desc">
                        <span class="option__title">{{ props.option.title }}</span>
                        <span class="option__small">{{ props.option.desc }}</span>
                    </div>
                </template>
            </multiselect>
        </template>
    </default-field>
</template>

<script>
    import {FormField, HandlesValidationErrors} from 'laravel-nova'
    import Multiselect from 'vue-multiselect'

    export default {
        components: {Multiselect},
        mixins: [FormField, HandlesValidationErrors],

        props: ['resourceName', 'resourceId', 'field'],
        data() {
            return {
                class: 'w-full form-control form-input form-input-bordered',
                icons: this.field.icons,
            }
        },

        methods: {
            /*
             * Set the initial, internal value for the field.
             */
            setInitialValue() {
                if (this.value !== null) {
                    this.icons.forEach(val => {
                        if (val.title === this.field.value) {
                            this.value = val;
                        }
                    })
                }
            },

            /**
             * Fill the given FormData object with the field's internal value.
             */
            fill(formData) {
                formData.append(this.field.attribute, this.value.title || '')
            },

            /**
             * Update the field's internal value.
             */
            handleChange(value) {
                this.value = value
            },
        },
    }
</script>
