<template>
    <div>
        <heading class="mb-6">Chat</heading>
        test tool
        <chat></chat>
    </div>
</template>

<script>
    // import Chat from './../../../../../resources/js/components/chat'
    export default {
        // component: { Chat }
    }
</script>
