<template>
    <span>
    <breadcrumbs></breadcrumbs>
    <router-view v-if="user" :user="user"></router-view>
    </span>
</template>

<script>
    import Breadcrumbs from './breadcrumbs'

    export default {
        components: {Breadcrumbs},
        data: () => ({

            user: null
        }),
        mounted() {
            this.user = this.$store.state.user
        }
    }
</script>

<style>

</style>

