<template>
    <div class="column is-4" v-if="partner">
        <div class="columns is-multiline">
            <div class="column is-12">
                <h3 class="is-marginless">Финансовые показатели</h3>
            </div>
        </div>
        <div class="box is-paddingless broker-pa__balance-box">
            <div class="broker-pa__balance-box__header is-flex">
                <figure>
                    <img src="/svg/icons/ic_balance.svg" class="svg" alt="">
                </figure>
                <h4>Баланс аккаунта — {{$formatPrice(partner.balance)}}</h4>
            </div>
            <hr class="my-0">
            <div class="broker-pa__balance-box__info-list is-size-875">
                <div class="broker-pa__balance-box__info-item is-flex">
                    <div class="is-flex"><span>Комис. на оплате рекламодателя</span><span
                        class="icon icon-1"
                        v-tooltip="'tooltip text'"><img
                        src="/svg/icons/ic_help.svg" class="svg" alt=""></span></div>
                    <div class="has-text-right"><span>{{$formatPrice(partner.open_commission)}}</span></div>
                </div>
                <div class="broker-pa__balance-box__info-item is-flex">
                    <div class="is-flex"><span>Комис. в холде</span><span class="icon icon-1"
                                                                          v-tooltip="'tooltip text'"><img
                        src="/svg/icons/ic_help.svg" class="svg" alt=""></span></div>
                    <div class="has-text-right"><span>{{$formatPrice(partner.hold)}}</span></div>
                </div>
            </div>
            <hr class="my-0">
            <div class="broker-pa__balance-box__info-list is-size-875">
                <div class="broker-pa__balance-box__info-item is-flex">
                    <div class="is-flex"><span>График выплат</span><span class="icon icon-1"
                                                                         v-tooltip="'tooltip text'"><img
                        src="/svg/icons/ic_help.svg" class="svg" alt=""></span></div>
                    <div class="has-text-right"><span>Ежемесячно, 1-го и 16-го</span></div>
                </div>
                <div class="broker-pa__balance-box__info-item is-flex">
                    <div class="is-flex"><span>Холд</span><span class="icon icon-1"
                                                                v-tooltip="'tooltip text'"><img
                        src="/svg/icons/ic_help.svg" class="svg" alt=""></span></div>
                    <div class="has-text-right"><span>3 дня</span></div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "FinanceCard",
        props: {},
        data() {
            return {
                partner: null
            }
        },
        created() {
            this.fetchBrokerData();
        },
        methods: {
            async fetchBrokerData() {
                let vm = this;
                await axios.get('/broker-get-partner-data').then((responce) => {
                    vm.partner = responce.data;
                });
            }
        }
    }
</script>

<style scoped>

</style>
