<template>
    <div class="columns is-multiline">
        <div class="column">
            <div class="card-register card-register_buyer card-auth">
                <div class="card-auth__header">
                    <div class="card-auth__header__title has-text-left">
                        <h1>{{trans('reg.executor.title')}}</h1>
                    </div>
                </div>
                <div class="card-body card-auth__body">
                    <form-errors :errors="form_errors"></form-errors>
                    <form @submit.prevent="submit">
                        <div class="columns is-multiline">
                            <g-g-input :size="'is-6'"
                                       v-model="form.name" :label="trans('auth.reg_executor.form.name.label')"
                                       :placeholder="trans('auth.reg_executor.form.name.placeholder')"
                                       required></g-g-input>
                            <g-g-input :size="'is-6'"
                                       v-model="form.surname" :label="trans('auth.reg_executor.form.surname.label')"
                                       :placeholder="trans('auth.reg_executor.form.surname.placeholder')"
                                       required></g-g-input>
                            <g-g-input :size="'is-6'" :type="'email'"
                                       v-model="form.email" :label="trans('auth.reg_executor.form.email.label')"
                                       :placeholder="trans('auth.reg_executor.form.email.placeholder')"
                                       required></g-g-input>
                            <g-g-input :size="'is-6'" :type="'tel'"
                                       v-model="form.phone" :label="trans('auth.reg_executor.form.phone.label')"
                                       :placeholder="trans('auth.reg_executor.form.phone.placeholder')"
                                       required></g-g-input>
                            <g-g-input :size="'is-12'" :type="'url'"
                                       v-model="form.socNetwork" :label="trans('auth.reg_executor.form.social.label')"
                                       :placeholder="trans('auth.reg_executor.form.social.placeholder')"></g-g-input>
                            <g-g-input :size="'is-6'"
                                       v-model="form.companyName" :label="trans('auth.reg_executor.form.companyName.label')"
                                       :placeholder="trans('auth.reg_executor.form.companyName.placeholder')"></g-g-input>
                            <g-g-select-input v-model="form.companyActivity"
                                              :size="'is-6'"
                                              :label="trans('auth.reg_executor.form.companyActivity.label')"
                                              :placeholder="trans('auth.reg_executor.form.companyActivity.placeholder')"
                                              :options="activityOptions"></g-g-select-input>

                            <g-g-location-select-input v-model="form.country_id" :type="'country'" :size="'is-6'"
                                                       required></g-g-location-select-input>
                            <g-g-location-select-input v-model="form.city_id" :type="'city'"  :size="'is-6'"></g-g-location-select-input>

                            <div class="column is-12">
                                <div class="field is-expanded">
                                    <label for="password"
                                           class="label label_req"><span>{{trans('reg.seller.form.password.label')}}</span></label>
                                    <div class="field">
                                        <p class="control">
                                            <input type="password"
                                                   id="password" class="input is-size-875" name="password"
                                                   v-model="form.password"
                                                   value="" :placeholder="trans('reg.seller.form.password.placeholder')"
                                                   required>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox is-link" for="remember">
                                            <input type="checkbox" name="remember" v-model="form.access" id="remember">
                                            <span>{{trans('auth.reg_executor.form.agree_1')}} <a href="#" class="has-text-info is-link">{{trans('auth.reg_executor.form.agree_2')}}</a> {{trans('auth.reg_executor.form.agree_3')}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="field">
                                    <div class="control">
                                        <button type="submit"
                                                class="button is-link is-fullwidth has-text-weight-bold h-3">
                                            {{trans('auth.reg_executor.form.btn_submit')}}
                                            <preloader v-if="showLoadingModal"></preloader>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="column is-two-fifths-desktop is-12-tablet">
            <div class="register-column-info-wrap">
                <div class="register-column-info register-column-info_executor">
                    <div class="register-column-info__title has-text-weight-bold">
                        {{trans('reg.executor.right_block.title')}}
                    </div>
                    <div class="register-column-info__desc">
                        {{trans('reg.executor.right_block.desc')}}
                    </div>
                    <figure class="register-column-info__img">
                        <img src="/svg/people/people-3.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GGInput from '../form/GGInput';
    import GGSelectInput from '../form/GGSelectInput';
    import GGLocationSelectInput from '../form/GGLocationSelectInput';
    import FormErrors from '../form-errors';
    import Preloader from '../preloader'

    export default {
        name: "form-register-executor",
        components: {GGInput, GGSelectInput, GGLocationSelectInput, FormErrors, Preloader,},
        data() {
            return {

                form: {
                    name: null,
                    surname: null,
                    email: null,
                    phone: null,
                    socNetwork: null,
                    access: null,
                    companyName: null,
                    companyActivity: null,
                    country_id: null,
                    city_id: null,
                    password: null,
                },
                activityOptions: [],
                showLoadingModal: false,
                form_errors: null,
            }
        },
        mounted() {
            let vm = this;
            axios.get('/get-company-activities').then(responce => {
                vm.activityOptions = responce.data;
                if (vm.value) {
                    for (const [key, val] of Object.entries(vm.activityOptions)) {
                        if (val.id === vm.value) {
                            vm.selectedValue = val;
                        }
                    }
                }
                vm.loaded = true;
            })

        },

        methods: {
            submit() {
                this.showLoadingModal = true;
                let vm = this;
                let form = {
                    'first_name': vm.form.name,
                    'last_name': vm.form.surname,
                    'email': vm.form.email,
                    'phone': vm.form.phone,
                    'soc_network': vm.form.socNetwork,
                    'company_activity_id': vm.form.companyActivity,
                    'company_name': vm.form.companyName,
                    'country_id': vm.form.country,
                    'city_id': vm.form.city_id,
                    'password': vm.form.password,
                };

                axios.post('/register/executor', {
                    form: form,
                }).then(res => {
                    window.location.href = '/profile'; // TODO remove
                    if (response.data.status === 'ok') {
                        this.$swal({
                            title: trans('reg.sms.enter_verify_code'),
                            input: 'text',
                            showCancelButton: true,
                            cancelButtonText: trans('reg.sms.btn_cancel'),
                            inputAttributes: {
                                maxlength: 4,
                                autocapitalize: 'off',
                                autocorrect: 'off'
                            },
                            inputValidator: (value) => {
                                if (!value) {
                                    return trans('reg.sms.empty_verify_code')
                                } else {
                                    form.code = value;
                                    axios.post('/code-verify', {
                                        form: form,
                                    }).then(response => {
                                        if (response.data.status === 'ok') {
                                            this.$swal({
                                                type: 'success',
                                                text: trans('reg.sms.thx_reg'),
                                                onClose: () => {
                                                    window.location.replace(response.data.url)
                                                }
                                            });
                                        } else {
                                            this.$swal({type: 'error', text: trans('reg.sms.wrong_verify_code')});
                                        }
                                    });
                                }
                            }
                        });
                    }
                }).catch(e => {
                    this.showLoadingModal = false;
                    if (e.response.status == 422) {
                        this.form_errors = e.response.data.errors
                    } else {
                        this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                    }

                })
            },
        }
    }
</script>

<style scoped>

</style>
