<template>
    <form @submit.prevent="submit">
        <div class="columns is-multiline">
            <g-g-input :size="'is-6'"
                       v-model="form.name" :label="trans('auth.reg_media_buyer.form.name.label')"
                       :placeholder="trans('auth.reg_media_buyer.form.name.placeholder')"></g-g-input>
            <g-g-input :size="'is-6'"
                       v-model="form.surname" :label="trans('auth.reg_media_buyer.form.surname.label')"
                       :placeholder="trans('auth.reg_media_buyer.form.surname.placeholder')"></g-g-input>
            <g-g-input :size="'is-6'" :type="'email'"
                       v-model="form.email" :label="trans('auth.reg_media_buyer.form.email.label')"
                       :placeholder="trans('auth.reg_media_buyer.form.email.placeholder')"></g-g-input>
            <g-g-input :size="'is-6'" :type="'tel'"
                       v-model="form.phone" :label="trans('auth.reg_media_buyer.form.phone.label')"
                       :placeholder="trans('auth.reg_media_buyer.form.phone.placeholder')"></g-g-input>

            <g-g-input :size="'is-6'"
                       v-model="form.skype" :label="trans('auth.reg_media_buyer.form.skype.label')"
                       :placeholder="trans('auth.reg_media_buyer.form.skype.placeholder')"></g-g-input>
            <g-g-input :size="'is-6'"
                       v-model="form.telegram" :label="trans('auth.reg_media_buyer.form.telegram.label')"
                       :placeholder="'Логин в Telegram'"></g-g-input>
            <g-g-location-select-input v-model="form.country_id" :type="'country'"  :size="'is-6'"></g-g-location-select-input>
            <g-g-location-select-input v-model="form.city_id" :type="'city'"  :size="'is-6'"></g-g-location-select-input>
            <g-g-select-input v-model="form.wayAttractCustomers"
                              :size="'is-12'"
                              :multiple="true"
                              :close-on-select="false"
                              :label="trans('auth.reg_media_buyer.form.wayAttractCustomers.label')"
                              :placeholder="trans('auth.reg_media_buyer.form.wayAttractCustomers.placeholder')"
                              :options="wayAttractCustomersOptions"></g-g-select-input>
            <g-g-input :size="'is-12'"
                       v-model="form.wayAttractCustomersAdd" :label="trans('auth.reg_media_buyer.form.wayAttractCustomersAdd.label')"
                       :placeholder="trans('auth.reg_media_buyer.form.wayAttractCustomersAdd.placeholder')"></g-g-input>



            <div class="column is-12">
                <div class="field">
                    <div class="control">
                        <label class="checkbox is-link" for="remember">
                            <input type="checkbox" name="remember" v-model="form.access"
                                   id="remember">
                            <span>{{trans('auth.reg_media_buyer.form.agree_1')}} <a href="#" class="has-text-info is-link">{{trans('auth.reg_media_buyer.form.agree_2')}}</a> {{trans('auth.reg_media_buyer.form.agree_3')}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="column is-12">
                <div class="field">
                    <div class="control">
                        <button type="submit"
                                class="button is-link is-fullwidth has-text-weight-bold h-3">
                            {{trans('auth.reg_media_buyer.form.btn_submit')}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import GGInput from '../form/GGInput';
    import GGSelectInput from '../form/GGSelectInput';
    import GGLocationSelectInput from '../form/GGLocationSelectInput';

    export default {
        name: "form-register-buyer",
        components: {GGInput, GGSelectInput, GGLocationSelectInput},
        data() {
            return {

                form: {
                    name: null,
                    surname: null,
                    email: null,
                    phone: null,
                    skype: null,
                    telegram: null,
                    country_id: null,
                    city_id: null,
                    wayAttractCustomers: null,
                    wayAttractCustomersAdd: null,
                    access: null,
                },
                wayAttractCustomersOptions: [
                    {id: 1, name: 'Item 1'},
                    {id: 2, name: 'Item 2'},
                ],

            }
        },
        methods: {
            submit() {
                //console.log('submit!');
            },
        }
    }
</script>

<style scoped>

</style>
