<template>
    <div class="columns is-multiline">
        <div class="column">
            <div class="card-register card-register_buyer card-auth">
                <div class="card-auth__header">
                    <div class="card-auth__header__title has-text-left">
                        <h1>{{trans('reg.buyer.title')}}</h1>
                    </div>
                </div>
                <div class="card-body card-auth__body">
                    <form-errors :errors="form_errors"></form-errors>
                    <form @submit.prevent="submit">
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <div class="field">
                                    <label for="name"
                                           class="label label_req"><span>{{trans('reg.buyer.form.name.label')}}</span></label>
                                    <div class="control">
                                        <input type="text"
                                               id="name" class="input is-size-875" name="name"
                                               value="" :placeholder="trans('reg.buyer.form.name.placeholder')" required
                                               v-model="form.first_name"
                                        >

                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label for="surname"
                                           class="label label_req"><span>{{trans('reg.buyer.form.surname.label')}}</span></label>
                                    <div class="control">
                                        <input type="text"
                                               id="surname" class="input is-size-875" name="surname"
                                               value="" :placeholder="trans('reg.buyer.form.surname.placeholder')"
                                               required
                                               v-model="form.last_name"
                                        >

                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label for="email"
                                           class="label label_req"><span>{{trans('reg.buyer.form.email.label')}}</span></label>
                                    <div class="control">
                                        <input id="email" type="email"
                                               class="input is-size-875" name="email"
                                               value="" :placeholder="trans('reg.buyer.form.email.placeholder')"
                                               required
                                               v-model="form.email"
                                        >

                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field is-expanded">
                                    <label for="tel"
                                           class="label label_req"><span>{{trans('reg.buyer.form.tel.label')}}</span></label>
                                    <div class="field">
                                        <p class="control">
                                            <input type="tel"
                                                   id="tel" class="input is-size-875" name="tel"
                                                   value="" :placeholder="trans('reg.buyer.form.tel.placeholder')"
                                                   required
                                                   v-model="form.phone"
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field is-expanded">
                                    <label class="label label_req"><img src="/svg/icons/ic_coins.svg" alt=""><span>{{trans('reg.buyer.form.purchase_amount.label')}}</span></label>
                                    <div class="field has-addons has-slider">
                                        <p class="control control-text-left control-text-left_3em">
                                            <input type="number" class="input is-size-875" v-model="form.purchaseAmount[0]">
                                            <span class="text is-left is-size-875">{{trans('reg.buyer.form.from')}} €</span>
                                        </p>
                                        <p class="control control-text-left control-text-left_3em">
                                            <input type="number" class="input is-size-875" v-model="form.purchaseAmount[1]">
                                            <span class="text is-left is-size-875">{{trans('reg.buyer.form.to')}} €</span>
                                        </p>
                                    </div>
                                    <vue-slider v-model="form.purchaseAmount"
                                                :tooltip="optionSliderPurchaseAmount.tooltip"
                                                :min="optionSliderPurchaseAmount.min"
                                                :max="optionSliderPurchaseAmount.max">

                                    </vue-slider>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field is-expanded">
                                    <label class="label label_req"><img src="/svg/icons/ic_time.svg" alt=""><span>{{trans('reg.buyer.form.time_purchase.label')}}</span></label>
                                    <div class="field has-addons has-slider">
                                        <p class="control control-month-range">
                                            <input type="number" class="input is-size-875" v-model="form.timePurchase[0]">
                                            <span class="text is-left is-size-875">{{trans('reg.buyer.form.from')}}&nbsp;</span>
                                            <span class="text is-right is-size-875">{{trans('reg.buyer.form.short_month')}}</span>
                                        </p>
                                        <p class="control control-month-range">
                                            <input type="number" class="input is-size-875" v-model="form.timePurchase[1]">
                                            <span class="text is-left is-size-875">{{trans('reg.buyer.form.to')}}&nbsp;</span>
                                            <span class="text is-right is-size-875">{{trans('reg.buyer.form.short_month')}}</span>
                                        </p>
                                    </div>
                                    <vue-slider v-model="form.timePurchase"
                                                :tooltip="optionSliderTimePurchase.tooltip"
                                                :min="optionSliderTimePurchase.min"
                                                :max="optionSliderTimePurchase.max">

                                    </vue-slider>
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="field is-expanded">
                                    <label for="password"
                                           class="label label_req"><span>{{trans('reg.seller.form.password.label')}}</span></label>
                                    <div class="field">
                                        <p class="control">
                                            <input type="password"
                                                   id="password" class="input is-size-875" name="password"
                                                   v-model="form.password"
                                                   value="" :placeholder="trans('reg.seller.form.password.placeholder')"
                                                   required>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox is-link" for="remember">
                                            <input type="checkbox" name="remember"
                                                   id="remember" checked>
                                            <span>{{trans('reg.buyer.form.agreement_start')}} <a href="#" class="has-text-info is-link">{{trans('reg.buyer.form.agreement_link')}}</a> {{trans('reg.buyer.form.agreement_end')}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="field">
                                    <div class="control">
                                        <button type="submit"
                                                class="button is-link is-fullwidth has-text-weight-bold h-3">
                                            {{trans('reg.buyer.form.btn_submit')}}
                                            <preloader v-if="showLoadingModal"></preloader>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="column is-two-fifths-desktop is-12-tablet">
            <div class="register-column-info-wrap">
                <div class="register-column-info register-column-info_buyer">
                    <div class="register-column-info__title has-text-weight-bold">
                        {{trans('reg.buyer.right_block.title')}}
                    </div>
                    <div class="register-column-info__desc">
                        {{trans('reg.buyer.right_block.desc')}}
                    </div>
                    <figure class="register-column-info__img">
                        <img src="/svg/people/people-2.svg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vueSlider from 'vue-slider-component';
    import FormErrors from '../form-errors';
    import Preloader from '../preloader';

    export default {
        name: "form-register-buyer",
        components: {vueSlider, FormErrors, Preloader},
        data() {
            return {
                selected: null,
                form_errors: null,
                options: ['list', 'of', 'options'],
                showLoadingModal: false,
                form: {
                    first_name: null,
                    last_name: null,
                    phone: null,
                    email: null,
                    password: null,
                    purchaseAmount: [
                        1000,
                        5000
                    ],
                    timePurchase: [
                        12,
                        36
                    ],
                    country: {
                        selected: null,
                        placeholder: 'Страна',
                        selectedLabel: 'Выбрано',
                        selectLabel: '',
                        deselectLabel: '',
                        options: [
                            {id: 'ru', name: 'Россия'},
                            {id: 'pl', name: 'Польша'},
                        ]
                    },
                },
                optionSliderPurchaseAmount: {
                    tooltip: false,
                    min: 0,
                    max: 20000
                },
                optionSliderTimePurchase: {
                    tooltip: false,
                    min: 0,
                    max: 48
                }
            }
        },
        methods: {
            submit() {
                this.showLoadingModal = true;
                let vm = this;
                let form = {
                    'first_name': vm.form.first_name,
                    'last_name': vm.form.last_name,
                    'email': vm.form.email,
                    'phone': vm.form.phone,
                    'purchaseAmount': vm.form.purchaseAmount,
                    'timePurchase': vm.form.timePurchase,
                    'password': vm.form.password,
                };

                axios.post('/register/buyer', {
                    form: form,
                }).then(res => {
                    window.location.href = '/profile'; // TODO remove
                    if (response.data.status === 'ok') {
                        this.$swal({
                            title: trans('reg.sms.enter_verify_code'),
                            input: 'text',
                            showCancelButton: true,
                            cancelButtonText: trans('reg.sms.btn_cancel'),
                            inputAttributes: {
                                maxlength: 4,
                                autocapitalize: 'off',
                                autocorrect: 'off'
                            },
                            inputValidator: (value) => {
                                if (!value) {
                                    return trans('reg.sms.empty_verify_code')
                                } else {
                                    form.code = value;
                                    axios.post('/code-verify', {
                                        form: form,
                                    }).then(response => {
                                        if (response.data.status === 'ok') {
                                            this.$swal({
                                                type: 'success',
                                                text: trans('reg.sms.thx_reg'),
                                                onClose: () => {
                                                    window.location.replace(response.data.url)
                                                }
                                            });
                                        } else {
                                            this.$swal({type: 'error', text: trans('reg.sms.wrong_verify_code')});
                                        }
                                    });
                                }
                            }
                        });
                    }
                }).catch(e => {
                    this.showLoadingModal = false;
                    if (e.response.status == 422) {
                        this.form_errors = e.response.data.errors
                    } else {
                        this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                    }

                })
            },
        }
    }
</script>

<style scoped>

</style>
