<template>
    <div class="columns is-multiline">
        <div class="column">
            <div class="card-register card-register_buyer card-auth">
                <div class="card-auth__header">
                    <div class="card-auth__header__title has-text-left">
                        <h1>{{trans('reg.seller.title')}}</h1>
                    </div>
                </div>
                <div class="card-body card-auth__body">
                    <form-errors :errors="form_errors"></form-errors>
                    <form @submit.prevent="submit">
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <div class="field">
                                    <label
                                        for="name"
                                        class="label label_req"><span>{{trans('reg.seller.form.name.label')}}</span></label>
                                    <div class="control">
                                        <input
                                            type="text"
                                            id="name"
                                            class="input is-size-875"
                                            name="name"
                                            v-model="form.name"
                                            value=""
                                            :placeholder="trans('reg.seller.form.name.placeholder')" required>

                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label for="surname"
                                           class="label label_req"><span>{{trans('reg.seller.form.surname.label')}}</span></label>
                                    <div class="control">
                                        <input
                                            type="text"
                                            id="surname"
                                            class="input is-size-875"
                                            name="surname" v-model="form.surname"
                                            value=""
                                            :placeholder="trans('reg.seller.form.surname.placeholder')"
                                            required>

                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label for="email"
                                           class="label label_req"><span>{{trans('reg.seller.form.email.label')}}</span></label>
                                    <div class="control">
                                        <input id="email" type="email"
                                               class="input is-size-875" name="email" v-model="form.email"
                                               value="" :placeholder="trans('reg.seller.form.email.placeholder')" required>

                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field is-expanded">
                                    <label for="tel"
                                           class="label label_req"><span>{{trans('reg.seller.form.tel.label')}}</span></label>
                                    <div class="field">
                                        <p class="control">
                                            <input type="tel"
                                                   id="tel" class="input is-size-875" name="tel" v-model="form.phone"
                                                   value="" :placeholder="trans('reg.seller.form.tel.placeholder')" required>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <g-g-location-select-input v-model="form.country" :size="'is-6'"></g-g-location-select-input>
                            <g-g-location-select-input v-model="form.city_id" :type="'city'"
                                                       :size="'is-6'"></g-g-location-select-input>

                            <!--</div>-->
                            <div class="column is-12">
                                <div class="field is-expanded">
                                    <label for="password"
                                           class="label label_req"><span>{{trans('reg.seller.form.password.label')}}</span></label>
                                    <div class="field">
                                        <p class="control">
                                            <input type="password"
                                                   id="password" class="input is-size-875" name="password"
                                                   v-model="form.password"
                                                   value="" :placeholder="trans('reg.seller.form.password.placeholder')"
                                                   required>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox is-warning" for="remember">
                                            <input type="checkbox" name="remember" id="remember" checked>
                                            <span>{{trans('reg.seller.form.agreement_start')}}
                                <a href="#" class="has-text-info is-link">{{trans('reg.seller.form.agreement_link')}}</a>
                                {{trans('reg.seller.form.agreement_end')}}
                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="column is-12">
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-warning is-fullwidth has-text-weight-bold h-3">
                                            {{trans('reg.seller.form.btn_submit')}}
                                            <preloader v-if="showLoadingModal"></preloader>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <portal-target name="modals"></portal-target>
                    </form>
                </div>
            </div>
        </div>
        <div class="column is-two-fifths-desktop is-12-tablet">
            <div class="register-column-info-wrap">
                <div class="register-column-info register-column-info_seller">
                    <div class="register-column-info__title has-text-weight-bold">
                        {{trans('reg.seller.right_block.title')}}
                    </div>
                    <div class="register-column-info__desc">
                        {{trans('reg.seller.right_block.desc')}}
                    </div>
                    <figure class="register-column-info__img">
                        <img src="/svg/people/people-1.svg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import GGLocationSelectInput from "../form/GGLocationSelectInput";
    import GGSelectInput from "../form/GGSelectInput";
    import FormErrors from '../form-errors';
    import Preloader from '../preloader';

    export default {
        name: "form-register-seller",
        components: {
            GGLocationSelectInput,
            Multiselect,
            GGSelectInput,
            FormErrors,
            Preloader,
        },
        data() {
            return {
                form: {
                    name: null,
                    surname: null,
                    email: null,
                    phone: null,
                    category: null,
                    country: null,
                    city_id: null,
                    password: null,
                },
                showLoadingModal: false,
                categories: null,
                form_errors: null,
                errors: []
            }
        },
        methods: {
            submit() {
                this.showLoadingModal = true;
                let vm = this;
                let form = {
                    'first_name': vm.form.name,
                    'last_name': vm.form.surname,
                    'email': vm.form.email,
                    'phone': vm.form.phone,
                    'category_id': vm.form.category,
                    'country_id': vm.form.country,
                    'city_id': vm.form.city_id,
                    'password': vm.form.password,
                };

                axios.post('/register/seller', {
                    form: form,
                }).then(response => {
                    window.location.href = '/profile'; // TODO remove
                    if ( response.data.status === 'ok' ) {
                        this.$swal({
                            title: trans('reg.sms.enter_verify_code'),
                            input: 'text',
                            showCancelButton: true,
                            cancelButtonText: trans('reg.sms.btn_cancel'),
                            inputAttributes: {
                                maxlength: 4,
                                autocapitalize: 'off',
                                autocorrect: 'off'
                            },
                            inputValidator: ( value ) => {
                                if ( !value ) {
                                    return trans('reg.sms.empty_verify_code')
                                } else {
                                    form.code = value;
                                    axios.post('/code-verify', {
                                        form: form,
                                    }).then(response => {
                                        if ( response.data.status === 'ok' ) {
                                            this.$swal({
                                                type: 'success',
                                                text: trans('reg.sms.thx_reg'),
                                                onClose: () => {
                                                    window.location.replace(response.data.url)
                                                }
                                            });
                                        } else {
                                            this.$swal({type: 'error', text: trans('reg.sms.wrong_verify_code')});
                                        }
                                    });
                                }
                            }
                        });
                    } else if (e.response.status == 422) {
                        this.form_errors = e.response.data.errors
                    } else {
                        this.$swal({type: 'error', text: response.data.msg});
                    }
                }).catch(e => {
                    this.showLoadingModal = false;
                    if (e.response.status == 422) {
                        this.form_errors = e.response.data.errors
                    } else {
                        this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                    }

                })
            },
        }
    }
</script>
