<template>
    <div class="columns is-multiline">
        <div class="column">
            <div class="card-register card-register_buyer card-auth">
                <div class="card-auth__header">
                    <div class="card-auth__header__title has-text-left">
                        <h1>{{trans('reg.broker.title')}}</h1>
                    </div>
                </div>
                <div class="card-body card-auth__body">
                    <form @submit.prevent="submit">
                        <div class="columns is-multiline">
                            <g-g-input :size="'is-6'"
                                       v-model="form.name" :label="trans('auth.reg_broker.form.name.label')"
                                       :placeholder="trans('auth.reg_broker.form.name.placeholder')"></g-g-input>
                            <g-g-input :size="'is-6'"
                                       v-model="form.surname" :label="trans('auth.reg_broker.form.surname.label')"
                                       :placeholder="trans('auth.reg_broker.form.surname.placeholder')"></g-g-input>
                            <g-g-input :size="'is-6'" :type="'email'"
                                       v-model="form.email" :label="trans('auth.reg_broker.form.email.label')"
                                       :placeholder="trans('auth.reg_broker.form.email.placeholder')"></g-g-input>
                            <g-g-input :size="'is-6'" :type="'tel'"
                                       v-model="form.phone" :label="trans('auth.reg_broker.form.phone.label')"
                                       :placeholder="trans('auth.reg_broker.form.phone.placeholder')"></g-g-input>
                            <g-g-location-select-input v-model="form.country_id" :type="'country'"  :size="'is-6'"></g-g-location-select-input>
                            <g-g-location-select-input v-model="form.city_id" :type="'city'"  :size="'is-6'"></g-g-location-select-input>
                            <g-g-select-input v-model="form.legal_status"
                                              :size="'is-6'"
                                              :label="trans('auth.reg_broker.form.legal_status.label')"
                                              :placeholder="trans('auth.reg_broker.form.legal_status.placeholder')"
                                              :options="legalStatusOptions">
                            </g-g-select-input>
                            <g-g-input v-if="form.legal_status === 1" :size="'is-6'"
                                       v-model="form.companyName" :label="trans('auth.reg_broker.form.companyName.label')"
                                       :placeholder="trans('auth.reg_broker.form.companyName.placeholder')"></g-g-input>

                            <g-g-select-input v-model="form.languages"
                                              :size="'is-12'"
                                              :multiple="true"
                                              :close-on-select="false"
                                              :label="trans('auth.reg_broker.form.languages.label')"
                                              :placeholder="trans('auth.reg_broker.form.languages.placeholder')"
                                              :options="languagesOptions"></g-g-select-input>

                            <g-g-select-input v-model="form.categoryBusiness"
                                              :size="'is-12'"
                                              :label="trans('auth.reg_broker.form.categoryBusiness.label')"
                                              :placeholder="trans('auth.reg_broker.form.categoryBusiness.placeholder')"
                                              :options="categoryBusinessOptions"></g-g-select-input>



                            <div class="column is-12">
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox is-link" for="remember">
                                            <input type="checkbox" name="remember" v-model="form.access" id="remember">
                                            <span>{{trans('auth.reg_broker.form.agree_1')}} <a href="#" class="has-text-info is-link">{{trans('auth.reg_broker.form.agree_2')}}</a> {{trans('auth.reg_broker.form.agree_3')}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-link is-fullwidth has-text-weight-bold h-3">
                                            {{trans('auth.reg_broker.form.btn_submit')}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="column is-two-fifths-desktop is-12-tablet py-0">
            <div class="register-column-info-wrap">
                <div class="register-column-info register-column-info_buyer">
                    <div class="register-column-info__title has-text-weight-bold">
                        {{trans('reg.broker.right_block.title')}}
                    </div>
                    <div class="register-column-info__desc">
                        {{trans('reg.broker.right_block.desc')}}
                    </div>
                    <figure class="register-column-info__img">
                        <img src="/svg/people/people-2.svg'" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GGInput from '../form/GGInput';
    import GGSelectInput from '../form/GGSelectInput';
    import GGLocationSelectInput from '../form/GGLocationSelectInput';

    export default {
        name: "form-register-broker",
        components: {GGInput, GGSelectInput, GGLocationSelectInput},
        data() {
            return {

                form: {
                    name: null,
                    surname: null,
                    email: null,
                    phone: null,
                    country_id: null,
                    city_id: null,
                    legal_status: null,
                    companyName: null,
                    languages: null,
                    categoryBusiness: null,
                    access: null,
                },
                legalStatusOptions: [
                    {id: 1, name: 'Компания'},
                    {id: 2, name: 'Физическое лицо'},
                ],
                languagesOptions: [
                    {id: 1, name: 'Русский'},
                    {id: 2, name: 'Английский'},
                ],
                categoryBusinessOptions: [
                    {id: 1, name: 'Item 1'},
                    {id: 2, name: 'Item 2'},
                ],

            }
        },
        methods: {
            submit() {
                //console.log('submit!');
            },
        }
    }
</script>

<style scoped>

</style>
