<template>
    <section class="section py-0 register">
        <div class="container">
                <div class="buttons has-addons">
                    <label
                        :class="{'is-active': filter === 'buyer'}"
                        class="button has-text-weight-bold h-3"
                    >
                        {{trans('reg.buyer.title')}}
                        <input type="radio" v-model="filter" value="buyer" style="display: none">
                    </label>

                    <label
                        :class="{'is-active': filter === 'seller'}"
                        class="button has-text-weight-bold h-3">
                        {{trans('reg.seller.title')}}
                        <input type="radio" v-model="filter" value="seller" style="display: none">
                    </label>

                    <label
                        :class="{'is-active': filter === 'executor'}"
                        class="button has-text-weight-bold h-3">
                        {{trans('reg.executor.title')}}
                        <input type="radio" v-model="filter" value="executor" style="display: none">
                    </label>
                </div>
            <div class="register-container">
                <FormRegisterBuyer v-if="filter === 'buyer'" />

                <FormRegisterExecutor v-if="filter === 'executor'" />

                <FormRegisterSeller v-if="filter === 'seller'" />
            </div>
        </div>
    </section>
</template>

<script>
    import FormRegisterBuyer from './FormRegisterBuyer'
    import FormRegisterExecutor from './FormRegisterExecutor'
    import FormRegisterSeller from './FormRegisterSeller'
    export default {
        name: "register",

        components: {
            FormRegisterBuyer,
            FormRegisterSeller,
            FormRegisterExecutor
        },

        data() {
            return {
                filter: 'buyer'
            }
        }
    }
</script>

<style lang="scss">
    .register {
        .buttons {
            margin-bottom: 0;
            margin-top: 2rem;
            position: relative;
            top: 1px;

            .button {
                margin-bottom: 0;
                border: 1px solid rgba(207,218,230,.5);
                color: #596C80;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                cursor: pointer;
                padding-left: 1.2rem;
                padding-right: 1.2rem;
                
                &.is-active {
                    background-color: #fff;
                    border-bottom: 1px solid #fff;
                    color: #1C2940;
                }
            }
        }
    }
</style>
