<template>
    <button class="btn btn-default btn-icon bg-primary" @click="modalCategoryShow = !modalCategoryShow">
        <slot>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path class="heroicon-ui"
                      d="M6 18.7V21a1 1 0 0 1-2 0v-5a1 1 0 0 1 1-1h5a1 1 0 1 1 0 2H7.1A7 7 0 0 0 19 12a1 1 0 1 1 2 0 9 9 0 0 1-15 6.7zM18 5.3V3a1 1 0 0 1 2 0v5a1 1 0 0 1-1 1h-5a1 1 0 0 1 0-2h2.9A7 7 0 0 0 5 12a1 1 0 1 1-2 0 9 9 0 0 1 15-6.7z"/>
            </svg>
        </slot>
        <portal to="modals" v-if="modalCategoryActive">
            <div class="modal modal-lg modal-select-category" :class="modalCategoryActive"
                 id="modal-select-categories">
                <div class="modal-background"></div>
                <div class="modal-card modal-card_big">
                    <header class="modal-card-head modal-card-head_bb">
                        <p class="modal-card-title"></p>
                        <button class="delete close-modal"
                                aria-label="close"
                                @click="modalCategoryShow = !modalCategoryShow"></button>
                    </header>
                    <section id="task-assign" class="modal-card-body is-paddingless">
                        <div class="panel">
                            <div class="panel-heading" v-on:click="sel == 1 ? sel = 0 : sel = 1">
                                Перевод
                            </div>
                            <div class="panel-block" v-if="sel == 1">
                                <button :class="{'is-info':(type == 'trans')}"
                                        class="button  save is-size-875 has-text-weight-bold"
                                        @click="setType('translation')">
                                    Отправить
                                </button>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" v-on:click="sel == 2 ? sel = 0 : sel = 2">
                                SEO
                            </div>
                            <div class="panel-block" v-show="sel == 2">
                                <button :class="{'is-info':(type == 'seo')}"
                                        class="button save is-size-875 has-text-weight-bold" @click="setType('seo')">
                                    Отправить
                                </button>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" v-on:click="sel == 3 ? sel = 0 : sel = 3">
                                Марктинг
                            </div>
                            <div class="panel-block" v-show="sel == 3">
                                <button :class="{'is-info':(type == 'ads')}"
                                        class="button save is-size-875 has-text-weight-bold"
                                        @click="setType('marketing')">
                                    Отправить
                                </button>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" v-on:click="sel == 4 ? sel = 0 : sel = 4">
                                Копирайт
                            </div>
                            <div class="panel-block" v-show="sel == 4">
                                <button :class="{'is-info':(type == 'copyright')}"
                                        class="button save is-size-875 has-text-weight-bold"
                                        @click="setType('copyright')">
                                    Отправить
                                </button>
                            </div>
                        </div>

                        <g-g-date-input :config="config" :placeholder="'Выбрите время завершения'"
                                        v-model="date"></g-g-date-input>
                        <g-g-select-input :options="techs" v-model="tech_id" :label="''"
                                          :placeholder="'Выберите Т.З.'"></g-g-select-input>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-info save is-size-875 has-text-weight-bold"
                                @click="send">
                            Отправить
                        </button>
                        <button class="button clear is-size-875"
                                @click="modalCategoryShow = !modalCategoryShow"
                        ><img
                            src="/svg/icons/ic_close.svg" alt=""
                            class="svg"><span>Отменить</span>
                        </button>
                    </footer>
                </div>
            </div>
        </portal>
    </button>
</template>

<script>
    import GGDateInput from '../form/GGDateInput';
    import GGSelectInput from '../form/GGSelectInput';

    export default {
        name: "AssignButton",
        components: {
            GGDateInput,
            GGSelectInput
        },
        props: ['id'],
        data() {
            return {
                sel: 0,
                date: null,
                type: null,
                techs: [],
                tech_id: null,
                loaded: false,
                config: {
                    altFormat: 'd.m.Y H:i',
                    altInput: true,
                    enableTime: true,
                    time_24hr: true,
                    dateFormat: 'Y-m-d H:i',
                },
                modalCategoryShow: false,
            }
        },
        methods: {
            send(type) {
                axios.post('/nova-vendor/business/send/' + this.id, {
                    task_type: this.type,
                    planed_at: this.date,
                    tech_id: this.tech_id
                }).then(
                    responce => {
                        window.$('#objects-table').DataTable().ajax.reload(null, false);
                    }
                )
            },
            setType(type) {
                this.type = type;
            }
        },
        created() {

        },
        computed: {
            modalCategoryActive: function () {
                if (this.modalCategoryShow) {
                    if (!this.loaded) {
                        axios.get('/nova-vendor/business/get-techs')
                            .then(
                                responce => {
                                    this.techs = responce.data;
                                    this.loaded = true;
                                    return 'is-active';
                                }
                            )
                    } else {
                        return 'is-active';
                    }

                } else {
                    return '';
                }
            }
        },
    }
</script>

<style scoped>
    /*#task-assign button.is-selected{*/
    /**/
    /*}*/
</style>
