<template>
    <div class="not-found">
        <div class="container">
            <div class="columns align-items-center">
                <div class="column is-7">
                    <h1 class="section-title mb-1">Ошибка 404</h1>

                    <h3 class="mb-1">Запрашиваемая страница не найдена</h3>

                    <div class="content">
                        <p>По запрошенному вами адресу, ничего не было найдено. Возможно страница была удалена или ваша ссылка некорректна.</p>

                        <a href="/" class="button is-info">На главную</a>
                    </div>
                </div>

                <div class="column is-5">
                    <img src="/img/404.gif" alt="error">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ErrorPage"
    }
</script>

<style lang="scss">
    .not-found {
        padding: 5rem 0;
    }
</style>
