<template>
    <div>
        <form @submit.prevent="submit" v-if="show" class="form-inline">
            <div class="columns">
                <div class="column is-one-fifth">
                    <multiselect v-model="form.country.selected"
                                 :deselect-label="form.country.deselectLabel"
                                 track-by="name"
                                 label="name"
                                 :placeholder="form.country.placeholder"
                                 :options="form.country.options"
                                 :searchable="true"
                                 :allow-empty="false"
                                 :selectLabel="form.country.selectLabel"
                                 :selectedLabel="form.country.selectedLabel">
                        <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
                    </multiselect>
                </div>
                <div class="column is-one-fifth">
                    <multiselect v-model="form.region.selected"
                                 :deselect-label="form.region.deselectLabel"
                                 track-by="name"
                                 label="name"
                                 :placeholder="form.region.placeholder"
                                 :options="form.region.options"
                                 :searchable="false"
                                 :allow-empty="false"
                                 :selectLabel="form.region.selectLabel"
                                 :selectedLabel="form.region.selectedLabel">
                        <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
                    </multiselect>
                </div>
                <div class="column is-one-fifth">
                    <div class="control">
                        <div class="input inputbox-val" @click="modalCategoryShow = !modalCategoryShow">
                            {{trans('home.v_form_business.categories')}}
                        </div>
                    </div>
                </div>
                <div class="column is-one-fifth">
                    <div class="dropdown is-flex is-full">
                        <div class="dropdown-trigger">
                            <div class="input inputbox-val" aria-haspopup="true"
                                 aria-controls="dropdown-payback">
                                <span v-show="form.payback.empty">{{trans('home.v_form_business.fields.payback')}}</span>
                                <span v-show="!form.payback.empty">{{trans('home.v_form_business.from')+' '+form.payback.value[0]+ ' '+trans('home.v_form_business.to')+' ' + form.payback.value[1] + ' ' + trans('home.v_form_business.month')}}</span>

                                <div class="multiselect__select"></div>
                            </div>

                        </div>
                        <div class="dropdown-menu" id="dropdown-payback" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item">
                                    <label class="label"><span>{{ trans('home.v_form_business.number_of_months') }}</span></label>
                                    <div class="field has-addons has-slider">
                                        <p class="control control-month-range">
                                            <input type="number" class="input is-size-875"
                                                   v-model="form.payback.value[0]">
                                            <span class="text is-left is-size-875">{{trans('home.v_form_business.from')}}&nbsp;</span>
                                            <span class="text is-right is-size-875"> {{trans('home.v_form_business.month')}}</span>
                                        </p>
                                        <p class="control control-month-range">
                                            <input type="number" class="input is-size-875"
                                                   v-model="form.payback.value[1]">
                                            <span class="text is-left is-size-875">{{trans('home.v_form_business.to')}}&nbsp;</span>
                                            <span class="text is-right is-size-875">{{trans('home.v_form_business.month')}}</span>
                                        </p>

                                    </div>
                                    <vue-slider v-model="form.payback.value"
                                                :tooltip="form.payback.optionSlider.tooltip"
                                                :min="form.payback.optionSlider.min"
                                                :max="form.payback.optionSlider.max">

                                    </vue-slider>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="dropdown-item">
                                    <div class="buttons">
                                        <div class="button is-light-cyan is-size-875"
                                             @click="form.payback.value = form.payback.addValues.add1">{{trans('home.v_form_business.to')}} 12
                                        </div>
                                        <div class="button is-light-cyan is-size-875"
                                             @click="form.payback.value = form.payback.addValues.add2">{{trans('home.v_form_business.to')}} 24
                                        </div>
                                        <div class="button is-light-cyan is-size-875"
                                             @click="form.payback.value = form.payback.addValues.add3">{{trans('home.v_form_business.to')}} 36
                                        </div>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                                <div class="dropdown-item">
                                    <div class="buttons">
                                        <div class="button is-size-875 is-info h-3 has-text-weight-bold is-flex-1"
                                             @click="form.payback.empty = false">
                                            {{trans('home.v_form_business.btn_apply')}}
                                        </div>
                                        <div class="button is-clear is-clear_close is-size-875 h-3 is-flex-1"
                                             @click="form.payback.empty = true">
                                            <span class="icon-close">×</span>
                                            <span class="has-text-decoration-underline">{{trans('home.v_form_business.btn_clear')}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-fifth">
                    <div class="button-wrap">
                        <button class="button is-link has-text-weight-bold is-fullwidth" type="submit">
                            {{trans('home.v_form_business.btn_find')}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!--Modal-->
        <div class="modal modal-select-category" :class="modalCategoryActive" id="modal-select-categories">
            <div class="modal-background" @click="modalCategoryShow = !modalCategoryShow"></div>
            <div class="modal-card modal-card_big">
                <header class="modal-card-head modal-card-head_bb">
                    <p class="modal-card-title">{{trans('home.v_form_business.select_category')}}</p>
                    <button class="delete close-modal" @click="modalCategoryShow = !modalCategoryShow"
                            aria-label="close"></button>
                </header>
                <section class="modal-card-body is-paddingless">
                    <ul class="category-list">
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item disabled">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item is-active">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                        <li class="category-list__item">
                            <figure class="category-list__item__icon">
                                <svg-icon :icon="'ic_info.svg'"></svg-icon>
                            </figure>
                            <span>Автомойки, сервисы, СТО</span>
                        </li>
                    </ul>
                    <div class="subcategory-wrap">
                        <div class="subcategory-header">
                            <h3>{{trans('home.v_form_business.select_sub_category')}}</h3>
                            <div class="toggle-list">
                                <span class="toggle-list__item">{{trans('home.v_form_business.btn_select_all_category')}}</span>
                                <span class="toggle-list__item">{{trans('home.v_form_business.btn_unselect_all_category')}}</span>
                            </div>
                        </div>
                        <ul class="subcategory-list">
                            <li class="subcategory-list__item">
                                <span>Автомойки, сервисы, СТО</span>
                            </li>
                            <li class="subcategory-list__item is-active">
                                <span>Автомойки, сервисы, СТО</span>
                            </li>

                        </ul>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-info save is-size-875 has-text-weight-bold">{{trans('home.v_form_business.btn_save_category')}}</button>
                    <button class="button clear is-size-875">
                        <svg-icon :icon="'ic_close.svg'"></svg-icon>
                        <span>{{trans('home.v_form_business.btn_reset')}}</span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import vueSlider from 'vue-slider-component';

    export default {
        name: "ExampleFormShort",
        components: {Multiselect, vueSlider},
        data() {
            return {
                selected: null,
                options: ['list', 'of', 'options'],
                modalCategoryShow: false,
                form: {
                    country: {
                        selected: null,
                        placeholder: trans('home.v_form_business.fields.country'),
                        selectedLabel: trans('home.v_form_business.selectedLabel'),
                        selectLabel: '',
                        deselectLabel: '',
                        options: [
                            {id: '1', name: 'Country 1'},
                            {id: '2', name: 'Country 2'},
                            {id: '3', name: 'Country 3'},
                            {id: '4', name: 'Country 4'}
                        ]
                    },
                    region: {
                        selected: null,
                        placeholder: trans('home.v_form_business.fields.region'),
                        selectedLabel: trans('home.v_form_business.selectedLabel'),
                        selectLabel: '',
                        deselectLabel: '',
                        options: [
                            {id: '1', name: 'Region 1'},
                            {id: '2', name: 'Region 2'},
                            {id: '3', name: 'Region 3'},
                            {id: '4', name: 'Region 4'}
                        ]
                    },
                    // category: {
                    //     selected: null,
                    //     placeholder: 'Категория',
                    //     selectedLabel: 'Выбрано',
                    //     selectLabel: '',
                    //     deselectLabel: '',
                    //     options: [
                    //         {id: '1', name: 'Cat 1'},
                    //         {id: '2', name: 'Cat 2'},
                    //         {id: '3', name: 'Cat 3'},
                    //         {id: '4', name: 'Cat 4'}
                    //     ]
                    // },
                    payback: {
                        value: [
                            0,
                            12
                        ],
                        addValues: {
                            add1: [
                                0,
                                12
                            ],
                            add2: [
                                0,
                                24
                            ],
                            add3: [
                                0,
                                36
                            ],
                        },
                        optionSlider: {
                            tooltip: false,
                            min: 0,
                            max: 48
                        },
                        empty: true
                    },
                },
                show: true,
            }
        },
        methods: {
            submit() {
                //console.log('submit!');
            },
        },
        computed: {
            modalCategoryActive: function () {
                if (this.modalCategoryShow) {
                    return 'is-active';
                } else {
                    return '';
                }
            }
        }
    }
</script>

<style scoped>

</style>
