<template>

    <div class="field">
        <label class="label" :class="{ 'label_req': required }">
            <span>{{label}}</span>
        </label>

        <div class="dropzone-previews" :class="classZonePreviews"></div>

        <vue-dropzone
            ref="dropzone"
            id="dropzone-photo-business"
            :options="dropzoneOptions"
            :useCustomSlot=true
            v-on:vdropzone-file-added="attachListener"
            v-on:vdropzone-removed-file="removeFile"
            v-on:vdropzone-upload-progress="uploadProgress"
            v-on:vdropzone-thumbnail="vdropzoneThumbnail"
            v-on:vdropzone-mounted="vdropzoneMounted"
            v-on:vdropzone-max-files-exceeded="vdropzoneMaxFilesExceeded"

        >
            <div class="dropzone-custom-content">
                <figure>
                    <svg-icon :icon="'ic_add_files.svg'"/>
                </figure>
                <div>
                    <div class="dropzone-custom-content__title">{{trans('business.upload_photo.title')}}</div>
                    <div class="dropzone-custom-content__subtitle">{{trans('business.upload_photo.subtitle')}}</div>
                </div>
            </div>
        </vue-dropzone>
        <form-error :error="errors"/>
    </div>
</template>


<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    import FormError from './form/FormError.vue';

    export default {
        components: {
            vueDropzone: vue2Dropzone,
            FormError,
        },
        props: {
            value: {
                default: null
            },
            removeUrl: {
                default: null
            },
            model: {
                default: false
            },
            label: {
                default: 'Фотографии'
            },
            classZonePreviews: {
                default: 'dropzone-previews-zone'
            },
            required: {
                default: false
            },
            cover: {
                default: false
            },
            maxFiles: {
                default: 10
            },
            acceptedFiles: {
                default: 'application/pdf,image/jpg,image/jpeg,image/png'
            },
            errors: {
                default: null
            }
        },
        data: function () {
            return {
                images: [],
                initial: [],
                initialized: false,
                dropzoneOptions: {
                    url: '/',
                    thumbnailWidth: 40,
                    maxFilesize: 8,
                    maxFiles: this.maxFiles,
                    acceptedFiles: this.acceptedFiles,
                    headers: {
                        'X-CSRF-TOKEN': document.head.querySelector('meta[name="csrf-token"]').content
                    },
                    previewTemplate: this.template(),
                    previewsContainer: '.'+this.classZonePreviews,
                    addRemoveLinks: false,
                    autoProcessQueue: false,
                    dictCancelUploadConfirmation: trans('business.upload_photo.dictCancelUploadConfirmation')
                },
            }
        },
        methods: {
            template: function () {
                return `
                <div class="dropzone-previews-item dz-preview dz-file-preview">
                    <figure class="dz-image">
                            <img data-dz-thumbnail />
                            <div class="tooltip vue-tooltip-theme">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">` + trans('business.upload_photo.make_cover') + `</div>
                            </div>
                    </figure>
                    <div class="dz-preview__info">
                        <div class="dz-filename"><span data-dz-name></span></div>

                          <div class="dz-details">
                            <div class="dz-progress-wrap">
                                <span class="dz-progress-text"></span>
                                <div class="dz-progress">
                                    <span class="dz-upload" data-dz-uploadprogress></span>
                                </div>
                            </div>
                            <div class="dz-size"><span data-dz-size></span></div>
                            <div class="dz-error-message"><span class="has-text-danger" data-dz-errormessage></span></div>
                        </div>

                    </div>
                    <div class="dz-buttons">

                        <button class="button is-clear is-clear_close is-size-875 dz-delete-file set-as-cover" >
                            <span class="has-text-decoration-underline">` + trans('business.upload_photo.make_cover') + `</span>
                        </button>

                        <button class="button is-clear is-clear_close is-size-875 dz-delete-file" data-dz-remove>
                            <span class="icon-close">×</span><span class="has-text-decoration-underline">` + trans('business.upload_photo.delete') + `</span>
                        </button>
                    </div>
                </div>`;
            },
            attachListener: function (file, response) {

                this.$nextTick(() => {

                    this.images = this.getAllFiles();
                    this.$emit('input', this.images);

                    //Прячим кнопку "установить как обложку"
                    if (!this.cover) {
                        let element = file.previewElement.querySelector('.set-as-cover');
                        if(element)
                            element.remove();
                    }
                    /*
                    file.previewElement.querySelector('.dz-image').addEventListener("click", function (e) {
                        // Логика установки картинки обложкой
                        //console.log('click', file);
                        //console.log(this, e.target);
                    });
                    */
                });

            },
            vdropzoneThumbnail: function(file, dataUrl) {

                if (!this.cover)
                    return;

                if (file.cover == undefined)
                    file.cover = false;

                let vm = this;

                // Если уже есть установленная оболожка
                if (file.cover) {
                    let element = file.previewElement.querySelector('.dz-image');
                    let elements = file.previewElement.parentElement.querySelectorAll('.dz-image');
                    elements.forEach(el => {
                        vm.removeClass(el, '_ok');
                    });
                    vm.addClass(element,'_ok');
                }

                file.previewElement.querySelector('.set-as-cover').addEventListener("click", function (e) {

                    let element = file.previewElement.querySelector('.dz-image');
                    let elements = file.previewElement.parentElement.querySelectorAll('.dz-image');
                    elements.forEach(el => {
                        vm.removeClass(el, '_ok');
                    });
                    vm.addClass(element,'_ok');

                    let allImages = vm.getAllFiles();
                    allImages.forEach((tmpFile, index) => {
                        tmpFile.cover = false;
                    });
                    file.cover = true;

                    if (file.id != undefined) {
                        vm.initial.forEach((item, index) => {
                            vm.initial[index].cover = (item.id == file.id);
                        });
                    }
                    vm.images = vm.initial.concat(vm.getAllFiles());
                    vm.$emit('input', vm.images);
                });
            },
            vdropzoneMounted: function(file, dataUrl) {

            },
            vdropzoneMaxFilesExceeded: function(file) {
                if (this.maxFiles == 1) {
                    this.$refs['dropzone'].removeAllFiles();
                    this.$refs['dropzone'].addFile(file);
                }
            },
            addClass : function(element, className) {
                if (element.classList) {
                    element.classList.add(className);
                } else {
                    let arr = element.className.split(' ');
                    if (arr.indexOf(className) == -1) {
                        element.className += ' ' + className;
                    }
                }
            },
            removeClass : function(element, className) {
                if (element.classList) {
                    element.classList.remove(className);
                } else {
                    element.className = element.className.replace(new RegExp(`\\b${className}\\b`, 'gi'), ' ');
                }
            },
            removeFile: function (file) {
                let exist = false;
                let i = 0;
                for (i = 0; i < this.initial.length; i++)
                {
                    if (this.initial[i].name == file.name)
                    {
                        exist = true;
                        this.initial.splice( i--, 1);
                        break;
                    }
                }
                if (exist) {
                    this.$emit('fileRemoved', {index:i+1});
                    axios.post(this.removeUrl + file.model_id, {
                        id: file.id
                    }).then(responce => {
                    });
                }
                if (this.cover) {
                    this.images = this.initial.concat(this.getAllFiles());
                    this.$emit('input', this.images);
                }
            },
            uploadProgress: function (file, progress, bytesSent) {
                var progressElement = file.previewElement.querySelector("[data-dz-uploadprogress]");
                progressElement.closest(".dz-progress-wrap").querySelector(".dz-progress-text").textContent = Math.round(progress) + "%";
            },
            getAllFiles() {
                return this.$refs['dropzone'].getQueuedFiles();
            }
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    this.$nextTick(() => {
                        if (!this.initialized && this.model && value && value.length > 0) {
                            value.forEach(el => {
                                if ( el.id )
                                {
                                    if (el.mime_type === 'application/pdf') {
                                        el.mime_type = 'image/jpg'
                                    }

                                    let file = {
                                        size: el.size,
                                        name: el.file_name,
                                        type: el.mime_type,
                                        id: el.id,
                                        model_id: el.model_id,
                                        image: el.file_name + "-thumb.jpg",
                                    };
                                    if (this.cover)
                                        file.cover = (el.custom_properties != undefined) && (el.custom_properties.cover != undefined) ? el.custom_properties.cover : false;

                                    this.initialized = true;
                                    let url = '/storage/' + el.disk + '/' + el.id + '/conversions/' + el.name + "-thumb.jpg";
                                    this.$refs.dropzone.manuallyAddFile(file, url);
                                    this.initial.push(file);
                                }
                            });
                        }
                    })
                }

            }
        },
    }
</script>


<style lang="scss">
    .dz-progress-wrap {
        display: none !important;
    }
</style>
