<template>
    <div class="home">
        <section class="section home-info">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-4">
                        <div class="home-info__img">
                            <img src="/img/home/home-gif.gif" alt="">
                        </div>
                    </div>

                    <div class="column is-8">
                        <div class="home-info__text">
                            <h1 v-html="trans('home.title')"></h1>
                            <p class="is-size-875">{{trans('home.text')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <filter-home v-model="filter" />

        <section class="section pb-0 section-swiper-home-info">
            <div class="container">
                <div class="columns is-multiline is-hidden-mobile">
                    <div class="column is-6">
                        <div class="swiper-container swiper-home-info swiper-home-info-left">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slide-wrap">
                                        <a href="" class="slide">
                                            <figure>
                                                <img src="/img/home/sliders/girl.png" :alt="trans('home.slide_1.title')">
                                            </figure>

                                            <div class="slide-content">
                                                <div class="slide__tag">{{trans('home.slide_1.tag')}}</div>

                                                <div class="slide__cat">{{trans('home.slide_1.cat')}}</div>

                                                <div class="slide__title">{{trans('home.slide_1.title')}}</div>

                                                <div class="slide__content">{{trans('home.slide_1.content')}}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-wrap">
                                        <a href="" class="slide">
                                            <figure>
                                                <img src="/img/home/sliders/girl.png" :alt="trans('home.slide_2.title')">
                                            </figure>

                                            <div class="slide-content">
                                                <div class="slide__tag">{{trans('home.slide_2.tag')}}</div>

                                                <div class="slide__cat">{{trans('home.slide_2.cat')}}</div>

                                                <div class="slide__title">{{trans('home.slide_2.title')}}</div>

                                                <div class="slide__content">{{trans('home.slide_2.content')}}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination swiper-pagination-white"></div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <!-- Swiper -->
                        <div class="swiper-container swiper-home-info swiper-home-info-right">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slide-wrap">
                                        <a href="#" class="slide">
                                            <figure>
                                                <img src="/img/home/sliders/girl.png" :alt="trans('home.slide_2.title')">
                                            </figure>

                                            <div class="slide-content">
                                                <div class="slide__tag">{{trans('home.slide_3.tag')}}</div>

                                                <div class="slide__cat">{{trans('home.slide_3.cat')}}</div>

                                                <div class="slide__title">{{trans('home.slide_3.title')}}</div>

                                                <div class="slide__content">{{trans('home.slide_3.content')}}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-wrap">
                                        <a href="#" class="slide">
                                            <figure>
                                                <img src="/img/home/sliders/man.png" :alt="trans('home.slide_2.title')">
                                            </figure>
                                            <div class="slide-content">
                                                <div class="slide__tag">{{trans('home.slide_4.tag')}}</div>

                                                <div class="slide__cat">{{trans('home.slide_4.cat')}}</div>

                                                <div class="slide__title">{{trans('home.slide_4.title')}}</div>

                                                <div class="slide__content">{{trans('home.slide_4.content')}}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-wrap">
                                        <a href="#" class="slide">
                                            <figure>
                                                <img src="/img/home/sliders/man.png" :alt="trans('home.slide_2.title')">
                                            </figure>
                                            <div class="slide-content">
                                                <div class="slide__tag">{{trans('home.slide_5.tag')}}</div>

                                                <div class="slide__cat">{{trans('home.slide_5.cat')}}</div>

                                                <div class="slide__title">{{trans('home.slide_5.title')}}</div>

                                                <div class="slide__content">{{trans('home.slide_5.content')}}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-white"></div>
                        </div>
                    </div>
                </div>

                <div class="columns is-multiline is-hidden-tablet">
                    <div class="column is-12">
                        <div class="swiper-container swiper-home-info swiper-home-info-left swiper-home-info-mobile">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slide-wrap">
                                        <a href="" class="slide">
                                            <div class="slide-content">
                                                <div class="slide__tag">{{trans('home.slide_1.tag')}}</div>

                                                <div class="slide__cat">{{trans('home.slide_1.cat')}}</div>

                                                <div class="slide__title">{{trans('home.slide_1.title')}}</div>

                                                <div class="slide__content">{{trans('home.slide_1.content')}}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-wrap">
                                        <a href="" class="slide">
                                            <div class="slide-content">
                                                <div class="slide__tag">{{trans('home.slide_2.tag')}}</div>

                                                <div class="slide__cat">{{trans('home.slide_2.cat')}}</div>

                                                <div class="slide__title">{{trans('home.slide_2.title')}}</div>

                                                <div class="slide__content">{{trans('home.slide_2.content')}}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination swiper-pagination-white"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-list-objects pt-0">
            <div class="container is-flex has-justify-content-between">
                <h1 class="section-title">{{trans('home.sec_franchise_title')}}</h1>

                <a href="/franchise" class="button is-info button_bas-middle">{{trans('home.sec_franchise_btn')}}</a>
            </div>
            <div class="container">

                <main-list-franchise limit="3"></main-list-franchise>

            </div>
        </section>

        <section class="section home-sale">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="home-sale__title">
                            <span>{{trans('home.sale.subhead')}}</span>
                            {{trans('home.sale.title')}}
                        </div>
                        <div class="home-sale__text is-size-875">
                            {{trans('home.sale.text')}}
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="home-sale__btn">
                            <a v-if="!loggedIn" href="/register"
                               class="button is-warning is-size-875 has-text-weight-bold">{{trans('home.sale.btn_seller')}}</a>

                            <a v-if="!loggedIn" href="/register"
                               class="button is-info is-size-875 has-text-weight-bold">{{trans('home.sale.btn_buyer')}}</a>

                            <a v-if="loggedIn" href="/profile"
                               class="button is-warning is-size-875 has-text-weight-bold">{{trans('home.sale.btn_profile')}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--<section class="section section-list-objects">
            <div class="container is-flex has-justify-content-between">
                <h1 class="section-title">{{trans('home.sec_business_title')}}</h1>

                <a href="" class="button is-info button_bas-middle">{{trans('home.sec_business_btn')}}</a>
            </div>
            <div class="container">

            </div>
        </section>-->

        <section class="section home-services">
            <div class="container">
                <h1 class="section-title">{{trans('home.services.head')}}</h1>
            </div>

            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-5">
                        <div class="home-services__title">
                            <span>{{trans('home.services.subhead')}}</span>
                            {{trans('home.services.title')}}
                        </div>

                        <div class="home-services__text is-size-875" v-html="trans('home.services.text')" />

                        <div class="home-services__btn">
                            <a href="/user-services"
                               class="button is-info is-outlined is-size-875 has-text-weight-bold">{{trans('home.services.btn_catalog')}}</a>
                            <a v-show="!loggedIn" href="/register"
                               class="button is-warning is-outlined is-size-875 has-text-weight-bold">{{trans('home.services.btn_registration')}}</a>
                        </div>
                    </div>

                    <div class="column is-7">
                        <div class="category-service-list">
                            <div class="columns is-multiline is-gapless">
                                <div v-for="serviceCategory in usersServicesCategories"
                                     class="column is-4-desktop is-6-tablet category-service-list__item-wrap">
                                    <a
                                            :href="'/user-services?category=' + serviceCategory.id"
                                            class="category-service-list__item is-flex">
                                        <figure class="category-service-list__item__icon">
                                            <img
                                                    :src="serviceCategory.iconUrl"
                                                    class="svg"
                                                    alt=""
                                            />
                                        </figure>
                                        <div class="category-service-list__item__title is-size-875">
                                            {{serviceCategory.name}}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-news">
            <div class="container is-flex has-justify-content-between">
                <h2 class="title section-title">{{trans('home.news_head')}}</h2>

                <a href="/news" class="button is-info button_bas-middle">{{trans('home.news_last_info')}}</a>
            </div>
            <div class="container">
                <div class="columns is-multiline">
                    <template v-for="(news, i) in newsData">
                        <div v-if="i === 1" class="column is-6">
                            <div class="news-follow">
                                <div class="news-follow__title">{{trans('home.news_creat_title')}}</div>

                                <div class="news-follow__text is-size-875">{{trans('home.news_creat_text')}}</div>

                                <div class="news-follow__cat is-size-875">{{trans('home.news_creat_cat')}}</div>

                                <div class="columns is-multiline">
                                    <form>
                                        <g-g-select-input
                                                v-model="newsCategoriesId"
                                                :size="'is-7'"
                                                :placeholder="trans('home.news_creat_placeholder_cat')"
                                                :options="newsCategories"
                                        />

                                        <g-g-input
                                                :size="'is-12'"
                                                :placeholder="trans('home.news_creat_placeholder_email')"
                                        />
                                        <button type="submit" class="news-follow__btn"/>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <news :news="news"/>
                    </template>

                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import FilterHome  from '@/components/home/Filter';
    import News  from '@/components/home/News';
    import GGSelectInput  from '@/components/form/GGSelectInput';
    import GGInput  from '@/components/form/GGInput';
    export default {
        name: "Home",
        props: {
            loggedIn: false,
        },
        components: {
            FilterHome,
            GGSelectInput,
            News,
            GGInput
        },
        data: function () {
            return {
                filter: 'franchise',
                newsCategories: [],
                newsCategoriesId: null,
                usersServicesCategories: [],
                newsData: []
            }
        },
        mounted() {
            let vm = this;
            axios.get('/news-get-parent-categories').then(res => {
                vm.newsCategories = res.data;
            })
            axios.get('/hp-news').then(res => {
                this.newsData = res.data;
            });
            axios.get('/api/user-service/get-categories').then(res => {
                vm.usersServicesCategories = res.data;
            });

        },
    }
</script>

<style lang="scss">
    .home {
        .section-list-objects {
            .section-title {
                margin-bottom: 3rem;

                @media screen and (max-width: 768px) {
                    margin-bottom: 1.5rem;
                }
            }
        }

        &-info {
            padding: 74px 16px 40px;
            background-color: #fbfdfe;

            @media screen and (max-width: 768px) {
                padding: 40px 16px 25px;
            }

            &__text {
                max-width: 523px;

                h1 {
                    margin-bottom: 21px;
                    line-height: 1.2;
                }

                p {
                    color: #798ca8;
                    line-height: 1.71;
                }
            }

            &__img {
                position: relative;
                top: -40px;
                margin-bottom: -40px;
            }
        }

        &-sale {
            background-color: #4857ce;
            padding: 65px 16px;
            color: #fff;
            position: relative;

            &:after, &:before {
                content: '';
                position: absolute;
                background-image: url(../../img/ic_oval.png);
                width: 380px;
                height: 380px;
                top: -70%;
                right: -8%;
            }

            &:before {
                top: 50%;
                left: 20px;
            }

            @media screen and (max-width: 768px) {
                padding: 35px 16px;
            }

            .container {
                height: 100%;
            }

            .columns {
                align-items: center;
                height: 100%;
            }

            &__title {
                font-size: 18px;
                font-weight: bold;
                line-height: 1.33;
                margin-bottom: 12px;

                span {
                    font-size: 10px;
                    line-height: 1.6;
                    display: block;
                    margin-bottom: 12px;
                    color: #a6b0ff;
                }
            }

            &__text {
                line-height: 1.71;
                max-width: 431px;
            }

            &__btn {
                text-align: right;

                @media screen and (max-width: 768px) {
                    text-align: center;
                }

                .button {
                    height: 48px;
                    width: 250px;
                    @media screen and (max-width: 768px) {
                        margin: 10px auto;
                    }
                }

                .is-info {
                    margin-right: 5px;
                }
            }
        }

        &-services {
            background-color: #fff;
            padding: 50px 16px 115px 16px;

            @media screen and (max-width: 768px) {
                padding: 30px 16px 60px 16px;
            }

            .section-title {
                text-align: center;
                margin-bottom: 90px;
            }

            > .columns {
                align-items: center;
            }

            &__title {
                color: #798ca8;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;

                span {
                    line-height: 1.6;
                    color: #a6b0ff;
                    font-size: 10px;
                    display: block;
                    margin-bottom: 10px;
                }
            }

            &__text {
                color: #798ca8;
                margin-bottom: 18px;
            }

            &__btn {
                .button {
                    height: 48px;
                    padding-left: 1.4rem;
                    padding-right: 1.4rem;
                    margin-right: 5px;

                    @media screen and (max-width: 1000px) {
                        margin: 10px 0;
                    }
                }
            }

            .category-service-list {
                border-bottom: none !important;

                &__item {
                    border-bottom: 1px solid #cedcf0 !important;
                }

                .category-service-list__item-wrap {
                    &:nth-child(3n) {
                        .category-service-list__item {
                            border-right: none !important;
                        }
                    }
                }
            }
        }
    }
    
    .section-news {
        border-top: none;

        .section-title {
            margin-bottom: 3rem;

            @media screen and (max-width: 768px) {
                margin-bottom: 1.5rem;
            }
        }
    }

    .news-follow {
        border-radius: 3px;
        box-shadow: 0 6px 10px 0 rgba(23, 44, 77, 0.1);
        background-color: #ffffff;
        padding: 35px 50px;
        position: relative;

        @media screen and (max-width: 768px) {
            padding: 20px;
        }

        .field {
            margin-bottom: 0;
        }

        &__title {
            line-height: 1.33;
            font-size: 18px;
            font-weight: bold;
            color: #a6b0ff;
            margin-bottom: 1rem;
        }

        &__text {
            line-height: 1.57;
            color: #1c2940;
            margin-bottom: 1.9rem;
        }

        &__cat {
            line-height: 1.14;
            color: #596c80;
            margin-bottom: 1.2rem;
        }

        .label {
            display: none;
        }

        form {
            width: 100%;
        }

        &__btn {
            position: absolute;
            background-color: transparent;
            border: none;
            width: 26px;
            curosr: pointer;
            height: 20px;
            bottom: 45px;
            right: 60px;
            background-image: url(../../img/ic_paperplane_hover.svg);

            @media screen and (max-width: 768px) {
                bottom: 55px;
            }
        }

        .multiselect__tags, .control input {
            border: none;
            border-bottom: solid 1px #cedcf0;
            padding-left: 0;
            box-shadow: none;
            border-radius: 0;
        }
    }
</style>
