<template>
    <div class="columns is-centered">
        <div class="column is-narrow has-text-centered">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <a
                    v-if="pagination.current_page > 1"
                    v-on:click.prevent="changePage(pagination.current_page - 1)"
                    class="pagination-previous pagination-nav button"
                    disabled="true">
                        <span class="pagination-nav__icon">
                            <svg-icon :icon="'ic_arrow_right.svg'"/>
                        </span>
                    <span class="pagination-nav__title">{{trans('pagination.prev_page')}}</span>
                </a>
                <a v-if="pagination.current_page < pagination.last_page"
                   v-on:click.prevent="changePage(pagination.current_page + 1)"
                   class="pagination-next pagination-nav button is-link">
                    <span class="pagination-nav__title">{{trans('pagination.next_page')}}</span>
                    <span class="pagination-nav__icon">
                        <svg-icon :icon="'ic_arrow_right.svg'"></svg-icon>
                    </span>
                </a>
            </nav>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Pagination",
        props: {
            pagination: {
                type: Object,
                required: true
            },
            offset: {
                type: Number,
                default: 4
            }
        },
        computed: {
            pagesNumber() {
                if (!this.pagination.to) {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                let to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                let pagesArray = [];
                for (let page = from; page <= to; page++) {
                    pagesArray.push(page);
                }
                return pagesArray;
            }
        },
        methods: {
            changePage(page) {
                this.pagination.current_page = page;
                this.$emit('paginate');
            }
        }
    }
</script>

<style scoped>

</style>
