<template>
    <button
        @click="reserve"
        class="button is-success is-outlined has-text-weight-bold is-size-875 h-3">{{trans('strings.reserve')}}
    </button>
</template>

<script>

    export default {
        name: 'ReserveButton',
        props: {
            id: {type: Number, default: null},
            url: {type: String, default: null},
            type:{default:'business'}
        },
        components: {},
        data() {
            return {
                reserved: false
            }
        },
        methods: {
            reserve() {
                if (this.type === 'business') {
                    if (this.$store.state.user.balance >= 300) {
                        this.$swal({
                            type: 'success',
                            text: 'Бронивание включает в себя списание со счёта 300 $, и данный объект снимается с продажи, Он будет виден только Вам',
                            confirmButtonText: 'Оплатить',
                            cancelButtonText: 'Закрыть',
                            showCancelButton: true,
                            preConfirm: () => {
                                axios.post(this.url, {id: this.id})
                                    .then(response => {
                                        this.$swal({type: 'success', title: 'Объект успешно забронирован'});
                                        window.location.replace(response.data.url)
                                    });
                            }
                        });
                    } else {
                        this.noMoney();
                    }
                } else if (this.type === 'franchise') {
                    if (this.$store.state.user.balance >= 50) {
                        this.$swal({
                            type: 'success',
                            text: 'Бронивание включает в себя списание со счёта 50 $',
                            confirmButtonText: 'Оплатить',
                            cancelButtonText: 'Закрыть',
                            showCancelButton: true,
                            preConfirm: () => {
                                axios.post(this.url, {id: this.id})
                                    .then(response => {
                                        this.$swal({
                                            type: 'success',
                                            title: 'Объект успешно забронирован'
                                        });
                                        window.location.replace(response.data.url)
                                    });
                            }
                        });
                    } else {
                        this.noMoney();
                    }
                }
            },
            noMoney() {
                this.$swal({type: 'error', title: 'У Вас не достаточно средств на счете!'});
            }
        },
    }
</script>

<style scoped>

</style>
