<template>
    <simple-svg
        class="inline-block"
        :filepath="'/svg/icons/'+ this.icon"
        :fill="fill"
        :stroke="stroke"
        :width="width"
        :height="height"/>
</template>

<script>
    import {SimpleSVG} from 'vue-simple-svg'

    export default {
        props: ['icon', 'fill', 'stroke', 'width', 'height'],
        components: {'simple-svg': SimpleSVG},
    }
</script>

<style module>
    svg {
        vertical-align: middle;
    }
</style>
