<template>
    <button class="btn btn-default btn-icon bg-primary" @click="onClick">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-current text-white" style="margin-top: -2px; margin-left: 3px;">
            <path class="heroicon-ui"
                  d="M6 18.7V21a1 1 0 0 1-2 0v-5a1 1 0 0 1 1-1h5a1 1 0 1 1 0 2H7.1A7 7 0 0 0 19 12a1 1 0 1 1 2 0 9 9 0 0 1-15 6.7zM18 5.3V3a1 1 0 0 1 2 0v5a1 1 0 0 1-1 1h-5a1 1 0 0 1 0-2h2.9A7 7 0 0 0 5 12a1 1 0 1 1-2 0 9 9 0 0 1 15-6.7z"/>
        </svg>
    </button>
</template>

<script>

    import DetailRow from "./DetailRow";

    export default {
        props: [
            'Vue',
            'id'
        ],
        methods: {
            onClick() {
                console.log('click');
                let tr = $(this.$el).closest('tr');
                let row = $(this.$el).closest('#referrals-table').DataTable().row(tr);
                console.log(tr);
                console.log(row);
                if (row.child.isShown()) {
                    console.log('shown')
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    console.log('hidden')
                    let Component = this.Vue.extend(DetailRow);
                    let instance = new Component();
                    instance.$mount();
                    row.child(instance.$el).show();
                    tr.addClass('shown');
                    console.log('end')
                }
            }
        },
    }
</script>
