<template>
    <div>
        <heading class="mb-6">Business</heading>

        <card class=" flex flex-col items-center justify-center" style="min-height: 300px">
            <datatable :columns="columns" class="table"></datatable>
        </card>
        <portal-target name="modals"></portal-target>
    </div>
</template>

<script>
    import datatable from './DataTable.vue';
    import AssignButton from './modals/AssignButton'
    import EditButton from './EditButton'
    import SaleButton from './SaleButton'

    export default {
        components: {
            datatable
        },
        mounted() {
            //
        },
        data() {
            return {
                columns: [
                    {data: 'id', title: 'Id Объекта', className: 'text-left', searchable: false},
                    {data: '`name`->\'$."ru"\'', name: 'name', title: 'Наименование', className: 'text-left', searchable: true},
                    {data: 'status', title: 'Статус', searchable: true, className: 'text-left'},
                    {
                        data: 'assign',
                        orderable: false,
                        searchable: false,
                        className: 'text-left',
                        title: 'Отправить',
                        createdCell(cell, cellData, rowData) {
                            let Component = Nova.Vue.extend(AssignButton);
                            let instance = new Component({
                                propsData: rowData
                            });
                            instance.$mount();
                            $(cell).empty().append(instance.$el);
                        }
                    },
                    {
                        data: 'edit',
                        orderable: false,
                        searchable: false,
                        className: 'text-left',
                        title: 'Редактировать',
                        createdCell(cell, cellData, rowData) {
                            let Component = Nova.Vue.extend(EditButton);
                            let instance = new Component({
                                propsData: {
                                    id: rowData.id,
                                    router: Nova.$router
                                }
                            });
                            instance.$mount();
                            $(cell).empty().append(instance.$el);
                        }
                    },
                ]
            }
        }
    }
</script>

<style>
    .paginate_button:before {
        background: none !important;
    }
</style>
