<template>
    <div>
        <heading class="mb-6">Tasks</heading>

        <card class="flex flex-col items-center justify-center" style="min-height: 300px">
            <datatable :columns="columns" class="table"></datatable>
        </card>
        <portal-target name="modals"></portal-target>
    </div>
</template>

<script>
    import datatable from './TasksTable.vue';
    import EditButton from './TaskEditButton'
    import Buttons from "./Buttons";

    export default {
        components: {
            datatable
        },
        mounted() {
            //
        },
        data() {
            return {
                columns: [
                    {data: 'business_name', title: 'Бизнес', className: 'text-left', searchable: false},
                    {data: 'status', title: 'Статус', searchable: true, className: 'text-left'},
                    {data: 'priority', title: 'Приоритет', searchable: true, className: 'text-left'},
                    {data: 'planed_at', title: 'Закончить до', searchable: true, className: 'text-left'},
                    {
                        data: 'edit',
                        orderable: false,
                        searchable: false,
                        className: 'text-left',
                        title: 'Редактировать',
                        createdCell(cell, cellData, rowData) {
                            let Component = Nova.Vue.extend(EditButton);
                            let instance = new Component({
                                propsData: {
                                    target_id: rowData.target_id,
                                    router: Nova.$router
                                }
                            });
                            instance.$mount();
                            $(cell).empty().append(instance.$el);
                        }
                    },
                    {
                        data: 'actions',
                        orderable: false,
                        searchable: false,
                        className: 'text-left',
                        title: 'Действия',
                        createdCell(cell, cellData, rowData) {
                            let Component = Nova.Vue.extend(Buttons);
                            let instance = new Component({
                                propsData: {
                                    id: rowData.id,
                                    router: Nova.$router,
                                    status: rowData.status,
                                    message: rowData.message
                                }
                            });
                            instance.$mount();
                            $(cell).empty().append(instance.$el);
                        }
                    },
                    // {
                    //     data: 'send',
                    //     orderable: false,
                    //     searchable: false,
                    //     className: 'text-left',
                    //     title: 'Отправить',
                    //     createdCell(cell, cellData, rowData) {
                    //         let Component = Nova.Vue.extend(DetailButton);
                    //         let instance = new Component({
                    //             propsData: {
                    //                 Vue: Nova.Vue,
                    //                 id: rowData.id
                    //             }
                    //         });
                    //         instance.$mount();
                    //         $(cell).empty().append(instance.$el);
                    //     }
                    // },
                    {
                        data: null,
                        orderable: false,
                        searchable: false,
                        title: 'Детали',
                        className: 'text-left',
                        createdCell(cell, cellData, rowData) {
                            let DetailButton = Nova.Vue.extend(require('./DetailButton'));
                            let instance = new DetailButton({
                                propsData: {
                                    Vue: Nova.Vue,
                                    id: rowData.id
                                }
                            });
                            instance.$mount();
                            $(cell).empty().append(instance.$el);
                        }
                    },
                ]
            }
        }
    }
</script>

<style>
    .paginate_button:before {
        background: none !important;
    }
</style>
