<template>
    <section class="section filter-home">
        <div class="container">
            <div class="filter-home__tabs">
                <div class="buttons has-addons">
                   <!-- <label
                        :class="{'is-active': filter === 'business'}"
                        class="button has-text-weight-bold h-3"
                    >
                        {{trans('home.filter.title_business')}}
                        <input type="radio" v-model="filter" value="business" style="display: none">
                    </label>-->

                    <label
                        :class="{'is-active': filter === 'franchise'}"
                        class="button has-text-weight-bold h-3">
                        {{trans('home.filter.title_franchises')}}
                        <input type="radio" v-model="filter" value="franchise" style="display: none">
                    </label>
                </div>
            </div>

            <div class="filter-home__content is-flex">
                <div class="filter-home__item">
                    <g-g-location-select-input
                        v-model="form.country"
                        :type="'country'"
                        :placeholder="trans('home.filter.placeholder.country')"
                        :size="12"
                    />
                </div>

                <div class="filter-home__item">
                    <g-g-location-select-input
                        :placeholder="trans('home.filter.placeholder.region')"
                        :disabled="regionDisabled"
                        :country="form.country"
                        v-model="form.region"
                        :type="'region'"
                        :size="12"/>
                </div>

                <div class="filter-home__item">
                    <g-g-category-button
                            :size="'is-12'"
                            v-model="form.category_id"
                            :value="form.category_id"
                            :defaultTitle="trans('object.create.category.title')"
                            :categories="categories"
                            :isSubCat="false"
                            :target="'modals1'"
                            :errors="errors.category_id"
                    />

                </div>

                <div class="filter-home__item _border-none">
                    <g-g-range-slider
                        v-model="form.payback"
                        :adds="paybackAdds"
                        :placeholder="trans('home.filter.placeholder.payback')"
                        size="12"
                    />
                </div>

                <div class="filter-home__item is-flex">
                    <a  @click="submit" class="button is-link button_bas-middle">Поиск</a>
                </div>
            </div>
        </div>

        <portal-target name="modals1" />
    </section>
</template>

<script>
    import GGSelectInput from '@/components/form/GGSelectInput';
    import GGLocationSelectInput from '../form/GGLocationSelectInput'
    import CategoryButton from '../form/CategoryButton'
    import GGRangeSlider from '../form/GGRangeSlider'
    import GGCategoryButton from '../form/GGCategoryButton';

    export default {
        name: "Filter",

        components: {
            GGSelectInput,
            GGLocationSelectInput,
            CategoryButton,
            GGRangeSlider,
            GGCategoryButton
        },

        data() {
            return {
                regionDisabled: true,
                categories: null,
                filter: 'franchise',
                form: {
                    country: null,
                    region: null,
                    category_id: null,
                    payback: null,
                },
                path: '/franchise?',
                errors: {
                    type: Object,
                    default: () => ({
                        categories: []
                    })
                },
                paybackAdds: {
                    add1: {
                        text: 'до 12',
                        value: [
                            0,
                            12
                        ]
                    },
                    add2: {
                        text: 'до 24',
                        value: [
                            0,
                            24
                        ]
                    },
                    add3: {
                        text: 'до 36',
                        value: [
                            0,
                            36
                        ]
                    }
                },
            }
        },
        computed: {
            country(){
                return this.form.country;
            },
            region(){
                return this.form.region;
            }
        },
        watch: {
            country(val) {
                if (val){
                    this.regionDisabled = false;
                }else{
                    this.regionDisabled = true;
                }
            },
            region(val){
                if(val){
                    this.cityDisabled = false;
                }else{
                    this.cityDisabled = true;
                }
            }
        },
        methods: {
            submit() {
                let params = this.form;
                this.path += Object.keys(params).map(function(key) {
                    if (params[key] !== null) {

                        return key + '=' + params[key] + '&';
                    }
                }).join('');
                window.location.href = this.path;
            },
        },

        created() {
            axios.get('/franchise/get-categories').then(response => {
                this.categories = response.data;
            });
        }
    }
</script>

<style lang="scss">
    .filter-home {
        background-color: #fbfdfe;
        padding-bottom: 50px;
        padding-top: 0;

        @media screen and (max-width: 768px) {
            padding-top: 0;
            padding: 30px 16px;
        }

        &__tabs {
            .button {
                border: none;
                background-color: rgba(197, 210, 230, 0.2);
                padding: 0 48px;
                height: 48px;
                border-top: 3px solid rgba(197, 210, 230, 0.2);
                color: #1c2940;
                font-size: 14px;
            }

            .is-active {
                background-color: #fff;
                border-top: 3px solid #4857ce;
                border-left: solid 1px rgba(207, 218, 230, 0.5);
                border-right: solid 1px rgba(207, 218, 230, 0.5);
                border-radius: 0 3px 3px 0;
            }
        }

        &__content {
            background-color: #fff;
            box-shadow: 0 6px 10px 0 rgba(54, 66, 156, 0.15);

            @media screen and (max-width: 1000px) {
               flex-wrap: wrap;
            }
        }

        &__item {
            flex-basis: 19.3%;
            border-right: 1px solid rgba(207, 218, 230, 0.5);
            padding: 12px 0;

            &:nth-of-type(3) {
                flex-basis: 23%;
            }

            @media screen and (max-width: 1000px) {
                flex-basis: 100%;
            }

            .label {
                display: none;
            }

            .multiselect__tags, .inputbox-val.input, .input.h-3.is-size-875 {
                padding-left: 16px;
                border: none;
                box-shadow: none;
            }

            .field {
                margin-bottom: 0;
            }

            .column {
                padding: 0;
            }

            &.is-flex {
                justify-content: center;
            }

            &._border-none {
                border: none;

                .dropdown-content {
                    .field {
                        margin-bottom: 0.75rem;
                    }
                }

                .button.is-light-cyan.is-size-875 {
                    padding-left: 0.7em;
                    padding-right: 0.7em;
                }
            }
        }

        .multiselect__placeholder, .input.inputbox-val > span:not(.has-text-basic) {
            font-size: 16px;
            color: #596c80;

            @media screen and (max-width: 1000px) {
                font-size: 14px;
            }
        }
    }
</style>
