<template>
    <div class="column is-3">
        <a class="news-card" :href="'/news/' + $t(news.category.url) + '/' + $t(news.url)">
            <div class="news-card__img" v-if="news.media[0]">
                <img :src="'/storage/'+news.media[0].id+'/'+news.media[0].file_name"  alt="">
            </div>
            <div class="news-card__info">
                <a :href="'/news/' + $t( news.category.url)" class="news-card__tags"  v-if="news.category">
                    <img :src="'/svg/icons/'+ news.category.icon">
                    <span>{{$t(news.category.title)}}</span>
                </a>

                <div class="news-card__title">
                    {{$t(news.title)}}
                </div>

                <div class="news-card__text is-size-875" v-html="desc" />
                </div>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NewsCard",
        props: {
            news: {
                default: null
            }
        },
        components: {},

        data() {
            return {}
        },

        computed:{
          desc(){
              let maxLength = 90;
              let trimmedString = this.$t(this.news.description).substr(0, maxLength);
              trimmedString = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" ")));
              return this.$t(this.news.description) > maxLength ? trimmedString  + '...' : trimmedString;
          }
        },
        methods: {

        }
    }
</script>

<style lang="scss">
    .news-card {
        border-radius: 3px;
        box-shadow: 0 6px 10px 0 rgba(23, 44, 77, 0.1);
        background-color: #ffffff;
        overflow: hidden;
        display: block;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: translateY(-1rem);
        }

        &__img {
            height: 157px;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__info {
            padding: 10px 16px;
        }

        &__tags {
            font-size: 10px;
            line-height: normal;
            color: #0070d9;
            padding: 3px 12px;
            border-radius: 3px;
            border: solid 1px rgba(0, 112, 217, 0.3);
            margin-bottom: 9px;
            display: inline-flex;
            align-items: center;

            img {
                width: 10px;
                height: 10px;
                object-fit: cover;
                margin-right: 4px;
            }
        }

        &__title {
            color: #1c2940;
            line-height: 1.5;
            font-weight: bold;
            margin-bottom: 10px;
            height: 48px;
            overflow: hidden;
        }

        &__text {
            color: #596c80;
            line-height: 1.64;
            height: 69px;
            overflow: hidden;

            p {
                font-weight: 400;
                line-height: 1.64;

                strong {
                    font-weight: 400;
                    olor: #596c80;
                    line-height: 1.64;
                }
            }
        }
    }
</style>
