@import '../variables';

.add-business, .add-franchise {
    &__header {
        margin-bottom: 2rem;

        .section-title {
            margin-bottom: 0;
        }

        .info-banner {
            //background-color: $yellow;
            background: linear-gradient(354.87deg, #D96309 0%, #EF6C09 97.76%);
            border-radius: $radius;
            padding: .5rem;
            color: $white;
            align-items: self-start;
            position: relative;
            overflow: hidden;
            justify-content: space-between;
            flex-direction: column;
            height: 6.125rem;
            @media screen and (min-width: $tablet) {
                flex-direction: row;
                height: 3rem;

                align-items: center;
            }

            &-wrap {
                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    width: 90%;
                    height: 2rem;
                    mix-blend-mode: normal;
                    opacity: 0.5;
                    filter: blur(1rem);
                    border-radius: 0.1875rem;
                    left: 5%;
                    bottom: 0;
                    z-index: -1;
                    background: $yellow;
                }
            }

            figure {
                position: absolute;
                left: -0.75rem;
                width: auto;
                top: -0.5rem;
                @media screen and (min-width: $tablet) {
                    left: -.5rem;
                    width: 4.5rem;
                    top: -0.75rem;
                }
            }

            &__text {
                padding-left: 5rem;
                @media screen and (min-width: $tablet) {
                    padding-left: 3.5rem;
                }
            }

            &__buttons {
                padding-left: 5rem;
                @media screen and (min-width: $tablet) {
                    padding-left: 0;
                }
            }
        }
    }

    &__progress {
        figure {
            margin-right: 1rem;

            svg {
                width: 2rem;
                height: 2rem;
            }
        }

        &__info {
            color: $very-dark-blue-2;
            flex: 1;

            .progress-wrap {
                align-items: center;

                .progress {
                    margin-bottom: 0;
                    margin-right: 1rem;
                }

                .percent {
                    line-height: 1em;
                }
            }
        }
    }

    &__objects {
        &-list {

        }

        &-item {
            padding-bottom: 2rem;
            border-bottom: 1px solid rgba($light-grayish-blue, .5);
            &:not(:first-child) {
                padding-top: 2rem;
            }
        }
    }

    .step {
        &__header {
            h3 {

                svg {
                    width: 1rem;
                    height: 1rem;
                }

                span {
                    margin-left: .5rem;
                }

            }
        }

        &__footer {
            .button-next {
                span {
                    margin-right: .5rem;
                }

                svg {
                    width: .625rem;
                    height: .625rem;
                }
            }
        }

        .slider-gender {
            display: flex;
            margin-top: 2rem;

            figure {
                width: 1rem;
                height: 1rem;

                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }

            &-container {
                margin: 0 1rem;
                flex: 1;
            }
        }

    }
}

.ways-place-ads {
    border: 1px solid $button-border-color;
    border-radius: $radius;

    .columns {
        .column {
            &:not(:last-child) {
                @media screen and (min-width: $tablet) {
                    border-right: 1px solid $button-border-color;
                }

                .ways-place-ads__item__services {
                    border-bottom: 2px solid $button-border-color;
                    @media screen and (min-width: $tablet) {
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    &__item {
        height: 100%;

        &__info {
            .radio-wpa {
                display: none;

                & + label {
                    display: block;
                    padding: .875rem;
                    border-bottom: 1px solid $button-border-color;
                    cursor: pointer;
                    @media screen and (min-width: $tablet) {
                        min-height: 12.75rem;
                    }
                    @media screen and (min-width: $desktop) {
                        min-height: 8.625rem;
                    }

                    .content {
                        position: relative;
                        padding-left: 2.25rem;

                        &:before {
                            position: absolute;
                            content: "";
                            top: 0;
                            left: 0;
                            height: 1.5rem;
                            width: 1.5rem;
                            background-color: $white;
                            border: 1px solid $input-border-color;
                            box-shadow: $input-shadow;
                            border-radius: 50%;
                        }

                        .tag {
                            font-size: .875rem;
                            @media screen and (min-width: $desktop) {
                                position: absolute;
                                right: 0;
                                top: 0;
                            }
                        }

                        /* Create the checkmark/indicator (hidden when not checked) */
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                        }

                        /* Style the checkmark/indicator */
                        &:after {
                            left: 0;
                            top: 0;
                            height: 1.5rem;
                            width: 1.5rem;
                            background-image: url(../../img/check.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        h4 {
                            position: relative;
                            line-height: 1.5rem;
                            margin-bottom: .25rem;
                        }

                        div {
                            line-height: 1.5em;
                        }

                        .ways-place-ads__item__info__price {
                            margin-top: .375rem;
                        }
                    }

                    &:hover {
                        background-color: rgba($cyan, 0.08);

                        .content {
                            &:before {
                                border-color: $input-hover-border-color;
                            }
                        }
                    }
                }

                /* When the radio is checked */
                &:checked + label {
                    background-color: rgba($cyan, 0.08);

                    .content {
                        &:before {
                            background-color: $cyan;
                            border: 1px solid $cyan;
                        }

                        &:after {
                            display: block;
                        }
                    }
                }
            }

            &__price {
                margin-top: .125rem;
                color: $very-dark-blue-2;
            }
        }

        &__services {
            padding: .75rem 0;

            &:empty {
                display: none;
                @media screen and (min-width: $tablet) {
                    display: block;
                }
            }

            .card {
                &-service {
                    box-shadow: none;
                    padding: .25rem 1rem;

                    &:hover {
                        transform: none;
                    }

                    &__title {
                        display: flex;
                        align-items: center;
                        font-weight: normal;
                    }

                    &__body {
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    &-footer {
        border-top: 1px solid rgba($button-border-color, 0.5);
        background-color: $body-background-color;
        margin-top: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        justify-content: space-between;
        flex-direction: column;
        @media screen and (min-width: $tablet) {
            flex-direction: row;
        }

        &-price-info {

            &-wrap {
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 1rem;
                @media screen and (min-width: $tablet) {
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 0;
                }

                h3 {
                    padding-right: .5rem;
                }

                .price {
                    &-old {
                        color: $light-grayish-blue;
                        font-size: 1.125rem;
                        margin-right: .25rem;
                        margin-left: 0;
                    }

                    &-now {
                        color: $very-dark-blue-2;
                        font-size: 1.125rem;
                    }

                    &-sale {
                        position: relative;
                        top: -.5em;
                    }
                }
            }
        }

        .button {
            white-space: normal;
        }
    }

    &._second {
        max-width: 712px;
        margin: 0 auto 20px auto;
        display: block;

        .ways-place-ads__item__info {
            height: 100%;
            text-align: left;

            .radio-wpa + label {
                border-bottom: none;
                height: 100%;
            }
        }
        .has-text-success {
           margin-top: 7px;
        }
    }
}

.content_broker {
    text-align: center;

    .control {
        justify-content: center;
    }
}

.check-sell-business-myself {
    margin-bottom: 20px;

    .checkbox {
        margin-bottom: 0;

        span {

        }
    }

    .control {
        display: flex;
    }

    .icons {
        margin-left: .5rem;
        display: flex;
        align-items: center;

        .icon {
            svg {
                width: 1rem;
                height: 1rem;
            }

            &.has-tooltip {
                pointer-events: auto;
                cursor: help;

                &:hover {
                    svg {
                        path {
                            fill: $cyan;
                        }
                    }
                }
            }
        }

    }
}
