@import '../variables';

.aside-nav {
    background-color: $white;
    box-shadow: 0px 4px 6px rgba(23, 44, 77, 0.1);
    border-radius: $radius;
    padding: 1.5rem 0.95rem;
    margin-bottom: 1.875rem;

    &__title {
        padding: 0 0.75rem;
    }

    .menu-level-menu {
        padding: 0 0.75rem;
    }

    .sub-menu {
        padding-left: 0.75rem;
    }

    &__item {
        position: relative;
        border-bottom: 1px solid rgba(#CFDAE6, 0.5);

        > span, > a {
            padding: 0.75rem 2rem .75rem 0;
            display: flex;
            align-items: center;
            font-size: .875rem;
            user-select: none;
            color: $very-dark-blue;
            position: relative;
            cursor: pointer;

            &:before {
                position: absolute;
                content: "";
                width: calc(100% + .625rem + .625rem);
                height: calc(100% + .125rem);
                left: -.625rem;
                top: -0.0625rem;
                border-radius: $radius;
                //background-color: rgba($cyan, .1);
                background-color: #e7f1fb;
                opacity: 0;

            }

            svg, span {
                display: inline-block;
                vertical-align: middle;
                z-index: 2;

                path {
                    fill: #798CA8;
                }
            }

            svg {
                width: 1rem;
                height: 1rem;
                margin-right: .375rem;
                position: relative;
            }

            .tag {
                height: 1.75em;
                padding: 0 0.75em;
            }

            &.is-active,
            &.router-link-active,
            &:hover {
                &:before {
                    opacity: 1;
                }

                &.sub-menu-toggle {
                    font-weight: bold;

                    &:before {
                        opacity: 0;
                    }
                }
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        &__title {

        }

        &__count {
            position: absolute;
            right: 1.25rem;
            top: 50%;
            transform: translateY(-50%);
            color: $input-placeholder-color;
        }
    }


    .menu-level-menu {

        li {
            position: relative;
            .sub-menu {
                display: none;

                > li {
                    &:first-child {
                        border-top: 1px solid rgba(#CFDAE6, 0.5);
                    }
                }
            }

            .sub-menu-toggle {
                position: absolute;
                background-image: url(../../img/ic_arrow.svg);
                background-position: center;
                width: .75rem;
                height: .75rem;
                background-size: contain;
                background-repeat: no-repeat;
                right: 0;
                top: 1rem;
                transform: rotate(90deg);
                transition: $transition;
                opacity: 0.5;
                cursor: pointer;
                z-index: 5;
                &:hover {
                    opacity: 1;
                }
            }

            &.aside-nav__item {
                &.sub-menu-active {
                    //> a {
                    //    font-weight: bold;
                    //}

                    > .sub-menu {
                        display: block;
                    }

                    > span {
                        .sub-menu-toggle {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
            &.is-active {
                > a {
                    font-weight: bold;
                }
            }


            a {
                color: $very-dark-blue-2;
            }
        }
    }

    &_help {
        .aside-nav__item > span {
            a {
                z-index: 2;
            }
        }
    }
}

.help {
    padding-bottom: 40px;

    .menu-level-menu {
        margin-left: 0;
        list-style: none;
    }

    .content {
        padding: 20px;

        .aside-nav {
            box-shadow: none;
            padding: 0;

            .aside-nav__item > span:before, .aside-nav__item > a:before {
                content: none;
            }
        }

        .menu-level-menu li {
            padding-left: 0;
            &:before {
                content: none;
            }

            .aside-nav__item__title {
                font-weight: 400;
            }
        }
    }
}
