@import '../variables';

.dropzone {
    &.vue-dropzone {
        border-radius: $radius;
        border: .125rem dashed;
        border-color: $light-grayish-blue;
        //background-color: $body-background-color;
        background-color: transparent;
        min-height: 6.625rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            border-color: $cyan;
            background-color: rgba($cyan, 0.05);
        }

        &.dz-drag-hover {
            border-color: $cyan !important;
            background-color: rgba($cyan, 0.1);
            border: .125rem dashed;

            .dropzone.dz-drag-hover .dz-message {
                opacity: .85;
            }
        }

        .dz-message {
            margin: 0;
        }

        .dropzone-custom-content {
            display: flex;
            justify-content: center;

            figure {
                height: 2rem;
                margin: 0;
            }

            svg,
            img {
                width: 2rem;
                height: 2rem;
                margin-right: .5rem;
            }

            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &__title {
                color: $cyan;
                font-size: .875rem;
                line-height: 1.125rem;
                justify-content: center;
                text-align: left;
            }

            &__subtitle {
                color: #8B97A9;
                font-size: .875rem;
                line-height: normal;
                justify-content: center;
                text-align: left;
            }
        }
    }

    &-previews {


        .dz-preview {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
            border-bottom: 1px solid rgba($light-grayish-blue, .5);

            &:last-child {
                border-bottom: 0;
            }

            &.dz-processing {
                .dz-progress {
                    opacity: 1;
                }

                .dz-progress-wrap {
                    display: flex;
                }
            }

            &.dz-complete {
                .dz-progress {
                    opacity: 0;
                }

                .dz-progress-wrap {
                    display: none;
                }
            }

            &.dz-success {
                .dz-image {
                    cursor: pointer;

                    &:before {
                        transform: scale(1);
                    }

                    &:hover {
                        &:after {
                            opacity: 1;
                        }

                        .tooltip {
                            display: block !important;
                        }
                    }
                }
            }

            &.basic {
                .dz-image {
                    &:after {
                        opacity: 1;
                    }
                }
            }

            .dz-image {
                margin: 0 1rem 0 0;
                width: 2.5rem;
                height: 2.5rem;
                min-width: 2.5rem;
                min-height: 2.5rem;

                img {
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: cover;
                    object-position: center;
                    border-radius: $radius;
                }
            }

            &__info {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 2.5rem;

                .dz-details {
                    @media screen and (min-width: $tablet) {
                        display: flex;
                    }
                    > div {
                        margin-right: 0.5rem;
                        color: #8B97A9;
                        font-size: .875rem;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.dz-size {
                            strong {
                                color: inherit;
                                font-weight: normal;
                            }
                        }
                    }
                }

                .dz-filename {
                    color: $very-dark-blue-2;
                    font-size: .875rem;
                }


                .dz-progress-wrap {
                    display: flex;
                    align-items: center;
                }

                .dz-progress-text {
                    margin-right: 0.5rem;

                }


            }

            .dz-buttons {
                display: flex;
                align-items: center;
                width: 100%;
                margin-top: 0.5rem;
                @media screen and (min-width: $tablet) {
                    width: auto;
                    margin-top: 0;
                }
            }


            .dz-image {
                position: relative;

                &._ok {
                    &:before {
                        position: absolute;
                        content: "";
                        background-image: url(../../img/check_mark.svg);
                        background-size: 0.875rem 0.875rem;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 1rem;
                        height: 1rem;
                        background-color: $body-background-color;
                        border-radius: 50%;
                        right: -0.25rem;
                        top: -0.25rem;
                        z-index: 2;
                    }
                }

                &._select {
                    &:after {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        //transition: $transition;
                        background-image: url(../../img/check_circle.svg);
                        background-size: 1.375rem;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-color: rgba($very-dark-blue-2, 0.8);
                        border-radius: $radius;
                    }
                }



                .tooltip {
                    display: none !important;
                    width: 9rem;
                    text-align: center;
                    position: absolute;
                    top: -2rem;
                    left: 0rem;

                    &-arrow {
                        left: 1rem;
                        bottom: -.5rem;
                        transform: rotate(45deg);
                    }
                }

                &.not-hover {
                    cursor: auto;
                    &:hover {
                        &:after {
                            display: none !important;
                        }
                    }
                }
            }

            .dz-progress {
                transition: $transition;
                background-color: $button-border-color;
                height: .375rem;
                width: 8.25rem;
                border-radius: $radius;
                position: relative;

                .dz-upload {
                    border-radius: $radius;
                    transition: $transition;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 6px;
                    background-color: $cyan;
                }
            }
        }
    }


}
