@import '../variables';

form {
    &.form-inline {
        box-shadow: 0px 6px 10px 0px rgba(54, 66, 156, 0.15);
        background-color: $white;
        border-radius: .1875rem;
        margin: 2rem 0 1.5rem 0;

        .column {
            position: relative;
            padding-top: 0;
            padding-bottom: 0;
            border-right: 0;

            @media screen and (min-width: $tablet) {
                border-right: 1px solid rgba(207, 218, 230, 0.5);
                padding: 0;
            }

            &:after {
                position: absolute;
                content: "";
                width: calc(100% - 3rem);
                left: 1.5rem;
                bottom: 0;
                border-bottom: 1px solid rgba(207, 218, 230, 0.5);
                z-index: 5;
                @media screen and (min-width: $tablet) {
                    display: none;
                }
            }

            &:last-child,
            &:nth-last-child(2) {
                &:after {
                    display: none;
                }
            }

            &:last-child {
                //background: $white;
                //padding-right: 0;

                @media screen and (min-width: $tablet) {
                    border-right: 0;
                    padding-right: .75rem;
                    background-color: transparent;
                }
            }

            &:first-child {
                //padding-left: 0;
                @media screen and (min-width: $tablet) {
                    padding-left: .75rem;
                }
            }

            &:nth-last-child(2) {
                .multiselect {
                    &:after {
                        display: none;
                    }
                }
            }

            .control,
            .dropdown {
                .input {
                    padding: 1.5rem 2.625rem 1.5rem 1.5rem;
                    @media screen and (min-width: $tablet) {
                        padding: 0.5rem 1rem;
                    }
                }
            }

        }

        .inputbox-val {
            border: 0;
            box-shadow: none;
            height: 4.5rem;
            color: $label-color;
        }

        .dropdown {
            &-content {
                @media screen and (min-width: $tablet) {
                    min-width: 14rem;
                }

                .field {
                    .control-month-range {
                        .input {
                            padding-left: 2.5em;
                            padding-right: calc(100% - 4.25em);
                        }

                        .text {
                            &.is-left {
                                width: 2.25rem;
                            }

                            &.is-right {
                                width: calc(100% - 4.25em);
                            }
                        }
                    }
                }

                .buttons {
                    .button {
                        &.is-flex-1 {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .multiselect {
            color: $label-color;

            &__select {
                //top: 1rem;
                right: 0.75rem;
                @media screen and (min-width: $tablet) {
                    right: .1875rem;
                }

                &:before {
                    width: .5rem;
                    height: .5rem;
                    border-width: 1px;
                    border-color: $mostly-dark-blue-2;
                    display: block;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: .625rem .5rem;
                    border-left: 0;
                    border-top: 0;
                    transform: rotate(45deg);
                }
            }

            &__tags {
                border: 0;
                padding: 1.5rem 2.625rem 1.5rem 1.5rem;
                min-height: 4.375rem;
                box-shadow: none;
            }

            &__single,
            &__input,
            &__placeholder {
                font-size: 1rem;
                color: $mostly-dark-blue-2;
                margin-bottom: 0;
                padding-top: 0;
            }

            &__input,
            &__single {
                line-height: 1.5;
            }
        }

        .button-wrap {
            padding: 0.75rem 1.5rem 1.5rem 1.5rem;
            height: 100%;
            @media screen and (min-width: $tablet) {
                padding: .75rem;
            }

            .button {
                height: 3rem;
                @media screen and (min-width: $tablet) {
                    height: 100%;
                }
                @media screen and (min-width: $desktop) {
                    font-size: 0.875rem;
                }
            }
        }
    }
}

//.multiselect {
//    &__option {
//        @media screen and (max-width: $desktop - 1px) {
//            font-size: 0.875rem;
//            line-height: 1em;
//        }
//
//    }
//    &__content-wrapper {
//        border: 0;
//    }
//}
