@import '../variables';

label.label {
    font-size: 0.875rem;
    display: flex;
    align-items: center;

    img {
        margin-right: 0.5rem;
    }

    &_req {
        span {
            position: relative;
            padding-right: .5em;

            &:after {
                position: absolute;
                content: '*';
                color: $red;
                font-size: .875rem;
                right: -3px;
                top: 0;
            }
        }
    }
}

.input{
    &__lang-switch{
        a{
            display: inline-block;
            margin: 0 2px;
            &.active{
                font-weight: bold;
            }
            &.is-empty{
                color: red;
            }
        }
    }
}
.multilang-field{
    .label{
        align-items: center;
        justify-content: space-between;
    }
}

input.input,
textarea.textarea {

    &:focus {
        color: $title-color;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $input-placeholder-color;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: $input-placeholder-color;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        color: $input-placeholder-color;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: $input-placeholder-color;
    }

    &[disabled] {
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $input-placeholder-color;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: $input-placeholder-color;
        }

        &:-ms-input-placeholder { /* IE 10+ */
            color: $input-placeholder-color;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: $input-placeholder-color;
        }
    }

    &[readonly] {
        box-shadow: $input-shadow;
    }
}

input.input {
    height: 3rem;
}

.inputbox-val {
    height: 3rem;
    color: $input-placeholder-color;

    &.is-active {
        color: $input-color;
    }

    &:active,
    &:focus {
        > .multiselect__select {
            &:before {
                border-color: $cyan;
            }
        }
    }
}

.input,
.textarea {
    padding: 0.5rem 1rem;
}

.field {
    &:not(:last-child) {
        margin-bottom: 1.25rem;
    }

    &.has-addons {
        .control {
            .button {
                color: $input-focus-color;
                border-color: $input-border-color;
                background-color: $white;
                box-shadow: $input-shadow;
                padding-left: 1rem;
                padding-right: 1rem;
                height: 100%;
            }
        }
    }

    &.has-slider {
        margin-bottom: .75rem;
    }

    .control {
        &-text-left {
            &_3em {
                .input {
                    padding-left: 3em;
                }

                .text {
                    width: 2.8em;
                }
            }

            .text {
                height: 100%;
                color: $input-focus-color;
                pointer-events: none;
                position: absolute;
                top: 0;
                align-items: center;
                display: inline-flex;
                justify-content: flex-end;
                z-index: 5;
                padding: 0.5rem 0;
                border-top: 1px solid transparent;

                &.is-left {
                    left: 0;
                    border-left: 1px solid transparent;
                }
            }
        }

        &-month-range {
            .input {
                padding-left: 3em;
                padding-right: calc(100% - 4.5em);
                text-align: center;
            }

            .text {
                height: 100%;
                color: $input-focus-color;
                pointer-events: none;
                position: absolute;
                top: 0;
                align-items: center;
                display: inline-flex;
                z-index: 5;
                padding: 0.5rem 0;
                border-top: 1px solid transparent;

                &.is-left {
                    left: 0;
                    justify-content: flex-end;
                    width: 3em;
                    border-left: 1px solid transparent;
                }

                &.is-right {
                    right: 0;
                    justify-content: flex-start;
                    width: calc(100% - 4.5em);
                }
            }
        }
    }
}

.control {
    &.has-icons-left,
    &.has-icons-right {
        .icons {
            height: 100%;
            padding: 1rem 0;
            justify-content: center;
            display: flex;
            top: 0;
            position: absolute;

            .icon {
                position: relative;
                width: 1rem;
                margin: 0 .5rem;
            }

            &.is-right {
                right: 0;
            }

            &.is-left {
                left: 0;
            }
        }

        .icon {
            height: 1rem;

            //&.has-tooltip {
            //    pointer-events: auto;
            //    cursor: help;
            //
            //    &:hover {
            //        svg {
            //            path {
            //                fill: $cyan;
            //            }
            //        }
            //    }
            //}
        }

        svg {
            width: 1rem;
            height: 1rem;
        }

        input {
            &:focus {
                & ~ .icons {
                    svg {
                        path {
                            fill: $cyan;
                        }
                    }
                }
            }
        }
    }

    &.has-icons-left {
        &_1 {
            .icons {
                width: 3rem;
            }

            .input,
            .select select {
                padding-left: 3rem;
            }

            .icons.is-right {
                width: 3em;
            }
        }

        &_2 {
            .input,
            .select select {
                padding-left: 4.75rem;
            }

            .icons.is-right {
                width: 4.75em;
            }
        }
    }

    &.has-icons-right {

        &_1 {
            .input,
            .select select {
                padding-right: 3rem;
            }

            .icons.is-right {
                width: 3em;
            }
        }

        &_2 {
            .input,
            .select select {
                padding-right: 4.75rem;
            }

            .icons.is-right {
                width: 4.75em;
            }
        }
    }
}

/* Custom checkbox and radio */
.checkbox,
.radio {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;

    &.h3 {
        margin-top: .75rem;
        margin-bottom: .75rem;
    }

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    span {
        line-height: 1.5rem;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 1.5rem;
            width: 1.5rem;
            background-color: $white;
            border: 1px solid $input-border-color;
            border-radius: $radius;
            box-shadow: $input-shadow;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        &:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Style the checkmark/indicator */
        &:after {
            left: 0;
            top: 0;
            height: 1.5rem;
            width: 1.5rem;
            background-image: url(../../img/check.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    /* On mouse-over */
    &:hover input ~ span {
        //background-color: #ccc;
        &:before {
            border-color: $input-hover-border-color;
        }
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ span:before {
        background-color: $cyan;
        border: 1px solid $cyan;
    }

    &.is-warning {
        input:checked ~ span:before {
            background-color: $yellow;
            border: 1px solid $yellow;
        }
    }

    &.is-link {
        input:checked ~ span:before {
            background-color: $blue;
            border: 1px solid $blue;
        }
    }

    /* Show the checkmark when checked */
    input:checked ~ span:after {
        display: block;
    }
}

.radio {
    margin-right: 1rem;
}

.checkbox {
    display: block;
}

.checkbox-2 {
    display: block;

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__info {
        position: relative;
        padding: 0 0 0 3rem;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 1.5em;
            left: 0;
            margin-top: -.25rem;
            width: 2rem;
            height: .5rem;
            border-radius: .25rem;
            background: #C5D2E6;
            transition: .2s;
        }

        &:after {
            content: '';
            position: absolute;
            top: 1.5em;
            left: 0;
            margin-top: -.5rem;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: $white;
            border: .3125rem solid $cyan;
            box-shadow: 0px 1px 3px rgba(54, 66, 156, 0.15);
            transition: .2s;
        }
    }

    input:checked {
        & + .checkbox-2__info {
            &:before {
                background: rgba($cyan, 0.7);
            }

            &:after {
                left: 1rem;
            }
        }
    }

    &__title {
        color: $very-dark-blue-2;
    }

    &__desc {
        color: #8B97A9;
    }
}


/* Multiselect */
.multiselect {
    z-index: 5;

    &:not(.multiselect--active) {
        &:hover {
            .multiselect__tags {
                border-color: $input-hover-border-color;
            }
        }
    }

    &__select {
        height: 100%;
        display: flex;
        align-items: center;

        &:before {
            width: .5rem;
            height: .5rem;
            border-width: 1px;
            border-color: $mostly-dark-blue-2;
            display: block;
            left: 0;
            right: 0;
            top: -.1875rem;
            bottom: 0;
            margin: .625rem .5rem;
            border-left: 0;
            border-top: 0;
            transform: rotate(45deg);
        }

        &.has-text-white {
            &:before {
                border-color: $white;
            }
        }
    }

    &__tags {
        box-shadow: $input-shadow;
        border: 1px solid $input-border-color;
        border-radius: $radius;
        font-size: .875rem;
        min-height: 3rem;
        padding: 0.5rem 2.5rem .5rem 1rem;

        &-wrap {

        }
    }

    &__tag {
        color: $input-color;
        background-color: rgba($cyan, 0.1);
        border-radius: $radius;
        padding: 0.5rem 2.625rem 0.5rem .625rem;
        margin-bottom: 0;

        &-icon {
            border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 1px solid rgba($label-color, 0.25);
            width: 2rem;

            &:after {
                color: rgba($label-color, 0.25);
                font-size: 1.25rem;
                line-height: 1.875rem;
            }

            &:focus,
            &:hover {
                color: rgba($label-color, 0.5);
                background-color: rgba($label-color, 0.25);
            }
        }
    }

    &.multiselect--active:not(.multiselect--above) {
        .multiselect__current,
        .multiselect__input,
        .multiselect__tags {
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
        }
    }

    &__spinner {

    }

    &__placeholder {
        color: $input-placeholder-color;
        margin-bottom: 0;
        padding-top: .25rem;
        line-height: 1.5;
    }

    &__single,
    &__input {
        color: $input-color;
        font-size: .875rem;
        margin-bottom: 0;
        padding-top: .25rem;
        padding-left: 0;
        line-height: 1.5;
        max-width: 100%;

        display: flex;
        //align-items: center;
        .option__image {
            top: -.125rem;
        }
    }

    &__content {
        margin-left: 0 !important;
        margin-top: 0 !important;

        &-wrapper {
            margin-top: .5rem;
            border-radius: $radius;
            border: 1px solid $input-border-color;
            box-shadow: $input-shadow;
        }
    }

    &__element {
        margin-top: 0 !important;

        &:not(:first-child) {
            border-top: 1px solid rgba($input-border-color, 0.5);
        }

        &:before {
            content: none !important;
        }
    }

    &__option {
        font-size: .875rem;
        display: flex;
        align-items: center;

        &--highlight {
            background-color: rgba($input-border-color, 0.3);
            color: $input-color;

            &:after {
                background-color: darken($input-border-color, 5);
                color: $input-color;
            }

            &.multiselect__option--selected {
                background-color: rgba($input-border-color, 0.3);
                color: $input-color;
            }
        }

        &--selected {
            background-color: rgba($input-border-color, 0.3);
            font-weight: normal;
        }
    }

    &--active {
        z-index: 10;

        .multiselect__tags {
            border-color: $cyan;
        }

        .multiselect__select {
            &:before {
                border-color: $cyan;
            }
        }
    }

    &_multiple {
        .multiselect__tags {
            overflow: hidden;
            padding-left: .5rem;
            height: 3rem;

            &:after {
                position: absolute;
                content: "";
                height: 2.875rem;
                width: 4rem;
                top: 1px;
                right: 1px;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 0%, $white 40%);
                border-radius: $radius;
            }

            &-wrap {
                white-space: nowrap;
            }
        }

        &.multiselect--active {
            .multiselect__input {
                position: absolute;
                left: 1px;
                top: 1px;
                height: calc(2.875rem - 1px);
                padding-top: 0;
                padding-left: .5rem;
                max-width: calc(100% - 2px);
                min-width: calc(100% - 2px);
            }
        }

        .multiselect__element {
            .multiselect__option {
                padding-left: 2.75rem;

                &:before {
                    position: absolute;
                    content: "";
                    top: .5rem;
                    left: .5rem;
                    height: 1.5rem;
                    width: 1.5rem;
                    background-color: $white;
                    border: 1px solid #CEDCF0;
                    border-radius: $radius;
                    box-shadow: $input-shadow;
                }

                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    top: .5rem;
                    left: .5rem;
                    height: 1.5rem;
                    width: 1.5rem;
                    padding-left: 0;
                    background-image: url(../../img/check.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &--selected {
                    &:before {
                        background-color: $cyan;
                        border: 1px solid $cyan;
                    }

                    &:after {
                        display: block;
                    }

                    &.multiselect__option--highlight {
                        &:after {
                            background-color: rgba($input-border-color, 0.3);
                            content: "";
                        }
                    }
                }

            }
        }

        .multiselect__select {
            z-index: 2;
        }
    }


    .option__image {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .5rem;
        border-radius: $radius;
        position: relative;
    }
}


/**/
input[type=number],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance:textfield;
    appearance: none;
    margin: 0;
}


.buttons-control-input-number {
    display: flex;
    flex-direction: column;

    .plus,
    .minus {
        width: .625rem;
        height: .375rem;
        margin: .125rem;
        pointer-events: auto;
        cursor: pointer;

        img {
            position: absolute;
            top: 0;
            left: 0;
        }

        &:hover {
            svg {
                path {
                    fill: $cyan;
                }
            }
        }
    }

    .plus {
        transform: scale(1, -1)
    }

    .minus {

    }
}


.add-business .step,
.field {
    .list-wrap {
        .button {
            &-add,
            &-remove {
                border-radius: 1.5rem;
                min-width: 3rem;
                height: 3rem;
                text-align: center;
                font-size: 1.25rem;
                line-height: 1em;
                padding: .5rem;
                margin-top: 1rem;
                margin-right: 0;
                @media screen and (min-width: $tablet) {
                    margin-top: 1.75rem;
                }
                span {
                    &:not(.icon) {
                        //margin-left: .5rem;
                        margin-right: .25rem;
                    }
                }
            }

            &-integrate-analitics {
                border-radius: 50%;
                height: 2.5rem;
                width: 2.5rem;
                margin-top: 2rem;

                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }

        &:not(:last-child) {
            .button {
                &-add {
                    display: none;
                }

                &-remove {
                    display: flex;
                }
            }
        }

        &:last-child {
            .button {
                &-remove {
                    display: none;
                }
            }
        }
    }
}


.flatpickr-calendar {
    &.hasTime {
        .flatpickr-time {
            height: 40px !important;
            border-top: 1px solid #e6e6e6 !important;
        }
    }
}
