@import '../variables';

.header {
    box-shadow: 0px 4px 6px 0px rgba(23, 44, 76, 0.1);
    z-index: 6;

    &__line {
        &-top {
            padding: 0.5rem 0;
            z-index: 32;
            @media screen and (min-width: $mobile) {
                position: relative;
            }

            .navbar-brand {
                max-width: 35%;

                .navbar-item {
                    max-width: 100%;
                    img {
                        max-height: 4rem;
                    }
                }
            }

            .navbar-end {
                justify-content: flex-end;
                margin-left: auto;
                align-items: stretch;
                display: flex;

                > .navbar-item {
                    padding-left: 0;
                    @media screen and (min-width: $desktop) {
                        margin-right: -0.75rem;
                    }
                }

                .navbar-item {
                    justify-content: center;
                    align-items: center;
                    display: flex;

                    &.rounded {
                        border-radius: 50%;
                        height: 3rem;
                        width: 3rem;
                        margin-right: 0.25rem;

                        @media screen and (max-width: $tablet) {
                            height: 2rem;
                            width: 2rem;
                        }

                    }

                    .tag {
                        &__count {
                            position: absolute;
                            font-size: .5rem;
                            font-weight: 700;
                            left: 50%;
                            top: 55%;
                            padding-left: 0.25rem;
                            padding-right: 0.25rem;
                            height: 1.75em;
                            border: 1px solid $white;
                        }
                    }

                    &.basic {
                        height: 3rem;
                        @media screen and (max-width: $tablet) {
                            height: 2rem;
                        }

                        &.login {
                            @media screen and (min-width: $tablet) {
                                margin-right: 1rem;
                            }
                        }

                        &.user {
                            img {
                                width: 1.5rem;
                                height: 1.5rem;
                                border-radius: 50%;
                            }
                        }

                        span {
                            font-size: .875rem;
                            font-weight: 400;
                            color: $very-dark-blue;
                            margin-left: .5rem;
                            //@media screen and (max-width: $widescreen) {
                            //    display: none;
                            //}
                        }
                    }

                    @media screen and (max-width: $tablet) {
                        padding: 0.35rem;
                        margin-right: 0.25rem;
                    }
                }

                .buttons-business {
                    .button {
                        height: 3rem;
                        line-height: 3rem;
                        font-size: .875rem;
                        font-weight: 700;
                        margin-right: .125rem;
                        padding-left: 1em;
                        padding-right: 1em;
                        position: relative;

                        &:after {
                            position: absolute;
                            content: (attr(data-desc));
                            font-size: 0.5rem;
                            bottom: -1rem;
                            width: 100%;
                            left: 0;
                            text-align: center;
                            color: #596c80;
                            font-weight: 500;
                            line-height: 1.25em;
                            text-transform: uppercase;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            .dropdown {
                @media screen and (max-width: $mobile) {
                    position: static;
                }
            }

            .header_notifications {
                width: 300px;
                background-color: #fff;
                border-radius: .1875rem;
                box-shadow: 0 1px 3px 0 rgba(54,66,156,.15);
                border: 1px solid #cedcf0;
                padding-top: 0;
                z-index: 15;


                .remove-notification {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 16px;
                    cursor: pointer;

                    &:after, &:before {
                        content: ' ';
                        position: absolute;
                        left: 0;
                        height: 15px;
                        width: 1px;
                        background-color: #4a4a4a;;
                    }

                    &:before {
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }
                }

                .dropdown-content {
                    max-height: 80vh;
                    overflow: auto;
                    border: none;
                    box-shadow: none;

                    > div {
                        position: relative;
                        padding-right: 14px;
                        &:not(:last-child) {
                            border-bottom: 1px solid #cedcf0;
                        }
                    }
                }

                .header_notifications__make-readed {
                    border-top: 1px solid #cedcf0;
                }

            }

            .dropdown-menu {
                @media screen and (max-width: $mobile) {
                    width: calc(100vw - 8px);
                }
            }
        }

        &-bottom {
            .navbar-item {
                height: 2rem;
                line-height: 1em;
                font-size: 1rem;
                margin-right: 0.75rem;
                font-weight: 700;

                &:last-child {
                    margin-right: 0;
                }

                &:not(.has-dropdown) {
                    padding: .5rem 0.75rem;
                }

                img.icon {
                    height: 1rem;
                    width: 1rem;
                    object-fit: contain;
                    margin-right: .5rem;
                }

                span {
                    //font-weight: 700;
                    //color: $very-dark-blue;
                }
            }

            .main-menu {
                .navbar-item {
                    position: relative;

                    &.is-active {
                        &:after {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 0.125rem;
                            background-color: $blue;
                            left: 0;
                            bottom: -0.875rem;
                        }
                    }
                }
                &_long {
                    .navbar-item {
                        font-size: .875rem;
                        margin-right: 0.5rem;
                    }
                }
            }

            &_mobile {
                .navbar-lang {
                    margin-left: auto;
                    justify-content: flex-end;
                    //padding-top: 0;
                    //padding-right: 0.75rem;

                }

                .navbar-end {
                    justify-content: flex-end;
                    margin-left: auto;
                }

                .dropdown {
                    height: auto;

                    .navbar-link:not(.is-arrowless)::after {
                        transition: 0.2s;
                    }

                    &-menu {
                        background-color: $white;
                    }

                    .dropdown {
                        &.dropdown-item.navbar-item {
                            padding: 0;

                            .dropdown-trigger {
                                .navbar-link {
                                    border-radius: 0;
                                    //padding-left: 0.5rem;
                                }
                            }
                        }

                        .dropdown-menu {
                            padding-left: 0.5rem;
                        }

                        .dropdown-content {
                            border: none;
                        }
                    }

                    &.is-active {
                        > .dropdown-trigger {
                            .navbar-link:not(.is-arrowless)::after {
                                transform: rotate(135deg);
                            }
                        }
                    }

                    &-trigger {
                        > .navbar-link {
                            line-height: normal;
                            padding: 0.5rem 0.75rem;
                            padding-right: 2.5em;
                            display: flex;
                        }
                    }

                    &.navbar-main-menu {
                        padding-left: 0.5rem;

                        .dropdown-menu {
                            display: none;
                            visibility: visible;
                        }

                        .dropdown.is-active,
                        &.is-active {
                            .dropdown-menu {
                                display: none;
                                visibility: visible;
                            }

                            > .dropdown-menu {
                                display: block !important;
                                visibility: visible;
                            }
                        }

                        .dropdown-trigger {

                        }

                        > .dropdown-trigger {
                            &:after {
                                position: absolute;
                                content: '';
                                width: calc(100% - 0.5rem - 0.75rem);
                                height: 0.125rem;
                                background-color: $blue;
                                left: 0.5rem;
                                bottom: 0;
                            }

                            .navbar-link {
                                padding-left: 0.25rem;
                            }
                        }
                    }
                }

                .dropdown-menu {
                    padding-top: 0;
                    width: 100vw;
                    box-shadow: 0 4px 6px 0 rgba(23, 44, 77, 0.10);
                    border: none;

                    .dropdown-content {
                        border-radius: 0;
                        box-shadow: none;
                        border: 0;
                        .navbar-item {
                            border-radius: 0;
                            padding-left: 0.75rem;
                            padding-right: 0.75rem;
                            display: flex;
                            .dropdown-trigger {
                                flex: 1;
                            }
                            .navbar-link {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-divider {
        margin: 0.5rem 0 0.75rem;
        @media screen and (max-width: $desktop) {
            margin-bottom: 0;
        }
    }

    .buttons-business {
        &_mobile {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $white;
            box-shadow: 0 -4px 6px 0 rgba(23, 44, 77, 0.10);
            z-index: 15;
            display: flex;
            justify-content: center;
            padding: 1rem;

            .button {
                font-weight: bold;
                font-size: 0.875rem;
                height: 3rem;
                padding: 1rem;
                margin-right: 0.125rem !important;

                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }
    }
}

.navbar {
    &-contacts {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        &__phone {
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.5rem;
            color: $very-dark-blue;
        }

        &__worktime {
            color: $mostly-dark-blue;
            font-size: .875rem;
            font-weight: 400;
            line-height: 1rem;
        }
    }

    &-lang {
        .navbar-link,
        .navbar-item {
            font-weight: 400;
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            .icon {
                width: 1.375rem !important;
                height: 1rem !important;
            }
        }
    }

    &-item {
        .manager {
            align-items: center;

            &__avatar {
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            &__info {

            }

            &__name {

            }

            &__phone,
            &__chat {
                display: flex;
                align-items: center;

                svg {
                    width: 1rem;
                    height: 1rem;
                }

                span {
                    margin-left: .5rem;
                }
            }

            &__phone {
                margin-right: .5rem;

                span {
                    color: $mostly-dark-blue;
                }

                &:hover {
                    span {
                        color: darken($mostly-dark-blue, 10)
                    }
                }
            }

            &__chat {
                span {
                    color: $cyan;
                    text-decoration: underline;
                    text-decoration-color: rgba($cyan, 0.3);
                }

                &:hover {
                    span {
                        color: darken($cyan, 10)
                    }
                }
            }
        }
    }
}

a.navbar-item, .navbar-link {
    border-radius: 3px;
}

.has-dropdown {
    .navbar-link {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .navbar-item {
        margin-right: 0;
    }
}

.header_notifications{
    width: 275px;
    &__make-readed{
        text-align: center;
        a{
            display: block;
            padding: 10px 0;
            font-size: 0.875rem;
            color: #919090;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .dropdown-item{
        padding: 0.375rem 0.7rem;
    }
    &__thumb{
        width: 30px;
        height: 30px;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 8px;
        margin-top: 2px;
        img{
            width: 100%;
        }
    }
}
