@import '../variables';

.pagination {
    margin: 1rem auto !important;
    max-width: 55rem;

    &-list {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    &-link {
        border: 0;

        &:focus {

        }

        &:active {
            box-shadow: none;
        }
    }

    &-previous,
    &-next {
        height: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &[disabled] {
            border: 1px solid $input-placeholder-color !important;
            background-color: $body-bg !important;
            color: $label-color;

            .pagination-nav__icon {
                svg {
                    path {
                        fill: $input-placeholder-color;
                    }
                }
            }
        }
    }

    &-previous {
        .pagination-nav__icon {
            margin-right: 0;
            transform: scale(-1, 1);
            @media screen and (min-width: $desktop) {
                margin-right: .75rem;
            }
        }
    }

    &-next {
        .pagination-nav__icon {
            margin-left: 0;
            @media screen and (min-width: $desktop) {
                margin-left: .75rem;
            }
        }
    }

    .page-item {
        &:before {
            display: none !important;
        }
    }

    &-page-nav {
        margin: 0.25rem .5rem !important;
        @media screen and (min-width: $tablet) {
            margin: 0;
        }

        &.active {
            a {
                color: #363636;
                font-weight: bold;
            }
        }
    }

    &-nav {
        &__title {
            display: none;
            @media screen and (min-width: $desktop) {
                display: block;
            }
        }

        &__icon {
            .inline-block {
                display: flex;

                svg {
                    width: 1rem;
                }
            }
        }
    }

    a {
        outline: none !important;
    }
}
