<template>
    <article class="box card-object-pa is-paddingless">
        <div class="card-object-pa__body p-1-5">
            <div class="columns is-multiline">
                <div class="column is-4">
                    <figure class="card-object-pa__thumb">
                        <img :src="object.iconUrl"/>
                    </figure>
                </div>
                <div class="column is-8">
                    <div class="card-object-pa__header">
                        <h3 class="card-object-pa__title">{{ $t(object.name) }}</h3>
                    </div>
                    <address class="is-size-875 is-flex">
                        <svg-icon :icon="'ic_location.svg'"/>
                        <span>{{ object.countryTranslation }}, г. {{ object.cityTranslation }}</span>
                    </address>
                    <div class="card-object-pa__price is-flex">
                        <div class="price-info">
                            <span class="tag is-danger price-sale" style="margin-top:4px">-{{ object.discount }}%</span>
                            <div :ref="`price${object.id}`" class="price">
                                {{ object.price }}
                            </div>
                        </div>
                        <div
                            class="card-object-pa__price__links is-flex"
                            v-if="filter==='active'">
                            <a
                                @click="showModalChangePrice(object)"
                                class="has-text-decoration-underline is-size-875"
                            >{{ trans('profile.objects.manage_price.btn_manage') }}</a>
                        </div>
                    </div>
                    <div class="card-object-pa__progress">
                        <div class="card-object-pa__progress__title is-size-875">Опубликовано {{ object.published_at }}
                            дней назад,
                            <span>{{ $parent.getStatusLabel(object.status) }}</span>
                        </div>
                        <div
                            class="card-object-pa__progress__bar"
                            v-if="filter === 'active'">
                            <progress
                                class="progress is-success is-small"
                                max="100"
                                value="60">60%
                            </progress>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-1-5 pb-1 card-object-pa__controls">
            <div class="columns is-multiline is-flex">
                <div class="column is-narrow">
                    <a :href="`/profile/${route}/update/${object.id}`"
                       class="card-object-pa__link-edit is-size-875 is-flex link-with-icon">
                        <svg-icon :icon="'ic_edit.svg'"/>
                        <span class="has-text-decoration-underline">{{trans('profile.objects.link_edit')}}</span>
                    </a>
                </div>
                <div class="column is-narrow">
                    <a
                        :href="`/${route}/show/${object.id}`"
                        class="is-flex has-align-items-center link-with-icon"
                        target="_blank">
                        <span class="icon icon-1">
                            <svg-icon :icon="'ic_details.svg'"/>
                        </span>
                        <span class="is-size-875 has-text-decoration-underline">{{trans('profile.objects.stats_table.actions.link_view')}}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-object-pa__statistics-full p-1-5">
            <div class="columns is-multiline is-mobile">
                <statistics
                    :count="object.shows_count"
                    :head="trans('profile.views')"
                    :icon="'ic_eye.svg'"
                />
                <statistics
                    :count="object.bids_count"
                    :head="trans('profile.bids')"
                    :icon="'ic_eye.svg'"
                />
                <div class="buttons mt-1">
                    <a
                        class="button is-size-875 is-warning h-3 has-text-weight-bold"
                        @click="modals.addService.show = true">
                        <span class="icon">+</span>
                        <span>{{ trans('profile.services.add') }}</span>
                    </a>
                </div>
            </div>

        </div>
        <!--
        Они будут показываться когда услуга заказана
        Услуги будут разные для каждого типа объявлений
        -->
        <!--<div class="card-object-pa__footer p-1-5">
            <div class="card-object-pa__services is-flex">
                <a
                    href="#"
                    class="card-object-pa__services__item"
                    v-tooltip="trans('profile.user_service.docs_translate')">
                    <img src="/svg/icons/services/ic_translate.svg" alt="">
                </a>
                <a href="#" class="card-object-pa__services__item" v-tooltip="'VIP'">
                    <img src="/svg/icons/services/ic_vip.svg" alt="">
                </a>
                <a href="#" class="card-object-pa__services__item"
                   v-tooltip="'Быстрая продажа'">
                    <img src="/svg/icons/services/ic_law.svg" alt="">
                </a>
            </div>
        </div>-->

        <modal-change-price
            :discount="modals.changePrice.discount"
            :id="modals.changePrice.id"
            :price="modals.changePrice.price"
            :route="route"
            :show="modals.changePrice.show"
            @close="changePrice"
        />

        <modal-add-service
            :show="modals.addService.show"
            @close="modals.addService.show = false"
            @showZoneDocs="modals.zoneDocs.show = true"
        />

    </article>
</template>

<script>
    import ModalChangePrice from '../../modals/ModalChangePrice';
    import ModalAddService from '../../modals/AddService'
    import statistics from '../views/statistics';

    export default {
        components: {
            ModalChangePrice,
            ModalAddService,
            statistics,
        },
        props: {
            object: {default: null},
            filter: {default: 'active'},
            route: {default: 'user-services'},
        },
        data() {
            return {
                /*translations: {
                    delete: trans('strings.delete'),
                },*/
                modals: {
                    changePrice: {
                        show: false,
                        id: null,
                        price: null,
                        discount: null,
                    },
                    addService: {
                        show: false,
                    },
                    zoneDocs: {
                        show: false,
                    },
                },
            }
        },
        methods: {
            /*deleteItem(event) {
                let id = event.target.getAttribute('data-item-id');
                if (isNaN(parseFloat(id)) || !isFinite(id)) {
                    return;
                }
                let index = event.target.getAttribute('data-item-index');
                this.$swal({
                    type: 'error',
                    title: trans('profile.user_services.delete_service'),
                    text: trans('profile.user_services.delete_service_q'),
                    showCloseButton: true,
                    showCancelButton: true,
                }).then((result) => {
                    if (result.value) {
                        axios
                            .delete(`/api/user-service/delete/${id}`)
                            .then(resp => {
                                this.services.splice(index, 1);
                            });
                    }
                });
            },*/
            showModalChangePrice(object) {
                this.modals.changePrice.id = object.id;
                this.modals.changePrice.price = object.rawPrice;
                this.modals.changePrice.discount = object.discount;
                this.modals.changePrice.show = true;
            },
            changePrice() {
                this.modals.changePrice.show = false;
                this.$parent.getData();
            },
        },
    }
</script>

<style lang="scss" scoped>
    .card-object {
        &:hover {
            .button {
                background-color: #36A236;
                border-color: #36A236;
                color: #fff;
            }
        }

        .image.is-16by9 {
            padding-top: 54%;
        }

        .tag-payback {
            border-radius: 0;
            border-top-left-radius: 0.375rem;
        }

        .title {
            font-size: 1rem;
            height: 48px;
        }

        &__content {
            line-height: normal;
            margin-bottom: 0.7rem;
            margin-top: 0.6rem;
        }

        .location {
            display: flex;
            align-items: center;
            margin-bottom: 0;

            img {
                margin-top: 0;
                width: 16px;
                height: 12px;
            }
        }

        .price-info {
            .price-sale {
                align-self: center;
            }
        }

        .card-content__category {
            background-color: rgba(0, 112, 217, 0.1);
            border-radius: 0.375rem;
            font-size: .875rem;
            line-height: 2;
            padding: 0 12px;
            display: inline-flex;
            align-content: center;

            img {
                margin-right: 6px;
            }
        }
    }
</style>
