<template>
    <div class="filter-services">
        <div class="columns is-multiline">
            <div class="column is-12-tablet is-10-desktop">
                <div class="columns is-multiline">
                    <!--<g-g-select-input
                        v-model="category"
                        :size="'is-3-desktop is-4-tablet'"
                        :placeholder="translations.select"
                        :label="trans(transPrefix + 'select_service_category')"
                        :searchable="true"
                        :options="categories"/>-->
                    <g-g-select-input
                        v-model="country"
                        :size="'is-3-desktop is-6-tablet'"
                        :placeholder="translations.select"
                        :label="trans(transPrefix + 'country')"
                        :searchable="true"
                        :options="countries"/>
                    <g-g-select-input
                        v-model="region"
                        :size="'is-3-desktop is-6-tablet'"
                        :placeholder="translations.select"
                        :label="trans(transPrefix + 'region')"
                        :searchable="true"
                        :options="regions"/>
                    <g-g-select-input
                        v-model="city"
                        :size="'is-3-desktop is-6-tablet'"
                        :placeholder="translations.select"
                        :label="trans(transPrefix + 'city')"
                        :searchable="true"
                        :options="cities"/>
                    <g-g-input
                        :size="'is-3-desktop is-6-tablet'"
                        v-model="term"
                        :label="trans(transPrefix + 'keywords')"
                        :placeholder="trans(transPrefix + 'query')"/>
                </div>
            </div>
            <div class="column is-2-desktop is-12-tablet has-align-self-end">
                <div class="columns is-multiline">
                    <div class="column is-narrow has-align-self-end">
                        <button
                            class="button is-info is-size-875 has-text-weight-bold h-3 is-fullwidth"
                            @click="submit"
                        >
                            {{ trans(transPrefix + 'btn_find') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GGSelectInput from '../../form/GGSelectInput'
    import GGLocationSelectInput from '../../form/GGLocationSelectInput';
    import GGInput from '../../form/GGInput'

    export default {
        components: {
            GGInput,
            GGSelectInput,
            GGLocationSelectInput,
        },
        /*props: {
            defCategory: {default: ''},
            defCountry: {default: ''},
            defRegion: {default: ''},
            defCity: {default: ''},
            defTerm: {default: ''},
        },*/
        data() {
            return {
                path: '/services?',
                transPrefix: 'services.filter.',
                translations: {
                    select: trans(this.transPrefix + 'select'),
                },
                /*categories: [],*/
                countries: [],
                regions: [],
                cities: [],
                category: null,
                country: null,
                region: null,
                city: null,
                term: null,
            };
        },
        mounted() {
            /*axios.get(`/profile/api/user-services/get-categories`).then(response => {
                response.data.forEach(category => {
                    category.name = category.name[this.$store.state.lang];
                    this.categories.push(category);
                });
            });*/
            axios.get(`/location/get-countries`).then(response => {
                this.countries = response.data;
            });
            /*this.category = this.defCategory;
            this.country = this.defCountry;
            this.region = this.defRegion;
            this.city = this.defCity;
            this.term = this.defTerm;*/
        },
        watch: {
            country: {
                handler(value) {
                    if (value !== null) {
                        axios.get(`/location/get-regions/${value}`).then(responce => {
                            this.regions = responce.data;
                        });
                    }
                }
            },
            region: {
                handler(value) {
                    if (value !== null) {
                        axios.get(`/location/get-cities/${value}`).then(responce => {
                            this.cities = responce.data;
                        });
                    }
                }
            },
        },
        methods: {
            submit() {
                let params = {
                    /*category: this.category,*/
                    country: this.country,
                    region: this.region,
                    city: this.city,
                    term: this.term,
                };
                this.path += Object.keys(params).map(function(key) {
                    if (params[key]!==null) {
                        return key + '=' + params[key] + '&';
                    }
                }).join('');
                window.location.href = this.path;
            },
        },
    }
</script>
