<template>
    <section class="section pt-1 px-0" v-if="isLoaded">
        <h1 class="section-title mb-1-75">
            {{ form.header }}
        </h1>
        <div class="columns is-multiline">
            <location-select
                :size=12
                :model="formData"
                @country-change="setCountry"
                @region-change="setRegion"
                @city-change="setCity"
            />
            <file-input
                :size=6
                :label="trans('profile.user_services.form_label.photo')"
                v-model="formData.photo"
                @change="setPhoto"
            />
            <multilang-input
                size=6
                v-model="formData.name"
                :label="trans('profile.user_service.name')"
                :required="true"
            />
            <multilang-input
                :size=12
                v-model="formData.description"
                :type="'textarea'"
                :label="trans('profile.user_services.form_label.description')"
            />
            <multilang-input
                :size=12
                v-model="formData.annotation"
                :type="'textarea'"
                :label="trans('profile.user_services.form_label.annotation')"
            />
            <file-input
                :size=6
                :label="trans('profile.user_services.form_label.annotation_img')"
                v-model="formData.annotation_img"
                @change="setAnnotationImg"
            />
            <g-g-select-input
                v-model="formData.category_id"
                :size="'is-6'"
                :label="trans('profile.user_service.category')"
                :options="categories"
            />
            <file-input
                :size=6
                :label="trans('profile.user_services.form_label.icon')"
                v-model="formData.icon"
                @change="setIcon"
            />
            <multilang-input
                :size=6
                type="number"
                v-model="formData.price"
                :label="trans('profile.user_services.form_label.price')"
            />
            <multilang-input
                size=6
                v-model="formData.price_for"
                :label="trans('profile.user_services.form_label.price_for')"
            />
            <g-g-input
                type="number"
                :size="'is-12'"
                v-model="formData.discount"
                :label="trans('profile.user_services.form_label.discount')"
            />
            <g-g-input
                type="text"
                :size="'is-12'"
                v-model="formData.video_url"
                :label="trans('profile.user_service.promo_video_link')"
            />
            <multilang-input
                :size=12
                :type="'textarea'"
                v-model="formData.video_description"
                :label="trans('profile.user_service.promo_video_desc')"
            />
            <multilang-input
                :size=12
                :type="'quill'"
                :fieldName="'details'"
                v-model="formData.details"
                :label="trans('profile.user_service.details')"
                @input="setInputVal"
            />
        </div>

        <div class="tabs">
            <ul>
                <li
                    v-for="(name, lang) in langs"
                    :class="{'is-active': activeLang===lang}"
                    @click="activeLang = lang"
                ><a>{{ lang }}</a></li>
            </ul>
        </div>
        <div class="tabs-content">
            <div
                v-for="(name, lang) in langs"
                v-show="activeLang===lang"
            >
                <h3>{{ name }}</h3>
                <br />
                <tabs
                    v-model="formData.tabs[lang]"
                    :lang="lang"
                    @change="setTabInputVal"
                />
            </div>
        </div>
        <form @submit.prevent="form.action(formData, form)">
            <button class="button is-primary">{{ form.button }}</button>
        </form>
    </section>
</template>

<script>
    import {Form} from '../../../form'
    import GGInput from '../../form/GGInput'
    import GGTextarea from '../../form/GGTextarea'
    import GGSelectInput from '../../form/GGSelectInput'
    import GGTranslatableInput from '../../form/GGTranslatableInput';
    import MultilangInput from '../../form/MultilangInput';
    import FileInput from '../../form/FileInput';
    import LocationSelect from '../../form/LocationSelect';
    import Tabs from './Tabs';

    export default {
        components: {
            GGTranslatableInput,
            GGInput,
            GGTextarea,
            GGSelectInput,
            MultilangInput,
            FileInput,
            LocationSelect,
            Tabs,
        },
        data: () => ({
            isLoaded: false,
            activeLang: 'ru',
            langs: {
                ru: 'Русский',
                pl: 'Polski',
                en: 'English',
            },
            form: {},
            formData: {},
            relations: {},
            categories: [],
            tabs: {
                processes: [
                    'icon',
                    'name',
                    'description',
                ],
                portfolio: [
                    'photos',
                    'description',
                ],
                workers: [
                    'photo',
                    'name',
                    'position',
                ],
            },
        }),
        mounted() {
            axios
                .get('/api/user-service/get-categories')
                .then(res => {
                    res.data.forEach(category => {
                        this.categories.push(category);
                    });
                });

            if (this.$route.path.search('update')===-1) {
                this.addFormInit();
            } else {
                this.updateFormInit();
            }
        },
        methods: {
            fillTabs(tabs, data) {
                for (var tabName in this.tabs) {
                    let dataTab = data[tabName];
                    if (!!dataTab && dataTab.length) {
                        for (var ind in dataTab) {
                            let dataTabItem = dataTab[ind];
                            let tab = this.tabs[tabName];
                            for (var attr in tab) {
                                let attrName = tab[attr];
                                let attrVal = dataTabItem[attrName];
                                if (!attrVal || typeof(attrVal)!=='object') {
                                    continue;
                                }
                                for (var lang in attrVal) {
                                    if (!tabs[lang][tabName][ind]) {
                                        tabs[lang][tabName][ind] = {};
                                    }
                                    tabs[lang][tabName][ind][attrName] = attrVal[lang];
                                    tabs[lang][tabName][ind]['id'] = dataTabItem['id'];
                                }
                            }
                        }
                    }
                }
                return tabs;
            },
            getEmptyTabs() {
                let tabs = {};
                for (var lang in this.langs) {
                    tabs[lang] = {};
                    for (var tabName in this.tabs) {
                        tabs[lang][tabName] = [{}];
                        let tab = this.tabs[tabName];
                        for (var attr in tab) {
                            tabs[lang][tabName][0][tab[attr]] = null;
                        }
                    }
                }
                return tabs;
            },
            addFormInit() {
                this.formData = new Form({
                    name: {},
                    annotation: {},
                    annotation_img: null,
                    photo: null,
                    description: {},
                    category_id: null,
                    country_id: null,
                    region_id: null,
                    city_id: null,
                    icon: null,
                    price: {},
                    price_for: '',
                    discount: '',
                    video_url: '',
                    video_description: '',
                    tabs: this.getEmptyTabs(),
                });
                this.form = {
                    header: trans('profile.user_services.add_new'),
                    button: trans('profile.user_services.add'),
                    action: function() {
                        axios
                            .post('/api/user-service/store', this.formData)
                            .then(res => {
                                this.formData.id = res.data.id;
                                this.relations = res.data.relations;
                                this.saveFiles();
                            })
                            .catch(e => {
                                this.handleError(e);
                            });
                    }.bind(this),
                };
                this.isLoaded = true;
            },
            updateFormInit() {
                axios
                    .get(`/api/user-service/${this.$route.params.id}`)
                    .then(res => {
                        res.data.tabs = this.fillTabs(this.getEmptyTabs(), res.data);
                        this.formData = new Form(res.data);
                        this.form = {
                            header: this.$t(this.formData.name) + ', ' + trans('profile.user_services.edit_service'),
                            button: trans('profile.user_services.btn_save_service'),
                            action: function() {
                                axios
                                    .post(`/api/user-service/update/${this.$route.params.id}`, this.formData)
                                    .then(res => {
                                        this.relations = res.data.relations;
                                        this.saveFiles();
                                    })
                                    .catch(e => {
                                        this.handleError(e);
                                    });
                            }.bind(this)
                        };
                        this.isLoaded = true;
                    });
            },
            saveFiles() {
                this.saveTabFiles('portfolio', 'file_name', 'photos');
                this.saveTabFile('processes', 'icon');
                this.saveTabFile('workers', 'photo');
                this.saveFile('photo');
                this.saveFile('icon');
                this.saveFile('annotation_img');
                this.goHome();
            },
            saveFile(fieldName) {
                if (this.formData[fieldName]===null) {
                    return;
                }
                let form = new FormData;
                Form.append('file', this.formData[fieldName]);
                axios
                    .post(`/api/user-service/save-file/${fieldName}/${this.formData.id}`, Form, {
                        headers: {'Content-Type': 'multipart/form-data'}
                    })
                    .then(res => {
                        this.formData[fieldName + 'Url'] = res.data.name;
                    });
            },
            saveTabFile(relationName, fieldName) {
                let relation = this.relations[relationName];
                if (!relation) {
                    return;
                }
                for (var lang in this.formData.tabs) {
                    let data = this.formData.tabs[lang][relationName];
                    for (var ind in data) {
                        let file = data[ind][fieldName];
                        if (!file) {
                            continue;
                        }
                        let form = new FormData;
                        Form.append('file', file);
                        axios.post(`/api/user-service/save-relation-file/${fieldName}/${relationName}/${this.formData.id}/${relation[ind]}`, Form, {
                            headers: {'Content-Type': 'multipart/form-data'}
                        }).then(res => {});
                    }
                }
            },
            saveTabFiles(relationName, fieldName, keyName) {
                let action = 'save-relation-file';
                if (keyName===undefined) {
                    keyName = fieldName;
                } else {
                    action += 's';
                }
                let relation = this.relations[relationName];
                for (var lang in this.formData.tabs) {
                    let data = this.formData.tabs[lang][relationName];
                    for (var ind in data) {
                        let files = data[ind][keyName];
                        if (!files) {
                            continue;
                        }
                        let form = new FormData;
                        for (var i = 0; i < files.length; i++) {
                            Form.append('files[' + i + ']', files[i]);
                        }
                        axios.post(`/api/user-service/${action}/${fieldName}/${relationName}/${this.formData.id}/${relation[ind]}`, Form, {
                            headers: {'Content-Type': 'multipart/form-data'}
                        }).then(res => {});
                    }
                }
            },
            goHome() {
                this.$router.push('/profile/user-services/list');
            },
            setCountry(value) {
                this.formData.country_id = value;
            },
            setRegion(value) {
                this.formData.region_id = value;
            },
            setCity(value) {
                this.formData.city_id = value;
            },
            setIcon(file) {
                this.formData.icon = file;
            },
            setAnnotationImg(file) {
                this.formData.annotation_img = file;
            },
            setPhoto(file) {
                this.formData.photo = file;
            },
            setInputVal(fieldName, val) {
                this.formData[fieldName] = val;
            },
            setTabInputVal(val, lang, tabName, fieldName, ind) {
                this.formData.tabs[lang][tabName][ind][fieldName] = val;
            },
            handleError(e) {
                var message;
                if (e.message===undefined) {
                    message = e.response.data.errors[0];
                } else {
                    message = e.message;
                }
                this.$swal({
                    type: 'error',
                    title: trans('profile.user_service.validate_error'),
                    text: message
                });
            },
        },
    }
</script>
