<template>
    <div>
        <section class="section pt-1 pb-0 px-0">
            <h1 class="section-title mb-1-75">{{ trans('profile.user_services.title') }}</h1>
            <!--Вынести в фильтр-->
            <div class="buttons has-addons">
                <label
                    :class="{'is-active': filter === 'active'}"
                    class="button is-outlined is-info is-size-875 has-text-weight-bold h-3"
                >
                    {{ trans('profile.active') }}
                    <input style="display: none" type="radio" v-model="filter" value="active">
                </label>
                <label
                    :class="{'is-active': filter === 'moderate'}"
                    class="button is-outlined is-info is-size-875 has-text-weight-bold h-3">
                    {{ trans('profile.moderate') }}
                    <input style="display: none" type="radio" v-model="filter" value="moderate">
                </label>
            </div>

            <div class="columns is-multiline mb-2">
                <div class="column is-12">
                    <card
                        :filter="filter"
                        :key="object.id"
                        :object="object"
                        v-for="object in objectsMapped"
                    />
                </div>
            </div>
        </section>

    </div>
</template>

<script>
    import Card from "./Card";

    export default {
        components: {
            Card,
        },
        data: () => ({
            filter: 'active',
            objects: [],
            statusLabels: {},
        }),
        mounted() {
            this.getData();
            this.statusLabels[this.$store.state.status.service.NEW] = trans('profile.statuses.new');
            this.statusLabels[this.$store.state.status.service.AWAIT] = trans('profile.statuses.await');
            this.statusLabels[this.$store.state.status.service.MODERATED] = trans('profile.statuses.moderated');
            this.statusLabels[this.$store.state.status.service.DECLINED] = trans('profile.statuses.declined');
        },
        methods: {
            getData() {
                axios
                    .get('/api/user-service/list')
                    .then(res => {
                        this.objects = res.data;
                    });
            },
            getStatusLabel(status) {
                return this.statusLabels[status];
            },
        },
        computed: {
            objectsMapped() {
                return this.objects.filter(item => {
                    if (this.filter === 'new') {
                        return item.status === this.$store.state.status.service.NEW;
                    } else if (this.filter === 'moderate') {
                        return item.status === this.$store.state.status.service.AWAIT;
                    } else if (this.filter === 'active') {
                        return item.status === this.$store.state.status.service.MODERATED;
                    } else {
                        return false;
                    }
                }).map(item => {
                    item.rawPrice = item.discountPrice;
                    item.price = this.$formatPrice(item.discountPrice);
                    if (
                        !!item.city !== false
                        && !!item.city.translation !== false
                    ) {
                        item.cityTranslation = this.$t(item.city.translation);
                    } else {
                        item.cityTranslation = '';
                    }
                    if (
                        !!item.city !== false
                        && !!item.city.country !== false
                        && !!item.city.country.translation !== false
                    ) {
                        item.countryTranslation = this.$t(item.city.country.translation);
                    } else {
                        item.countryTranslation = '';
                    }
                    return item;
                });
            },
        },
    }
</script>
