<template>
    <div class="columns is-multiline">
        <div class="column is-12">
            <div
                class="columns is-multiline list-wrap"
                v-for="(item, ind) in form">
                <div class="column is-12">
                    <h4>
                        {{ trans('profile.user_services.form_label.project') }} {{ ind + 1 }}
                    </h4>
                </div>
                <div class="column is-12">
                    <div class="field">
                        <label class="label">
                            {{ trans('profile.user_services.form_label.description') }}
                        </label>
                        <quill-editor
                            v-model="item.description"
                            :index=ind
                            @input="descriptionChange"
                        />
                    </div>
                </div>
                <file-input
                    :size=12
                    :label="trans('profile.user_services.form_label.photos')"
                    :index=ind
                    v-model="item.photos"
                    @change="fileChange"
                    :multiple="true"
                />
                <remove-button
                    :label="'проект'"
                    @remove="removeItem"
                />
                <div class="column is-12">
                    <hr />
                </div>
            </div>
        </div>
        <add-button
            :label="'проект'"
            @add="addItem"
        />
    </div>
</template>

<script>
    import GGInput from '../../form/GGInput'
    import FileInput from '../../form/FileInput';
    import AddButton from '../../form/AddButton'
    import RemoveButton from '../../form/RemoveButton'
    import QuillEditor from '../../form/QuillEditor';

    export default {
        props: {
            value: null,
        },
        components: {
            GGInput,
            FileInput,
            AddButton,
            RemoveButton,
            QuillEditor,
        },
        data: () => ({
            form: [],
            name: 'portfolio',
        }),
        methods: {
            descriptionChange(val, ind) {
                this.$emit('change', val, this.name, 'description', ind);
            },
            fileChange(val, ind) {
                this.$emit('change', val, this.name, 'photos', ind);
            },
            addItem() {
                this.form.push({
                    description: null,
                    photo: null,
                });
            },
            removeItem(index) {
                this.form.splice(index, 1);
            },
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value) {
                        this.form = value;
                    } else {
                        this.addItem();
                    }
                }
            }
        }
    }
</script>
<style scoped>
    hr {
        margin: 0 !important;
    }
</style>
