<template>
    <div class="columns is-multiline">
        <div class="column is-12">
            <div class="columns is-multiline list-wrap"
                 v-for="(item, ind) in items">
                <div class="column is-12">
                    <h4>{{ trans('profile.user_services.form_label.step') }} {{ ind + 1 }}</h4>
                </div>
                <file-input
                    :size=12
                    :index=ind
                    :label="trans('profile.user_services.form_label.photo')"
                    v-model="item.icon"
                    @change="fileChange"
                />
                <g-g-input
                    v-model="item.name"
                    size="is-6"
                    :index=ind
                    @input="nameChange"
                    :label="trans('profile.user_services.form_label.title')"
                />
                <div class="column is-12">
                    <div class="field">
                        <label class="label">
                            {{ trans('profile.user_services.form_label.description') }}
                        </label>
                        <quill-editor
                            v-model="item.description"
                            :index=ind
                            @change="descriptionChange"
                        />
                    </div>
                </div>
                <remove-button
                    :label="trans('profile.user_services.step')"
                    @remove="removeItem"
                />
                <div class="column is-12">
                    <hr />
                </div>
            </div>
        </div>
        <add-button
            :label="trans('profile.user_services.step')"
            @add="addItem"
        />
    </div>
</template>

<script>
    import GGInput from '../../form/GGInput'
    import AddButton from '../../form/AddButton'
    import RemoveButton from '../../form/RemoveButton'
    import FileInput from '../../form/FileInput';
    import QuillEditor from '../../form/QuillEditor';

    export default {
        components: {
            GGInput,
            AddButton,
            RemoveButton,
            FileInput,
            QuillEditor,
        },
        props: {
            value: null,
        },
        data: () => ({
            items: [],
            name: 'processes',
        }),
        methods: {
            fileChange(val, ind) {
                this.$emit('change', val, this.name, 'icon', ind);
            },
            nameChange(val, ind) {
                this.$emit('change', val, this.name, 'name', ind);
            },
            descriptionChange(val, ind) {
                this.$emit('change', val, this.name, 'description', ind);
            },
            addItem() {
                this.items.push({
                    icon: null,
                    name: null,
                    description: null,
                });
            },
            removeItem(index) {
                this.items.splice(index, 1);
            },
        },
        watch: {
            value: {
                immediate: true,
                handler(items) {
                    if (items) {
                        this.items = items;
                    } else {
                        this.addItem();
                    }
                }
            }
        }
    }
</script>
<style scoped>
    hr {
        margin: 0 !important;
    }
</style>
