<template>
    <div>
        <div class="tabs">
            <ul>
                <li
                    v-for="tab in [
                        'processes',
                        'portfolio',
                        'workers',
                    ]"
                    :class="{'is-active': active===tab}"
                    @click="active = tab">
                    <a>{{ translations[tab] }}</a>
                </li>
            </ul>
        </div>
        <div class="tabs-content">
            <transition-group name="fade" mode="out-in">
                <processes
                    key="processes"
                    v-show="active==='processes'"
                    v-model="tabs.processes"
                    @change="change"
                />
                <portfolio
                    key="portfolio"
                    v-show="active==='portfolio'"
                    v-model="tabs.portfolio"
                    @change="change"
                />
                <workers
                    key="workers"
                    v-show="active==='workers'"
                    v-model="tabs.workers"
                    @change="change"
                />
            </transition-group>
        </div>
    </div>
</template>

<script>
    import GGInput from '../../form/GGInput'
    import GGTextarea from '../../form/GGTextarea'

    import processes from './Processes'
    import portfolio from './Portfolio'
    import workers from './Workers'

    export default {
        props: {
            value: null,
            lang: null,
        },
        components: {
            GGInput,
            GGTextarea,
            processes,
            portfolio,
            workers,
        },
        data: () => ({
            translations: {
                processes: trans('profile.user_service.process'),
                portfolio: trans('profile.user_service.portfolio'),
                workers: trans('profile.user_service.workers'),
            },
            tabs: {},
            active: 'processes',
        }),
        methods: {
            change(val, tabName, fieldName, ind) {
                this.$emit('change', val, this.lang, tabName, fieldName, ind);
            },
        },
        watch: {
            value: {
                immediate: true,
                handler(tabs) {
                    this.tabs = tabs;
                }
            }
        }
    }
</script>

<style scoped>
    .tabs-content {
        margin-bottom: 20px;
    }
</style>
