<template>
    <div class="columns is-multiline">
        <div class="column is-12">
            <div
                class="columns is-multiline list-wrap"
                v-for="(item, ind) in form">
                <div class="column is-12">
                    <h4>{{ trans('profile.user_service.employee') }} {{ ind + 1 }}</h4>
                </div>
                <file-input
                    :size=12
                    :label="trans('profile.user_services.form_label.photo')"
                    :index=ind
                    v-model="item.photo"
                    @change="fileChange"
                />
                <g-g-input
                    v-model="item.name"
                    size="is-6"
                    :label="trans('profile.user_services.form_label.name')"
                    :index=ind
                    @input="nameChange"
                />
                <g-g-input
                    v-model="item.position"
                    size="is-6"
                    :label="trans('profile.user_services.form_label.position')"
                    :index=ind
                    @input="positionChange"
                />
                <remove-button
                    :label="'сотрудника'"
                    @remove="removeItem"
                />
                <div class="column is-12">
                    <hr />
                </div>
            </div>
        </div>
        <add-button
            :label="'сотрудника'"
            @add="addItem"
        />
    </div>
</template>

<script>
    import GGInput from '../../form/GGInput'
    import GGTextarea from '../../form/GGTextarea'
    import AddButton from '../../form/AddButton'
    import RemoveButton from '../../form/RemoveButton'
    import FileInput from '../../form/FileInput';

    export default {
        components: {
            GGInput,
            GGTextarea,
            AddButton,
            RemoveButton,
            FileInput,
        },
        props: {
            value: null,
        },
        data: () => ({
            form: [],
            name: 'workers',
        }),
        methods: {
            fileChange(val, ind) {
                this.$emit('change', val, this.name, 'photo', ind);
            },
            nameChange(val, ind) {
                this.$emit('change', val, this.name, 'name', ind);
            },
            positionChange(val, ind) {
                this.$emit('change', val, this.name, 'position', ind);
            },
            addItem() {
                this.form.push({
                    photo: null,
                    name: null,
                    position: null,
                });
            },
            removeItem(index) {
                this.form.splice(index, 1);
            },
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value) {
                        this.form = value;
                    } else {
                        this.addItem();
                    }
                }
            }
        }
    }
</script>
<style scoped>
    hr {
        margin: 0 !important;
    }
</style>
