<template>
    <div class="add-business__progress is-flex">
        <figure>
            <svg-icon :icon="'ic_crown.svg'" />
        </figure>
        <div class="add-business__progress__info">
            <div class="is-size-875">{{ trans('object.create.sellSuccess') }}</div>
            <div class="progress-wrap is-flex">
                <progress
                    class="progress is-success is-small"
                    :value="parseInt(progress)"
                    max="100"/>
                <div class="has-text-success has-text-weight-bold percent">
                    {{ progress }}%
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['progress']
    }
</script>
