<template>
    <div class="step__header">
        <div class="columns is-multiline">
            <div class="column is-6">
                <h3>
                    <svg-icon :icon="step.icon"/>
                    <span>{{ step.title }}</span>
                </h3>
            </div>
            <div class="column is-6">
                <progress-info :progress="step.progress"/>
            </div>
        </div>
    </div>
</template>

<script>
    import ProgressInfo from './ProgressInfo';

    export default {
        props: ['step'],
        components: {
            ProgressInfo,
        },
    }
</script>
