<template>
    <div>
        <template v-if="loading === true">
            <div class="loader"></div>
        </template>
        <div class="stepper__nav is-hidden-mobile">
            <template v-for="(item, index) in steps">
                <div
                    v-if="index !== 8 || id === null"
                    class="stepper__nav__item"
                    :class="{ 'is-active' : item.active, 'is-ok' : item.success }">
                    <div class="stepper__nav__item__button" v-tooltip="item.title" @click="$parent.goTo(index)">
                        {{ index }}
                    </div>
                    <div class="stepper__nav__item__title">{{item.title}}</div>
                </div>
            </template>
        </div>
        <div class="stepper__nav stepper__nav_mobile is-hidden-tablet">
            <div class="stepper__nav__item is-active">
                <div class="stepper__nav__item__button">
                    {{ step }} / 7
                </div>
                <div class="stepper__nav__item__title">{{steps[step].title}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['loading', 'steps', 'step'],
    }
</script>
