<template>
    <div class="step__footer columns is-multiline">
        <div class="column is-12">
            <div class="buttons">
                <button
                    v-if="step < 8"
                    class="button button-next is-info is-size-875 h-3 has-text-weight-bold px-1"
                    @click="$parent.goTo(step + 1)">
                    <span>{{ trans('strings.step') }} {{step + 1}}: {{steps[step + 1].title}}</span>
                    <svg-icon :icon="'ic_arrow_right.svg'" />
                </button>
                <button
                    v-if="step > 1"
                    class="button is-clear is-clear_close is-size-875 h-3"
                    @click="$parent.goTo(step - 1)">
                    <span class="has-text-decoration-underline">{{ trans('strings.comeBack' )}}</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['steps', 'step'],
    }
</script>
