<template>
<div>
     <section class="is-paddingless">
           

                <consultation-list :consultations="consultations"></consultation-list>

       

  <modal v-if="ui.showForm" @close="ui.showForm = false">
                            <div slot="header">
                                <p class="modal-card-title mb-0">{{ui.modalRequestView.header}}</p>
                            </div>

                            <div slot="body">
                                <div class="content">
                                    <form-errors :errors="form.errors.errors"></form-errors>
    <!--TODO: Из-за смешивания бизнесов и франшиз, если выбрана франшиза, то отображается неверное название. Нужно переписать логику компонента -->
                                    <div class="columns is-multiline">
                                        <g-g-select-input :size="'is-12'" v-model="object_id"
                                                          :placeholder="formNewRequestView.object.placeholder"
                                                          :label="formNewRequestView.object.title" :searchable="true"
                                                          :options="formNewRequestView.object.options"
                                                          :withImg="true" :option-is-value="true"
                                                          @input-option="form.object_id = $event.id;form.object_type = $event.type">
                                        </g-g-select-input> 


                                        <g-g-date-input v-model="form.date"
                                                        :label="formNewRequestView.date.title"
                                                        :placeholder="formNewRequestView.date.placeholder"
                                                        :required="formNewRequestView.date.required"
                                                        :size="'is-6'">
                                        </g-g-date-input>
                                        <g-g-date-input v-model="form.time"
                                                        :label="formNewRequestView.time.title"
                                                        :placeholder="formNewRequestView.time.placeholder"
                                                        :required="formNewRequestView.time.required"
                                                        :size="'is-6'"
                                                        :config="formNewRequestView.time.config">
                                        </g-g-date-input>
                                        <g-g-textarea :size="'is-12'" v-model="form.theme"
                                                      :label="formNewRequestView.comment.title"
                                                      :placeholder="formNewRequestView.comment.placeholder"
                                                      :required="formNewRequestView.comment.required"></g-g-textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="content w-full" slot="footer">
                                <div class="columns is-multiline">
                                    <div class="column is-12">
                                        <button @click="submitRequest"
                                                class="button is-info is-fullwidth has-text-weight-bold h-3 is-size-875">
                                            {{trans('profile.trips_detail.btn_send_req_to_trip')}}
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </modal>

        </section>
                       <button style="margin-top: 1.5rem" class="button is-info is-outlined h-3 px-1 is-size-875 has-text-weight-bold px-1-5"
                                @click="ui.showForm = true">
                            <span class="mr-0-5 is-size-4"></span><span class="is-size-875">Добавить консультацию</span>
                        </button>
        </div>
</template>

<script>
    import {Form} from '../../../form'
import Modal from '../../modals/Modal'
import GGInput from '../../form/GGInput'
import GGDateInput from '../../form/GGDateInput'
import GGTextarea from '../../form/GGTextarea'
    import FormErrors from '../../form-errors'
import GGSelectInput from '../../form/GGSelectInput'
    import ConsultationList from '../views/ConsultationList'

export default {
    name: 'travel-consultations',
    props: ['travelId', 'travel', 'consultations'],
    components: {
        Modal,
        GGDateInput,
        GGTextarea,
        GGInput,
        FormErrors,
        GGSelectInput,
        ConsultationList
    },
    data: function () {
        return {
            object_id: null,
            ui: {
                showForm: false,
                modalRequestView: {
                    header: 'Добавить консультацию'
                }
            },
            form: new Form({
                object_type: null,
                object_id: null,
                date: null,
                time: '12:00',
                theme: '',
                travel_id: this.travelId
            }),
            formNewRequestView: {
                    object: {
                        selected: null,
                        title: 'Укажите объект',
                        placeholder: 'Поиск бизнеса или франшизы',
                        selectedLabel: '',
                        selectLabel: '',
                        deselectLabel: '',
                        noResult: 'Ничего не найдено',
                        options: []
                    },
                    date: {
                        title: 'Желаемая дата консультации',
                        placeholder: '25.05.2019',
                        value: '',
                        required: true
                    },
                    time: {
                        title: 'Желаемое время консультации',
                        placeholder: '12:00',
                        value: '',
                        required: true,
                        config: {
                            enableTime: true,
                            noCalendar: true,
                            dateFormat: "H:i",
                            time_24hr: true
                        },
                    },
                    comment: {
                        title: 'Тема',
                        placeholder: 'Укажите тему',
                        value: '',
                        required: true
                    }
                },
            objects: []
        }
    },
    mounted() {
        this.getObjects();
    },
    methods:{
        submitRequest(){
            this.form.post('/profile/api/trip/consult').then((res)=>{
                this.ui.showForm = false;
                this.$emit('update');
            })
        },
        getObjects(serach = null){
            axios.get('/profile/api/objects/search').then( res => {
                this.formNewRequestView.object.options = res.data
            })
        },
    }

}
</script>

<style>

</style>
