<template>
    <section class="section pt-1 px-0" v-if="travel">
        <h1 class="section-title mb-1-75">
            <span>{{travel.name}}</span>
        </h1>
        <objects-view
            :view-requests="travel.object_view"
            :travel-id="travel.id"
            @update="getTrip($route.params.id)">
        </objects-view>

        <hr class="hr-basic">

        <trip-flights
            :flights="travel.flights"
            :travel-id="travel.id"
            :travel="travel"
            @update="getTrip($route.params.id)">
        </trip-flights>
        <hr class="hr-basic">
            <travel-consultations
                :consultations="travel.consultations"
                :travel-id="travel.id"
                :travel="travel"
                @update="getTrip($route.params.id)"></travel-consultations>
        
        <hr class="hr-basic">
        <section>
            <travel-comments
                :comments="travel.comments"
                :travel-id="travel.id"
                @update="getTrip($route.params.id)"></travel-comments>
        </section>
        <hr class="hr-basic">
        <section class="is-paddingless">
            <h3 class="mb-1">Список необходимых документов</h3>

            <ol class="trips-list-required-documents ml-1 is-size-875 mb-1">
                <li>
                    <span>{{trans('profile.trips_detail.company_payment_receipt')}}</span>
                    <span class="has-text-success has-text-weight-bold">{{trans('profile.trips_detail.uploaded')}}</span>
                </li>
                <li>
                    <span>{{trans('profile.trips_detail.unique_service_agreement')}}</span>
                    <span class="has-text-success has-text-weight-bold">{{trans('profile.trips_detail.uploaded')}}</span>
                </li>
                <li>
                    <span>{{trans('profile.trips_detail.company_reg')}}</span>
                    <span class="has-text-success has-text-weight-bold">{{trans('profile.trips_detail.uploaded')}}</span>
                </li>
                <li><span>{{trans('profile.trips_detail.purchase_and_sale_agreement')}}</span></li>
            </ol>
            <div class="box px-0 pb-0">
                <UploadDocuments class="px-1-5"></UploadDocuments>
                <table class="table is-fullwidth is-size-875">
                    <thead class="is-hidden-mobile">
                    <tr>
                        <th>№</th>
                        <th>{{trans('profile.trips_detail.table_head.doc_name')}}</th>
                        <th>{{trans('profile.trips_detail.table_head.date')}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="is-block-mobile">
                    <tr class="is-block-mobile">
                        <td class="has-text-basic is-hidden-mobile">1</td>
                        <td class="has-text-weight-bold is-block-mobile">
                            Чек об оплате услугу нашим предприятием.jpg
                        </td>
                        <td class="has-text-basic is-block-mobile">12 марта 2019</td>
                        <td class="is-block-mobile">
                            <a href="#" class="link-with-icon">
                                <img src="/svg/icons/ic_close.svg">
                                <span class="has-text-decoration-underline">{{trans('profile.trips_detail.btn_delete_doc')}}</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </section>
    </section>
</template>

<script>
    import UploadDocuments from '../../UploadDocuments'
    import ObjectsView from '../objects/objects-view'
    import TripFlights from './Flights'
    import TravelComments from './Comments'
    import TravelConsultations from './Consultations'

    export default {
        components: {
            UploadDocuments,
            ObjectsView,
            TripFlights,
            TravelComments,
            TravelConsultations
        },
        data: () => ({
            travel: null,
            ui: {
                modalRequestView: {
                    show: false,
                    header: trans('profile.trips_detail.req_to_view')
                }
            },
            formNewRequestView: {
                object: {
                    selected: null,
                    title: trans('profile.trips_detail.specify_the_object_to_view'),
                    placeholder: trans('profile.trips_detail.select'),
                    selectedLabel: '',
                    selectLabel: '',
                    deselectLabel: '',
                    noResult: trans('profile.trips_detail.no_result')
                },
                date: {
                    title: trans('profile.trips_detail.desired_viewing_date'),
                    placeholder: '25.05.2019',
                    value: '',
                    required: true
                },
                time: {
                    title: trans('profile.trips_detail.desired_viewing_time'),
                    placeholder: '12:00',
                    value: '',
                    required: true,
                    config: {
                        enableTime: true,
                        noCalendar: true,
                        dateFormat: "H:i",
                        time_24hr: true
                    },
                },
                comment: {
                    title: trans('profile.trips_detail.comment_for_seller'),
                    placeholder: trans('profile.trips_detail.enter_comment'),
                    value: '',
                    required: true
                }
            },
            formsOptions: {
                objects: {
                    options: [
                        {
                            id: '1',
                            name: 'Item 1',
                            img: 'https://vue-multiselect.js.org/static/posters/trading_post.png'
                        },
                        {
                            id: '2',
                            name: 'Item 2',
                            img: 'https://vue-multiselect.js.org/static/posters/trading_post.png'
                        },
                        {
                            id: '3',
                            name: 'Item 3',
                            img: 'https://vue-multiselect.js.org/static/posters/trading_post.png'
                        },
                        {
                            id: '4',
                            name: 'Item 4',
                            img: 'https://vue-multiselect.js.org/static/posters/trading_post.png'
                        },
                    ]
                },
            }
        }),
        mounted(){
            this.getTrip(this.$route.params.id);
        },
        methods: {
            createRequestView() {
                //console.log('createRequestView');
            },
            getTrip(id){
                axios.get('/profile/api/travel/' + id).then(res => {
                    this.travel = res.data
                })
            }
        }
    }
</script>

<style>

</style>
