@import '../variables';

.broker-pa {
    margin-bottom: 4rem;

    &__header {
        margin-bottom: 1.875rem;

        .buttons {
            @media screen and (min-width: $desktop) {
                justify-content: flex-end;
            }

            > .button,
            > .control {
                margin-bottom: 0.5rem;
                @media screen and (min-width: $tablet) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__graphic-controls {
        flex-wrap: wrap;

        .buttons {
            margin-bottom: 0.5rem;
            @media screen and (min-width: $tablet) {
                margin-bottom: 0;
            }
        }
    }

    &__id {
        font-size: .75rem;
        color: $text;
    }

    &__offers-nav {
        ul {
            margin-left: 0;
            list-style: none;

            li {
                &.button {
                    padding: 0;

                    > a,
                    > span {
                        color: inherit;
                        padding-left: 0.75em;
                        padding-right: 0.75em;
                        line-height: 3rem;
                    }
                }
            }
        }
    }

    .table {
        .icon {
            vertical-align: middle;
            line-height: 1em;

            img,
            svg {
                width: 1rem;
                height: 1rem;
            }
        }

        .name-offer {
            display: flex;

            figure {
                width: 1.25rem;
                height: 1.25rem;
                margin: 0 .5rem 0 0;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: $radius;
                }
            }

            span {
                line-height: normal;
                padding-top: .125rem;
                //color: $cyan;
            }
        }
    }

    .filter-table-offers-links {
        margin-bottom: 1rem;

        &__type {
            &:not(:last-child) {
                margin-bottom: .5rem;
            }

            &__title {
                min-width: 6rem;
            }

            ul {
                margin-left: .875rem;
                margin-top: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;

                li {
                    margin-top: 0;
                    padding: 0 0.625rem;

                    &:not(:last-child) {
                        border-right: 1px solid rgba($button-border-color, 0.5);
                    }

                    &:before {
                        content: none;
                    }

                    span {
                        color: $cyan;
                        text-decoration: underline;
                        cursor: pointer;

                        &:hover {
                            color: darken($cyan, 10);
                        }

                        &.is-active {
                            color: $very-dark-blue-2;
                            font-weight: bold;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    &__details {
        &__thumb {
            width: 100%;
            height: 15.625rem;
            margin: 0 0 1rem 0 !important;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: $radius;
            }
        }

        &__add-offer-desc {
            line-height: 1.375rem;
        }

        &__main-info {
            &__item {
                display: flex;
                color: $very-dark-blue-2;
                margin: 0.1875rem 0;

                > span {
                    flex: 1;

                    &:first-child {
                        max-width: 14rem;
                        padding-right: 1rem;
                    }
                }
            }
        }

        .link-more {
            .icon {
                transform: rotate(-90deg);
            }
        }
    }

    hr {
        background-color: rgba(#CFDAE6, .5);
        height: 1px;
    }

    .chart-time-zone {
        text-align: right;
        color: $light-grayish-blue;
    }

    &__balance-box {
        &__header {
            padding: 1rem;

            figure {
                width: 2rem;
                height: 2rem;
                min-width: 2rem;
                min-height: 2rem;
                margin: 0 1rem 0 0 !important;

                img,
                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            h4 {
                line-height: 1.25rem;
            }
        }

        &__info {

            &-list {
                padding: 1rem;
            }

            &-item {
                width: 100%;
                justify-content: space-between;
                color: $very-dark-blue-2;
                display: flex;

                &:not(:last-child) {
                    margin-bottom: .25rem;
                }

                div {
                    display: inline-block;
                }
            }
        }
    }

    &__balance-box-date {
        border-radius: $radius;
        border: 1px solid rgba($light-grayish-blue, 0.5);
        height: 100%;
        flex-direction: column;

        .no-date {
            flex: 1;
            justify-content: center;
            align-items: center;
            display: flex;
            color: $text;
            text-align: center;
            padding: 1rem;

            span {
                max-width: 20rem;
            }
        }
    }


    &__account-short-info {
        color: $very-dark-blue-2;
    }

    &__realtime-table {
        thead {
            th {
                white-space: normal;
            }
        }

        thead,
        tbody {
            tr {
                th,
                td {
                    //&:not(:last-child) {
                    //    border-right: 1px solid rgba($light-grayish-blue, 0.5);
                    //}
                }
            }
        }
    }
}

.modal-create-offer-link {
    .field-control-offer-link {
        border: 1px solid $input-border-color;
        border-radius: $radius;
        padding: 0.5rem 3rem 0.5rem 0.5rem;

        figure {
            margin: 0 0.5rem 0 0;
            min-width: 2rem;
            min-height: 2rem;
            width: 2rem;
            height: 2rem;

            img {
                border-radius: $radius;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        > span {
            color: $very-dark-blue-2;
            line-height: 1rem;
            padding: .5rem 0;
        }

        .icons {
            position: absolute;
            top: .875rem;

            &.is-right {
                right: 1rem;
            }

            a {
                width: 1rem;
                height: 1rem;
            }

            .icon {
                svg {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }

    .list-subaccount {
        .button {
            &-add,
            &-remove {
                margin-top: .25rem;
            }
        }
    }

    .multiselect {
        line-height: 1.5;
    }
}


/* swiper-broker-data-indicators */

.swiper-broker-data-indicators {
    border: 1px solid rgba($light-grayish-blue, 0.5);
    border-radius: $radius;
    margin-bottom: 1.5rem;

    .swiper-wrapper {
        .swiper-slide {
            //flex: 0 0 auto;
            //min-width: 6.625rem;
            width: auto;

            &:not(:last-child) {
                .broker-data-indicator {
                    border-right: 1px solid rgba($light-grayish-blue, 0.5);
                }
            }

            .broker-data-indicator {
                padding: 1.125rem;

                &__title {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .swiper-button {
        &-next,
        &-prev {
            width: 2rem;
            height: 100%;
            background: $body-background-color;
            top: 0;
            margin: 0;
            outline: none;

            &.swiper-button-disabled {
                visibility: hidden;
            }

            &:before {
                position: absolute;
                content: "";
                width: 1.5rem;
                height: 100%;
                top: 0;
                left: -1.5rem;
                background: linear-gradient(90deg, transparent 0%, $body-background-color 100%);
            }

            &:after {
                position: absolute;
                content: "";
                background-image: url(../../img/ic_arrow.svg);
                background-repeat: no-repeat;
                width: 1rem;
                height: 1rem;
                background-size: contain;
                top: 50%;
                left: 50%;
                margin-top: -0.5rem;
                margin-left: -0.5rem;
            }
        }

        &-next {
            right: 0;
        }

        &-prev {
            left: 0;
            transform: scale(-1, 1);
        }
    }
}

/* swiper-broker-data-balance-month */

.swiper-broker-data-balance-month {
    border-bottom: 1px solid rgba($light-grayish-blue, 0.5);

    .swiper-wrapper {
        .swiper-slide {
            width: auto;
            font-size: .875rem;
            color: $text;
            cursor: pointer;

            &:hover,
            &.is-active {
                color: $very-dark-blue-2;
            }

            .broker-data-balance-month-indicator {
                padding: 0.5rem 1.5rem;
            }
        }
    }

    .swiper-button {
        &-next,
        &-prev {
            width: 2rem;
            height: 100%;
            background: $body-background-color;
            top: 0;
            margin: 0;
            outline: none;

            &.swiper-button-disabled {
                visibility: hidden;
            }

            &:before {
                position: absolute;
                content: "";
                width: 1.5rem;
                height: 100%;
                top: 0;
                left: -1.5rem;
                background: linear-gradient(90deg, transparent 0%, $body-background-color 100%);
            }

            &:after {
                position: absolute;
                content: "";
                background-image: url(../../img/ic_arrow.svg);
                background-repeat: no-repeat;
                width: 1rem;
                height: 1rem;
                background-size: contain;
                top: 50%;
                left: 50%;
                margin-top: -0.5rem;
                margin-left: -0.5rem;
            }
        }

        &-next {
            right: 0;
        }

        &-prev {
            left: 0;
            transform: scale(-1, 1);
        }
    }
}


.broker-data-indicator-wrap_inline {
    border: 1px solid rgba($light-grayish-blue, 0.5);
    border-radius: $radius;
    display: block;
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
    }
    .broker-data-indicator {
        padding: 1.125rem;
        text-align: left;
        display: block;

        @media screen and (min-width: $tablet) {
            display: inline-block;
            flex: 1;
        }

        &__title {
            display: flex;
            align-items: center;
        }

        &__value {
            color: $very-dark-blue-2;
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba($light-grayish-blue, 0.5);
            @media screen and (min-width: $tablet) {
                border-bottom: 0;
                border-right: 1px solid rgba($light-grayish-blue, 0.5);
            }
        }
    }
}
