@import '../variables';

.user-setting {
    &__header {
        margin-bottom: 1.5rem;
        flex-wrap: wrap;

        figure {

            margin: 0 auto;
            flex: 1 1 auto;
            justify-content: center;
            display: flex;


            @media screen and (min-width: $tablet) {
                margin: 0 1rem 0 0;
                display: block;
                flex: initial;
            }

            img {
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                min-width: 5rem;
                min-height: 5rem;
                max-width: 5rem;
                max-height: 5rem;
                object-fit: cover;
                object-position: center;
            }
        }

        h2 {
            margin-bottom: .25rem;
            text-align: center;
            @media screen and (min-width: $tablet) {
                text-align: left;
            }
        }

        .is-flex {
            flex-wrap: wrap;
        }

        .button {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .help-desc {
            font-style: italic;
            color: #8B97A9;
            margin-left: 0;
            margin-top: 0.5rem;
            display: flex;
            align-items: center;
            text-align: center;
            @media screen and (min-width: $tablet) {
                margin-left: 1rem;
                margin-top: 0;
                text-align: left;
            }
        }

        .file {
            justify-content: center;
            width: 100%;
            @media screen and (min-width: $tablet) {
                justify-content: flex-start;
                width: initial;
            }
        }

    }
}

.card-flight {
    &__title {
        color: $very-dark-blue-2;
    }

    &__short-data {
        &__content {
            color: $very-dark-blue-2;
            font-size: 1.125rem;
            line-height: 1rem;
        }

        &__title {

        }
    }

    &__icon-from-to {
        margin: 0 1.5rem;

        svg {
            path {
                fill: #8B97A9;
            }
        }
    }

    &__contact {
        figure {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: rgba($button-border-color, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0.75rem 0 0;

            svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    &__hotel {
        &-wrap {
            .card-flight__title {
                margin-bottom: .5rem;
            }
        }

        &__thumb {
            width: 100%;
            max-width: 10.5rem;
            height: 4.25rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: $radius;
            }
        }

        &__stars {
            @media screen and (min-width: $tablet) {
                padding-left: .75rem;
            }
            .icon {
                width: 1rem;
            }
        }
    }
}

.trips-list-required-documents {
    line-height: 1.75rem;

    .has-text-success {
        font-size: .625rem;
        text-transform: uppercase;
        margin-left: .25rem;
        top: -.25rem;
        position: relative;
    }
}

.small-card-offer {
    position: relative;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(-1rem);
        box-shadow: $box-shadow !important;
    }

    .tag {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        opacity: 0.8;
        height: 2.25rem;
        min-width: 2.25rem;
        border-radius: 1.125rem;
        padding: 0.25rem;
    }
}

.swiper-sentence-cards {
    //max-width: 100%;

    .swiper {
        &-wrapper {
            //box-shadow: $box-shadow;
        }

        &-slide {
            //max-width: 100%;
        }

        &-sentence-cards-nav {
            position: relative;
            margin-top: 0.5rem;
        }

        &-pagination {
            margin: 1rem auto 0 auto;
            position: relative;
            display: block;

            &-bullet {
                margin: 0 .125rem;
                background: rgba($navbar-dropdown-arrow, 0.5);

                &-active {
                    background: $navbar-dropdown-arrow;
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev,
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        width: .625rem;
        height: .625rem;
        border: 0.125rem solid $mostly-dark-blue-2;
        background: none;
        border-left: 0;
        border-top: 0;
        margin-top: -.25rem;
        z-index: 20;

        &:focus {
            outline: none;
        }

        display: none;
        @media screen and (min-width: $tablet) {
            display: block;
        }
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        transform: rotate(-45deg);
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        transform: rotate(135deg);
    }
}

.sentence-card {
    box-sizing: border-box;
    box-shadow: none !important;

    &__thumb {
        margin: 0 0 1rem 0 !important;
        width: 100%;
        max-width: 16rem;
        height: 14.375rem;
    }
}
