@import '../variables';

.section-swiper-home-info {
    padding-top: 1rem;
    @media screen and (min-width: $desktop) {
        padding-top: 2rem;
    }
}

.swiper-home-info {
    min-height: 10.25rem;

    .swiper-pagination {
        &-fraction {
            text-align: right;
            padding-right: 1rem;
            color: rgba($white, 0.8);
            font-size: .875rem;
            letter-spacing: -.1em;
            font-weight: 100;
            bottom: 2.5rem;
        }
    }

    .swiper-slide {
        opacity: 0 !important;

        &-active {
            opacity: 1 !important;
        }
    }

    .slide {
        position: relative;
        display: block;

        figure {
            position: absolute;
            left: 1rem;
            bottom: 0;
            display: flex;
            z-index: 2;
        }

        &-wrap {
            margin-top: 1rem;
            margin-bottom: 2rem;
            border-radius: 0.1875rem;
            margin-right: .375rem;
        }

        &-content {
            padding: 1.625rem 1rem 1.625rem 9.125rem;
            min-height: 10.25rem;
            box-sizing: border-box;
            background-image: url(../../img/slider-rectangle.png);
            background-repeat: no-repeat;
            background-position: center left;
            position: relative;

            &:before {
                position: absolute;
                content: "";
                width: 90%;
                height: 3rem;
                mix-blend-mode: normal;
                opacity: 0.5;
                filter: blur(1rem);
                border-radius: 0.1875rem;
                left: 5%;
                bottom: 0;
                z-index: -1;
            }
        }

        &__tag {
            position: absolute;
            right: -.375rem;
            top: .5rem;
            color: $white;
            text-transform: uppercase;
            font-weight: 700;
            font-size: .625rem;
            background: linear-gradient(166.13deg, #F09819 0%, #FF5858 100%);
            border-radius: .125rem 0 0 .125rem;
            padding: .125rem .375rem;

            &:before {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border-top: .375rem solid #AD3330;
                border-right: .375rem solid transparent;
                bottom: -.375rem;
                right: 0;
            }
        }

        &__cat {
            color: rgba($white, 0.8);
            text-transform: uppercase;
            font-weight: 500;
            font-size: .625rem;
        }

        &__title {
            font-weight: bold;
            font-size: 1.125rem;
            color: $white;
            margin-top: .625rem;
        }

        &__content {
            font-size: .875rem;
            color: $white;
            margin-top: .625rem;
        }
    }

    &-left {
        .slide {

            &-wrap {
                background-color: #4857CE;

            }

            &-content {
                &:before {
                    background: #4857CE;
                }
            }


        }
    }

    &-right {
        right: -0.375rem;
        .slide {

            &-wrap {
                background-color: #D96309;
            }

            &-content {
                &:before {
                    background: #D96309;
                }
            }


        }
    }

    &-mobile {
        .slide-content {
            padding: 1.625rem 1rem 1.625rem 1rem;
        }
    }
}
