<template>
    <div class="w-full max-w-lg py-1 px-1">
        <h2>{{name}}</h2>
        <div class="flex items-center">
            <g-g-date-input
                :class="'appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none'"
                :config="config" :placeholder="'Выбрите время завершения'"
                v-model="date"></g-g-date-input>
            <g-g-select-input
                :size="'is-6'"
                :class="'appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none'"
                :options="techs"
                v-model="tech_id" :label="''"
                :placeholder="'Выберите Т.З.'"></g-g-select-input>
            <button
                class="flex-no-shrink bg-primary hover:bg-primary-dark border-primary hover:border-primary-dark text-sm border-4 text-white py-1 px-2 rounded"
                type="button"
                @click="assign"
            >
                Отправить
            </button>
        </div>
    </div>
</template>

<script>
    import GGDateInput from "./GGDateInput";
    import GGSelectInput from "./GGSelectInput";

    export default {
        name: "GGAssignInput",
        components: {GGSelectInput, GGDateInput},
        props: {
            id: Number,
            techs: {
                default() {
                    return [];
                }
            },
            name: String,
            val: Number,
            target_id: Number,
            target_type: Number
        },
        methods: {
            assign() {
                axios.post('/marketplace/tasks/assign/' + this.id, {
                    task_type: this.val,
                    target_type: this.target_type,
                    target_id: this.target_id
                }).then(res => {
                    if (res.data.status == 'ok') {
                        this.$toasted.show('Задача успешно назначена.', {type: 'success'})
                    }
                });
            }
        },
        data() {
            return {
                date: null,
                tech_id: null,
                config: {
                    altFormat: 'd.m.Y H:i',
                    altInput: true,
                    enableTime: true,
                    time_24hr: true,
                    dateFormat: 'Y-m-d H:i',
                },
            }
        },
    }
</script>

<style scoped>

</style>
