<template>
    <div>
        <div class="add-business__objects-list">
            <div class="add-business__objects-item px-1-5 mb-2 list-wrap"
                 v-for="(object, index) in businessObjects">
                <h3 class="mb-1">Объект №{{index + 1}}</h3>
                <div class="columns is-multiline ">
                    <g-g-select-input v-model="object.propertyCategories" :size="'is-6'"
                                      :placeholder="trans('business.create.propertyCategories.placeholder')"
                                      :label="trans('business.create.propertyCategories.title')"
                                      :options="trans('business.create.propertyCategories.options')">
                    </g-g-select-input>
                    <g-g-select-input v-model="object.type_property" :size="'is-6'"
                                      :placeholder="trans('business.create.type_property.placeholder')"
                                      :label="trans('business.create.type_property.title')" :searchable="true"
                                      :options="trans('business.create.type_property.options')"></g-g-select-input>

                    <g-g-input :type="'number'"
                               :prevText="trans('business.create.number_square_meters.prevText')"
                               :size="'is-6'"
                               v-model="object.number_square_meters"
                               :label="trans('business.create.number_square_meters.title')"
                               :placeholder="trans('business.create.number_square_meters.placeholder')">
                    </g-g-input>
                    <g-g-input :type="'number'" :prevText="'zt'"
                               :size="'is-6-tablet is-3-desktop'"
                               v-model="object.price_square_meters"
                               :label="trans('business.create.price_square_meters.title')"
                               :placeholder="trans('business.create.price_square_meters.placeholder')">
                    </g-g-input>

                    <g-g-check-box-input :size="'is-6-tablet is-3-desktop'" v-model="object.price_including_vat_bool"
                                         :label="trans('business.create.price_including_vat_bool.title')">
                    </g-g-check-box-input>
                    <template v-if="object.propertyCategories == 1">
                        <g-g-select-input v-model="object.title_documents"
                                          :size="'is-6-tablet is-3-desktop'"
                                          :label="trans('business.create.title_documents.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"></g-g-select-input>
                        <g-g-select-input v-model="object.restrictions_operation"
                                          :size="'is-6-tablet is-3-desktop'"
                                          :label="trans('business.create.restrictions_operation.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"></g-g-select-input>

                        <g-g-select-input v-if="object.restrictions_operation == 1" :size="'is-6'"
                                          v-model="object.list_restrictions_operation"
                                          :multiple="true"
                                          :placeholder="trans('business.create.list_restrictions_operation.placeholder')"
                                          :label="trans('business.create.list_restrictions_operation.title')"
                                          :options="trans('business.create.list_restrictions_operation.options')"></g-g-select-input>

                        <g-g-select-input v-model="object.ref_register_estate"
                                          :size="'is-6-tablet is-3-desktop'"
                                          :label="trans('business.create.ref_register_estate.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"></g-g-select-input>
                        <g-g-select-input v-model="object.technical_property_plan"
                                          :size="'is-6-tablet is-3-desktop'"
                                          :label="trans('business.create.technical_property_plan.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"></g-g-select-input>
                        <g-g-select-input :size="'is-6'" v-model="object.coordination_redevelopment"
                                          :label="trans('business.create.coordination_redevelopment.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"></g-g-select-input>

                        <g-g-select-input :size="'is-6'" v-model="object.availabilityMortgage"
                                          :label="trans('business.create.availabilityMortgage.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"></g-g-select-input>
                        <template v-if="object.availabilityMortgage == 1">
                            <g-g-input :type="'number'" :prevText="'zt'"
                                       v-model="object.totalAmountMortgage"
                                       :label="trans('business.create.totalAmountMortgage.title')"
                                       :placeholder="trans('business.create.totalAmountMortgage.placeholder')">
                            </g-g-input>
                            <g-g-input :type="'number'" :prevText="'zt'"
                                       v-model="object.repaidAmountMortgage"
                                       :label="trans('business.create.repaidAmountMortgage.title')"
                                       :placeholder="trans('business.create.repaidAmountMortgage.placeholder')">
                            </g-g-input>


                            <g-g-input :type="'number'" :prevText="'zt'"
                                       v-model="object.balanceMortgage"
                                       :label="trans('business.create.balanceMortgage.title')"
                                       :placeholder="trans('business.create.balanceMortgage.placeholder')">
                            </g-g-input>
                            <g-g-input :type="'number'" :prevText="'zt'"
                                       v-model="object.monthlyPaymentMortgage"
                                       :label="trans('business.create.monthlyPaymentMortgage.title')"
                                       :placeholder="trans('business.create.monthlyPaymentMortgage.placeholder')">
                            </g-g-input>
                            <g-g-date-input v-model="object.finalPaymentMortgageDate"
                                            :label="trans('business.create.finalPaymentMortgageDate.title')"
                                            :placeholder="trans('business.create.finalPaymentMortgageDate.placeholder')">
                            </g-g-date-input>
                        </template>
                        <g-g-select-input :size="'is-6'" v-model="object.availabilityLoanSecuredObject"
                                          :label="trans('business.create.availabilityLoanSecuredObject.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"></g-g-select-input>
                        <template v-if="object.availabilityLoanSecuredObject == 1">
                            <g-g-input :type="'number'" :prevText="'zt'"
                                       v-model="object.totalAmountCredit"
                                       :label="trans('business.create.totalAmountCredit.title')"
                                       :placeholder="trans('business.create.totalAmountCredit.placeholder')">
                            </g-g-input>
                            <g-g-input :type="'number'" :prevText="'zt'"
                                       v-model="object.repaidAmountCredit"
                                       :label="trans('business.create.repaidAmountCredit.title')"
                                       :placeholder="trans('business.create.repaidAmountCredit.placeholder')">
                            </g-g-input>

                            <g-g-input :type="'number'" :prevText="'zt'"
                                       v-model="object.balanceCredit"
                                       :label="trans('business.create.balanceCredit.title')"
                                       :placeholder="trans('business.create.balanceCredit.placeholder')">
                            </g-g-input>
                            <g-g-input :type="'number'" :prevText="'zt'"
                                       v-model="object.monthlyPaymentCredit"
                                       :label="trans('business.create.monthlyPaymentCredit.title')"
                                       :placeholder="trans('business.create.monthlyPaymentCredit.placeholder')">
                            </g-g-input>

                            <g-g-date-input :size="'is-3'" v-model="object.finalPaymentCreditDate"
                                            :label="trans('business.create.finalPaymentCreditDate.title')"
                                            :placeholder="trans('business.create.finalPaymentCreditDate.placeholder')">
                            </g-g-date-input>
                            <g-g-select-input :size="'is-3'" v-model="object.purposeCredit"
                                              :placeholder="trans('business.create.purposeCredit.placeholder')"
                                              :label="trans('business.create.purposeCredit.title')"
                                              :options="trans('business.create.purposeCredit.options')"></g-g-select-input>

                        </template>
                        <g-g-select-input :size="'is-6'" v-model="object.jointPropertyEstate"
                                          :label="trans('business.create.jointPropertyEstate.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"></g-g-select-input>
                        <g-g-select-input v-if="object.jointPropertyEstate == 1" :size="'is-6'"
                                          v-model="object.typeRelationshipCoowners"
                                          :label="trans('business.create.typeRelationshipCoowners.title')"
                                          :placeholder="trans('business.create.typeRelationshipCoowners.placeholder')"
                                          :options="trans('business.create.typeRelationshipCoowners.options')"></g-g-select-input>
                        <g-g-input :size="'is-6'" :type="'number'" :prevText="'zt'"
                                   v-model="object.monthlyUtilityCosts"
                                   :label="trans('business.create.monthlyUtilityCosts.title')"
                                   :placeholder="trans('business.create.monthlyUtilityCosts.placeholder')">
                        </g-g-input>

                    </template>
                    <template v-if="(object.propertyCategories == 2)">
                        <!--Если аренда-->
                        <g-g-select-input :size="'is-6'" v-model="object.presenceChanging"
                                          :label="trans('business.create.presenceChanging.title')"
                                          :placeholder="trans('business.create.yn.placeholder')"
                                          :options="trans('business.create.yn.options')"></g-g-select-input>

                        <g-g-input v-if="object.presenceChanging == 1" :size="'is-6'" :type="'number'" :prevText="'zt'"
                                   v-model="object.costChanging"
                                   :label="trans('business.create.costChanging.title')"
                                   :placeholder="trans('business.create.costChanging.placeholder')">
                        </g-g-input>
                        <g-g-date-input :size="'is-6'" v-model="object.leaseTermTo"
                                        :label="trans('business.create.leaseTermTo.title')"
                                        :placeholder="trans('business.create.leaseTermTo.placeholder')">
                        </g-g-date-input>

                    </template>

                    <g-g-input :size="'is-6'" :type="'number'" :prevText="'zt'"
                               v-model="object.houseBookNumber"
                               :label="trans('business.create.houseBookNumber.title')"
                               :placeholder="trans('business.create.houseBookNumber.placeholder')">
                    </g-g-input>

                    <div class="column is-6">
                        <div class="buttons">
                            <button class="button is-warning is-outlined button-remove"
                                    @click="removeObject">
                                <span class="icon is-marginless">&times;</span>
                                <span class="is-size-875">{{trans('business.create.remove_object')}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-1-5 mb-1">
            <div class="columns is-multiline">
                <div class="column is-6">
                    <div class="buttons">
                        <button class=" button is-info is-outlined button-add h-3"
                                @click="addObject">
                            <span class="icon is-marginless">+</span>
                            <span v-if="value.length > 0"
                                  class="is-size-875">{{trans('business.create.add_object')}}</span>
                            <span v-if="value.length == 0"
                                  class="is-size-875">{{trans('business.create.add_new_object')}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GGSelectInput from './GGSelectInput';
    import GGCheckBoxInput from './GGCheckBoxInput';
    import GGDateInput from './GGDateInput';
    import GGInput from './GGInput';
    import GGTextarea from './GGTextarea';

    export default {
        name: "GGBusinessObject",
        components: {
            GGTextarea,
            GGInput,
            GGDateInput,
            GGCheckBoxInput,
            GGSelectInput
        },
        props: {
            //value: {default:null},
            value: {
                default: []
            },
        },
        data() {
            return {}
        },
        methods: {
            addObject() {
                this.businessObjects.push({
                    propertyCategories: 1,
                    type_property: null,
                    number_square_meters: null,
                    price_square_meters: null,
                    price_including_vat_bool: null,
                    title_documents: null,
                    restrictions_operation: 2,
                    list_restrictions_operation: null,
                    ref_register_estate: null,
                    technical_property_plan: null,
                    coordination_redevelopment: null,
                    availabilityMortgage: 2,
                    totalAmountMortgage: null,
                    repaidAmountMortgage: null,
                    balanceMortgage: null,
                    monthlyPaymentMortgage: null,
                    finalPaymentMortgageDate: null,
                    availabilityLoanSecuredObject: 2,
                    totalAmountCredit: null,
                    repaidAmountCredit: null,
                    balanceCredit: null,
                    monthlyPaymentCredit: null,
                    finalPaymentCreditDate: null,
                    purposeCredit: null,
                    jointPropertyEstate: 2,
                    typeRelationshipCoowners: null,
                    monthlyUtilityCosts: null,
                    houseBookNumber: null,

                    presenceChanging: 2,
                    costChanging: null,
                    leaseTermTo: null,
                });
            },
            removeObject(index) {
                this.businessObjects.splice(index, 1);
            },
        },
        computed: {
            businessObjects: {
                get: function () {
                    return this.value
                },
                set: function (value) {
                    this.$emit('input', value);
                },
            }
        },
    }
</script>

<style scoped>

</style>
