<template>
    <div class="column is-12">
        <div class="columns is-multiline">
            <div class="column is-12 pb-0">
                <h3>{{label}}</h3>
            </div>
            <div class="column is-12">
                <div class="columns is-multiline list-wrap"
                     v-for="(item, index) in list">
                    <g-g-select-input
                        @input="inputChange"
                        :size="'is-6-desktop is-12-tablet'"
                        v-model="item.post_id"
                        :placeholder="trans('business.create.staff.post.placeholder')"
                        :label="trans('business.create.staff.post.title')"
                        :options="trans('business.create.staff.post.options')"/>

                    <div class="column is-6-desktop is-12-tablet">
                        <div class="columns is-multiline">
                            <div class="column">
                                <div class="columns is-multiline">
                                    <g-g-input
                                        @input="inputChange"
                                        :type="'number'"
                                        :prevText="'zt'" :size="'is-6'"
                                        v-model="item.monthly_wages"
                                        :label="trans('business.create.staff.monthly_wages.title')"
                                        :placeholder="trans('business.create.staff.monthly_wages.placeholder')"/>
                                    <g-g-input
                                        @input="inputChange"
                                        :type="'number'"
                                        :prevText="'zt'"
                                        :size="'is-6'"
                                        v-model="item.tax_amount_per_month"
                                        :label="trans('business.create.staff.tax_amount_per_month.title')"
                                        :placeholder="trans('business.create.staff.tax_amount_per_month.placeholder')"/>
                                </div>
                            </div>
                            <div class="column is-narrow">
                                <div class="buttons has-justify-content-center">
                                    <button
                                        class="button is-warning is-outlined button-remove"
                                        v-tooltip="trans('business.create.staff.remove')"
                                        @click="removeStaff(index)">
                                        <span class="icon is-marginless">
                                        &times;
                                        </span>
                                        <span class="is-size-875 is-hidden-tablet">{{trans('business.create.staff.remove')}}</span>
                                    </button>
                                    <button
                                        class="button is-info is-outlined button-add"
                                        v-tooltip="trans('business.create.staff.add')"
                                        @click="addStaff">
                                        <span class="icon is-marginless">
                                        +
                                        </span>
                                        <span class="is-size-875 is-hidden-tablet">{{trans('business.create.staff.add')}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GGInput from './GGInput'
    import GGSelectInput from './GGSelectInput'

    export default {
        name: "GGLeavingWorkersInput",
        components: {GGInput, GGSelectInput},
        props: {
            value: {default: null},
            label: '',
            placeholder: {default: 'Поиск'}
        },
        data() {
            return {
                list: [
                    {
                        post_id: null,
                        monthly_wages: null,
                        tax_amount_per_month: null,
                    },
                ],
                options: trans('business.create.theme.options'),
            }
        },
        methods: {
            inputChange() {
                this.$emit('input', this.list);
            },
            addStaff() {
                this.list.push({
                    post_id: null,
                    // termsContractDismissal: null,
                    monthly_wages: null,
                    tax_amount_per_month: null,
                });
            },
            removeStaff(index) {
                this.list.splice(index, 1);
            },
        },
        watch: {
            value: {
                immediate: true,
                handler(value) {
                    if (value) {
                        this.list = value;
                    } else {
                        this.list = [{
                            post_id: null,
                            // termsContractDismissal: null,
                            monthly_wages: null,
                            tax_amount_per_month: null,
                        }]
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
