<template>
    <div>
        <preloader v-if="isLoading"></preloader>
        <table v-else class="table is-fullwidth is-size-875">
            <thead>
            <tr>
                <th>{{trans('profile.objects.stats_table.head.views')}}</th>
                <th>{{trans('profile.objects.stats_table.head.calls')}}</th>
                <th>{{trans('profile.objects.stats_table.head.requests')}}</th>
                <th>{{trans('profile.objects.stats_table.head.messages')}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="box is-paddingless">
            <tr>
                <td class="has-text-basic has-text-weight-bold no-wrap has-vertical-align-middle">
                    <div class="text-with-icon">
                        <svg-icon :icon="'ic_eye.svg'"></svg-icon>
                        <span>{{stats.showCount}}</span>
                    </div>
                </td>
                <td class="has-text-basic has-text-weight-bold no-wrap has-vertical-align-middle">
                    <div class="text-with-icon">
                        <svg-icon :icon="'ic_phone.svg'"></svg-icon>
                        <span>{{stats.callsCount}}</span>
                    </div>
                </td>
                <td class="has-text-basic has-text-weight-bold no-wrap has-vertical-align-middle">
                    <div class="text-with-icon">
                        <svg-icon :icon="'ic_document.svg'"></svg-icon>
                        <span>{{stats.requests}}</span>
                    </div>
                </td>
                <td class="has-text-basic has-text-weight-bold no-wrap has-vertical-align-middle">
                    <div class="text-with-icon">
                        <svg-icon :icon="'ic_messages.svg'"></svg-icon>
                        <span>{{stats.messages}}</span>
                    </div>
                </td>
                <td class="has-text-basic no-wrap has-vertical-align-middle">
                    <a class="link-with-icon">
                        <svg-icon :icon="'ic_details.svg'"></svg-icon>
                        <span class="has-text-decoration-underline">{{trans('profile.objects.stats_table.actions.link_view')}}</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import Preloader from '../../preloader'

export default {
    name: 'object-stats',
    components: { Preloader },
    props: ['objectId', 'type'],
    data: () => ({
        isLoading: true,
        stats: []
    }),
    mounted(){
        this.getData()
    },
    methods:{
        getData(){
            axios.get('/profile/api/object/' + this.type + '/' + this.objectId)
            .then(res => {
                this.stats = res.data;
                this.isLoading = false;
            })
        }
    }
}
</script>

<style>

</style>
