<template>
    <div>
         <table v-if="requests.length > 0" class="table is-fullwidth is-size-875">
            <thead>
            <tr>
                <th>{{trans('profile.objects.requests_table.head.date')}}</th>
                <th>{{trans('profile.objects.requests_table.head.name')}}</th>
                <th>{{trans('profile.objects.requests_table.head.country')}}</th>
                <th>{{trans('profile.objects.requests_table.head.budget')}}</th>
                <th>{{trans('profile.objects.requests_table.head.object')}}</th>
                <th>{{trans('profile.objects.requests_table.head.actions')}}</th>
            </tr>
            </thead>
            <tbody class="box">
            <tr v-for="request in requests" :key="request.id">
                <td class="has-text-basic has-vertical-align-middle">12.03.2019 в 12:00</td>
                <td class="has-text-weight-bold has-vertical-align-middle">{{request.user.full_name}}</td>
                <td class="has-text-basic has-vertical-align-middle">{{request.user.city.name}}</td> 
                <td class="has-text-weight-bold has-vertical-align-middle">€{{request.user.sum_to}}</td>
                <td style="white-space: nowrap"><a :href="'/business/'+ $t(request.object.url)">{{$t(request.object.name)}}</a></td>
                <td class="has-text-warning has-vertical-align-middle">
                    <div class="buttons">
                        <template v-if="request.status === $store.state.status.franchise.AWAIT">
                            <button
                                class="button is-outlined is-success is-size-875 has-text-weight-bold"
                                @click="setStatus(request.id, 'accepted')">
                                {{trans('profile.objects.requests_table.action.approve')}}
                            </button>
                            <button class="button is-clear is-clear_close is-size-875">
                                <span class="icon-close">×</span>
                                <span
                                    class="has-text-decoration-underline"
                                    @click="setStatus(request.id, 'rejected')"
                                >
                                    {{trans('profile.objects.requests_table.action.reject')}}
                                </span>
                            </button>
                        </template>
                        <button
                            v-if="request.status === $store.state.status.franchise.MODERATED"
                            class="button is-outlined is-success is-size-875 has-text-weight-bold"
                        >
                            {{trans('profile.objects.requests_table.statuses.approved')}}
                        </button>
                        <button
                            v-if="request.status === $store.state.status.franchise.DECLINED"
                            class="button is-outlined is-danger is-size-875 has-text-weight-bold"
                        >
                            {{trans('profile.objects.requests_table.statuses.rejected')}}
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div v-if="!firstLoad && requests.length === 0">{{trans('profile.objects.requests_table.no_result')}}</div>
    </div>
</template>

<script>
export default {
    name: 'object-requests-table',
    props: {
        type:{default:null},
        request_list: {
            default: function(){
                return [];
            }
        },
    },
    data: () =>({
        requests: [],
        firstLoad: true
    }),
    mounted(){
        if(this.request_list.length > 0)
            this.requests = this.request_list;
        else
            this.getData()
    },
    methods:{
        getData(){
            let type = this.$route.params.type;
            if(this.type){
                type = this.type;
            }
            axios.get('/profile/requests/' + type).then( res => {
                this.firstLoad = false;
                this.requests = res.data
            }).catch(e => {
                alert(e.response.data.message)
            })
        },
        setStatus(id, status){
            axios.patch(`/profile/request/${id}/${status}`)
                .then(res => {
                    this.$swal({ type: 'success', text: res.data.message });
                    if (this.request_list.length > 0)
                        this.$emit('');
                    else
                        this.getData();
                }).catch(e => {
                    this.$swal({ type: 'error', title: e.response.status, text: e.response.data.message });
                })
        }
    }
}
</script>
