<template>
    <table class="table w-full dataTable no-footer">
        <tr v-for="target in targets">
            <td>
                <label><b>Страны:</b> </label>
            </td>
            <td>
                <span>Польша, Россия, Франция</span>
            </td>
        </tr>
    </table>
</template>

<script>
    export default {
        props: {
            id: {
                default: null
            }
        },
        data() {
            return {
                targets: []
            }
        },
        created() {
            let vm = this;
            axios.get('/nova-vendor/referrals/partner-data/' + vm.id).then(responce => {
                vm.targets = responce.data
            });
        },
        mounted() {

        }
    }
</script>
<style>
    .inline {
        display: block;
        clear: both;
        margin-bottom: 5px;
    }
</style>

