<template>
    <div class="px-view py-view mx-auto">
        <h1 class="mb-3 text-90 font-normal text-2xl">Статистика</h1>
        <div class="card relative">
            <div class="max-w-xls flex rounded overflow-hidden">
                <datatable :columns="columns" :partnerId="id" class="table"></datatable>
            </div>
        </div>
<!--        <portal-target name="targets-modals"></portal-target>-->
    </div>
</template>

<script>
    import datatable from './TargetsTable.vue';

    export default {
        props: {
            id: {
                default: null
            }
        },
        components: {
            datatable
        },
        data() {
            return {

                statuses: [],
                columns: [
                    {data: 'id', name: 'counter_target.id', title: '#', className: 'text-left'},
                    {data: 'name', name: 'campaign_targets.name', title: 'Наименовани', className: 'text-left'},
                    {data: 'country', name: 'countries.translation', title: 'Страна', className: 'text-left'},
                    {data: 'ip', name: 'invitation_counter.ip', title: 'Ip', className: 'text-left'},
                    {
                        data: 'http_referrer',
                        name: 'invitation_counter.http_referrer',
                        title: 'Реф.',
                        className: 'text-left'
                    },
                    {data: 'created_at', name: 'counter_target.created_at', title: 'Дата', className: 'text-left'},
                    {data: 'sum', name: 'counter_target.sum', title: 'Сумма', className: 'text-left'},
                    {data: 'status', name: 'counter_target.status', title: 'status', className: 'text-left'},
                    {data: 'type', name: 'counter_target.type', title: 'Тип', className: 'text-left'},
                    // {
                    //     data: null,
                    //     orderable: false,
                    //     searchable: false,
                    //     title: 'Изменить',
                    //     className: 'text-left',
                    //     createdCell(cell, cellData, rowData) {
                    //         let StatusButton = Nova.Vue.extend(require('./Buttons/StatusButton'));
                    //         let instance = new StatusButton({
                    //             propsData: {
                    //                 id: rowData.id,
                    //                 status: rowData.status,
                    //             }
                    //         });
                    //         instance.$mount();
                    //         $(cell).empty().append(instance.$el);
                    //     }
                    // },
                ]
            }
        },
        created() {
        },
        methods: {
        }
    }
</script>

<style>
    /* Scoped Styles */
</style>
