<template>
    <div class="w-full">
        <form method="POST" id="search-form" class="w-full max-w-md" role="form">
            <div class="flex border-b border-40">
                <div class="w-1/7 py-1 px-1"><label for="status" class="inline-block text-80 pt-2 leading-tight">
                    Статус
                </label>
                </div>
                <div class="py-1 px-1 w-1/2">
                    <select v-model="statusSelected" name="status" id="status"
                            class="form-control form-select mb-3 w-full">
                        <option selected="selected" value="all">Все</option>
                        <option v-for="status in statuses" :value="status.value">{{status.label}}</option>
                    </select>
                    <div class="help-text help-text mt-2"></div>
                </div>

                <div class="w-1/7 py-1 px-1"><label for="type" class="inline-block text-80 pt-2 leading-tight">
                    Тип
                </label>
                </div>
                <div class="py-1 px-1 w-1/2"><!---->
                    <select v-model="typeSelected" name="type" id="type"
                            class="form-control form-select mb-3 w-full">
                        <option selected="selected" value="all">Все</option>
                        <option v-for="type in types" :value="type.value">{{type.label}}</option>
                    </select>
                    <div class="help-text help-text mt-2"></div>
                </div>
                <div class="py-1 px-1 w-1/2">
                    <button @click.prevent="submitFilters"
                            class=" btn btn-default btn-primary inline-flex items-center relative">Поиск
                    </button>
                </div>
                <div class="py-1 px-1 w-1/2">
                    <status-button @statusChanged="submitFilters" :selections="selections"></status-button>
                </div>
            </div>
        </form>
        <table id="targets-table" ref="targets-table" class="table w-full">
            <thead>
            <tr>
                <th v-for="column in parameters.columns" v-html="title(column)"></th>
            </tr>
            </thead>
            <tfoot v-if="footer">
            <tr>
                <th v-for="column in parameters.columns" v-html="column.footer"></th>
            </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    import StatusButton from "./Buttons/StatusButton";

    window.$ = window.jQuery = require('jquery');
    require('datatables.net');
    require('datatables.net-bs');
    require('datatables.net-buttons');
    require('datatables.net-buttons-bs');
    export default {
        components: {StatusButton},
        data() {
            return {
                dataTable: {},
                statuses: [],
                selections: [],
                statusSelected: null,
                types: [],
                typeSelected: null,
            }
        },
        methods: {
            title(column) {
                return column.title || this.titleCase(column.title);
            },
            titleCase(str) {
                return str.replace(/\w\S*/g, function (txt) {
                    return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
                });
            },
            getFilters() {
                let vm = this;
                axios.get('/nova-vendor/referrals/get-filters/').then(resp => {
                    vm.statuses = resp.data.statuses;
                    vm.types = resp.data.types;
                });
            },
            submitFilters() {
                this.dataTable.ajax.reload(null, false);
            },
        },
        created() {
            this.getFilters();
        },
        computed: {
            parameters() {
                const vm = this;

                return window.$.extend({
                    serverSide: true,
                    processing: true
                }, {
                    ajax: {
                        url: '/nova-vendor/referrals/partner-data/' + vm.partnerId,
                        data: function (d) {
                            return $.extend({}, d, {
                                "status": vm.statusSelected,
                                "type": vm.typeSelected,
                            });
                        }
                    },

                    searching: true,
                    columns: this.columns,
                    aLengthMenu: [[10, 25, 50, -1], ["10", "25", "50", "All"]],
                    language: {
                        "processing": "Подождите...",
                        "search": "Поиск:",
                        "lengthMenu": "Показать _MENU_ записей",
                        "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                        "infoEmpty": "Записи с 0 до 0 из 0 записей",
                        "infoFiltered": "(отфильтровано из _MAX_ записей)",
                        "infoPostFix": "",
                        "loadingRecords": "Загрузка записей...",
                        "zeroRecords": "Записи отсутствуют.",
                        "emptyTable": "В таблице отсутствуют данные",
                        "paginate": {
                            "first": "Первая",
                            "previous": "Предыдущая",
                            "next": "Следующая",
                            "last": "Последняя"
                        },
                        "aria": {
                            "sortAscending": ": активировать для сортировки столбца по возрастанию",
                            "sortDescending": ": активировать для сортировки столбца по убыванию"
                        }
                    },
                    createdRow(...args) {
                        vm.$emit('created-row', ...args);
                    },
                    drawCallback(...args) {
                        vm.$emit('draw', ...args);
                    },
                    footerCallback(...args) {
                        vm.$emit('footer', ...args);
                    },
                    formatNumber(...args) {
                        vm.$emit('format', ...args);
                    },
                    headerCallback(...args) {
                        vm.$emit('header', ...args);
                    },
                    infoCallback(...args) {
                        vm.$emit('info', ...args);
                    },
                    initComplete(...args) {
                        vm.$emit('init', ...args);
                    },
                    preDrawCallback(...args) {
                        vm.$emit('pre-draw', ...args);
                    },
                    rowCallback(...args) {
                        vm.$emit('draw-row', ...args);
                    },
                    stateLoadCallback(...args) {
                        vm.$emit('state-load', ...args);
                    },
                    stateLoaded(...args) {
                        vm.$emit('state-loaded', ...args);
                    },
                    stateLoadParams(...args) {
                        vm.$emit('state-load-params', ...args);
                    },
                    stateSaveCallback(...args) {
                        vm.$emit('state-save', ...args);
                    },
                    stateSaveParams(...args) {
                        vm.$emit('state-save-params', ...args);
                    },
                }, this.options);
            }
        },
        props: {
            footer: {default: false},
            columns: {type: Array},
            options: {},
            type: {default: null},
            status: {default: null},
            partnerId: {default: null}
        },
        mounted() {
            let vm = this;
            vm.dataTable = window.$(this.$refs['targets-table']).DataTable(this.parameters);
            $('#targets-table tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });

            $('#targets-table').click(function () {

                vm.selections = vm.dataTable.rows('.selected').data();
                console.log(vm.selections);
            });
        },
        destroyed() {
            this.dataTable.destroy();
        }
    }
</script>
<style >
    #targets-table tr.selected {
        background: #d3d3d3;
    }
</style>
