@import '../variables';

.about {
    &__phrase {
        background-image: url(../../img/about-man.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 11.125rem;
        span {
            color: $white;
            position: relative;
            padding: 2.625rem 1.5rem 1.5rem 1.5rem;
            display: block;
            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 1.5rem;
                background-image: url(../../img/quotes_white.svg);
                width: 1.25rem;
                height: 1rem;
            }
        }
    }
    &__count-clients {
        color: $light-grayish-blue;
        font-weight: 900;
        font-size: 5rem;
        line-height: 1em;
        display: flex;
        justify-content: center;
        @media screen and (min-width: $desktop) {
            font-size: 12.5rem;
            justify-content: flex-start;
        }
        &-desc {
            font-size: 1.5rem;
            line-height: normal;
            color: $very-dark-blue-2;
            font-weight: 200;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            @media screen and (min-width: $desktop) {
                font-size: 2rem;
                line-height: 3rem;
                justify-content: flex-start;
                text-align: left;
            }
        }
    }

    .our-team {
        background-color: $white;
        border-top: 1px solid rgba(207, 218, 230, 0.50);
        border-bottom: 1px solid rgba(207, 218, 230, 0.50);
    }
}

.our-team {
    &__item {
        figure {
            height: 16.375rem;
            //max-width: 16.375rem;
            width: 100%;
            img {
                border-radius: $radius;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
        &__position {

        }
    }
}
