<template>
    <a
       :href="`/franchise/${franchise.id}`"
       :class="size"
       class="column"
    >
        <div
            :class="[franchise.weight > 0 && franchise.status === store.state.status.franchise.AWAIT ? 'card-object_promo' : '']"
            class="card card-object">
            <div class="card-image">
                <figure class="image is-16by9">
                    <img :src="franchise.card" alt="Placeholder image">
                </figure>
                <span class="tag tag-payback"><span class="name">прибыль в месяц</span> <span class="term">{{$formatPrice(franchise.profit)}}</span></span>
                <div class="info-icons-wrap info-icons-wrap_left">
                    <span v-if="franchise.weight > 0" class="info-icon object-promo">
                        <img src="/svg/icons/ic_recommended.svg" alt="Recommended" />
                    </span>
                </div>
                <div class="info-icons-wrap info-icons-wrap_right">
                    <a
                        v-if="franchise.status === store.state.status.franchise.AWAIT && favoriteShow && userLogin"
                        href="#"
                        class="info-icon object-favorite"
                        @click.prevent="toggleFavorite(franchise.id, 'franchise')"
                        v-tooltip="isFavorite ? 'Удалить из избранного' : 'Добавить в избранное'"
                        :class="{'active': isFavorite}">
                        <img src="/svg/icons/ic_favorites_white.svg" alt="Fav" />
                    </a>
                </div>
            </div>
            <div class="card-content">
                <div class="card-object__header">
                    <h3 class="title">{{$t(franchise.name)}}</h3>
                    <p class="location" v-if="franchise.country">
                        <img :src="getIconCountry" alt="Fav" />
                        <span>{{ $t(franchise.country.translation) }}, г. {{ $t(franchise.city.translation) }}</span>
                    </p>
                </div>
                <div class="content card-object__content">
                    <div class="card-content__category">
                        <img :src='`/svg/icons/category/${franchise.category.icon}`' alt="">
                        {{$t(franchise.category.translation)}}
                    </div>
                </div>
                <div class="card-object__footer">
                    <div class="price-info">
                        <div
                            v-if="franchise.discount > 0"
                            class="tag is-danger price-sale"
                        >
                            -{{franchise.discount}}%
                        </div>

                        <div class="price mb-0">{{ $formatPrice(getDiscountPrice) }}</div>

                        <div
                            v-if="franchise.discount > 0"
                            class="price-old"
                        >
                            {{ $formatPrice(franchise.price) }}
                        </div>
                    </div>

                    <a
                        :href="`/franchise/${franchise.id}`"
                        class="button is-link is-outlined is-fullwidth has-text-weight-bold"
                        v-bind:class="[franchise.weight > 0 ? 'is-success': 'is-link']"
                        v-if="franchise.status === store.state.status.franchise.MODERATED"
                    >Подробнее о франшизе</a>
                </div>
            </div>
        </div>
    </a>
</template>

<script>
    export default {
        props: {
            franchise: {default: null},
            size: {default: 'is-4'}
        },
        components: {},
        data() {
            return {
                favoriteShow: true,
            }
        },
        methods: {
            /**
             * @param {integer} id
             * @param {string} type - business или franchise
             */
            toggleFavorite(id, type) {
                axios.post('/profile/favorites/' + type + '/' + id)
                    .then(res => {
                        this.$swal({type: 'success', text: res.data.message});
                        if (this.franchise.favorites.length == 0) {
                            this.franchise.favorites = ['favorite'];
                        } else {
                            this.franchise.favorites = [];
                        }
                        this.$emit('fetch-data');
                    }).catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })
            }
        },
        computed: {
            isFavorite() {
                if (this.franchise.favorites) {
                    return this.franchise.favorites.length > 0;
                } else {
                    this.favoriteShow = false
                    return false;
                }
            },
            userLogin() {
                if (this.$store.state.user) {
                    return true;
                }
                return false;
            },

            getIconCountry() {
                switch (this.franchise.country.id) {
                    case 1 :
                        return '/svg/icons/ic_flag_russian.svg'
                    case 146 :
                        return '/svg/icons/ic_flag_poland.svg'
                    case 3 :
                        return '/svg/icons/ic_flag_uk.svg'
                    default:
                        return '/svg/icons/ic_location.svg'
                }
            },

            getDiscountPrice() {
                if (this.franchise.discount > 0) {
                    return this.franchise.price * (100 - this.franchise.discount) / 100;
                }

                return this.franchise.price
            }
        }
    }
</script>

<style lang="scss" scoped>
    .card-object  {
        &:hover {
            .button {
                background-color: #36A236;
                border-color: #36A236;
                color: #fff;
            }
        }

        .image.is-16by9 {
            padding-top: 54%;
        }

        .tag-payback {
            border-radius: 0;
            border-top-left-radius: 0.375rem;
        }

        .title {
            font-size: 1rem;
            height: 48px;
        }

        &__content {
            line-height: normal;
            margin-bottom: 0.7rem;
            margin-top: 0.6rem;
        }

        .location {
            display: flex;
            align-items: center;
            margin-bottom: 0;

            img {
                margin-top: 0;
                width: 16px;
                height: 12px;
            }
        }

        .price-info {
            .price-sale {
                align-self: center;
            }
        }

        .card-content__category {
            background-color: rgba(0, 112, 217, 0.1);
            border-radius: 0.375rem;
            font-size: .875rem;
            line-height: 2;
            padding: 0 12px;
            display: inline-flex;
            align-content: center;

            img {
                margin-right: 6px;
            }
        }
    }
</style>
