<template>
    <div>
        <form @submit.prevent="submit" class="form form-filter-objects">
            <div class="columns is-multiline">
                <g-g-location-select-input
                    v-model="form.country"
                    :type="'country'"
                    :size="'is-3-desktop is-6-tablet'"
                />

                <g-g-location-select-input
                    :disabled="regionDisabled"
                    :country="form.country"
                    v-model="form.region"
                    :type="'region'"
                    :size="'is-3-desktop is-6-tablet'"/>

                <g-g-location-select-input
                    :disabled="cityDisabled"
                    :region="form.region"
                    v-model="form.city" :type="'city'"
                    :size="'is-3-desktop is-6-tablet'"/>

                <g-g-category-button
                        :size="'is-3-desktop is-6-tablet'"
                        v-model="form.category_id"
                        :defaultTitle="trans('object.create.category.title')"
                        :categories="categories"
                        :isSubCat="false"
                        :target="'modals1'"
                        :errors="errors.category_id"
                />

                <g-g-range-slider
                    v-model="form.profit"
                    :adds="priceRanges"
                    :placeholder="translations.desired_profit"
                    :label="translations.net_profit_per_month"
                    :size="'column is-3-desktop is-6-tablet'"
                />

                <g-g-range-slider
                    v-model="form.payback"
                    :adds="paybackAdds"
                    :placeholder="translations.number_of_months"
                    :label="translations.payback_in_months"
                    :max="36"
                />

                <g-g-range-slider
                    v-model="form.price"
                    :adds="priceRanges"
                    :placeholder="translations.enter_amount"
                    :label="translations.investment"
                />

                <g-g-input
                    :size="'is-3-desktop is-6-tablet'"
                    :label="translations.name_or_id"
                    v-model="form.query"
                />

                <g-g-check-box-input
                    :size="'is-2-desktop is-6-tablet'"
                    v-model="form.freeRoyalty"
                    :label="translations.free_royalty"
                />

                <g-g-check-box-input
                    :size="'is-3-desktop is-6-tablet'"
                    v-model="form.freeContribution"
                    :label="translations.free_contribution"
                />

                <div class="column is-7-desktop is-12-tablet">
                    <div class="columns has-justify-content-end form-controls">
                        <div class="column is-4">
                            <button @click="clearFilter" class="button is-fullwidth is-size-875" type="reset">
                                <span>&times;</span>
                                {{ translations.btn_search_reset }}
                            </button>
                        </div>
                        <div class="column is-4">
                            <button class="button is-info has-text-weight-bold is-fullwidth" type="submit">
                                {{ translations.btn_find }}
                            </button>
                        </div>
                        <div class="column is-4">
                            <a href="/franchise/create" class="button is-warning has-text-weight-bold is-fullwidth">
                                <span class="icon">+</span>
                                <span>{{ translations.btn_add }}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <portal-target name="modals" />

                <portal-target name="modals1" />
            </div>
        </form>

    </div>
</template>

<script>
    import GGLocationSelectInput from '../form/GGLocationSelectInput'
    import GGSelectInput from '../form/GGSelectInput'
    import GGCheckBoxInput from '../form/GGCheckBoxInput'
    import GGInput from '../form/GGInput'
    import GGRangeSlider from '../form/GGRangeSlider'
    import CategoryButton from '../form/CategoryButton'
    import GGCategoryButton from '../form/GGCategoryButton';

    export default {
        props: ['priceRanges'],
        name: "FormFilterFranchise",
        components: {
            GGRangeSlider,
            GGInput,
            GGSelectInput,
            GGLocationSelectInput,
            GGCheckBoxInput,
            CategoryButton,
            GGCategoryButton
        },
        data() {
            let trans_prefix = 'franchises.v_filter.';
            return {
                entityName: 'franchise',
                regionDisabled: true,
                categories: null,
                cityDisabled: true,
                translations: {
                    package_composition: trans(trans_prefix + 'package_composition'),
                    select: trans(trans_prefix + 'select'),
                    category: trans(trans_prefix + 'category'),
                    direction: trans(trans_prefix + 'direction'),
                    desired_profit: trans(trans_prefix + 'desired_profit'),
                    net_profit_per_month: trans(trans_prefix + 'net_profit_per_month'),
                    number_of_months: trans(trans_prefix + 'number_of_months'),
                    payback_in_months: trans(trans_prefix + 'payback_in_months'),
                    enter_amount: trans(trans_prefix + 'enter_amount'),
                    investment: trans(trans_prefix + 'investment'),
                    free_royalty: trans(trans_prefix + 'free_royalty'),
                    free_contribution: trans(trans_prefix + 'free_contribution'),
                    btn_search_reset: trans(trans_prefix + 'btn_search_reset'),
                    btn_find: trans(trans_prefix + 'btn_find'),
                    btn_add: trans(trans_prefix + 'btn_add'),
                },
                compositionPackOptions: [
                    {id: 1, name: 'Item 1'},
                    {id: 2, name: 'Item 2'},
                ],
                directionOptions: [
                    {id: 1, name: 'Item 1'},
                    {id: 2, name: 'Item 2'},
                ],
                profitAdds2: {
                    add1: {
                        value: [
                            0,
                            20000
                        ],
                        text: 'до ₽500 тыс',
                    },
                },
                paybackAdds: {
                    add1: {
                        text: 'до 12',
                        value: [
                            0,
                            12
                        ]
                    },
                    add2: {
                        text: 'до 24',
                        value: [
                            0,
                            24
                        ]
                    },
                    add3: {
                        text: 'до 36',
                        value: [
                            0,
                            36
                        ]
                    }
                },
                form: {
                    country: null,
                    city: null,
                    region: null,
                    category_id: null,
                    direction: null,
                    freeRoyalty: null,
                    freeContribution: null,
                    price: null,
                    profit: null,
                    payback: null,
                    query: null,
                },
                errors: {},
            }
        },
        methods: {
            submit() {
                this.$emit('change-filter', this.form);
            },
            clearFilter() {
                this.form.country = null;
                this.form.city = null;
                this.form.region = null;
                this.form.category_id = null;
                this.form.direction = null;
                this.form.price = null;
                this.form.profit = null;
                this.form.payback = null;
                this.freeRoyalty = null;
                this.freeContribution = null;
                this.form.query = null;
            },

            toggleModalCategory() {
                this.showModalCategory = true;
                return true;
            },

            location(search) {
                if (Object.keys(search.query).length === 0)
                    search.query.country !== undefined ? this.form.country = parseInt(search.query.country) : null
                    search.query.category_id !== undefined ? this.form.category_id = parseInt(search.query.category_id) : null
                    search.query.payback !== undefined ? this.form.payback = search.query.payback.split(',').map((item) => (parseInt(item))) : null
                    search.query.region !== undefined ? this.form.region = parseInt(search.query.region) : null
                    this.submit()
            }
        },
        computed: {
            country(){
                return this.form.country;
            },
            region(){
                return this.form.region;
            }
        },
        watch: {
            country(val) {
                if (val){
                    this.regionDisabled = false;
                }else{
                    this.regionDisabled = true;
                }
            },
            region(val){
                if(val){
                    this.cityDisabled = false;
                }else{
                    this.cityDisabled = true;
                }
            }
        },

        created() {
            this.location(this.$route);

            axios.get('/franchise/get-categories').then(response => {
                this.categories = response.data;
            });
        }
    }
</script>

<style scoped>

</style>
