<template>
    <section class="section section-list-objects pt-1">
        <div class="container">
            <h1 class="section-title">{{data_trans.title}}</h1>
        </div>
        <div class="container">
            <form-filter-franchise v-on:change-filter="changeFilter" :price-ranges="getPriceRanges" />
        </div>
        <template v-if="loaderFranchises">
            <div class="loader"></div>
        </template>
        <div class="container">
            <!-- Cards objects -->
            <div class="columns is-multiline">
                <franchise-card
                        v-for="franchise in franchises.data"
                        :franchise="franchise"
                        v-bind:key="franchise.id"
                />
            </div>
            <!-- Pagination -->
            <pagination
                    :data="franchises"
                    :show-disabled="true"
                    @pagination-change-page="fetchFranchises">
                <a
                        :disabled="prevDisabled"
                        slot="prev-nav"
                        class="pagination-previous  pagination-nav button is-link">
                         <span class="pagination-nav__icon">
                              <svg-icon :icon="'ic_arrow_right.svg'" />
                         </span>
                    <span class="pagination-nav__title">{{data_trans.btn_prev_page}}</span>
                </a>
                <a :disabled="nextDisabled" slot="next-nav" class="pagination-next pagination-nav button is-link">
                    <span class="pagination-nav__title">{{data_trans.btn_next_page}}</span>
                    <span class="pagination-nav__icon">
                         <svg-icon :icon="'ic_arrow_right.svg'" />
                    </span>
                </a>
            </pagination>
        </div>
    </section>
</template>

<script>
    import Pagination from 'laravel-vue-pagination';
    import FormFilterFranchise from './FormFilter';
    import FranchiseCard from "./Card";

    export default {
        name: "FranchisesList",
        props: ['priceRanges'],
        components: {
            FranchiseCard,
            'franchise-card': FranchiseCard,
            'form-filter-franchise': FormFilterFranchise,
            'pagination': Pagination
        },
        computed: {
            getPriceRanges() {
                return JSON.parse(this.priceRanges);
            }
        },
        data() {

            let trans_prefix = 'franchises.v_list.';
            return {
                franchises: {},
                data_trans: {
                    title: trans(trans_prefix + 'title'),
                    category: trans(trans_prefix + 'category'),
                    investment_size: trans(trans_prefix + 'investment_size'),
                    payback: trans(trans_prefix + 'payback'),
                    free_royalty: trans(trans_prefix + 'free_royalty'),
                    link_more_franchise: trans(trans_prefix + 'link_more_franchise'),
                    btn_prev_page: trans(trans_prefix + 'btn_prev_page'),
                    btn_next_page: trans(trans_prefix + 'btn_next_page'),
                    profit_per_month: trans(trans_prefix + 'profit_per_month'),
                },
                businesses: {},
                form: {
                    saled: true,
                    type: null,
                    country: null,
                    category: null,
                    region: null,
                    city: null,
                    price: null,
                    profit: null,
                    payback: null,
                    query: null
                },
                loaderFranchises: false,
                prevDisabled: false,
                nextDisabled: false
            }
        },
        methods: {
            changeFilter(data) {
                this.form = data;
                this.fetchFranchises();
            },
            fetchFranchises(page = 1) {
                let vm = this;
                vm.loaderFranchises = true;
                axios.get(`/franchise/get-list?page=${page}`, {params: vm.form}).then(responce => {
                    if (page == 1) {
                        vm.prevDisabled = true;
                    } else {
                        vm.prevDisabled = false;
                    }
                    if (page == responce.data.last_page) {
                        vm.nextDisabled = true;
                    } else {
                        vm.nextDisabled = false;
                    }
                    vm.loaderFranchises = false;
                    vm.franchises = responce.data
                    vm.changeHisory(page);
                })
            },
            changeHisory(page) {
                /*const params = new URLSearchParams(location.search);
                if (page > 1) {
                    params.set('page', page);
                } else {
                    params.delete('page');
                }

                for (const [key, value] of Object.entries(this.form)) {
                    if (value !== null) {
                        params.set(key, value);
                    }
                }

                let url = '';
                if ([...params.entries()].length > 0) {
                    url += '?' + params.toString();
                }
                history.pushState(null, null, '/business' + url);*/
            }
        },
        created() {
            const params = new URLSearchParams(location.search);
            let page = 1;
            if (params.has('page')) {
                page = params.get('page');
            }
            for (const [key, value] of Object.entries(this.form)) {
                if (params.has(key)) {
                    this.form[key] = value;
                }
            }
            this.fetchFranchises(page);
        }
    }
</script>

<style scoped>

</style>
