<template>
    <div>
        <template v-if="loaderFranchises">
            <div class="loader"></div>
        </template>
        <div class="container">
            <div class="columns is-multiline">
                <card
                    v-for="franchise in franchises.data"
                    :franchise="franchise"
                    v-bind:key="franchise.id"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import Card from "./Card";

    export default {
        components: {
            Card,
        },
        props: {
            limit: null,
        },
        data() {

            return {
                franchises: {},
                loaderFranchises: false,
            }
        },
        name: "MainFranchisesList",
        mounted() {
            this.fetchFranchises();
        },
        methods: {
            fetchFranchises() {
                let vm = this;
                vm.loaderBusinesses = true;
                let url = '/franchise/get-list';
                if(this.limit){
                    url += '?limit='+ this.limit;
                }
                axios.get(url).then(responce => {
                    vm.loaderFranchises = false;
                    vm.franchises = responce.data
                })
            },
        },
    }
</script>

<style scoped>

</style>
