<template>
    <modal v-if="show" @close="$emit('close')">
        <div slot="header">
            <p class="modal-card-title mb-0">{{trans('franchises.modal_buy.title')}}</p>
        </div>

        <div slot="body">
            <div class="content">
                <div class="columns is-multiline">
                    <g-g-input :size="'is-6'" v-model="form.name"
                               :label="trans('franchises.modal_buy.name.label')"
                               :placeholder="trans('franchises.modal_buy.name.placeholder')"></g-g-input>
                    <g-g-input :size="'is-6'" v-model="form.phone"
                               :label="trans('franchises.modal_buy.phone.label')"
                               :placeholder="trans('franchises.modal_buy.phone.placeholder')"></g-g-input>
                    <g-g-input :size="'is-12'" v-model="form.email"
                               :label="trans('franchises.modal_buy.email.label')"
                               :placeholder="trans('franchises.modal_buy.email.placeholder')"></g-g-input>
                    <g-g-textarea :size="'is-12'" v-model="form.comment"
                                  :label="trans('franchises.modal_buy.comment.label')"
                                  :placeholder="trans('franchises.modal_buy.comment.placeholder')"></g-g-textarea>
                </div>
            </div>
        </div>
        <div class="content w-full" slot="footer">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <button
                        class="button is-link is-fullwidth has-text-weight-bold h-3 is-size-875">
                        {{trans('franchises.modal_buy.btn_respond')}}
                    </button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import Modal from '../modals/Modal';
    import GGInput from '../form/GGInput';
    import GGTextarea from '../form/GGTextarea';

    export default {
        name: "ModalBuyFranchise",
        components: {
            Modal, GGInput, GGTextarea
        },
        props: {
            show: {default: false}
        },
        data: () => ({
            form: {
                name: null,
                phone: null,
                email: null,
                comment: null,
            },
        })
    }
</script>

<style scoped>

</style>
