<template>
    <modal @close="$emit('close')" v-if="show"
    >
        <div id="z59z59" slot="header">
            <p class="modal-card-title mb-0">{{trans('profile.object_requests.btn_send_req_to_doc')}}</p>
        </div>
        <div slot="body">
            <div class="content">
                <form-errors :errors="errors"></form-errors>
                <div class="columns is-multiline">
                    <g-g-textarea :label="trans('profile.object_requests.comment_for_seller')"
                                  :required="true"
                                  :size="'is-12'"
                                  v-model="comment_for_seller"
                                  placeholder=""></g-g-textarea>
                </div>
            </div>
        </div>

        <div class="content w-full" slot="footer">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <button @click="submit"
                            class="button is-info is-fullwidth has-text-weight-bold h-3 is-size-875">
                        {{trans('profile.object_requests.btn_send_req_to_doc')}}
                    </button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>

    import Modal from '../modals/Modal';
    import GGTextarea from '../form/GGTextarea';
    import GGTranslatableInput from "../form/GGTranslatableInput";
    import FormErrors from './../form-errors'

    export default {
        name: "ModalAddRequestDoc",
        components: {
            Modal,
            GGTextarea,
            GGTranslatableInput,
            FormErrors,
        },
        props: {
            show: {default: false},
            id: {default: null},

        },
        data: () => ({
            errors: {default: {}},
            comment_for_seller: null,
        }),
        methods: {
            submit() {
                let vm = this;
                if (vm.id) {
                    let form = {
                        'object_id': vm.id,
                        'buyer_comment': vm.comment_for_seller,
                        'object_type': 'franchise',
                    };

                    axios.post('/profile/create-request-doc', form).then(res => {
                        window.location.href = '/profile/object-requests/doc'; // TODO remove
                    }).catch(e => {

                        if (e.response.status == 422) {
                            this.errors = e.response.data.errors
                        } else {
                            this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                        }

                    })
                }
            },
        }
    }
</script>

<style scoped>

</style>
