<template>
    <div class="column is-8">
        <div class="columns is-multiline">
            <div class="column is-12">
                <div class="columns is-multiline">
                    <div class="column">
                        <h3 class="is-marginless">Новые офферы и акции</h3>
                    </div>
                    <div class="column is-narrow">
                        <a href="/broker/web-offers" class="is-size-875 has-text-info has-text-decoration-underline">Все
                            офферы</a>
                    </div>
                </div>
            </div>
            <div class="column is-4" v-for="offer in newOffers">
                <a href="#" class="small-card-offer box is-paddingless">
                    <figure class="image is-16by9 is-marginless">
                        <img class="img-full-cover has-border-radius_top"
                             src="https://trinixy.ru/pics3/20080124/podb/6/krasota_01.jpg" alt="">
                    </figure>
                    <span class="tag is-success has-text-weight-bold">
                                  NEW
                                </span>
                    <h3 class="px-1 py-1 is-marginless">{{$t(offer.name)}}</h3>
                    <hr class="is-marginless">
                    <div class="is-flex has-align-items-center px-1 py-1">
                                    <span class="icon mr-0-5">
                                        <img src="/svg/icons/ic_cpa.svg" alt="">
                                    </span>
                        <span class="has-text-dark-blue is-size-875">CPA {{$formatPrice(offer.targets[0].cpa)}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NewOffers",
        props: {},
        data() {
            return {
                newOffers: [],
            }
        },
        created() {
            this.fetchNewOffers();
        },
        methods: {
            async fetchNewOffers() {
                let vm = this;
                await axios.get('/broker-get-new-offers').then((response) => {
                    vm.newOffers = response.data;
                });
            }
        }
    }
</script>

<style scoped>

</style>
