<template>
    <section class="section is-paddingless content">
        <h3>Топовые предложения</h3>

        <!-- Swiper -->
        <div class="swiper-container swiper-sentence-cards">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="offer in recommendedOffers">
                    <div class="sentence-card box">
                        <div class="columns is-multiline">
                            <div class="column is-3">
                                <figure class="sentence-card__thumb">
                                    <img src="https://trinixy.ru/pics3/20080124/podb/6/krasota_01.jpg"
                                         class="img-full-cover has-border-radius" alt="">
                                </figure>
                                <button class="button is-info h-3 is-size-875 is-fullwidth has-text-weight-bold mb-1"
                                        @click="showModal(offer.resources[0].id)">
                            <span class="icon">
                                <svg-icon :icon="'ic_connect_offer.svg'"></svg-icon>
                            </span>
                                    <span>Подключить оффер</span>
                                </button>
                                <div class="is-size-875 has-text-basic"><i>Кликните, что бы получить доступ к
                                    инструментам</i>
                                </div>
                            </div>
                            <div class="column is-9">
                                <h3>{{$t(offer.name)}}</h3>
                                <div class="broker-data-indicator-wrap_inline">
                                    <div class="broker-data-indicator">
                                        <div class="broker-data-indicator__title"><span
                                            class="is-size-875 has-text-basic">CPA</span>
                                            <span class="icon icon-1 has-tooltip">
                                        <img src="/svg/icons/ic_help.svg" alt=""
                                             class="svg"></span></div>
                                        <div class="broker-data-indicator__value has-text-weight-bold">
                                            {{$formatPrice(offer.targets[0].cpa)}}
                                        </div>
                                    </div>
                                    <div class="broker-data-indicator">
                                        <div class="broker-data-indicator__title"><span
                                            class="is-size-875 has-text-basic">CPL</span>
                                            <span class="icon icon-1 has-tooltip">
                                        <img src="/svg/icons/ic_help.svg" alt=""
                                             class="svg"></span></div>
                                        <div class="broker-data-indicator__value has-text-weight-bold">
                                            {{$formatPrice(offer.targets[0].cpl)}}
                                        </div>
                                    </div>
                                    <div class="broker-data-indicator">
                                        <div class="broker-data-indicator__title"><span
                                            class="is-size-875 has-text-basic">CPS</span>
                                            <span class="icon icon-1 has-tooltip">
                                        <img src="/svg/icons/ic_help.svg" alt=""
                                             class="svg"></span></div>
                                        <div class="broker-data-indicator__value has-text-weight-bold">
                                            {{$formatPrice(offer.targets[0].cps)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="columns is-multiline is-size-875 mt-1">
                                    <div class="column is-7-desktop is-12-tablet">
                                        <div class="columns is-multiline is-marginless is-gapless">
                                            <div class="column is-6">Статус</div>
                                            <div class="column is-6">Базовый</div>
                                        </div>
                                        <div class="columns is-multiline is-marginless is-gapless">
                                            <div class="column is-6">Сайт</div>
                                            <div class="column is-6">
                                                <a href="#" class="is-flex has-align-items-center">
                                            <span class="icon">
                                                <img src="/svg/icons/ic_details.svg" alt="">
                                            </span>
                                                    <span class="has-text-decoration-underline">{{offer.site}}</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="columns is-multiline is-marginless is-gapless">
                                            <div class="column is-6">Время одобрения (в днях):</div>
                                            <div class="column is-6">{{offer.approve_days}}</div>
                                        </div>
                                    </div>
                                    <div class="column is-5-desktop is-12-tablet">
                                        <div class="columns is-multiline is-marginless is-gapless">
                                            <div class="column is-6">Время оплаты (в днях):</div>
                                            <div class="column is-6">{{offer.pay_days}}</div>
                                        </div>
                                        <div class="columns is-multiline is-marginless is-gapless">
                                            <div class="column is-6">Cookie LTV (дней):</div>
                                            <div class="column is-6">{{offer.clt_days}}</div>
                                        </div>
                                        <div class="columns is-multiline is-marginless is-gapless">
                                            <div class="column is-6">Страна офиса:</div>
                                            <div class="column is-6">Россия</div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="is-marginless">
                                <div class="content mt-1">
                                    {{$t(offer.description)}}
                                    <a :href="'/broker/web-offer/'+offer.id" class="is-size-875">
                                                <span
                                                    class="has-text-decoration-underline">Полные условия программы</span>
                                        <span class="icon rotate-270">
                                    <img src="/svg/icons/ic_arrow.svg" alt="">
                                </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <portal to="modals">
                        <modal-create-link v-if="show" :nameId="nameId" v-model="modal"
                                           :offer="offer"/>
                    </portal>
                </div>
            </div>
            <div class="swiper-sentence-cards-nav">
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-sentence-cards-next"></div>
                <div class="swiper-button-prev swiper-sentence-cards-prev"></div>
                <!-- If we need pagination -->
                <div class="swiper-pagination swiper-sentence-cards-pagination"></div>
            </div>
        </div>
    </section>
</template>

<script>
    import ModalCreateLink from "./ModalCreateLink";

    export default {
        name: "RecommendedOffers",
        components: { ModalCreateLink},
        props: {},
        data() {
            return {
                recommendedOffers: [],
                modal: false,
                show: false,
                nameId: null,
            }
        },
        created() {
            this.fetchNewOffers();
        },
        methods: {
            showModal(id) {
                this.nameId = id;
                this.modal = true;
                this.show = true;
            },
            async fetchNewOffers() {
                let vm = this;
                await axios.get('/broker-get-recommended-offers').then((response) => {
                    vm.recommendedOffers = response.data;
                });
            }
        }
    }
</script>

<style scoped>

</style>
