@import '../variables';

.register {
    &-container {
        border: 1px solid rgba(207,218,230,.5);
        border-radius: $radius;
        border-top-left-radius: 0;
        background-color: $white;
        @media screen and (min-width: $tablet) {
            margin-bottom: 6rem;
        }
    }

    &-column-info {
        position: relative;
        height: 100%;
        padding: 3rem 1.75rem 0;
        display: flex;
        flex-direction: column;
        border-radius: 0 3px 3px 0;

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 60%;
            background-image: url(../../img/register_waves.svg);
            left: 0;
            bottom: 0;
            background-size: cover;
            background-position: bottom left;
        }

        &-wrap {
            height: 100%;
        }

        &_seller {
            background: linear-gradient(308.86deg, rgba(0, 0, 0, 0.0001) 1.49%, rgba(0, 0, 0, 0.3) 100%), #992400;
        }

        &_buyer {
            background: linear-gradient(307.59deg, rgba(0, 0, 0, 0.0001) 1.49%, rgba(0, 0, 0, 0.3) 100%), #3E4CB3;
        }

        &_executor {
            background: linear-gradient(307.59deg, rgba(0, 0, 0, 0.0001) 1.49%, rgba(0, 0, 0, 0.3) 100%), #36a236;
        }

        &__title {
            color: $white;
            font-size: 1.125rem;
            margin-bottom: 1.5rem;
            z-index: 2;
        }

        &__desc {
            color: $white;
            font-size: 1rem;
            line-height: 1.75rem;
            flex: 1;
            z-index: 2;
        }

        &__img {
            display: flex;
            justify-content: center;
            z-index: 2;
            img {
                object-position: bottom;
                object-fit: contain;
            }
        }
    }
}

.card {
    &-register {
        padding: 2rem;
    }
}
