<template>
    <button @click.prevent="goTargets" class=" btn btn-default btn-primary inline-flex items-center relative">
        <fa icon="list-ul"></fa>
    </button>
</template>

<script>

    export default {
        props: {
            id: {
                default: null
            },
            $router: null
        },
        methods: {
            goTargets() {
                this.$router.push({name: 'partner-targets', params: {id: this.id}})
            },
        },
    }
</script>
