<template>

    <button class="btn btn-default btn-primary inline-flex items-center relative"
            @click.prevent="toggleModal">
        <fa icon="edit"></fa>
        <portal to="modals" v-if="modal">
            <div v-if="modal" @click.self="toggleModal"
                 class="animated fadeIn fixed z-50 pin overflow-auto bg-smoke-dark flex">
                <div
                    class="animated fadeInUp fixed shadow-inner max-w-md md:relative pin-b pin-x align-top m-auto justify-end md:justify-center p-8 bg-white md:rounded w-full md:h-auto md:shadow flex flex-col">
                    <h2 class="text-4xl text-center font-hairline md:leading-loose text-grey md:mt-8 mb-4">
                        Изменить статус</h2>

                    <div class="w-1/7 py-1 px-1">
                        <label for="status" class="inline-block text-80 pt-2 leading-tight">
                            Статус
                        </label>
                    </div>
                    <div class="py-1 px-1 w-1/2">
                        <select v-model="statusSelected" name="status" id="status"
                                class="form-control form-select mb-3 w-full">
                            <option v-for="status in statuses" :value="status.value">{{status.label}}</option>
                        </select>
                        <div class="help-text help-text mt-2"></div>
                    </div>
                    <div class="inline-flex justify-center">
                        <button @click="submit"
                                class="bg-grey-lighter flex-1 border-b-2 md:flex-none border-green ml-2 hover:bg-green-lightest text-grey-darkest font-bold py-4 px-6 rounded">
                            Подтвердить
                        </button>
                        <button @click="toggleModal"
                                class="bg-grey-lighter flex-1 md:flex-none border-b-2 border-red ml-2 hover:bg-red-lightest text-grey-darkest font-bold py-4 px-6 rounded">
                            Закрыть
                        </button>
                    </div>
                    <span @click="toggleModal" class="absolute pin-t pin-r pt-4 px-4">
                        <svg class="h-12 w-12 text-grey hover:text-grey-darkest" role="button"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path
                            d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                    </span>
                </div>
            </div>

        </portal>
    </button>
</template>

<script>

    export default {
        props: {
            selections: {
                default: () => {
                    return []
                }
            }
        },
        data() {
            return {
                modal: false,
                modalCategoryShow: false,
                statuses: [],
                statusSelected: null,
                types: [],
                typeSelected: null,
            }
        },
        methods: {
            toggleModal() {
                this.modal = !this.modal
            },
            submit() {
                let vm = this;
                let ids = [];
                for (let i = 0; i < vm.selections.length; i++) {
                    ids.push(vm.selections[i]['id']);
                }
                axios.post('/nova-vendor/referrals/set-targets-status', {
                    ids: ids,
                    status: vm.statusSelected
                }).then(resp => {
                    if (resp.data.status == 'ok') {
                        this.toggleModal();
                        this.$emit('statusChanged');
                    }
                });
            },
            getFilters() {
                let vm = this;
                axios.get('/nova-vendor/referrals/get-filters/').then(resp => {
                    vm.statuses = resp.data.statuses;
                    vm.types = resp.data.types;
                });
            },
        },
        created() {
            this.getFilters();
        },
    }
</script>
