<template>
    <div>
        <section class="section pt-1 pb-0 px-0">
            <h1 class="section-title mb-1-75">{{data_trans.title}}</h1>
            <div class="card-your-balance is-flex">
                <figure>
                    <svg-icon :icon="'ic_balance.svg'"></svg-icon>
                </figure>
                <span class="has-text-weight-bold">{{trans('profile.balance.current')}} — {{$formatPrice(user.balance)}}</span>
            </div>
        </section>
        <section class="section pt-0 pb-0 px-0">
            <h3 class="mb-1">{{data_trans.replenishment}}</h3>
            <div class="columns is-multiline">
                <div class="column is-6">
                    <a href="#" class="card-balance-replenishment is-size-875">
                        <div class="card-balance-replenishment__title">
                            <svg-icon :icon="'ic_credit_card.svg'"></svg-icon>
                            <span class="has-text-weight-bold">{{data_trans.r_via_cc}}</span>
                        </div>
                        <div class="card-balance-replenishment__desc">
                            {{data_trans.r_via_cc_desc}}
                        </div>
                    </a>
                </div>
                <div class="column is-6">
                    <a href="#" class="card-balance-replenishment is-size-875">
                        <div class="card-balance-replenishment__title">
                            <svg-icon :icon="'ic_paypal.svg'"></svg-icon>
                            <span class="has-text-weight-bold">{{data_trans.r_via_pp}}</span>
                        </div>
                        <div class="card-balance-replenishment__desc">
                            {{data_trans.r_via_pp_desc}}
                        </div>
                    </a>
                </div>
                <div class="column is-6">
                    <a href="#" class="card-balance-replenishment is-size-875">
                        <div class="card-balance-replenishment__title">
                            <svg-icon :icon="'ic_payment_system.svg'"></svg-icon>
                            <span class="has-text-weight-bold">{{data_trans.r_via_ps}}</span>
                        </div>
                        <div class="card-balance-replenishment__desc">
                            {{data_trans.r_via_ps_desc}}
                        </div>
                    </a>
                </div>
                <div class="column is-6">
                    <a href="#" class="card-balance-replenishment is-size-875">
                        <div class="card-balance-replenishment__title">
                            <svg-icon :icon="'ic_cash.svg'"></svg-icon>
                            <span class="has-text-weight-bold">{{data_trans.r_via_cash}}</span>
                        </div>
                        <div class="card-balance-replenishment__desc">
                            {{data_trans.r_via_cash_desc}}
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="section pt-1 mt-1 px-0">
            <h3 class="mb-1">{{data_trans.history}}</h3>
            <table class="table is-fullwidth is-size-875">
                <thead class="is-hidden-mobile">
                <tr>
                    <th>№</th>
                    <th>{{data_trans.table_head_method}}</th>
                    <th>{{data_trans.table_head_data}}</th>
                    <th>{{data_trans.table_head_amount}}</th>
                    <th>{{data_trans.table_head_result}}</th>
                </tr>
                </thead>
                <tbody class="box is-paddingless is-block-mobile">
                <tr v-for="(transaction, i) in transactions" class="is-block-mobile is-size-0">
                    <td class="has-text-basic is-hidden-mobile is-size-875">{{i+1}}</td>
                    <td class="has-text-weight-bold is-block-mobile is-size-875">{{ transaction.description }}</td>
                    <td class="has-text-basic is-block-mobile py-0-mobile is-size-875">{{ transaction.human_date }}</td>
                    <td class="is-inline-block-mobile is-size-875 is-half-width-mobile">
                        <div class="has-text-basic is-hidden-tablet">
                            {{data_trans.table_head_amount}}
                        </div>
                        <div class="has-text-weight-bold">
                            €{{ transaction.sum }}
                        </div>
                    </td>
                    <td class="is-inline-block-mobile is-size-875 is-half-width-mobile">
                        <div class="has-text-basic is-hidden-tablet">
                            {{data_trans.table_head_result}}
                        </div>
                        <div :class="transaction.status == 0 ? 'has-text-warning' : 'has-text-success' ">{{
                            transaction.status == 1 ? data_trans.status_credited : data_trans.status_process }}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</template>

<script>
    export default {
        props: ['user'],
        data: () => ({
            data_trans: {
                title: trans('profile.balance.title'),
                replenishment: trans('profile.balance.replenishment'),
                r_via_cc: trans('profile.balance.r_via_cc'),
                r_via_cc_desc: trans('profile.balance.r_via_cc_desc'),
                r_via_pp: trans('profile.balance.r_via_pp'),
                r_via_pp_desc: trans('profile.balance.r_via_pp_desc'),
                r_via_ps: trans('profile.balance.r_via_ps'),
                r_via_ps_desc: trans('profile.balance.r_via_ps_desc'),
                r_via_cash: trans('profile.balance.r_via_cash'),
                r_via_cash_desc: trans('profile.balance.r_via_cash_desc'),
                history: trans('profile.balance.history'),
                table_head_method: trans('profile.balance.table_head.method'),
                table_head_data: trans('profile.balance.table_head.data'),
                table_head_amount: trans('profile.balance.table_head.amount'),
                table_head_result: trans('profile.balance.table_head.result'),
                status_credited: trans('profile.balance.statuses.credited'),
                status_process: trans('profile.balance.statuses.process'),
            },
            transactions: []
        }),
        mounted() {
            this.getTransactions()
        },
        methods: {
            getTransactions() {
                axios.get('/profile/balance/transactions')
                    .then(res => {
                        this.transactions = res.data
                    })
                    .catch(e => {
                        alert(e.response.res.message);
                    })
            }
        }
    }
</script>

<style>

</style>
