<template>
<div>
     <h3>{{trans('profile.trips_detail.planned_consultations')}}</h3>

            <table class="table is-fullwidth is-size-875 is-block-mobile" v-if="consultations">
                <thead class="is-hidden-mobile">
                <tr>
                    <th>{{trans('profile.trips_detail.table_head.object_name')}}</th>
                    <th>{{trans('profile.trips_detail.table_head.theme')}}</th>
                    <th>{{trans('profile.trips_detail.table_head.datetime')}}</th>

                </tr>
                </thead>
                <tbody class="box is-paddingless is-block-mobile">
                <tr class="is-block-mobile" v-for="consultation in consultations">
                    <td class="has-text-basic is-block-mobile">
                        <a href="#" class="link-with-icon has-text-decoration-underline">
                            {{$t(consultation.object.name)}}
                        </a>
                    </td>
                    <td class="has-text-basic has-vertical-align-middle is-block-mobile">
                        {{consultation.theme}}
                    </td>
                    <td class="has-text-basic has-vertical-align-middle is-block-mobile">
                        {{$getDateTime(consultation.date)}} в {{consultation.date.slice(11, 16)}}
                    </td>
                </tr>
                </tbody>
            </table>
            <div v-else>Консультаций не найдено</div>
    </div>
</template>

<script>
export default {
    name: 'consultation-list',
    props: ['consultations']

}
</script>

<style>

</style>
