<template>
    <section class="section pt-1 px-0">
        <h1 class="section-title mb-1-75">{{trans('profile.object_requests.reqs_doc')}}</h1>
        <table class="table is-fullwidth is-size-875">
            <thead class="is-hidden-mobile">
            <tr>
                <th>{{trans('profile.object_requests.table.date')}}</th>
                <th>{{trans('profile.object_requests.table.name_object')}}</th>
                <th>{{trans('profile.object_requests.table.comments')}}</th>
                <th>{{trans('profile.object_requests.table.status')}}</th>
            </tr>
            </thead>

            <tbody class="box is-paddingless is-block-mobile">
            <tr class="is-block-mobile is-size-0" v-for="request in requests">
                <td class="has-text-basic no-wrap has-vertical-align-middle is-size-875 is-block-mobile">
                    <div>
                        {{$getDateTime(request.created_at)}}
                    </div>
                </td>
                <td class="has-text-basic is-size-875 is-block-mobile">
                    <a :href="'/' + request.object.type + '/' + request.object.id"
                       class="link-with-icon has-text-decoration-underline">
                        {{$t(request.object.name)}}
                    </a>
                </td>
                <td class="has-text-basic has-vertical-align-middle is-size-875 is-block-mobile">
                    <p v-if="request.buyer_comment">{{request.buyer_comment}}</p>
                    <p v-if="request.reject_reason">
                        <b style="color: red">{{trans('profile.object_requests.reason_for_rejection')}}</b>
                    <div>{{request.reject_reason}}</div>
                    </p>

                    <i class="has-text-grey-light no-wrap" v-if="!request.buyer_comment && !request.reject_reason">
                        {{trans('profile.object_requests.no_comments')}}
                    </i>
                </td>
                <td class="has-text-warning has-vertical-align-middle is-size-875 is-block-mobile">
                    <div :class="getStatusСlass(request.status)" class="has-vertical-align-middle"
                    >
                        {{getStatusText(request.status)}}
                    </div>
                    <div v-if="(request.status == 2) && (request.object.accepted_docs.length > 0)">
                        <button
                            @click="showDocs(request.id)"
                            class="button is-outlined is-info h-3 has-text-weight-bold is-size-875"
                        >
                            {{trans('profile.object_requests.download_docs')}}
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <modal :width="'60%'" @close="showDocsModal = false" v-if="showDocsModal">
            <div slot="header">
                <p class="modal-card-title mb-0">{{trans('profile.object_requests.documents')}}</p>
            </div>

            <div slot="body">
                <div class="content">
                    <section class="section pt-1 px-0">
                        <div>
                            <section class="is-paddingless">
                                <div class="px-0 pb-0">
                                    <table class="table is-fullwidth is-size-875" v-if="acceptedDocs.length > 0">
                                        <thead class="is-hidden-mobile">
                                        <tr>
                                            <th>№</th>
                                            <th>{{trans('profile.franchises.documents.document_name')}}</th>
                                        </tr>
                                        </thead>
                                        <tbody class="is-block-mobile">
                                        <tr class="is-block-mobile" v-for="(doc, docIndex) in acceptedDocs">
                                            <td class="has-text-basic is-hidden-mobile">{{docIndex+1}}</td>
                                            <td class="has-text-weight-bold is-block-mobile">
                                                <a :href="doc.path" download>{{ doc.name }}</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
            <div slot="footer">

            </div>
        </modal>

    </section>
</template>


<script>
    import {Form} from './../../../form'
    import Modal from '../../modals/Modal'
    import GGTextarea from '../../form/GGTextarea'
    import FormErrors from './../../form-errors'

    export default {
        components: {
            Modal,
            GGTextarea,
            FormErrors
        },
        data: () => ({
            requests: [],
            acceptedDocs: [],
            form: new Form({
                reject_reason: '',
                id: null
            }),
            ui: {
                rejectReasonModal: false
            },
            firstLoad: true,
            showDocsModal: false,
        }),
        mounted() {
            this.getData()
        },
        methods: {
            showDocs(id) {
                axios.get('/profile/request/requests-show-docs/' + id).then(res => {
                    this.showDocsModal = true;
                    this.acceptedDocs = res.data
                }).catch(e => {
                    alert(e.response.data.message)
                })
            },
            getData() {
                axios.get('/profile/requests-buyer/doc').then(res => {
                    this.firstLoad = false;
                    this.requests = res.data
                }).catch(e => {
                    alert(e.response.data.message)
                })
            },
            getStatusText(status_id) {
                switch (status_id) {
                    case 1:
                        return trans('profile.object_requests.statuses.new')
                        break;
                    case 2:
                        return trans('profile.object_requests.statuses.approve')
                        break;
                    case 3:
                        return trans('profile.object_requests.statuses.reject')
                        break;
                }
            },
            getStatusСlass(status_id) {
                switch (status_id) {
                    case 1:
                        return 'has-text-info'
                        break;
                    case 2:
                        return 'has-text-success'
                        break;
                    case 3:
                        return 'has-text-danger'
                        break;
                }
            }
        }
    }
</script>

<style>

</style>
