<template>
    <section class="section pt-1 px-0">

        <!-- <button @click="addTofavorites(2, 'business')">Добавить бизнес с id=2 в избранное</button> -->
        <!-- <button @click="toggleFavorite(3, 'franchise')">Добавить франшизу с id=3 в избранное</button> -->

        <h1 class="section-title mb-1-75">{{trans('profile.favorites.title')}}</h1>
        <preloader v-if="firstLoad"></preloader>
        <div class="columns is-multiline" v-else-if='favoritesMapped.length > 0'>
            <div class="column is-6" v-for="favorite in favoritesMapped">
                <div class="card card-object">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="https://www.hoteloxford.com/data/jpg/foto-galleria-130.jpg"
                                 alt="Placeholder image">
                        </figure>
                        <span class="tag tag-payback">
                                        <span class="name">{{trans('profile.favorites.payback')}}</span>
                                        <span class="term">{{favorite.profitability}} {{trans('profile.favorites.months')}}</span>
                                    </span>
                        <div class="info-icons-wrap info-icons-wrap_right">
                            <a href="#" @click.prevent="toggleFavorite(favorite.id)"
                               class="info-icon object-favorite active" v-tooltip="data_trans.btn_delete">
                                <img src="/svg/icons/ic_favorites_white.svg" :alt="data_trans.btn_delete">
                            </a>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-object__header">
                            <h3 class="title">{{ $t(favorite.name) }}</h3>
                            <p class="location"><img src="/svg/icons/ic_location.svg" :alt="data_trans.location"><span>Россия, г. Санкт-Петербург</span>
                            </p>
                        </div>

                        <div class="content card-object__content">
                            <div class="list-properties">
                                <div class="list-properties__item">
                                    <span>{{trans('profile.favorites.category')}}</span>
                                    <span>{{ $t(favorite.category.translation) }}</span>
                                </div>
                                <div class="list-properties__item">
                                    <span>{{trans('profile.favorites.profit')}}</span>
                                    <span><b>$48 000</b></span>
                                </div>
                                <div class="list-properties__item">
                                    <span>{{trans('profile.favorites.net_profit')}}</span>
                                    <span><b>$23 000</b></span>
                                </div>
                                <div class="list-properties__item">
                                    <span>{{trans('profile.favorites.perc_profit')}}</span>
                                    <span><b>{{ favorite.percent }}%</b></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-object__footer">
                            <div class="price-info" v-if="$t(favorite.price)">
                                <div class="price">{{ $t(favorite.price) }}</div>
                            </div>
                            <!-- ToDo: Для seller -->
                            <a :href="(favorite.type =='business' ? '/business/' + favorite.id : '/franchise/' + favorite.id)"
                               class="button is-link is-outlined is-fullwidth has-text-weight-bold">
                                <template v-if="favorite.type =='business'">
                                    {{trans('profile.businesses.details')}}
                                </template>
                                <template v-else>
                                    {{trans('profile.franchises.details')}}
                                </template>
                            </a>
                            <!-- ToDo: Для buyer -->
                            <!--<div class="columns is-multiline">-->
                            <!--<div class="column is-6">-->
                            <!--<div class="dropdown is-flex is-full">-->
                            <!--<div class="dropdown-trigger">-->
                            <!--<button class="button is-link is-size-875 h-3 is-fullwidth has-text-weight-bold p-0"-->
                            <!--aria-haspopup="true"-->
                            <!--aria-controls="dropdown-users-services-1">-->
                            <!--<span>Услуги</span>-->
                            <!--<div class="multiselect__select has-text-white"></div>-->
                            <!--</button>-->
                            <!--</div>-->
                            <!--<div class="dropdown-menu" id="dropdown-users-services-1" role="menu">-->
                            <!--<div class="dropdown-content is-paddingless">-->
                            <!--<a class="dropdown-item" href="#">Item</a>-->
                            <!--<hr class="dropdown-divider is-marginless">-->
                            <!--<a class="dropdown-item" href="#">Item</a>-->
                            <!--<hr class="dropdown-divider is-marginless">-->
                            <!--<a class="dropdown-item" href="#">Item</a>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="column is-6"><a class="button is-link is-outlined is-fullwidth has-text-weight-bold">Подробнее</a></div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div v-else>{{trans('profile.favorites.no_result')}}</div>
    </section>
</template>

<script>
    import Preloader from './../../preloader'

    let trans_prefix = 'profile.favorites.';
    export default {
        components: {Preloader},
        data: () => ({
            data_trans: {
                btn_delete: trans(trans_prefix + 'btn_delete'),
                location: trans(trans_prefix + 'location'),
            },
            favorites: [],
            firstLoad: true
        }),
        mounted() {
            this.getData()
        },
        computed: {
            favoritesMapped() {
                return this.favorites.map(item => {
                    return item.favoriteable
                })
            }
        },
        methods: {
            getData() {
                axios.get('/profile/favorite')
                    .then(res => {
                        this.favorites = res.data
                        this.firstLoad = false;
                    })
                    .catch(e => alert(e.response.data.message))
            },
            toggleFavorite(id, type) {
                axios.post('/profile/favorites/' + type + '/' + id).then(res => {
                    this.$swal({type: 'success', text: res.data.message});
                    this.getData()
                }).catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })
            }
        }
    }
</script>
