<template>
    <div>
        <section class="section pt-1 pb-0 px-0">
            <h1 class="section-title mb-1-75">{{ trans('profile.franchises.title') }}</h1>
            <div class="buttons has-addons">
                <label
                    :class="{'is-active': filter === 'active'}"
                    class="button is-outlined is-info is-size-875 has-text-weight-bold h-3"
                >
                    {{trans('profile.franchises.active')}}
                    <input type="radio" v-model="filter" value="active" style="display: none">
                </label>
                <label
                    :class="{'is-active': filter === 'moderate'}"
                    class="button is-outlined is-info is-size-875 has-text-weight-bold h-3">
                    {{trans('profile.franchises.moderate')}}
                    <input type="radio" v-model="filter" value="moderate" style="display: none">
                </label>
                <label
                    :class="{'is-active': filter === 'sold'}"
                    class="button is-outlined is-info is-size-875 has-text-weight-bold h-3">
                    {{trans('profile.franchises.sold')}}
                    <input type="radio" v-model="filter" value="sold" style="display: none">
                </label>
            </div>

            <div class="columns is-multiline mb-2">
                <div class="column is-12">
                    <article
                        class="box card-object-pa is-paddingless"
                        v-for="object in objectsMapped"
                        :key="object.id"
                    >
                        <div
                            v-if="object.docs_count > 0"
                            class="tag is-danger is-rounded card-object-pa__count-notifications"
                        >
                            edit{{object.docs_count}}
                        </div>
                        <div class="card-object-pa__body p-1-5">
                            <div class="columns is-multiline">
                                <div class="column is-4">
                                    <figure class="card-object-pa__thumb">
                                        <img :src="object.card">
                                    </figure>
                                </div>
                                <div class="column is-8">
                                    <div class="card-object-pa__header">
                                        <h3 class="card-object-pa__title">{{ $t(object.name) }}</h3>
                                    </div>
                                    <address class="is-size-875 is-flex">
                                        <svg-icon :icon="'ic_location.svg'"></svg-icon>
                                        <span>{{ object.city.country.translation }}, г. {{ object.city.translation }}</span>
                                    </address>
                                    <div class="card-object-pa__price is-flex">
                                        <div class="price-info">
                                            <span style="margin-top:4px" class="tag is-danger price-sale">-{{ object.discount }}%</span>
                                            <div class="price" :ref="'price' + object.id">
                                                {{ object.price }}
                                            </div>
                                        </div>
                                        <div
                                            v-if="filter==='active'"
                                            class="card-object-pa__price__links is-flex">
                                            <a
                                                @click="showModalChangePrice(object)"
                                                class="has-text-decoration-underline is-size-875"
                                            >{{ trans('profile.objects.manage_price.btn_manage') }}</a>
                                            <span class="px-1-5 has-text-basic">|</span>
                                            <a
                                                @click="setStatusSoldModal('franchise', object.id)"
                                                class="has-text-decoration-underline is-size-875"
                                            >{{ trans('profile.objects.sold') }}</a>
                                        </div>
                                    </div>
                                    <div class="card-object-pa__progress">
                                        <div class="card-object-pa__progress__title is-size-875">Опубликовано
                                            {{ object.published_at }}
                                            дней назад,

                                            <span v-if="object.status===$store.state.STATUS_NEW">{{ trans('profile.franchises.status_new') }}</span>
                                            <span v-if="object.status===$store.state.STATUS_AWAIT">{{ trans('profile.franchises.status_await') }}</span>
                                            <span v-if="object.status===$store.state.STATUS_MODERATED">{{ trans('profile.franchises.status_moderated') }}</span>
                                            <span v-if="object.status===$store.state.STATUS_DECLINED">{{ trans('profile.franchises.status_declined') }}</span>
                                            <span v-if="object.status===$store.state.STATUS_SOLD">{{ trans('profile.franchises.status_sold') }}</span>
                                        </div>
                                        <div v-if="filter === 'active'" class="card-object-pa__progress__bar">
                                            <progress class="progress is-success is-small" value="60" max="100">
                                                60%
                                            </progress>
                                        </div>
                                    </div>
                                    <div class="card-object-pa__statistics is-flex is-size-875">
                                        <div class="card-object-pa__statistics__item is-flex">
                                            <svg-icon :icon="'ic_eye.svg'"></svg-icon>
                                            <span>{{ object.show_count }} {{ trans('profile.objects.views') }}</span>
                                        </div>

                                        <div class="card-object-pa__statistics__item is-flex">
                                            <svg-icon :icon="'ic_favorites-2.svg'"></svg-icon>
                                            <span>{{object.favorites_count}} {{trans('profile.objects.in_favorites')}}</span>
                                        </div>

                                        <div class="card-object-pa__statistics__item is-flex">
                                            <svg-icon :icon="'ic_document.svg'"></svg-icon>
                                            <span>{{object.docs_count}} {{trans('profile.objects.docs')}}</span>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <button
                                            @click="getDocRequest(object.id, object.docs_count)"
                                            class="button is-outlined is-danger h-3 has-text-weight-bold is-size-875"
                                            v-if="object.doc_request_count">
                                            {{object.doc_request_count + ' ' + trans('profile.objects.doc_reqs') }}
                                        </button>

                                        <button
                                            class="button is-outlined is-info h-3 has-text-weight-bold is-size-875"
                                            @click="showDocsSection(object.id)"
                                        >
                                            {{ trans('profile.objects.btn_upload_docs') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-1-5 pb-1 card-object-pa__controls">
                            <div class="columns is-multiline is-flex">
                                <div class="column is-narrow">
                                    <a :href="`/franchise/edit/${object.id}`"
                                       class="card-object-pa__link-edit is-size-875 is-flex link-with-icon">
                                        <svg-icon :icon="'ic_edit.svg'"/>
                                        <span class="has-text-decoration-underline">{{trans('profile.objects.link_edit')}}</span>
                                    </a>
                                </div>
                                <div class="column is-narrow">
                                    <a
                                        :href="`/franchise/${object.id}`"
                                        class="is-flex has-align-items-center link-with-icon"
                                        target="_blank">
                                        <span class="icon icon-1">
                                            <svg-icon :icon="'ic_details.svg'"/>
                                        </span>
                                        <span
                                            class="is-size-875 has-text-decoration-underline">{{trans('profile.objects.stats_table.actions.link_view')}}</span>
                                    </a>
                                </div>
                                <div class="column is-narrow">
                                    <div class="dropdown is-hoverable">
                                        <div class="dropdown-trigger">
                                            <a
                                                class="is-flex has-align-items-center link-with-icon"
                                                aria-haspopup="true"
                                                aria-controls="dropdown-menu4">
                                                <span class="icon icon-1 has-text-basic">+</span>
                                                <span
                                                    class="is-size-875 has-text-decoration-underline">{{ trans('profile.objects.stats_table.actions.add') }}</span>
                                            </a>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                            <div class="dropdown-content is-paddingless">
                                                <a class="dropdown-item"
                                                   @click.prevent="showModalAddObject(object.id)">{{trans('profile.objects.stats_table.actions.new_object')}}</a>
                                                <hr class="dropdown-divider is-marginless">
                                                <a class="dropdown-item"
                                                   @click.prevent="showModalAddReview(object.id)">{{trans('profile.objects.stats_table.actions.review')}}</a>
                                                <hr class="dropdown-divider is-marginless">
                                                <a class="dropdown-item"
                                                   @click.prevent="showModalAddNews(object.id)">{{trans('profile.objects.stats_table.actions.new')}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-object-pa__statistics-full p-1-5">
                            <div class="columns is-multiline is-mobile">
                                <statistics
                                    :head="trans('profile.objects.stats_table.head.calls')"
                                    :icon="'ic_phone.svg'"
                                    :count="object.call_count"
                                />
                                <statistics
                                    :head="trans('profile.objects.stats_table.head.requests')"
                                    :icon="'ic_document.svg'"
                                    :count="object.doc_request_count - object.doc_new_request_count"
                                    :countTop="object.doc_new_request_count"
                                    @click.native="getDocRequest(object.id, object.docs_count)"
                                />

                                <statistics
                                    :head="trans('profile.objects.stats_table.head.reviews')"
                                    :count="object.approved_reviews_count"
                                    :countTop="object.reviews_count - object.approved_reviews_count"
                                    @click.native="getModalData(object.id, 'reviews')"
                                />

                                <statistics
                                    :head="trans('profile.objects.stats_table.head.objects')"
                                    :count="object.approved_objects_count"
                                    :countTop="object.objects_count - object.approved_objects_count"
                                    @click.native="getModalData(object.id, 'objects')"
                                />
                                <statistics
                                    :head="trans('profile.objects.stats_table.head.news')"
                                    :count="object.approved_news_count"
                                    :countTop="object.news_count - object.approved_news_count"
                                    @click.native="getModalData(object.id, 'news')"
                                />
                            </div>
                        </div>
                        <div class="card-object-pa__footer p-1-5">
                            <div class="card-object-pa__services is-flex">
                                <a
                                    href="#"
                                    class="card-object-pa__services__item"
                                    v-tooltip="'Перевод документов'">
                                    <img src="/svg/icons/services/ic_translate.svg" alt="">
                                </a>
                                <a href="#" class="card-object-pa__services__item" v-tooltip="'VIP'">
                                    <img src="/svg/icons/services/ic_vip.svg" alt="">
                                </a>
                                <a href="#" class="card-object-pa__services__item"
                                   v-tooltip="'Быстрая продажа'">
                                    <img src="/svg/icons/services/ic_law.svg" alt="">
                                </a>
                            </div>
                            <div class="buttons mt-1">
                                <a
                                    class="button is-size-875 is-warning h-3 has-text-weight-bold"
                                    @click="showModalAddService">
                                    <span class="icon">+</span>
                                    <span>{{ trans('profile.user_services.btn_add_service') }}</span>
                                </a>
                                <a
                                    v-if="object.sell_with_broker"
                                    class="button is-size-875 is-info h-3 has-text-weight-bold"
                                    @click.prevent="openDialogModal(object.broker ? trans('profile.chat.dialog_broker') : trans('profile.chat.dialog_support'), 'broker', object.broker, object.id)"
                                >
                                    {{ object.broker ? trans('profile.chat.dialog_broker') :
                                    trans('profile.chat.dialog_support') }}
                                </a>
                                <a
                                    v-if="!object.sell_with_broker"
                                    class="button is-size-875 is-info h-3 has-text-weight-bold"
                                    @click="showModalSellWithBroker(object.id)"
                                >
                                    {{ trans('profile.objects.btn_sell_with_broker') }}
                                </a>
                            </div>
                        </div>

                        <div :class="{'hidden': ui.selectedDoc!==object.id}" :id="`docs-section-${object.id}`">
                            <section class="is-paddingless">
                                <div class="notification is-borderless is-warning">
                                    <div class="notification__icon">
                                        <svg-icon :icon="'notification/ic_warning_warning.svg'"/>
                                    </div>
                                    <div class="notification__content-wrap">
                                        <div class="is-flex-tablet has-align-items-center">
                                            <h5 class="notification__title has-text-weight-bold is-marginless">
                                                Внимание
                                            </h5>
                                        </div>
                                        <div class="notification__content content is-size-875">Загруженные документы
                                            сначала проходят проверку. Только после одобрения нашими модераторами вы
                                            можете применить к ним услугу "Перевод документов"
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="is-paddingless">
                                <div class="p-1-5">
                                    <h3 class="mb-1">Список необходимых документов</h3>
                                    <ol class="trips-list-required-documents ml-1 is-size-875 mb-1">
                                        <li><span>Чек об оплате услуг вашим предприятием</span><span
                                            class="has-text-success has-text-weight-bold">Загружено</span></li>
                                        <li><span>Уникальный договор на обслуживание</span><span
                                            class="has-text-success has-text-weight-bold">Загружено</span>
                                        </li>
                                        <li><span>Регистрация предприятия</span><span
                                            class="has-text-success has-text-weight-bold">Загружено</span></li>
                                        <li><span>Договор купли и продажи</span></li>
                                    </ol>
                                </div>
                                <div class="px-0 pb-0">
                                    <div align="center">
                                        <button
                                            class="button is-outlined is-info h-3 has-text-weight-bold is-size-875"
                                            @click="setFranchiseId(object.id, object)"
                                        >
                                            {{trans('profile.objects.btn_upload_doc')}}
                                        </button>
                                        <br>
                                        <br>
                                    </div>

                                    <table class="table is-fullwidth is-size-875" v-if="object.docs.length > 0">
                                        <thead class="is-hidden-mobile">
                                        <tr>
                                            <th>№</th>
                                            <th>{{trans('profile.franchises.documents.document_name')}}</th>
                                            <th>{{trans('profile.franchises.documents.document_created_at')}}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody class="is-block-mobile">
                                        <tr class="is-block-mobile" v-for="(doc, docIndex) in object.docs">
                                            <td class="has-text-basic is-hidden-mobile">{{docIndex+1}}</td>
                                            <td class="has-text-weight-bold is-block-mobile">
                                                {{ doc.name }}
                                            </td>
                                            <td class="has-text-basic is-block-mobile py-0-mobile">
                                                {{$getDateTime(doc.created_at, true)}}
                                            </td>
                                            <td class="is-block-mobile">
                                                <a class="link-with-icon">
                                                    <img src="/svg/icons/ic_close.svg">
                                                    <span
                                                        @click.stop="modals.removeDocument.data = {object, docIndex}; modals.removeDocument.show=true;"
                                                        class="has-text-decoration-underline">{{trans('profile.franchises.documents.remove')}}</span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- Modals -->

        <modal-add-review-franchise
            :id="modal.id"
            :show="ui.showModalAddReview"
            :form="modal.form"
            :label="modal.label"
            @close="ui.showModalAddReview = false"
        />

        <modal-add-object-franchise
            :id="modal.id"
            :show="ui.showModalAddObject"
            :form="modal.form"
            :label="modal.label"
            @close="ui.showModalAddObject = false"
        />

        <modal-add-news-franchise
            :id="modal.id"
            :show="ui.showModalAddNews"
            :form="modal.form"
            :label="modal.label"
            @close="ui.showModalAddNews = false"
        />

        <modal
            class="prompt-modal"
            v-if="modals.requestSold.show"
            @close="modals.requestSold.show = false">
            <div slot="header">
                <p class="modal-card-title mb-0">Подтвердите действие: "Объект продан"</p>
            </div>
            <div slot="body">
                <div class="columns is-multiline" v-if="!modals.requestSold.loading">
                    <div class="column is-6">
                        <div class="button h-3 is-size-875 is-info has-text-weight-bold is-fullwidth"
                             @click="setStatusSold(modals.requestSold.objectType, modals.requestSold.objectId)">
                            Да
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="button h-3 is-size-875 is-danger is-outlined has-text-weight-bold is-fullwidth"
                             @click="modals.requestSold.show = false">Отмена
                        </div>
                    </div>
                </div>
                <preloader v-if="modals.requestSold.loading"></preloader>
            </div>
        </modal>

        <modal
            v-if="ui.showRequestDocs"
            @close="ui.showRequestDocs = false"
            width="55rem">
            <div slot="header">
                <p class="modal-card-title mb-0">
                    {{ trans('profile.objects.request_docs') }}
                </p>
            </div>
            <div slot="body">
                <object-requests-table
                    :type="'doc'"
                    :request_list="doc_requests"
                    @close="ui.showDocumentsModal=false"
                />
            </div>
        </modal>

        <modal-add-service-franchise
            :show="ui.showModalAddService"
            @close="ui.showModalAddService = false"
            @showZoneDocs="showZoneDocs"
        />

        <modal-change-price
            :id="modals.changePrice.id"
            :price="modals.changePrice.price"
            :discount="modals.changePrice.discount"
            :show="modals.changePrice.show"
            @closeChangePriceModal="modals.changePrice.show = false"
        />

        <modal-upload-document
            :objectId="franchise.id"
            :show="ui.showModalUploadDocument"
            @close="addNewDoc"
        />

        <modal
            class="prompt-modal"
            v-if="modals.removeDocument.show"
            @close="modals.removeDocument.show = false">
            <div slot="header">
                <p class="modal-card-title mb-0">{{ trans('profile.franchises.documents.are_you_sure_to_remove') }}</p>
            </div>
            <div slot="body">
                <div class="columns is-multiline" v-if="!modals.removeDocument.loading">
                    <div class="column is-6">
                        <div class="button h-3 is-size-875 is-info has-text-weight-bold is-fullwidth"
                             @click="removeDocument()">
                            {{ trans('profile.franchises.documents.yes') }}
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="button h-3 is-size-875 is-danger is-outlined has-text-weight-bold is-fullwidth"
                             @click="modals.removeDocument.show = false">{{ trans('profile.franchises.documents.no') }}
                        </div>
                    </div>
                </div>
                <preloader v-if="modals.removeDocument.loading"></preloader>
            </div>
        </modal>

        <modal-sell-with-broker
            :franchiseId="modals.sellWithBroker.franchiseId"
            :show="modals.sellWithBroker.show"
            @close="modals.sellWithBroker.show = false"
        />

        <modal-info
            :show="modals.reviewInfo.show"
            :editItem="editElement"
            :franchiseId="modals.reviewInfo.franchiseId"
            :data="modals.reviewInfo.data"
            :type="modals.reviewInfo.type"
            @close="modals.reviewInfo.show = false"
        />

        <modal-request-object
            :data="modals.requestObject.data"
            :franchiseId="modals.requestObject.franchiseId"
            :show="modals.requestObject.show"
            :type="modals.requestObject.type"
            @close="modals.requestObject.show = false"
        />


        <modal-dialog
            :id="modals.dialog.id"
            :to="modals.dialog.to"
            :type="modals.dialog.type"
            :title="modals.dialog.title"
            :captions="modals.dialog.captions"
            :show="modals.dialog.show"
            @close="modals.dialog.show = false"
        />

        <modal
            v-if="modals.applicationAccepted.show"
            @close="modals.applicationAccepted.show = false">
            <div slot="header">
                <p class="modal-card-title mb-0">{{ trans('profile.chat.application_accepted.title') }}</p>
            </div>
            <div slot="body">
                <p class="modal-card-body">{{ trans('profile.chat.application_accepted.text') }}</p>
            </div>
        </modal>
    </div>
</template>

<script>

    import FilesUpload from '../../FilesUpload';
    import ObjectRequestsTable from './objects/object-requests-table';
    import Preloader from './../../preloader'
    import statistics from './statistics';

    import Modal from '../../modals/Modal';
    import ModalAddObjectFranchise from '../../franchises/ModalAddObject'
    import ModalAddNewsFranchise from '../../franchises/ModalAddNews'
    import ModalControlReviewsFranchise from '../../franchises/ModalControlReviews'
    import ModalAddServiceFranchise from '../../franchises/ModalAddService'
    import ModalInfo from '../../franchises/ModalInfo'
    import ModalChangePrice from '../../modals/ModalChangePrice';
    import ModalSellWithBroker from '../../modals/ModalSellWithBroker';
    import ModalDialog from '../../modals/ModalDialog';
    import ModalRequestObject from '../../franchises/ModalRequestObject';

    import Vue from 'vue';
    import VueScrollTo from 'vue-scrollto';

    Vue.use(VueScrollTo);

    export default {
        components: {
            Modal,
            ModalAddObjectFranchise,
            ModalAddNewsFranchise,
            ModalControlReviewsFranchise,
            ModalAddServiceFranchise,
            ModalChangePrice,
            ModalSellWithBroker,
            ModalDialog,
            FilesUpload,
            ObjectRequestsTable,
            Preloader,
            statistics,
            ModalInfo,
            ModalRequestObject
        },
        data: () => ({
            filter: 'active',
            ui: {
                showRequestDocs: false,
                showZoneDocs: false,
                showModalAddObject: false,
                showModalAddReview: false,
                showModalAddNews: false,
                showModalAddService: false,
                showModalControlReviews: false,
                showModalUploadDocument: false,
                selectedDoc: null,
            },
            priceRef: null,
            objects: [],
            firstLoad: true,
            franchise: {
                id: null,
                object: null,
            },
            modal: {
                id: null,
            },
            modals: {
                removeDocument: {
                    show: false,
                    loading: false,
                    data: null,
                },
                changePrice: {
                    show: false,
                    id: null,
                    price: null,
                    discount: null,
                },
                dialog: {
                    show: false,
                    type: null,
                    title: null,
                    objectId: null,
                    captions: {
                        theme: trans('profile.chat.dialog.theme'),
                        message: trans('profile.chat.dialog.message_text'),
                        send: trans('profile.chat.dialog.btn_send'),
                    }
                },
                applicationAccepted: {
                    show: false,
                },
                sellWithBroker: {
                    show: false,
                    franchiseId: null,
                },
                requestSold: {
                    objectId: null,
                    objectType: null,
                    show: false,
                    loading: false,
                },
                reviewInfo: {
                    show: false,
                    data: []
                },
                requestObject: {
                    show: false,
                    data: []
                },
            },
        }),
        mounted() {
            this.getData();
            this.$on('closeChangePriceModal', function (id, price) {
                this.modals.changePrice.show = false;
                this.getData(); // переделать
                // this.objects[id].price = this.$formatPrice(price);
            });
            this.$on('dialog-modal-close', function () {
                if (!this.modals.dialog.to) {
                    this.modals.applicationAccepted.show = true;
                }
            });
        },
        computed: {
            objectsMapped() {
                return this.objects.filter(item => {
                    if (this.filter === 'new') {
                        return item.status === this.$store.state.STATUS_NEW;
                    } else if (this.filter === 'moderate') {
                        return item.status === this.$store.state.STATUS_AWAIT;
                    } else if (this.filter === 'active') {
                        return item.status === this.$store.state.STATUS_MODERATED;
                    } else if (this.filter === 'sold') {
                        return item.status === this.$store.state.STATUS_SOLD;
                    } else {
                        return false;
                    }
                }).map(item => {
                    if (item.ui === undefined) {
                        item.ui = {
                            showStat: true,
                            showServices: false
                        };
                    }
                    item.rawPrice = item.discountPrice;
                    item.price = this.$formatPrice(item.discountPrice);
                    if (
                        !!item.city !== false
                        && !!item.city.translation !== false
                    ) {
                        item.city.translation = this.$t(item.city.translation);
                    }
                    if (
                        !!item.city !== false
                        && !!item.city.country !== false
                        && !!item.city.country.translation !== false
                    ) {
                        item.city.country.translation = this.$t(item.city.country.translation);
                    }
                    return item;
                });
            },
        },
        methods: {
            openDialogModal(title, type, broker, franchiseId) {
                this.modals.dialog.show = true;
                this.modals.dialog.type = type;
                this.modals.dialog.title = title;
                this.modals.dialog.objectId = franchiseId;
                if (broker !== null) {
                    this.modals.dialog.to = broker.id;
                }
            },
            showDocsSection(id) {
                this.ui.selectedDoc = id;
                // скроллинг к блоку документов объекта
                setTimeout(function () {
                    VueScrollTo.scrollTo('#docs-section-' + id, 1000, {
                        easing: 'ease',
                    });
                }, 500);
            },
            getData() {
                axios
                    .get('/profile/get-franchises')
                    .then(res => {
                        this.firstLoad = false;
                        this.objects = res.data;
                    })
                    .catch(e => {
                        this.$swal({
                            type: 'error',
                            title: e.response.status,
                            text: e.response.data.message
                        });
                    })
            },
            setStatus(id, status) {
                axios
                    .patch(`/profile/view-request/${id}/${status}`)
                    .then(res => {
                        this.$swal({type: 'success', text: res.data.message});
                        this.getData();
                    }).catch(e => {
                    this.$swal({
                        type: 'error',
                        title: e.response.status,
                        text: e.response.data.message
                    });
                })
            },
            // TODO Пока плюсую только запросы на просмотр и документацию.
            getObjectNotificationCount(object) {
                return this.getDocRequestCount(object) + this.getViewRequestCount(object)
            },
            getDocRequestCount(object) {
                if (object.docRequest !== undefined) {
                    return object.docRequest.length;
                }
            },
            getViewRequestCount(object) {
                if (object.viewRequest !== undefined) {
                    return object.viewRequest.length;
                }
            },
            getObjectProgessBarClass(status) {
                if (status === this.$store.state.STATUS_AWAIT)
                    return 'is-warning';
                else if (status === this.$store.state.STATUS_SOLD)
                    return 'is-danger';
                else
                    return 'is-success';
            },
            updateObjects() {
                this.objects = this.objects.slice();
            },
            setStatusSoldModal(type, id) {
                this.modals.requestSold.show = true;
                this.modals.requestSold.objectType = type;
                this.modals.requestSold.objectId = id;
            },
            setStatusSold(type, id, status = this.$store.state.STATUS_SOLD) {
                this.modals.requestSold.loading = true;
                axios
                    .patch(`/profile/api/object/${type}/${id}/status/${status}`)
                    .then(res => {
                        this.modals.requestSold.loading = false;
                        this.modals.requestSold.show = false;
                        this.$swal({
                            type: 'success',
                            text: res.data.message
                        });
                        this.getData()
                    }).catch(e => {
                    this.$swal({
                        type: 'error',
                        title: e.response.status,
                        text: e.response.data.message
                    });
                });
            },
            showModalSellWithBroker(id) {
                this.modals.sellWithBroker.franchiseId = id;
                this.modals.sellWithBroker.show = true;
            },
            showRequestDocsModal(id) {
                this.ui.showRequestDocs = true;
            },
            showModalChangePrice(object) {
                this.modals.changePrice.id = object.id;
                this.modals.changePrice.price = object.rawPrice;
                this.modals.changePrice.discount = object.discount;
                this.modals.changePrice.show = true;
            },
            showModalAddObject(id) {
                this.modal.id = id;
                this.ui.showModalAddObject = true;
            },
            showModalAddReview(id) {
                this.modal.id = id;
                this.ui.showModalAddReview = true;
            },
            showModalAddNews(id) {
                this.modal.id = id;
                this.ui.showModalAddNews = true;
            },
            showModalAddService(id) {
                this.ui.showModalAddService = true;
            },
            showZoneDocs(id) {
                this.ui.showZoneDocs = true;
            },
            setFranchiseId(id, object) {
                this.franchise.id = id;
                this.franchise.object = object;
                this.ui.showModalUploadDocument = true;
            },
            removeDocument() {
                this.modals.removeDocument.loading = true;
                let doc_id = this.modals.removeDocument.data.object.docs[this.modals.removeDocument.data.docIndex].id;
                let franchise_id = this.modals.removeDocument.data.object.id;
                axios
                    .post('/profile/api/remove-franchise-document/' + franchise_id, {
                        id: doc_id
                    })
                    .then(res => {
                        this.modals.removeDocument.loading = false;
                        this.modals.removeDocument.show = false;
                        this.$swal({
                            type: 'success',
                            text: res.data.message
                        });
                        this.modals.removeDocument.data.object.docs.splice(this.modals.removeDocument.data.docIndex, 1);
                    })
                    .catch(e => {
                        this.$swal({
                            type: 'error',
                            title: e.response.status,
                            text: e.response.data.message
                        });
                    })
            },
            addNewDoc(doc) {
                if (doc !== null) {
                    this.franchise.object.docs.push(doc);
                }
                this.ui.showModalUploadDocument = false
            },

            getModalData(id, type) {
                axios
                    .get(`/profile/get-franchise-${type}/${id}`)
                    .then(res => {
                        if (res.data.items.length) {
                            this.modals.reviewInfo.data = res.data;
                            this.modals.reviewInfo.show = true;
                            this.modals.reviewInfo.type = type;
                            this.modals.reviewInfo.franchiseId = id;
                        }
                    })
                    .catch(e => {
                        this.$swal({
                            type: 'error',
                            title: e.response.status,
                            text: e.response.data.message
                        });
                    })
            },
            getDocRequest(id, docs_count) {
                let requestType = 'doc';
                this.modals.requestObject.show = true;
                this.modals.requestObject.type = requestType;
                this.modals.requestObject.franchiseId = id;
                this.modals.requestObject.docs_count = docs_count;

            },

            editElement(type, id, franchiseId) {
                axios
                    .get(`/profile/${type}-item-details/${id}`)
                    .then(res => {
                        this.modals.reviewInfo.show = false;
                        this.modal.form = res.data.formData;
                        this.modal.label = trans(res.data.label);
                        //console.log(franchiseId);
                        this[res.data.methodName](franchiseId);
                    })
            },
        }
    }
</script>
