<template>
	
</template>

<script>
    import GGPackagesInput from '../form/GGPackagesInput';
    import FilesUpload from '../FilesUpload';
    import GGStaffInput from '../form/GGStaffFranchisesInput';
    import GGCertificatesInput from '../form/GGCertificatesFranchisesInput';
    import GGNewsInput from '../form/GGNewsFranchisesInput';
    import GGReviewsInput from '../form/GGReviewsFranchisesInput';
    import GGObjectsInput from '../form/GGObjectsFranchisesInput';
    import flatPickr from 'vue-flatpickr-component';
    import {Russian} from "flatpickr/dist/l10n/ru.js"
    import 'flatpickr/dist/flatpickr.css';
    import GGTranslatableInput from '../form/GGTranslatableInput';
    import {VStepper} from 'vue-stepper-component';
    import GGSelectInput from '../form/GGSelectInput';
    import GGContractsInput from '../form/GGContractsInput';
    import GGRadioInput from '../form/GGRadioInput';
    import GGCheckBoxInput from '../form/GGCheckBoxInput';
    import GGFromToInput from '../form/GGFromToInput';
    import GGInput from '../form/GGInput';
    import GGAddressInput from '../form/GGAddressInput';
    import GGLocationSelectInput from '../form/GGLocationSelectInput';
	export default {
		name: "Invest",
        components: {
            GGTranslatableInput,
            GGInput,
            GGRadioInput,
            GGCheckBoxInput,
            GGSelectInput,
            GGPackagesInput,
            FilesUpload,
            GGAddressInput,
            GGStaffInput,
            GGCertificatesInput,
            flatPickr,
            GGNewsInput,
            GGReviewsInput,
            GGObjectsInput,
            GGContractsInput,
            GGFromToInput,
            GGLocationSelectInput,
            VStepper,
        }
	}
</script>
