<template>
     <section class="section pt-1 px-0">

        <h1 class="section-title mb-1-75">
            {{trans('profile.objects.legal.title')}}
        </h1>

        <div class="box">
            <div class="content" v-if="term">
                <div class="is-size-875">
                    <h3>{{term.header}}</h3>
                    <div v-html="term.buyer_text" v-if="$userIs($store.state.ROLE_EXECUTIVE)"></div>
                    <div v-html="term.seller_text" v-if="$userIs($store.state.ROLE_SELLER)"></div>

                    <a :href="media.url" class="link-doc" v-for="media in term.media" v-if="$userIs($store.state.ROLE_EXECUTIVE) && media.collection_name == 'byuer_documents'">
                        <svg-icon :icon="'files/ic_pdf.svg'" />
                        <span class="has-text-decoration-underline">{{media.file_name}}</span>
                    </a>

                    <a :href="media.url" class="link-doc" v-for="media in term.media" v-if="$userIs($store.state.ROLE_SELLER) && media.collection_name == 'seller_documents'">
                        <svg-icon :icon="'files/ic_pdf.svg'" />
                        <span class="has-text-decoration-underline">{{media.file_name}}</span>
                    </a>
             
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data: function(){
        return{
            term: null
        }
    },
    mounted(){
        this.getData();
    },
    methods: {
        getData(){
            axios.get('/profile/api/terms')
            .then( res => {
                this.term = res.data
            })
        }
    }
}
</script>
