<template>
    <div>
        <section class="section pt-1 pb-0 px-0">
            <h1 class="section-title mb-1-75">{{trans('profile.objects.title')}}</h1>
            <div class="buttons has-addons">
                <label :class="{'is-active': filter === 'active'}"
                       class="button is-outlined is-info is-size-875 has-text-weight-bold h-3">
                    {{trans('profile.objects.active')}}
                    <input type="radio" v-model="filter" value="active" style="display: none">
                </label>
                <label :class="{'is-active': filter === 'sold'}"
                       class="button is-outlined is-info is-size-875 has-text-weight-bold h-3">
                    {{trans('profile.objects.sold')}}
                    <input type="radio" v-model="filter" value="sold" style="display: none">
                </label>
            </div>
            <div class="columns is-multiline mb-2">
                <div class="column is-12">
                    <!-- Example Layout card service -->
                    <article class="box card-object-pa is-paddingless" v-for="object in objectsMapped" :key="object.id">
                        <div v-if="getObjectNotificationCount(object)"
                             class="tag is-danger is-rounded card-object-pa__count-notifications">
                            {{getObjectNotificationCount(object)}}
                        </div>
                        <div class="card-object-pa__body p-1-5">
                            <div class="columns is-multiline">
                                <div class="column is-4">
                                    <figure class="card-object-pa__thumb">
                                        <img src="http://laudator.ru/wp-content/uploads/2013/08/magazin-odezhdyi.jpg"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="column is-8">
                                    <div class="card-object-pa__header is-flex">
                                        <h3 class="card-object-pa__title">{{object.name[$store.state.lang]}}</h3>
                                        <a :href="`/business/${object.id}/edit`"
                                           v-if="object.status !== $store.state.status.franchise.SOLD"
                                           class="card-object-pa__link-edit is-size-875 is-flex link-with-icon">
                                            &nbsp;<svg-icon :icon="'ic_edit.svg'"></svg-icon>
                                            <span class="has-text-decoration-underline">{{trans('profile.objects.link_edit')}}</span>
                                        </a>
                                    </div>
                                    <address class="is-size-875 is-flex">
                                        <svg-icon :icon="'ic_location.svg'"></svg-icon>
                                        <span>&nbsp;{{$t(object.city.country.translation)}}, {{$t(object.city.translation)}}</span>
                                    </address>
                                    <div class="card-object-pa__price is-flex">
                                        <div class="price-info">
                                            <div class="price">${{object.price}}</div>
                                        </div>
                                        <a href="#" class="has-text-decoration-underline is-size-875">
                                            {{trans('profile.objects.manage_price.btn_manage')}}
                                        </a>
                                    </div>
                                    <div class="card-object-pa__progress">
                                        <!-- TODO добавить на бэк время изменения статуса? -->
                                        <div class="card-object-pa__progress__title is-size-875">{{
                                            object.status_labels[object.status] }}
                                        </div>
                                        <div class="card-object-pa__progress__bar">
                                            <progress
                                                :class="getObjectProgessBarClass(object.status)"
                                                class="progress is-success is-small"
                                                :value="(object.status + 1) * 25"
                                                max="100" />
                                        </div>
                                    </div>
                                    <div class="card-object-pa__statistics is-flex is-size-875">
                                        <div class="card-object-pa__statistics__item is-flex">
                                            <svg-icon :icon="'ic_eye.svg'"></svg-icon>
                                            <span> {{ object.show_count }} {{trans('profile.views')}}</span>
                                        </div>
                                        <div class="card-object-pa__statistics__item is-flex">
                                            <svg-icon :icon="'ic_favorites-2.svg'"></svg-icon>
                                            <span>{{ object.favorites_count }} {{trans('profile.objects.in_favorites')}}</span>
                                        </div>
                                        <div class="card-object-pa__statistics__item is-flex">
                                            <svg-icon :icon="'ic_document.svg'"></svg-icon>
                                            <span>3 {{trans('profile.objects.docs')}}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <button v-if="object.docRequest.length > 0"
                                                class="button is-outlined is-danger h-3 has-text-weight-bold is-size-875"
                                                @click="ui.showDocumentsModal=true; doc_requests = object.docRequest;">
                                            {{object.docRequest.length}} {{trans('profile.objects.doc_reqs')}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-object-pa__footer p-1-5">
                            <div class="buttons">
                                <!--<div class="dropdown">
                                        <div class="dropdown-trigger">
                                            <button @click="object.ui.showServices = !object.ui.showServices" class="button is-outlined is-info is-size-875 h-3 has-text-weight-bold"
                                                    :class="{'is-warning': object.ui.showServices}"
                                                    aria-haspopup="true">
                                                <span>{{trans('profile.objects.services')}}</span>
                                                <div class="multiselect__select"></div>
                                            </button>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-services-1" role="menu">
                                            <div class="dropdown-content is-paddingless">
                                                <a class="dropdown-item" href="#">Item</a>
                                                <hr class="dropdown-divider is-marginless">
                                                <a class="dropdown-item" href="#">Item</a>
                                                <hr class="dropdown-divider is-marginless">
                                                <a class="dropdown-item" href="#">Item</a>
                                            </div>
                                        </div>
                                    </div> -->
                                <button @click="object.ui.showServices = !object.ui.showServices; updateObjects()"
                                        :class="{'is-warning': object.ui.showServices}"
                                        class="button is-outlined is-info is-size-875 h-3 has-text-weight-bold"

                                        aria-haspopup="true">
                                    <span>{{trans('profile.objects.services')}}</span>
                                </button>


                                <a v-if="object.status !== $store.state.status.franchise.SOLD"
                                   class="button is-size-875 is-outlined is-info h-3 has-text-weight-bold"
                                   @click="setStatusSoldModal(object.type, object.id)">{{ trans('profile.objects.sold') }}</a>
                                <a class="button is-size-875 is-outlined is-info h-3 has-text-weight-bold"
                                   v-if="object.status !== $store.state.status.franchise.SOLD">{{
                                    trans('profile.objects.btn_upload_docs') }}</a>
                                <a class="button is-size-875 is-outlined is-info h-3 has-text-weight-bold"
                                   v-if="object.status !== $store.state.status.franchise.SOLD">{{
                                    trans('profile.objects.btn_sell_with_broker') }}</a>
                                <!--<a class="button is-size-875 is-outlined is-info h-3 has-text-weight-bold"
                                @click="object.ui.showStat = !object.ui.showStat; updateObjects()"
                                :class="{'is-warning': object.ui.showStat}">
                                {{trans('profile.objects.stats')}}
                                </a>-->
                            </div>
                            <transition name="fade">
                                <div class="card-object-pa__services is-flex" v-if="object.ui.showServices">
                                    <a href="#" class="card-object-pa__services__item"
                                       v-tooltip="data_trans.trans_docs">
                                        <img src="/svg/icons/services/ic_translate.svg" :alt="data_trans.trans_docs">
                                    </a>
                                    <a href="#" class="card-object-pa__services__item" v-tooltip="'VIP'">
                                        <img src="/svg/icons/services/ic_vip.svg" alt="VIP">
                                    </a>
                                    <a href="#" class="card-object-pa__services__item"
                                       v-tooltip="data_trans.fast_sale">
                                        <img src="/svg/icons/services/ic_law.svg" :alt="data_trans.fast_sale">
                                    </a>
                                </div>
                            </transition>
                            <transition name="fade">
                                <object-stats v-if="object.ui.showStat" :object-id="object.id"
                                              :type="object.type"></object-stats>
                            </transition>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <modal v-if="ui.showDocumentsModal" @close="ui.showDocumentsModal = false" width="55rem">
            <div slot="header">
                <p class="modal-card-title mb-0">{{trans('profile.objects.request_docs')}}</p>
            </div>
            <div slot="body">
                <object-requests-table :request_list="doc_requests"
                                       @close="ui.showDocumentsModal=false"></object-requests-table>
            </div>
        </modal>

        <modal v-if="ui.showRequestSoldModal" @close="ui.showRequestSoldModal = false">
            <div slot="header">
                <p class="modal-card-title mb-0">Подтвердите действие: "Объект продан"</p>
            </div>
            <div slot="body">
                <div class="columns is-multiline"  v-if="!ui.showRequestSoldModalLoading">
                    <div class="column is-6">
                        <div class="button h-3 is-size-875 is-info has-text-weight-bold is-fullwidth"
                             @click="setStatusSold(ui.showRequestSoldModalObjectType, ui.showRequestSoldModalObjectID)">
                            Да
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="button h-3 is-size-875 is-danger is-outlined has-text-weight-bold is-fullwidth"
                             @click="ui.showRequestSoldModal = false">Отмена
                        </div>
                    </div>
                </div>
                <preloader v-if="ui.showRequestSoldModalLoading"></preloader>
            </div>
        </modal>

    </div>
</template>

<script>
    import ObjectStats from '../objects/object-stats'
    import Modal from '../../modals/Modal';
    import ObjectRequestsTable from '../objects/object-requests-table'
    import Preloader from './../../preloader'

    let trans_prefix = 'profile.objects.';
    export default {
        components: {ObjectStats, Modal, ObjectRequestsTable, Preloader},
        data: () => ({
            data_trans: {
                trans_docs: trans(trans_prefix + 'trans_docs'),
                fast_sale: trans(trans_prefix + 'fast_sale'),
                link_edit: trans(trans_prefix + 'link_edit'),
                location: trans(trans_prefix + 'location'),
            },
            filter: 'active',
            ui: {
                showDocumentsModal: false,
                showRequestSoldModal: false,
                showRequestSoldModalLoading: false,
                showRequestSoldModalObjectType: null,
                showRequestSoldModalObjectID: null,
            },
            objects: [],
            doc_requests: [],
            firstLoad: true,

        }),
        mounted() {
            this.getData()
        },
        computed: {
            objectsMapped() {
                return this.objects.filter(item => {
                    if (this.filter === 'sold')
                        return item.status === this.$store.state.status.franchise.SOLD;
                    else
                        return item.status !== this.$store.state.status.franchise.SOLD;
                }).map(item => {
                    if (typeof item.ui === 'undefined')
                        item.ui = {
                            showStat: true,
                            showServices: false
                        };
                    return item
                });
            },
        },
        methods: {
            getData() {
                axios.get('/profile/api/objects').then(res => {
                    this.firstLoad = false;
                    this.objects = res.data;
                }).catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })
            },
            setStatus(id, status) {
                axios.patch(`/profile/view-request/${id}/status/${status}`)
                    .then(res => {
                        this.$swal({type: 'success', text: res.data.message});
                        this.getData();
                    }).catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })
            },
            // TODO Пока плюсую только запросы на просмотр и документацию.
            getObjectNotificationCount(object) {
                return object.docRequest.length + object.viewRequest.length
            },
            updateObjects() {
                this.objects = this.objects.slice()
            },
            getObjectProgessBarClass(status) {
                if (status === this.$store.state.status.franchise.AWAIT)
                    return 'is-warning';
                else if (status === this.$store.state.status.franchise.SOLD)
                    return 'is-danger';
                else
                    return 'is-success';
            },
            setStatusSoldModal(type, id) {
                this.ui.showRequestSoldModal = true;
                this.ui.showRequestSoldModalObjectType = type;
                this.ui.showRequestSoldModalObjectID = id;
                /*axios.patch(`/profile/api/object/${type}/${id}/status/${status}`)
                     .then(res => {
                         this.$swal({type: 'success', text: res.data.message});
                         this.getData()
                     }).catch(e => {
                     this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })*/
            },
            setStatusSold(type, id, status = this.$store.state.status.franchise.SOLD) {
                this.ui.showRequestSoldModalLoading = true;
                axios.patch(`/profile/api/object/${type}/${id}/status/${status}`)
                    .then(res => {

                        this.ui.showRequestSoldModalLoading = false;
                        this.ui.showRequestSoldModal = false;

                        this.$swal({type: 'success', text: res.data.message});
                        this.getData()
                    }).catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })
            },
        }
    }
</script>
