<template>
    <section class="section pt-1 px-0">
        <h1 class="section-title mb-1-75">{{trans('profile.object_requests.reqs_view')}}</h1>
        <table class="table is-fullwidth is-size-875">
            <thead class="is-hidden-mobile">
            <tr>
                <th>{{trans('profile.object_requests.table.name_object')}}</th>
                <th>{{trans('profile.object_requests.table.from_whom')}}</th>
                <th>{{trans('profile.object_requests.table.comments')}}</th>
                <th>{{trans('profile.object_requests.table.datetime')}}</th>
                <th>{{trans('profile.object_requests.table.status')}}</th>
            </tr>
            </thead>

            <tbody class="box is-paddingless is-block-mobile">
            <tr v-for="request in requests" class="is-block-mobile is-size-0">
                <td class="has-text-basic is-size-875 is-block-mobile">
                    <a :href="'/' + request.object.type + '/' + request.object.id"
                       class="link-with-icon has-text-decoration-underline">
                        {{$t(request.object.name)}}
                    </a>
                </td>
                <td class="is-size-875 is-block-mobile">
                    <div><b>{{trans('profile.object_requests.name')}}</b> {{request.user.full_name}}</div>
                    <div><b>{{trans('profile.object_requests.city')}}</b> {{request.user.city.name}}</div>
                    <div><b>{{trans('profile.object_requests.budget')}}</b> €{{request.user.sum_to}}</div>
                </td>
                <td class="has-text-basic has-vertical-align-middle is-size-875 is-block-mobile">
                    <p v-if="request.buyer_comment">{{request.buyer_comment}}</p>
                    <p v-if="request.reject_reason">
                        <b style="color: red">{{trans('profile.object_requests.reason_for_rejection')}}</b>
                        <div>{{request.reject_reason}}</div>
                    </p>

                    <i v-if="!request.buyer_comment && !request.reject_reason" class="has-text-grey-light no-wrap">
                        {{trans('profile.object_requests.no_comments')}}
                    </i>
                </td>
                <td class="has-text-basic no-wrap has-vertical-align-middle is-size-875 is-block-mobile">
                    <div class="has-text-basic is-hidden-tablet">
                        {{trans('profile.object_requests.table.datetime')}}
                    </div>
                    <div>
                        {{$getDateTime(request.view_at)}} в {{request.view_at.slice(11, 16)}}
                    </div>
                </td>
                <td class="has-text-warning has-vertical-align-middle is-size-875 is-block-mobile">
                    <div class="has-vertical-align-middle" :class="getStatusСlass(request.status)"
                         v-if="request.status != 1">
                        {{getStatusText(request.status)}}
                    </div>
                    <div class="buttons">
                        <template v-if="request.status == 1">
                            <button class="button is-outlined is-success is-size-875 has-text-weight-bold"
                                    @click="setStatus(request.id, 'accepted')">
                                {{trans('profile.object_requests.btn_approve')}}
                            </button>
                            <button class="button is-clear is-clear_close is-size-875"><span
                                    class="icon-close">×</span><span
                                    class="has-text-decoration-underline"
                                    @click="ui.rejectReasonModal = true;form.id = request.id">
                                {{trans('profile.object_requests.btn_reject')}}
                            </span>
                            </button>
                        </template>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        
        <seller-object-consultations></seller-object-consultations>

        <modal v-if="ui.rejectReasonModal" @close="ui.rejectReasonModal = false">
            <div slot="header">
                <p class="modal-card-title mb-0">{{trans('profile.object_requests.reason_reject')}}</p>
            </div>
            <div slot="body">
                <div class="content">
                    <form-errors :errors="form.errors.errors"></form-errors>
                    <div class="columns is-multiline">
                        <g-g-textarea :size="'is-12'" v-model="form.reject_reason"
                                      :label="trans('profile.object_requests.reason_reject')"
                                      placeholder=""
                                      :required="true"></g-g-textarea>
                    </div>
                </div>
            </div>
            <div class="content w-full" slot="footer">
                <div class="columns is-multiline">
                    <div class="column is-12">
                        <button @click="submitReject"
                                class="button is-info is-fullwidth has-text-weight-bold h-3 is-size-875">
                            {{trans('profile.object_requests.btn_send_req_to_view')}}
                        </button>
                    </div>
                </div>
            </div>
        </modal>
    </section>
</template>


<script>
    import {Form} from './../../../form'
    import Modal from '../../modals/Modal'
    import GGTextarea from '../../form/GGTextarea'
    import FormErrors from './../../form-errors'
    import SellerObjectConsultations from './SellerObjectConsultations'

    export default {
        components: {
            Modal,
            GGTextarea,
            FormErrors,
            SellerObjectConsultations
        },
        data: () => ({
            requests: [],
            form: new Form({
                reject_reason: '',
                id: null
            }),
            ui: {
                rejectReasonModal: false
            },
            firstLoad: true
        }),
        mounted() {
            this.getData()
        },
        methods: {
            getData() {
                axios.get('/profile/requests/view').then(res => {
                    this.firstLoad = false;
                    this.requests = res.data
                }).catch(e => {
                    alert(e.response.data.message)
                })
            },
            setStatus(id, status) {
                axios.patch('/profile/request/' + id + '/status/' + status)
                    .then(res => {
                        this.$swal({type: 'success', text: res.data.message});
                        this.getData();
                    }).catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })

            },
            submitReject() {
                axios.patch('/profile/request/' + this.form.id + '/reject', {
                    reject_reason: this.form.reject_reason
                })
                    .then(res => {
                        this.$swal({type: 'success', text: res.data.message});
                        this.ui.rejectReasonModal = false;
                        this.getData();
                    }).catch(e => {
                    this.$swal({type: 'error', title: e.response.status, text: e.response.data.message});
                })
            },
            getStatusText(status_id) {
                switch (status_id) {
                    case 1:
                        return trans('profile.object_requests.statuses.new')
                        break;
                    case 2:
                        return trans('profile.object_requests.statuses.approve')
                        break;
                    case 3:
                        return trans('profile.object_requests.statuses.reject')
                        break;
                }
            },
            getStatusСlass(status_id) {
                switch (status_id) {
                    case 1:
                        return 'has-text-info'
                        break;
                    case 2:
                        return 'has-text-success'
                        break;
                    case 3:
                        return 'has-text-danger'
                        break;
                }
            }
        }
    }
</script>

<style>

</style>
