<template>
    <section class="section pt-1 px-0">
        <h1 class="section-title mb-1-75">{{trans('profile.purchased_services.title')}}</h1>
        <table class="table is-fullwidth is-size-875">
            <thead class="is-hidden-mobile">
            <tr>
                <th>№</th>
                <th>{{trans('profile.purchased_services.table_head.product_name')}}</th>
                <th>{{trans('profile.purchased_services.table_head.status')}}</th>
                <th>{{trans('profile.purchased_services.table_head.result')}}</th>
            </tr>
            </thead>
            <tbody class="box is-paddingless is-block-mobile">
            <tr v-for="(orderedService, i) in services" class="is-block-mobile is-size-0">
                <td class="has-text-basic is-size-875 is-hidden-mobile">{{i+1}}</td>
                <td class="is-size-875 is-block-mobile">
                    <div class="is-flex card-service_table">
                        <figure class="card-service_table__icon" v-if="orderedService.service.icon">
                            <img :src="orderedService.service.icon" alt="">
                        </figure>
                        <div class="card-service_table__info">
                            <h4>{{ $t(orderedService.service.name) }}</h4>
                            <time>{{ $getDateTime(orderedService.created_at)}}</time>
                        </div>
                    </div>
                </td>
                <td class="is-size-875 is-inline-block-mobile is-half-width-mobile">
                    <div class="has-text-basic is-hidden-tablet">
                        {{trans('profile.purchased_services.table_head.status')}}
                    </div>
                    <div :class="getStatusClass(orderedService.status)">
                        {{getStatusLabel(orderedService.status)}}
                    </div>
                </td>
                <td class="is-size-875 is-inline-block-mobile is-half-width-mobile">
                    <div class="has-text-basic is-hidden-tablet">
                        {{trans('profile.purchased_services.table_head.result')}}
                    </div>
                    <div>
                        <a href="/services/single" class="link-with-icon">
                            <img src="/svg/icons/ic_details.svg" alt="Details">
                            <span class="has-text-decoration-underline">{{trans('profile.purchased_services.link_view_result')}}</span>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</template>

<script>
    export default {
        data: () => ({
            services: [],
            statusLabels: trans('profile.purchased_services.statusLabels'),
        }),
        mounted() {
            this.getServices()
        },
        methods: {
            getServices() {
                axios.get('/profile/purchased_services').then(res => {
                    this.services = res.data;
                })
            },
            getStatusClass(status_id) {
                switch (status_id) {
                    case 1:
                        return 'has-text-primary'
                        break;
                    case 2:
                        return 'has-text-info'
                        break;
                    case 3:
                        return 'has-text-warning'
                        break;
                    case 4:
                        return 'has-text-success'
                        break;
                }
            },
            getStatusLabel(status_id) {
                return this.statusLabels[status_id - 1]
            }
        }
    }
</script>

<style>

</style>
