<template>
    <div class="column is-2-tablet is-6-mobile statistics-block">
        <div class="is-size-875 has-text-basic">
            <div>{{ head }}
                <span v-if="countTop!==null"  class="tag is-light is-rounded has-text-weight-bold">{{ countTop }}</span>
            </div>
            <div class="is-flex has-align-items-center">
                <span class="icon icon-1 mr-0-5">
                    <svg-icon :icon="icon"></svg-icon>
                </span>
                <span class="has-text-weight-bold">{{ count }}</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            head: {default: null},
            icon: {default: null},

            countTop: {default: null},
            count: {default: null},
        },
    }
</script>

<style>
    .statistics-block {
        cursor: pointer;
    }
</style>
