<template>

    <div class="container broker-pa">

        <div class="broker-pa__header">
            <div class="columns is-multiline">
                <div class="column is-8-desktop is-12-tablet">
                    <h1 class="section-title mb-0-5">{{trans('account.partners')}}</h1>
                </div>
                <div class="column is-4-desktop is-12-tablet">
                    <div class="buttons">
                        <button class="button is-outlined is-info is-size-875 has-text-weight-bold h-3 px-1">
                        <span class="icon">
                            <svg-icon :icon="'ic_lifesaver-2.svg'"></svg-icon>
                        </span>
                            <span>{{trans('account.help')}}</span>
                        </button>
                        <button class="button is-outlined is-info is-size-875 has-text-weight-bold h-3 px-1"
                                @click="showModalRef= true">
                        <span class="icon">
                             <svg-icon :icon="'ic_code.svg'"></svg-icon>
                        </span>
                            <span class="has-text-decoration-underline">{{trans('account.your_ref_link')}}</span>
                        </button>

                        <modal v-if="showModalRef"
                               @close="showModalRef = false">
                            <div slot="header">
                                <p class="modal-card-title mb-0">Ссылка</p>
                            </div>

                            <div slot="body">
                                <a href="#">https://ref.market.local/parner-invitation/4</a>
                            </div>
                            <div slot="footer">

                            </div>
                        </modal>

                    </div>
                </div>
                <div class="column is-8-desktop is-12-tablet">
                    <div class="buttons has-addons mb-0 mr-1 has-justify-content-start">
                        <router-link
                            :to="{ path: '/account/partners/'}"
                            class="button h-3 is-outlined is-info is-size-875 is-active">
                            <span>Активные партнеры</span>
                        </router-link>
                        <router-link
                            :to="{ path: '/account/partners/future'}"
                            class="button h-3 is-outlined is-info is-size-875">
                            <span>Будущие партнеры</span>
                        </router-link>
                    </div>
                </div>
                <div class="column is-4-desktop is-12-tablet">
                    <div class="buttons">
                        <div
                            class="control has-icons-left has-icons-left_1">
                            <flat-pickr
                                class="input is-size-875"
                                @on-close="dateChanged"
                                v-model="rangeDates.value"
                                :placeholder="rangeDates.placeholder"
                                :config="rangeDates.config"
                            />
                            <div class="icons is-left">
                                <span class="icon is-small">
                                    <svg-icon :icon="'ic_calendar.svg'"></svg-icon>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-multiline">
            <div class="column">
                <div class="columns is-multiline">
                    <g-g-select-input
                        v-model="typeData" :size="'is-4'"
                        @input=""
                        :placeholder="trans('account.data_in_chart.placeholder')"
                        :label="trans('account.data_in_chart.title')"
                        :searchable="true"
                        :options="trans('account.data_in_chart.options')"/>
                    <g-g-select-input
                        v-model="comparison" :size="'is-4'"
                        :placeholder="trans('account.compare.placeholder')"
                        :label="trans('account.compare.title')"
                        :searchable="true"
                        :options="trans('account.compare.options')"/>
                    <g-g-select-input
                        v-model="partnerId" :size="'is-4'"
                        :placeholder="trans('account.partner.placeholder')"
                        :label="trans('account.partner.title')"
                        @input="changePartner"
                        :searchable="true"
                        :options="partnerOptions"/>
                </div>
            </div>

            <div class="column is-narrow">
                <div class="is-flex has-align-items-end h-full broker-pa__graphic-controls">
                    <div class="buttons mr-1">
                        <button
                            @click="fetchChartData"
                            class="button h-3 is-outlined is-info is-size-875 px-1 mb-0">
                            <span class="icon icon-1 is-small">
                                 <svg-icon :icon="'ic_reload.svg'"></svg-icon>
                            </span>
                        </button>
                    </div>

                    <div class="buttons has-addons mr-1">
                        <button
                            class="button h-3 is-outlined is-info is-size-875 mb-0"
                            v-bind:class="{ 'is-active': dateType=='day'}"
                            @click="switchDateType('day')"
                        >
                            <span>{{trans('account.day')}}</span>
                        </button>
                        <button
                            class="button h-3 is-outlined is-size-875 mb-0 is-info"
                            v-bind:class="{ 'is-active': dateType=='week'}"
                            @click="switchDateType('week')"
                        >
                            <span>{{trans('account.week')}}</span>
                        </button>
                    </div>

                    <div class="buttons has-addons">
                        <button
                            class="button h-3 is-outlined is-info is-size-875 is-medium mb-0"
                            v-bind:class="{ 'is-active': typeChart=='line'}"
                            @click="switchChart('line')">
                            <span class="icon is-medium">
                                <svg-icon :icon="'ic_line-chart.svg'"/>
                            </span>
                        </button>
                        <button
                            class="button h-3 is-outlined is-size-875 is-info is-medium mb-0"
                            v-bind:class="{ 'is-active': typeChart=='bar'}"
                            @click="switchChart('bar')">
                            <span class="icon is-medium">
                                 <svg-icon :icon="'ic_analytics-2.svg'"/>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-time-zone is-size-875">
            (GMT+03:00) Москва
        </div>

        <div class="mb-2">
            <line-chart ref="lineChart" v-model="datacollection" :dataset="datacollection" :height="260"
                        v-show="typeChart=='line'"/>
            <bar-chart ref="barChart" v-model="datacollection" :dataset="datacollection" :height="260"
                       v-show="typeChart=='bar'"/>
        </div>

        <section class="section is-paddingless content">
            <table class="table is-fullwidth is-size-875">
                <thead class="is-hidden-touch">
                <tr>
                    <th>ID</th>
                    <th>{{trans('account.account')}}</th>
                    <th>{{trans('account.reg_date')}}</th>
                    <th>{{trans('account.country')}}</th>
                    <th>{{trans('account.moderate_messages')}}</th>
                    <th>{{trans('account.clicks')}}</th>
                    <th>{{trans('account.leads')}}</th>
                    <th>{{trans('account.sum_to_pay')}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="box is-paddingless is-block-touch">
                <tr v-for="partner in partners" class="is-block-touch is-size-0">
                    <td class="is-size-875 is-inline-block-touch">
                        <div class="has-text-basic is-hidden-desktop">
                            ID
                        </div>
                        <div>{{partner.id}}</div>
                    </td>
                    <td class="is-size-875 is-inline-block-touch has-vertical-align-middle">
                        <div class="has-text-basic is-hidden-desktop">
                            {{trans('account.account')}}
                        </div>
                        <div>
                            <div class="name-account">
                                <figure><img :src="(partner.user.avatar)?partner.user.avatar:'/svg/icons/ic_login.svg'"
                                             alt="">
                                </figure>
                                <span>{{partner.user.first_name}}</span>
                            </div>
                        </div>
                    </td>
                    <td class="has-text-basic is-size-875 is-inline-block-touch is-block-mobile">
                        <div class="has-text-basic is-hidden-desktop">
                            {{trans('account.reg_date')}}
                        </div>
                        <div>{{partner.created_at}}</div>
                    </td>
                    <td class="has-text-basic is-size-875 is-inline-block-touch is-half-width-mobile">
                        <div class="has-text-basic is-hidden-desktop">
                            {{trans('account.country')}}
                        </div>
                        <div>{{partner.user.country.translation.ru}}</div>
                    </td>
                    <td class="has-text-basic is-size-875 is-inline-block-touch is-half-width-mobile">
                        <div class="has-text-basic is-hidden-desktop">
                            {{trans('account.moderate_messages')}}
                        </div>
                        <div>
                            <a @click="showModalMessages(partner.id)" class="has-text-decoration-underline">
                                {{partner.moderate_messages}} сообщений
                            </a>
                        </div>
                    </td>
                    <td class="is-size-875 is-inline-block-touch is-half-width-mobile">
                        <div class="has-text-basic is-hidden-desktop">
                            {{trans('account.clicks')}}
                        </div>
                        <div>
                            <a href="#" class="has-text-decoration-underline">
                                {{partner.hits}}
                            </a>
                        </div>
                    </td>
                    <td class="is-size-875 is-inline-block-touch is-half-width-mobile">
                        <div class="has-text-basic is-hidden-desktop">
                            {{trans('account.leads')}}
                        </div>
                        <div>
                            <a href="#" class="has-text-decoration-underline">
                                {{partner.approved_leads}}
                            </a>
                        </div>
                    </td>
                    <td class="has-text-weight-bold is-size-875 is-inline-block-touch is-block-mobile">
                        <div class="has-text-basic is-hidden-desktop">
                            {{trans('account.sum_to_pay')}}
                        </div>
                        <div>
                            <a href="#" class="has-text-decoration-underline">
                                {{partner.approved_commission}}
                            </a>
                        </div>
                    </td>
                    <td class="is-size-875 is-inline-block-touch is-block-mobile">
                        <div class="is-flex">
                            <a :href="lroute('impersonate', partner.user_id)" class="link-with-icon mr-1">
                                <img src="/svg/icons/ic_details.svg">
                                <span class="has-text-decoration-underline">{{trans('account.in_account')}}</span>
                            </a>
                            <message-modal :to="partner.user_id"></message-modal>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <modal v-if="showMessages"
               @close="showMessages = false">
            <div slot="header">
                <p class="modal-card-title mb-0">Сообщения партнера</p>
            </div>

            <div slot="body">
                <table class="table is-fullwidth is-size-875">
                    <tr v-for="(mes,idx) in messages">
                        <td>{{mes.text}}</td>
                        <td ><button @click="changeMessageStatus(mes.id,'approve',idx)" class="btn btn-success">Одобрить</button></td>
                        <td><button  @click="changeMessageStatus(mes.id,'block',idx)" class="btn btn-success">Заблкировать</button></td>
                    </tr>
                </table>
            </div>
            <div slot="footer">

            </div>
        </modal>
        <portal-target name="modals" />
    </div>

</template>

<script>
    import BarChart from '../../charts/BarChart.js';
    import LineChart from '../../charts/LineChart.js';
    import GGSelectInput from '../../form/GGSelectInput';
    import Modal from '../../modals/Modal';
    import MessageModal from '../../chat/modal';

    import flatPickr from 'vue-flatpickr-component';
    import {Russian} from "flatpickr/dist/l10n/ru.js"
    import 'flatpickr/dist/flatpickr.css';

    flatpickr.localize(Russian);

    export default {
        name: "AccountPartners",
        components: {
            BarChart, LineChart, GGSelectInput, flatPickr, Modal, MessageModal
        },
        data() {
            return {
                showModalRef: false,
                showMessages: false,
                messages: [],
                partners: [],
                partnersIds: [],
                partnerId: 1,
                partnerOptions: trans('account.partner.options'),
                chart: {
                    data: null
                },
                typeData: 1,
                comparison: 1,
                sorting: 1,
                rangeDates: {
                    placeholder: '25.02.2018 - 03.03.2018',
                    value: '',
                    config: {
                        mode: "range",
                        altFormat: 'd.m.Y',
                        altInput: true,
                        dateFormat: 'Y-m-d'
                    }
                },
                datacollection: {
                    labels: ['Январь', 'Февраль', 'Март', 'Апрель', 'Мая', 'Июнь', 'Июль'],
                    datasets: [
                        {
                            label: 'Все показы',
                            backgroundColor: '#0070D9',
                            borderColor: '#0070D9',
                            borderWidth: 2,
                            data: [40, 39, 10, 40, 39, 80, 40],
                            fill: false,
                            lineTension: 0,
                            pointBorderWidth: 4,
                            // cubicInterpolationMode: 'monotone'
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            gridLines: {
                                color: "#CFDAE6",
                                drawTicks: false,
                                // zeroLineColor: "#0070D9",
                            },
                            ticks: {
                                fontColor: "#B4C4DB",
                                fontSize: 14,
                                fontFamily: "'Roboto', sans-serif",
                                padding: 10,
                            },
                        }],
                        yAxes: [{
                            gridLines: {
                                color: "#CFDAE6",
                                drawTicks: false,
                                zeroLineColor: "#0070D9",
                            },
                            ticks: {
                                fontColor: "#B4C4DB",
                                fontSize: 14,
                                fontFamily: "'Roboto', sans-serif",
                                beginAtZero: true,
                                padding: 10,
                                suggestedMin: 0,
                                suggestedMax: 5
                            },

                        }]
                    },
                    tooltips: {
                        backgroundColor: '#1C2940',
                        titleFontFamily: "'Roboto', sans-serif",
                        bodyFontFamily: "'Roboto', sans-serif",
                        footerFontFamily: "'Roboto', sans-serif",
                        cornerRadius: 3,
                    },
                    legend: {
                        display: true,
                        textAlign: 'left',
                        labels: {
                            // boxWidth: 8,
                            usePointStyle: true,
                            fontColor: '#B4C4DB',
                            fontSize: 14,
                            fontFamily: "'Roboto', sans-serif",
                        }
                    },
                },
                typeChart: 'line',
                dateType: 'day',
                from: null,
                to: null
            }
        },
        methods: {
            showModalMessages(partner_id) {
                let vm = this;
                axios.get('/account-get-partner-messages/' + partner_id).then(resp => {
                    vm.messages = resp.data.messages;
                    vm.showMessages = true;
                });
            },
            changeMessageStatus(id, status,idx) {
                let vm = this;
                axios.post('/account-change-message-status', {
                    id: id,
                    status: status
                }).then(resp => {
                    vm.messages.splice(idx, 1);
                });
            },
            changePartner() {
                this.fetchChartData();
            },
            dateChanged(val) {
                this.from = val[0];
                this.to = val[1];
                this.fetchChartData()
            },
            switchDateType(type = 'day') {
                this.dateType = type;
                this.fetchChartData()
            },
            switchChart(type = 'line') {
                if (type == 'bar') {
                    this.typeChart = 'bar';
                    this.$nextTick(() => {
                        this.$refs['barChart'].renderChart(this.datacollection, this.options)
                    })
                } else if (type == 'line') {
                    this.typeChart = 'line';
                    this.$nextTick(() => {
                        this.$refs['lineChart'].renderChart(this.datacollection, this.options)
                    })
                }
            },
            switchData(type) {
                this.datacollection.labels = [];
                this.datacollection.datasets[0].data = [];
                if (type == 'views') {
                    Object.keys(this.chart.data).forEach(el => {
                        this.datacollection.labels.push(this.chart.data[el].date);
                        this.datacollection.datasets[0].data.push(this.chart.data[el].views + 0);
                        this.datacollection.datasets[0].label = trans('account.views');
                    });
                } else if (type == 'clicks') {
                    Object.keys(this.chart.data).forEach(el => {
                        this.datacollection.labels.push(this.chart.data[el].date);
                        this.datacollection.datasets[0].data.push(this.chart.data[el].clicks + 0);
                        this.datacollection.datasets[0].label = trans('account.clicks');
                    });
                } else if (type = 'registered') {
                    Object.keys(this.chart.data).forEach(el => {
                        this.datacollection.labels.push(this.chart.data[el].date);
                        this.datacollection.datasets[0].data.push(this.chart.data[el].registered + 0);
                        this.datacollection.datasets[0].label = trans('account.registrations');
                    });
                }
                this.switchChart(this.typeChart);
            },
            switchComapre(type) {
                if (this.datacollection.datasets.length == 1) {
                    this.datacollection.datasets.push({
                        label: 'Все показы',
                        backgroundColor: '#9C27B0',
                        borderColor: '#9C27B0',
                        borderWidth: 2,
                        data: [40, 39, 10, 40, 39, 80, 40],
                        fill: false,
                        lineTension: 0,
                        pointBorderWidth: 4,
                        // cubicInterpolationMode: 'monotone'
                    });
                }
                this.datacollection.datasets[1].data = [];
                if (type == 'views') {
                    Object.keys(this.chart.data).forEach(el => {
                        this.datacollection.datasets[1].data.push(this.chart.data[el].views + 0);
                        this.datacollection.datasets[1].label = trans('account.views');
                    });
                } else if (type == 'clicks') {
                    Object.keys(this.chart.data).forEach(el => {
                        this.datacollection.datasets[1].data.push(this.chart.data[el].clicks + 0);
                        this.datacollection.datasets[1].label = trans('account.clicks');
                    });
                } else if (type = 'registered') {
                    Object.keys(this.chart.data).forEach(el => {
                        this.datacollection.datasets[1].data.push(this.chart.data[el].registered + 0);
                        this.datacollection.datasets[1].label = trans('account.registrations');
                    });
                }
                this.switchChart(this.typeChart);
            },
            fetchPartners() {
                let vm = this;
                axios.post('/account-get-partners', {
                    approved: true
                }).then(responce => {
                    vm.partners = responce.data;
                    responce.data.forEach(partner => {
                        vm.partnersIds.push(partner.id);
                        vm.partnerOptions.push({'id': partner.id, 'name': partner.user.full_name});
                    });
                    vm.fetchChartData();

                })
            },
            fetchChartData() {
                let vm = this;
                let data = {};
                if (vm.partnerId > 1) {
                    data.partners = [vm.partnerId];
                } else {
                    data.partners = vm.partnersIds;
                }
                data.dateType = vm.dateType;
                if (vm.from) {
                    data.from = vm.from;
                }
                if (vm.to) {
                    data.to = vm.to;
                }
                axios.post('/account-chart-data', {
                    data: data
                }).then(responce => {
                    vm.chart.data = responce.data.result;
                    vm.switchData('views');
                })
            },

        },
        created() {
            this.fetchPartners();
        },
        watch: {
            typeData: {
                immediate: false,
                handler(value) {
                    if (value) {
                        if (value == 1) {
                            this.switchData('views');
                        } else if (value == 2) {
                            this.switchData('clicks');
                        } else if (value == 3) {
                            this.switchData('registered');
                        }
                    }
                }
            },
            comparison: {
                immediate: false,
                handler(value) {
                    if (value > 1) {
                        if (value == 2) {
                            this.switchComapre('views');
                        } else if (value == 3) {
                            this.switchComapre('clicks');
                        } else if (value == 4) {
                            this.switchComapre('registered');
                        }
                    } else {
                        this.datacollection.datasets = this.datacollection.datasets.slice(0, 1);
                        this.switchChart();
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
