<template>
    <modal v-if="show"
           @close="show = false">
        <div slot="header">
            <p class="modal-card-title mb-0">{{title}}</p>
        </div>

        <div slot="body">
            <div class="content">
                <div class="columns is-multiline">
                    <g-g-input :size="'is-6'" v-model="form.name.value"
                               :label="form.name.title"
                               :placeholder="form.name.placeholder"
                               :required="form.name.required"></g-g-input>
                    <g-g-input :size="'is-6'" v-model="form.phone.value"
                               :label="form.phone.title"
                               :placeholder="form.phone.placeholder"
                               :required="form.phone.required"></g-g-input>
                    <g-g-input :size="'is-6'" v-model="form.email.value"
                               :label="form.email.title"
                               :placeholder="form.email.placeholder"
                               :required="form.email.required"></g-g-input>
                    <g-g-input :size="'is-6'" v-model="form.company.value"
                               :label="form.company.title"
                               :placeholder="form.company.placeholder"
                               :required="form.company.required"></g-g-input>
                    <g-g-textarea :size="'is-12'" v-model="form.article.value"
                                  :label="form.article.title"
                                  :placeholder="form.article.placeholder"
                                  :required="form.article.required"></g-g-textarea>
                    <div class="column is-12">
                        <FilesUpload ref="filesUpload"></FilesUpload>
                    </div>
                </div>
            </div>
        </div>
        <div class="content w-full" slot="footer">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <button @click="send" class="button is-info is-fullwidth has-text-weight-bold h-3 is-size-875">
                        {{trans('reviews.form_add.btn_submit')}}
                    </button>
                </div>
            </div>
        </div>


    </modal>
</template>

<script>
    import Modal from '../modals/Modal'
    import GGInput from '../form/GGInput'
    import GGTextarea from '../form/GGTextarea'
    import FilesUpload from '../FilesUpload'

    export default {
        name: "modalAddReview",
        components: {
            Modal,
            GGTextarea,
            GGInput,
            FilesUpload
        },
        props: {
            value: {default: null},
        },
        data: () => ({
            title: trans('reviews.form_add.title'),
            form: {
                name: {
                    title: trans('reviews.form_add.name.label'),
                    placeholder: trans('reviews.form_add.name.placeholder'),
                    value: '',
                    required: true
                },
                phone: {
                    title: trans('reviews.form_add.phone.label'),
                    placeholder: trans('reviews.form_add.phone.placeholder'),
                    value: '',
                    required: true
                },
                email: {
                    title: trans('reviews.form_add.email.label'),
                    placeholder: trans('reviews.form_add.email.placeholder'),
                    value: '',
                    required: true
                },
                company: {
                    title: trans('reviews.form_add.company.label'),
                    placeholder: trans('reviews.form_add.company.placeholder'),
                    value: '',
                    required: true
                },
                article: {
                    title: trans('reviews.form_add.article.label'),
                    placeholder: trans('reviews.form_add.article.placeholder'),
                    value: '',
                    required: true
                }
            }
        }),
        computed: {
            show: {
                get: function () {
                    return this.value
                },
                set: function (value) {
                    this.$emit('input', value);
                },
            }
        },
        methods: {
            send() {
                let vm = this;
                let formData = new FormData();
                let form = {
                    'article': vm.form.article.value,
                    'company': vm.form.company.value,
                    'email': vm.form.email.value,
                    'name': vm.form.name.value,
                    'phone': vm.form.phone.value,
                };
                let data = JSON.stringify(form);
                let files = vm.$refs['filesUpload'].getAllFiles();
                files.forEach(file => {
                    formData.append("files[]", file);
                });
                formData.append("form", data);
                // formData.append('_method', 'PUT');
                axios.post('/review-add', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    vm.show = false;
                    if (response.data.status === 'ok') {
                        this.$swal({ type: 'success', text: trans('reviews.form_add.success') });
                    } else {
                        this.$swal({ type: 'error', text: trans('reviews.form_add.error') });
                    }
                });
            },
        }
    }
</script>

<style scoped>

</style>
