<template>
    <modal v-if="show"
           @close="toggleModal"
           class="review-modal">
        <div slot="header" class="review-modal__thumb">
            <iframe v-if="review.video_url && $t(review.video_url)" width="544" height="240" :src="$t(review.video_url)" frameborder="0"
                    allowfullscreen>
            </iframe>
            <img v-else :src="review.main" alt="">
        </div>

        <div slot="body">
            <div class="content">
                <h3 class="mt-1">{{$t(review.name)}}</h3>
                <div class="is-size-875">
                    {{$t(review.article)}}
                </div>
            </div>
        </div>
        <div class="content w-full" slot="footer">
            <SliderMaterials :images="images"></SliderMaterials>
        </div>


    </modal>
</template>

<script>
    import Modal from '../modals/Modal'

    import SliderMaterials from './SliderMaterials';

    export default {
        name: "modalShowReviews",
        components: {
            Modal,
            SliderMaterials
        },
        props: {
            value: {default: null},
            id: {default: null},
        },
        data: () => ({
            review: {},
            images: []
        }),
        computed: {
            show: {
                get: function () {
                    return this.value;
                },
                set: function (value) {
                    this.$emit('input', value);
                },
            }
        },
        methods: {
            toggleModal() {
                this.review = {};
                this.images = [];
                this.show = !this.show;
            },
        },
        watch: {
          show() {
              if (this.value) {
                  let vm = this;
                  axios.post('/review-show', {
                      id: this.id,
                  }).then(response => {
                      vm.review = response.data;
                      this.images = vm.review.allMedia;
                  });
              }
          }
        },
        mounted() {
            this.$nextTick(function () {
                // Код, который будет запущен только после
                // отображения всех представлений
            });
        }
    }
</script>

<style scoped>

</style>
