<template>
    <!-- ... -->
    <div class="swiper-reviews-media-wrap">
        <div class="swiper-container swiper-reviews-media">
            <div class="swiper-wrapper" id="swiper-reviews-media-gallery">
                <!-- It is important to set "left" style prop on every slide -->
                <div class="swiper-slide"
                     v-for="(slide, index) in virtualData.slides"
                     :key="index"
                     :style="{left: `${virtualData.offset}px`}"
                     :data-src="slide.full"
                >
                    <a :href="slide.full"><img :src="slide.thumb" alt=""></a>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-reviews-media-next"></div>
        <div class="swiper-button-prev swiper-reviews-media-prev"></div>
    </div>
    <!-- ... -->
</template>
<script>
    import Swiper from 'swiper/dist/js/swiper.esm.bundle';

    import 'lightgallery.js';
    import 'lightgallery.js/dist/css/lightgallery.css';

    export default {
        data() {
            return {
                // dummy slides data
                slides: (function () {
                    let slides = [];
                    return slides;
                }()),
                // virtual data
                virtualData: {
                    slides: [],
                },
            }
        },
        props: {images: {default: () => {
                    return [];
                }}},
        watch: {
            images: {
                immediate: true,
                handler(imgs) {
                    if (imgs.length > 0) {
                        //console.log(imgs);
                        this.$nextTick(() => {
                            const self = this;
                            self.slides = imgs;
                            const swiper = new Swiper('.swiper-reviews-media', {
                                slidesPerView: 4,
                                spaceBetween: 0,
                                simulateTouch: false,
                                navigation: {
                                    nextEl: '.swiper-reviews-media-next',
                                    prevEl: '.swiper-reviews-media-prev',
                                },
                                virtual: {
                                    slides: self.slides,
                                    renderExternal(data) {
                                        // assign virtual slides data
                                        self.virtualData = data;
                                    },
                                    cache: false
                                },
                            });
                        })
                    }
                }
            }
        },
        mounted() {

        },
        updated() {
            lightGallery(document.getElementById('swiper-reviews-media-gallery'));
        }
    };
</script>
