<template>
    <span>
        <!--<dot-loader :loading="$root.loader" :color="'#d3d3d3'" :size="'50px'" />-->
        <breadcrumbs />
        <router-view v-if="!$root.loader" />
    </span>
</template>

<script>
    import Breadcrumbs from './breadcrumbs'
    //import DotLoader from 'vue-spinner/src/DotLoader'
    export default {
        components: {Breadcrumbs},
        data: () => ({
            user: null
        }),
        mounted() {
            //console.log(this.$root.loader);
            this.user = this.$store.state.user
        }
    }
</script>
