<template>
    <modal v-if="show" @close="$emit('close')" :width="'940px'">
        <div slot="header">
            <p class="modal-card-title mb-0">{{trans('profile.user_services.add')}}</p>
        </div>

        <div slot="body">
            <div class="content">
                <div class="columns is-multiline">
                    <g-g-input
                        :iconLeft="'ic_search.svg'"
                        :label="trans('profile.add_service.search_service.label')"
                        :placeholder="trans('profile.add_service.search_service.placeholder')"
                        :size="'is-5'"
                        v-model="formSearch.search"

                    <g-g-select-input
                        :label="trans('profile.add_service.category.label')"
                        :options="trans('profile.add_service.category.options')"
                        :placeholder="trans('profile.add_service.category.placeholder')"
                        :searchable="true"
                        :size="'is-5'"
                        v-model="formSearch.category"/>
                    <div class="column is-2 is-flex has-align-items-end">
                        <button class="button h-3 has-text-weight-bold is-size-875 is-info is-fullwidth">
                            {{trans('fields.search')}}
                        </button>
                    </div>
                </div>
                <bulma-accordion
                    :slide="{duration: '.3s', timerFunc: 'ease'}"
                    class="px-0 items-bb">
                    <bulma-accordion-item class="is-paddingless">
                        <div slot="title" class="is-size-875">
                            <div class="is-flex card-service_table has-align-items-center">
                                <figure class="card-service_table__icon is-marginless">
                                    <img src="/svg/icons/services/ic_vip.svg" alt="">
                                </figure>
                                <div class="card-service_table__info ml-1">
                                    <h4 class="is-marginless is-paddingless">VIP размещение объявления</h4>
                                </div>
                            </div>
                        </div>
                        <div slot="content" class="pb-1">
                            <div class="is-size-875 has-text-basic has-line-height-normal mb-1">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores culpa
                                deserunt doloribus ex fugiat incidunt, iste maxime minima, neque placeat porro
                                quam quibusdam quis, repellat sapiente sit suscipit tempore.
                            </div>
                            <form @submit.prevent="reserve">
                                <div class="columns is-multiline">
                                    <div class="column is-5">
                                        <div class="field">
                                            <div class="control">
                                                <label class="checkbox is-info is-size-875">
                                                    <input type="checkbox" name="remember" v-model="accept" required>
                                                    <span>
                                                         {{trans('services.textAcceptAgreement')}}
                                                        <a href="#">{{trans('services.readAgreement')}}</a>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-3">
                                        <div class="is-size-875 has-text-basic">{{trans('services.costService')}}</div>
                                        <div class="is-size-5 has-text-weight-bold has-text-dark-blue">€10</div>
                                    </div>
                                    <div class="column is-4">
                                        <button
                                            type="submit"
                                            class="button is-info has-text-weight-bold is-size-875 h-3 is-fullwidth">
                                            {{trans('services.orderService')}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </bulma-accordion-item>
                    <bulma-accordion-item class="is-paddingless">
                        <div slot="title" class="is-size-875">
                            <div class="is-flex card-service_table has-align-items-center">
                                <figure class="card-service_table__icon is-marginless">
                                    <img src="/svg/icons/services/ic_translate.svg" alt="">
                                </figure>
                                <div class="card-service_table__info ml-1">
                                    <h4 class="is-marginless is-paddingless">{{
                                        trans('profile.user_service.docs_translate') }}</h4>
                                </div>
                            </div>
                        </div>
                        <div slot="content" class="pb-1">
                            <div class="is-size-875 has-text-basic has-line-height-normal mb-1">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores culpa
                                deserunt doloribus ex fugiat incidunt, iste maxime minima, neque placeat porro
                                quam quibusdam quis, repellat sapiente sit suscipit tempore.
                            </div>
                            <div>
                                <div class="is-size-875 has-text-basic mb-1">
                                    <span class="icon icon-1">
                                        <svg-icon :icon="'ic_important.svg'"/>
                                    </span>
                                    <span>Сначала необходимо <a @click="downloadDocuments" class="has-text-info">загрузить документы</a></span>
                                </div>
                            </div>
                            <form @submit.prevent="reserve">
                                <div class="columns is-multiline">
                                    <div class="column is-5">
                                        <div class="field">
                                            <div class="control">
                                                <label class="checkbox is-info is-size-875">
                                                    <input type="checkbox" name="remember" v-model="accept" required>
                                                    <span>
                                                         {{trans('services.textAcceptAgreement')}}
                                                        <a href="#">{{trans('services.readAgreement')}}</a>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-3">
                                        <div class="is-size-875 has-text-basic">{{trans('services.costService')}}</div>
                                        <div class="is-size-5 has-text-weight-bold has-text-dark-blue">€10</div>
                                    </div>
                                    <div class="column is-4">
                                        <button
                                            type="submit"
                                            class="button is-info has-text-weight-bold is-size-875 h-3 is-fullwidth">
                                            {{trans('services.orderService')}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </bulma-accordion-item>
                </bulma-accordion>
            </div>
        </div>
        <div class="content w-full" slot="footer">
            <div class="columns is-multiline">
                <div class="column">
                    <div class="is-size-875 has-text-basic is-flex h-full has-align-items-center">
                        Показаны 5 из 70
                    </div>
                </div>
                <div class="column is-narrow">
                    <!--ToDo: подключить обычную пагинацию -->
                    <ul class="pagination">
                        <li class="page-item pagination-prev-nav disabled">
                            <a
                                href="#"
                                aria-label="Previous"
                                tabindex="-1"
                                class="page-link">

                            <a disabled="disabled" class="pagination-previous pagination-nav button is-link">
                                <span class="pagination-nav__icon">
                                    <div class="inline-block">
                                        <svg
                                            width="14"
                                            height="11"
                                            viewBox="0 0 14 11"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g id="ic_arrow_right">
                                                <path
                                                    id="Path"
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M13.7549 4.94055L8.75389 0.226205C8.43145 -0.0786619 7.90998 -0.0747079 7.59083 0.234076C7.27168 0.542859 7.27497 1.04022 7.59907 1.34508L11.173 4.71425H0.822515C0.36766 4.71425 0 5.06545 0 5.49995C0 5.93445 0.36766 6.28569 0.822515 6.28569H11.173L7.59907 9.65486C7.27501 9.95972 7.27253 10.4571 7.59083 10.7659C7.75203 10.9214 7.96425 11 8.17648 11C8.38542 11 8.59431 10.9246 8.75389 10.7737L13.7549 6.05935C13.9112 5.91165 14 5.71047 14 5.49991C14 5.28943 13.912 5.08906 13.7549 4.94055Z"
                                                      fill="white" />
                                            </g>
                                        </svg>
                                    </div>
                                </span>
                                <span class="pagination-nav__title">
                                    Предыдущая страница
                                </span>
                            </a>
                        </a>
                        </li>
                        <li class="page-item pagination-page-nav active">
                            <a href="#" class="page-link">
                            1
                            <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item pagination-page-nav">
                            <a href="#" class="page-link">
                            2
                            <!----></a>
                        </li>
                        <li class="page-item pagination-page-nav">
                            <a href="#" class="page-link">
                            3
                            <!----></a>
                        </li>
                        <li class="page-item pagination-page-nav">
                            <a href="#" class="page-link">
                            4
                            <!----></a>
                        </li>
                        <li class="page-item pagination-page-nav">
                            <a href="#" class="page-link">
                            5
                            <!----></a>
                        </li>
                        <li class="page-item pagination-page-nav">
                            <a href="#" class="page-link">
                            6
                            <!----></a>
                        </li>
                        <li class="page-item pagination-next-nav">
                            <a href="#" aria-label="Next" class="page-link">
                                <a class="pagination-next pagination-nav button is-link">
                                    <span class="pagination-nav__title">
                                        Следующая страница
                                    </span>
                                    <span class="pagination-nav__icon">
                                        <div class="inline-block">
                                            <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="ic_arrow_right">
<path id="Path" fill-rule="evenodd" clip-rule="evenodd"
      d="M13.7549 4.94055L8.75389 0.226205C8.43145 -0.0786619 7.90998 -0.0747079 7.59083 0.234076C7.27168 0.542859 7.27497 1.04022 7.59907 1.34508L11.173 4.71425H0.822515C0.36766 4.71425 0 5.06545 0 5.49995C0 5.93445 0.36766 6.28569 0.822515 6.28569H11.173L7.59907 9.65486C7.27501 9.95972 7.27253 10.4571 7.59083 10.7659C7.75203 10.9214 7.96425 11 8.17648 11C8.38542 11 8.59431 10.9246 8.75389 10.7737L13.7549 6.05935C13.9112 5.91165 14 5.71047 14 5.49991C14 5.28943 13.912 5.08906 13.7549 4.94055Z"
      fill="white"></path>
</g>
</svg>
</div></span></a></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import Modal from './Modal';
    import GGInput from '../form/GGInput';
    import GGSelectInput from '../form/GGSelectInput';
    import {BulmaAccordion, BulmaAccordionItem} from "vue-bulma-accordion";


    export default {
        name: "ModalAddServiceFranchise",
        components: {
            Modal, GGInput, GGSelectInput, BulmaAccordion, BulmaAccordionItem
        },
        props: {
            show: {default: false},
        },
        data: () => ({
            formSearch: {
                search: null,
            },
            accept: true,
            files: false,
        }),
        methods: {
            reserve() {

                if (this.$store.state.user.balance >= 10) {
                    this.$swal({
                        type: 'success',
                        text: 'Заказ улуги включает в себя списание со счёта €10',
                        confirmButtonText: 'Оплатить',
                        cancelButtonText: 'Закрыть',
                        showCancelButton: true,
                        preConfirm: () => {
                            // axios.post(this.url, {id: this.id})
                            //     .then(response => {
                            this.$swal({type: 'success', title: 'Услуга заказана'});
                            // window.location.replace(response.data.url)
                            // });
                        }
                    });
                } else {
                    this.noMoney();
                }

            },
            noMoney() {
                this.$swal({type: 'error', title: 'У Вас не достаточно средств на счете!'});
            },
            downloadDocuments() {
              this.$emit('showZoneDocs')
              this.$emit('close')
            }
        }
    }
</script>

<style scoped>

</style>
