<template>
    <modal
        v-if="show"
        @close="$emit('closeChangePriceModal', {
            'price': form.price,
            'discount': form.discount,
        })"
    >
        <div slot="header">
            <p class="modal-card-title mb-0">{{ trans('profile.objects.manage_price.btn_manage') }}</p>
        </div>
        <div slot="body">
            <div class="content">
                <g-g-input
                    :size="'is-12'"
                    v-model="form.price"
                    :label="trans('profile.objects.manage_price.price')"
                    :placeholder="trans('profile.objects.manage_price.price')"/>
                <g-g-input
                    :size="'is-12'"
                    v-model="form.discount"
                    :label="trans('profile.objects.manage_price.discount')"
                    :placeholder="trans('profile.objects.manage_price.discount')"/>
            </div>
        </div>
        <div class="content w-full" slot="footer">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <button @click="submit" class="button is-info is-fullwidth has-text-weight-bold h-3 is-size-875">
                        {{trans('profile.objects.manage_price.btn_submit')}}
                    </button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import Modal from './Modal';
    import GGInput from '../form/GGInput';

    export default {
        components: {
            GGInput,
            Modal
        },
        props: {
            id: null,
            price: Number,
            discount: Number,
            show: false,
            route: null,
        },
        updated: function () {
            if (!this.rendered) {
                this.form.price = this.price;
                this.form.discount = this.discount;
                this.rendered = true;
            }
        },
        data: () => ({
            rendered: false,
            form: {
                price: null,
                discount: null,
            },
        }),
        methods: {
            submit() {
                axios
                    .post(`/${this.route}/change-price/${this.id}`, this.form)
                    .then(responce => {
                        this.rendered = false;
                        this.$parent.$emit('close', {
                            id: this.id,
                            price: this.form.price,
                            discount: this.form.discount,
                        });
                    })
                    .catch(e => {
                        this.$swal({
                            type: 'error',
                            title: 'Ошибка!',
                            text: 'Не все поля были заполнены'
                        });
                    });
            },
        }
    }
</script>
