    <template>
    <modal v-if="show" @close="$emit('close')">
        <div slot="header">
            <p class="modal-card-title mb-0">
                {{ trans('profile.objects.sell_with_broker.caption') }}
            </p>
        </div>
        <div slot="body">
            <div class="content">
                <input
                    v-model="agreeToTerms"
                    id="agree_to_terms"
                    type="checkbox"
                    value="0"
                />
                <label
                    v-html="trans('profile.objects.sell_with_broker.agree_to_terms_sale_with_broker')"
                    for="agree_to_terms"></label>
                <a href="/storage/docs/agreement.pdf" class="link-with-icon">
                    <img src="/svg/icons/files/ic_pdf.svg">
                    <span class="has-text-decoration-underline">{{ trans('profile.objects.sell_with_broker.link') }}</span>
                </a>
            </div>
        </div>
        <div class="content w-full" slot="footer">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <button
                        v-if="agreeToTerms"
                        @click="submit(franchiseId)"
                        class="button is-info is-fullwidth has-text-weight-bold h-3 is-size-875">
                        {{ trans('profile.objects.sell_with_broker.btn_submit') }}
                    </button>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import Modal from './Modal';

    export default {
        name: 'ModalSellWithBroker',
        components: { Modal },
        props: {
            franchiseId: null,
            show: false,
        },
        data() {
            return {
                agreeToTerms: false
            }
        },
        methods: {
            submit(franchiseId) {
                axios
                    .patch(`/franchise/sell-with-broker/${franchiseId}`)
                    .then(res => {
                        this.$emit('close');
                    })
                    .catch(e => {
                        this.$swal({
                            type: 'error',
                            title: e.response.status,
                            text: e.response.data.message
                        });
                    })
            },
        }
    }
</script>
