<template>
    <modal v-if="show" @close="$emit('close')">
        <div slot="header">
            <h3>{{ title }}</h3>
        </div>
        <div slot="body">
            <form action="#" @submit.prevent="newMessage">
                <div class="field">
                    <label class="label label_req">{{ captions.theme }}</label>
                    <input
                        v-model="form.theme"
                        class="input"
                        :placeholder="captions.theme"
                        required
                    />
                </div>
                <div class="field">
                    <label class="label label_req">{{ captions.message }}</label>
                    <textarea
                        v-model="form.text"
                        class="textarea"
                        :placeholder="captions.message"
                        required>
                    </textarea>
                </div>
                <div class="field">
                    <button type="submit" class="button is-link is-fullwidth has-text-weight-bold">
                        {{ captions.send }}
                    </button>
                </div>
            </form>
        </div>
    </modal>
</template>

<script>
    import Modal from "./Modal"

    export default {
        name: "DialogModal",
        components: {
            Modal
        },
        props: {
            show: false,
            title: "",
            captions: {
                theme: "",
                message: "",
                send: "",
            },
            theme: "",
            type: "",
            to: null,
            objectId: null,
        },
        data() {
            return {
                form: {
                    theme: "",
                    text: "",
                    type: "",
                    to: null,
                    objectId: null,
                    dialogId: null,
                },
                dialogs: [],
            }
        },
        mounted() {
            this.getDialog();
            this.$on('close', function () {
                this.$parent.$emit('dialog-modal-close');
            });
        },
        watch: {
            dialogs: function () {
                this.socketConnect();
            }
        },
        methods: {
            socketConnect() {
                if (window.Echo===undefined) {
                    return;
                }
                for (let dialog of this.dialogs) {
                    window.Echo
                        .private('Chat.Dialog.' + dialog.id)
                        .listen('NewMessage', (e) => {
                            this.$emit('new-message', e)
                        })
                }
            },
            newMessage() {
                this.form.type = this.type;
                this.form.to = this.to;
                this.form.objectId = this.objectId;
                if (!!this.form.dialogId === false) {
                    axios
                        .post('/chat/dialog/add', this.form)
                        .then(res => {
                            this.dialogs.push(res.data);
                            this.$emit('close');
                        })
                        .catch(e => {
                            alert(e.response.data.message);
                        });
                } else {
                    axios
                        .post('/chat/message/add', this.form)
                        .then(res => {
                            this.$emit('close');
                        })
                        .catch(e => {
                            alert(e.response.data.message);
                        });
                }
                this.rendered = false;
            },
            getDialog() {
                axios
                    .get(`/chat/user-dialog`, {
                        params: {
                            userId: this.to
                        }
                    })
                    .then(response => {
                        this.form.dialogId = response.data.id;
                        this.form.theme = response.data.theme;
                    });
            },
        }
    }
</script>
