<template>
    <nav class="aside-nav mb-0">
        <ul>
            <li class="aside-nav__item" v-if="$userCan('object-reserve')">
                <router-link to="/profile/reserved-business" tag="a">
                    <svg-icon :icon="'ic_business.svg'" />
                    <span
                        class="aside-nav__item__title has-text-weight-bold">{{trans('profile.businesses.booked')}}</span>
                </router-link>
            </li>
            <li class="aside-nav__item" v-if="$userCan('object-sell')">
                <router-link to="/profile/businesses" tag="a">
                    <svg-icon :icon="'ic_business.svg'"/>
                    <span class="aside-nav__item__title has-text-weight-bold">{{trans('profile.businesses.title')}}</span>
                </router-link>
            </li>
            <li class="aside-nav__item" v-if="$userCan('object-sell')">
                <router-link to="/profile/franchise" tag="a">
                    <svg-icon :icon="'ic_franchise.svg'" />
                    <span class="aside-nav__item__title has-text-weight-bold">{{trans('profile.franchises.title')}}</span>
                </router-link>
            </li>
            <li class="aside-nav__item">
                <router-link to="/profile/purchased-services" tag="a">
                    <svg-icon :icon="'ic_cart_c.svg'" />
                    <span class="aside-nav__item__title has-text-weight-bold">{{ trans('profile.nav.purchased_services') }}</span>
                </router-link>
            </li>
            <li class="aside-nav__item">
                <router-link to="/profile/favorites" tag="a">
                    <svg-icon :icon="'ic_favorites-2.svg'"/>
                    <span
                        class="aside-nav__item__title has-text-weight-bold">{{ trans('profile.nav.favorites') }}</span>
                </router-link>
            </li>
            <li class="aside-nav__item">
                <router-link to="/profile/chat" tag="a">
                    <svg-icon :icon="'ic_messages.svg'" />
                    <span class="aside-nav__item__title has-text-weight-bold">{{ trans('profile.nav.messages') }}</span>
                </router-link>
            </li>
            <li class="aside-nav__item" v-if="$userCan('object-buy')">
                <router-link tag="a" to="/profile/object-requests/doc">
                    <svg-icon :icon="'ic_document.svg'"/>
                    <span
                        class="aside-nav__item__title has-text-weight-bold">{{ trans('profile.nav.object_requests_docs') }}</span>
                </router-link>
            </li>
            <li class="aside-nav__item">
                <router-link to="/profile/balance" tag="a">
                    <svg-icon :icon="'ic_cash.svg'"/>
                    <span
                        class="aside-nav__item__title has-text-weight-bold">{{ trans('profile.nav.balance') }}</span>
                </router-link>
            </li>
            <li class="aside-nav__item">
                <router-link to="/profile/settings" tag="a">
                    <svg-icon :icon="'ic_profile_settings.svg'" />
                    <span
                        class="aside-nav__item__title has-text-weight-bold">{{ trans('profile.nav.settings') }}</span>
                </router-link>
            </li>
            <li class="aside-nav__item" v-if="$userIs($store.state.ROLE_EXECUTIVE)">
                <router-link to="/profile/user-services/list" tag="a">
                    <svg-icon :icon="'ic_product.svg'"/>
                    <span class="aside-nav__item__title has-text-weight-bold">
                        {{ trans('profile.nav.user_service') }}
                    </span>
                </router-link>
            </li>
            <!--<li class="aside-nav__item" v-if="$userCan('object-reserve')">
                <router-link to="/profile/reserved-franchise" tag="a">
                    <svg-icon :icon="'ic_franchise.svg'"/>
                    <span
                        class="aside-nav__item__title has-text-weight-bold">{{trans('profile.franchises.booked')}}</span>
                </router-link>
            </li>-->
            <!--<li class="aside-nav__item" v-if="$userCan('object-buy')">
                <router-link to="/profile/trips" tag="a">
                    <svg-icon :icon="'ic_aircraft.svg'"/>
                    <span
                        class="aside-nav__item__title has-text-weight-bold">{{ trans('profile.nav.trips') }}</span>
                </router-link>
            </li>-->
            <!--<li class="aside-nav__item" v-if="$userCan('object-sell')">
                <router-link to="/profile/object-requests/view" tag="a">
                    <svg-icon :icon="'ic_eye.svg'"/>
                    <span class="aside-nav__item__title has-text-weight-bold">{{ trans('profile.nav.object_requests') }}</span>
                </router-link>
            </li>-->
            <!--<li class="aside-nav__item">
                <router-link to="/profile/legal" tag="a">
                    <svg-icon :icon="'ic_contract.svg'"/>
                    <span
                        class="aside-nav__item__title has-text-weight-bold">{{ trans('profile.nav.legal') }}</span>
                </router-link>
            </li>-->
        </ul>
    </nav>
</template>

<style lang="scss" scoped>
    .aside-nav {
        padding: 1.5rem;
    }
</style>
