<template>
    <div>
        <aside class="pt-1">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <div class="buttons has-addons has-addons-fullwidth field" v-if="$userCan('object-sell')">
                        <a href="/business/create"
                           class="control button is-warning h-3 is-size-875 has-text-weight-bold">{{trans('profile.businesses.sell')}}</a>
                        <a href="/franchise/create"
                           class="control button is-info h-3 is-size-875 has-text-weight-bold">{{trans('profile.franchises.sell')}}</a>
                    </div>
                    <div class="buttons has-addons has-addons-fullwidth field" v-if="$userCan('create Service')">
                        <router-link
                            :to="`/profile/user-services/create`"
                            class="button is-size-875 is-warning h-3 has-text-weight-bold">
                            {{ trans('profile.user_services.new') }}
                        </router-link>
                    </div>
                </div>
                <div class="column is-12">
                    <div class="pb-2 is-hidden-touch">
                        <profile-nav></profile-nav>
                    </div>

                    <bulma-accordion
                            class="vacancy-list-candidates is-hidden-desktop"
                            :slide="{
                                duration: '.3s',
                                timerFunc: 'ease'
                            }">
                        <bulma-accordion-item class="box is-paddingless">
                            <!-- ToDo: проверить правильность вывода названия текущей страницы и вывести соответствующую иконку-->
                            <div slot="title" class="is-size-875">{{ this.getBreadcrumbLabel() }}</div>
                            <div slot="content">
                                <profile-nav></profile-nav>
                            </div>
                        </bulma-accordion-item>
                    </bulma-accordion>
                </div>
            </div>
        </aside>
    </div>
</template>

<script>
    import {BulmaAccordion, BulmaAccordionItem} from "vue-bulma-accordion";
    import ProfileNav from "./profile-nav";

    export default {
        name: 'profile-aside',
        components: {
            BulmaAccordion, BulmaAccordionItem, ProfileNav
        },
        methods: {
            getBreadcrumbLabel() {
                if (
                       this.$route.meta !== undefined
                    && this.$route.meta.breadcrumb !== undefined
                ) {
                    return this.$route.meta.breadcrumb.label;
                }
                return '';
            }
        }
    }
</script>
