<template>
    <div class="profile">
        <breadcrumbs />
        <div class="columns is-multiline">
            <div class="column is-4-desktop is-12-tablet">
                <profile-aside />
            </div>
            <div class="column is-8-desktop is-12-tablet">
                <router-view v-if="user" :user="user" />
            </div>
        </div>
    </div>
</template>

<script>
    import Breadcrumbs from './breadcrumbs'
    import ProfileAside from './profile-aside'

    export default {
        components: { Breadcrumbs, ProfileAside },
        data: () => ({
            user: null
        }),
        mounted() {
            this.user = this.$store.state.user
        }
    }
</script>
